<%= render 'reports/category_header' %>
<div class="container mb-5 pb-5">
  <h5 class="d-sm d-md-none mt-4 mb-5 text-center"><strong><%= @city.name %></strong>&nbsp;にあるクリニック一覧</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5"><strong><%= @city.name %></strong>&nbsp;にあるクリニック一覧</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-0">
    <%= link_to "ホーム", root_path %>&nbsp;&nbsp;
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "都道府県", clinics_path %>&nbsp;&nbsp;
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<strong><%= @city.name %></strong>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-0">
    <%= link_to "ホーム", root_path %>&nbsp;&nbsp;
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "都道府県", clinics_path %>&nbsp;&nbsp;
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<strong><%= @city.name %></strong>
  </small>

  <div class="row pb-5 mt-3">
    <div class="col-md-8 offset-md-2 main-column">
      <input id="acd-check" class="acd-check" type="checkbox" checked>
      <label class="acd-label small mb-0 px-1 py-2" for="acd-check"><i data-feather="align-justify" class="text-light m-0 py-1 px-0"></i>&nbsp;<%= @city.name %>の医療機関&nbsp;<span class="small">(全<%= @city.clinics.count %>施設)</span>&nbsp;のレポコ&nbsp;<span class="small">(<%= @clinic_all_reports %>件)</span></label>
      <div class="acd-content-not-overflow-y2 container">
        <div class="row">
          <% @clinics.each_with_index do |clinic, num| %>
            <% if @rereased_reports.blank? && num == 0 %>
              <div class="col-12 px-2 small">
                <div class="alert alert-danger rounded-lg mt-0">
                  <p class="mb-0"><%= clinic.city.name %>のクリニックでのレポコはまだありません。</p>
                </div>
              </div>
            <% end %>
            <% report_count = Report.where(clinic_id: clinic.id, status: 0) %>
            <% if report_count.present? %>
              <div class="col-sm-6 my-2 px-3 small">
                <%= link_to "/clinics/#{clinic.id}", data: { "turbolinks" => false } do %>
                  <span class="text-dark font-weight-bold">#<%= clinic.name %></span>
                  &nbsp;<span class="text-dark ont-weight-bold">(&nbsp;<u><%= "#{report_count.count}" %>件)</span></u>&nbsp;
                <% end %>
              </div>
            <% else %>
              <div class="col-sm-6 my-2 px-3 small">
                <%= link_to "/clinics/#{clinic.id}", data: { "turbolinks" => false } do %>
                  <%= clinic.name %>
                  <span class="text-muted small">(0件)</span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="mt-5 text-center text-dark">
        <% unless @rereased_reports.blank? %>
          <p class="mb-0"><strong>「<%= @city.name %>」</strong>&nbsp;にあるクリニックのレポコ一覧</p>
        <% end %>
      </div>
      <%= render 'reports/center' %>
    </div>
  </div>
</div>