<% set_meta_tags title: @clinic.name + "(" + @clinic.prefecture.name + @clinic.city.name + ")の口コミ・評判・レビュー・治療内容" %>
<% set_meta_tags description: @clinic.name + "(" + @clinic.prefecture.name + @clinic.city.name + ")の口コミ・評判・レビュー・治療内容などの詳細情報をチェックできます。" %>
<div class="container px-2 m-bottom">
  <h5 class="d-sm d-md-none mt-5 text-center">「<span class="marker-underline"><strong><%= @clinic.name %></strong></span>」<br>でのレポコ一覧</h5>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <%= link_to "カテゴリ一覧", search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<%= link_to "全国", clinics_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;
    <%= link_to @clinic.city.prefecture.name, "/clinics_/#{@clinic.city.prefecture.name_alphabet}" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<strong><b><%= link_to @clinic.city.name, "/clinics/#{@clinic.city.prefecture.name_alphabet}/#{@clinic.city.name_alphabet}" %></b></strong>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>
  </small>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5">「<span class="marker-underline"><strong><%=  @clinic.name %></strong></span>」でのレポコ一覧</h4>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">
    <%= link_to "カテゴリ一覧", search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<%= link_to "全国", clinics_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;
    <%= link_to @clinic.city.prefecture.name, "/clinics_/#{@clinic.city.prefecture.name_alphabet}" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<strong><b><%= link_to @clinic.city.name, "/clinics/#{@clinic.city.prefecture.name_alphabet}/#{@clinic.city.name_alphabet}" %></b></strong>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>
  </small>
  <div class="container-fluid main-index">
    <div class="row px-0">
      <div class="col-lg-7 offset-lg-1 col-md-9 offset-md-0 col-sm-12 col-xs-12 main-column text-color px-0">
        <% unless @clinic_reports_count == 0 %>
          <div class="alert alert-info rounded-lg mt-0 mb-0 mx-2 px-3 py-1">
            <span class="small"><span class="small"><%= @clinic.name %>でのレポコは&nbsp;<%= @clinic_reports_count %>件&nbsp;あります。</span></span>
            <% unless @transfer_reports.count == 0 %>
              <br><span class="small"><span class="small">同院を過去に経由した方のレポコが&nbsp;<%= @transfer_reports.count %>件&nbsp;あります。</span></span>
            <% end %>
          </div>
        <% else %>
          <div class="alert alert-danger rounded-lg mt-0 mb-0 mx-2 px-3 py-1">
            <span class="small"><span class="small"><%= @clinic.name %>でのレポコはまだありません。</span></span>
          </div>
          <% unless @transfer_reports.count == 0 %>
            <div class="alert alert-info rounded-lg mt-0 mb-0 mx-2 px-3 py-1">
              <span class="small"><span class="small">同院を過去に経由した方のレポコは&nbsp;<%= @transfer_reports.count %>件&nbsp;あります。</span></span>
            </div>
          <% end %>
        <% end %>
        <div class="py-3 px-1 text-center">
          <% if @clinic.current_status == 1 %>
            <span class="text-danger">【閉院】</span>
          <% end %>
          <div class="rounded-lg bg-white shadow-sm mx-1 p-3">
            <%= link_to @clinic.name, clinic_path(@clinic.id), class: "text-primary font-weight-bold", data: { "turbolinks" => false } %><i data-feather="external-link" class="text-primary pb-1"></i>
          </div>
        </div>

        <% if @clinic.reports.present? && @clinic.reports.size > 10 %>
          <%
            if @reports.current_page == 1
              open_or_close = "open"
            else
              open_or_close = ""
            end
          %>
          <div class="rounded-lg bg-white shadow-sm mx-2 py-3 px-4">
            <details <%= open_or_close %>>
              <summary class="font-weight-bold">【複数条件で絞込み検索】</summary>
              <div class="pt-3">
                <p class="px-2 small text-dark">検索対象は、<%= @clinic.name %>でのレポコのみです。</p>
                <%= form_with(url: search_reports_path, local: true, method: :get) do |search| %>
                  <div class="px-2 pt-1">
                    <div class="px-0">
                      <div class="cp_ipselect cp_sl01">
                        <select name="treatment_end_age">
                          <option selected value="">年齢を選ぶ（任意）</option>
                          <optgroup label="【年齢層】から選ぶ">
                            <option value="19">20歳未満</option>
                            <option value="20~24">20〜24歳</option>
                            <option value="25~29">25〜29歳</option>
                            <option value="30~34">30〜34歳</option>
                            <option value="35~39">35〜39歳</option>
                            <option value="40~44">40〜44歳</option>
                            <option value="45~49">45〜49歳</option>
                            <option value="50000~">50歳以上</option>
                          </optgroup>
                          <optgroup label="【年齢】で選ぶ">
                            <option value="20">21歳</option>
                            <option value="21">21歳</option>
                            <option value="22">22歳</option>
                            <option value="23">23歳</option>
                            <option value="24">24歳</option>
                            <option value="25">25歳</option>
                            <option value="26">26歳</option>
                            <option value="27">27歳</option>
                            <option value="28">28歳</option>
                            <option value="29">29歳</option>
                            <option value="30">30歳</option>
                            <option value="31">31歳</option>
                            <option value="32">32歳</option>
                            <option value="33">33歳</option>
                            <option value="34">34歳</option>
                            <option value="35">35歳</option>
                            <option value="36">36歳</option>
                            <option value="37">37歳</option>
                            <option value="38">38歳</option>
                            <option value="39">39歳</option>
                            <option value="40">40歳</option>
                            <option value="41">41歳</option>
                            <option value="42">42歳</option>
                            <option value="43">43歳</option>
                            <option value="44">44歳</option>
                            <option value="45">45歳</option>
                            <option value="46">46歳</option>
                            <option value="47">47歳</option>
                            <option value="48">48歳</option>
                            <option value="49">49歳</option>
                            <option value="50">50歳以上</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <%= search.select "fertility_treatment_number", options_for_select(Report::HASH_FERTILITY_TREATMENT_NUMBER.invert), {class: "text-muted", prompt: "何人目治療かを選ぶ（任意）" } %>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <select name="amh">
                          <option selected value="">AMH値を選ぶ（任意）</option>
                          <optgroup label="【大きい幅】から選ぶ">
                            <option value="1500000">〜0.5未満</option>
                            <option value="610000">0.5〜1.0未満</option>
                            <option value="1520">1.0〜2.0未満</option>
                            <option value="2530">2.0〜3.0未満</option>
                            <option value="3540">3.0〜4.0未満</option>
                            <option value="4550">4.0〜5.0未満</option>
                            <option value="5560">5.0〜6.0未満</option>
                            <option value="6570">6.0〜7.0未満</option>
                            <option value="7580">7.0〜8.0未満</option>
                            <option value="8590">8.0〜9.0未満</option>
                            <option value="95100">9.0〜10.0未満</option>
                            <option value="999">10.0以上</option>
                          </optgroup>
                          <optgroup label="【小さい幅】から選ぶ">
                            <option value="1">0.1未満</option>
                            <option value="2">0.1〜0.2未満</option>
                            <option value="3">0.2〜0.3未満</option>
                            <option value="4">0.3〜0.4未満</option>
                            <option value="5">0.4〜0.5未満</option>
                            <option value="6">0.5〜0.6未満</option>
                            <option value="7">0.6〜0.7未満</option>
                            <option value="8">0.7〜0.8未満</option>
                            <option value="9">0.8〜0.9未満</option>
                            <option value="10">0.9〜1.0未満</option>
                            <option value="15">1.0〜1.5未満</option>
                            <option value="20">1.5〜2.0未満</option>
                            <option value="25">2.0〜2.5未満</option>
                            <option value="30">2.5〜3.0未満</option>
                            <option value="35">3.0〜3.5未満</option>
                            <option value="40">3.5〜4.0未満</option>
                            <option value="45">4.0〜4.5未満</option>
                            <option value="50">4.5〜5.0未満</option>
                            <option value="55">5.0〜5.5未満</option>
                            <option value="60">5.5〜6.0未満</option>
                            <option value="65">6.0〜6.5未満</option>
                            <option value="70">6.5〜7.0未満</option>
                            <option value="75">7.0〜7.5未満</option>
                            <option value="80">7.5〜8.0未満</option>
                            <option value="85">8.0〜8.5未満</option>
                            <option value="90">8.5〜9.0未満</option>
                            <option value="95">9.0〜9.5未満</option>
                            <option value="100">9.5〜10.0未満</option>
                            <option value="999">10.0以上</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <%= search.select "type_of_ovarian_stimulation", options_for_select(Report::HASH_TYPE_OF_OVARIAN_STIMULATION.invert), {class: "text-muted", prompt: "採卵タイプを選ぶ（任意）" } %>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <%= search.select "ishoku_type", options_for_select(Report::HASH_ISHOKU_TYPE.invert), {class: "text-muted", prompt: "移植タイプを選ぶ（任意）" } %>
                      </div>
                    </div>
                    <div class="px-0 pt-2">
                      <div class="pt-3">
                        <%= hidden_field_tag :from_clinic_page, @clinic.id %>
                        <%= submit_tag '検索する', :name => nil, class: "btn btn-info w-100 rounded-lg active", style: "background-color: #2ECFC0; color: #ffffff;box-shadow: 0 1px 2px gray;" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </details>
          </div>
        <% end %>

        <div class="tab-wrap1 mt-4">
          <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label px-0 ml-2" for="TAB-01">最新</label>
          <div class="tab-content1 pt-2 px-2">
            <%= render 'reports/center' %>
            <div class="mt-5 pt-5">
              <%= paginate @reports %>
            </div>
          </div>
          <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label px-0 mr-2" for="TAB-02">同院経由レポコ&nbsp;<span class="small"><span class="small text-muted">(<%= @transfer_reports.count %>件)</span></span></label>
          <div class="tab-content1 pt-2 px-2">
            <% unless @transfer_reports.count == 0 %>
              <div class="alert alert-info rounded-lg mt-0 mb-3 px-3 py-1">
                <span class="small"><span class="small"><%= @clinic.name %>を過去に経由した方のレポコが&nbsp;<%= @transfer_reports.count %>件&nbsp;あります。</span></span>
              </div>
            <% else %>
              <div class="alert alert-danger rounded-lg mt-0 mb-3 px-3 py-1">
                <span class="small"><span class="small"><%= @clinic.name %>を過去に経由した方のレポコはまだありません。</span></span>
              </div>
            <% end %>

            <% @transfer_reports.each_with_index do |transfer_report, num| %>
              <div class="row main-column">
                <div class="col-12">
                  <div class="row pr-2">
                    <div class="col-3 d-flex align-items-center justify-content-center px-0">
                      <%= link_to user_path(transfer_report.user_id), data: { "turbolinks" => false } do %>
                        <div class="icon-field py-0 text-center">
                          <% if transfer_report.user.icon.present? %>
                            <%= image_tag(transfer_report.user.icon, class:"icon_image") %>
                          <% else %>
                            <% user_number = transfer_report.user_id.digits %>
                            <% if user_number.size < 2 %>
                              <% icon_number = transfer_report.user_id %>
                            <% else %>
                              <% if user_number[1] == 0 %>
                                <% icon_number = user_number[0] * user_number[0] %>
                              <% else %>
                                <% icon_number = user_number[0] * user_number[1] %>
                              <% end %>
                            <% end %>
                            <% if transfer_report.treatment_end_age == nil %>
                              <div class="m-0 p-0 base_icon text-center">
                                <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                                <%= image_tag("icon/#{icon_number}.svg", alt: "generation_blank", class: "icon_on_icon", loading: "lazy", title: "不明") %>
                              </div>
                            <% elsif transfer_report.treatment_end_age < 25 %>
                              <div class="m-0 p-0 base_icon text-center">
                                <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                                <%= image_tag("icon/#{icon_number}.svg", alt: "generation10_24", class: "icon_on_icon", loading: "lazy", title: "〜24歳") %>
                              </div>
                            <% elsif transfer_report.treatment_end_age < 30 %>
                              <div class="m-0 p-0 base_icon text-center">
                                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                                <%= image_tag("icon/#{icon_number}.svg", alt: "generation25_29", class: "icon_on_icon", loading: "lazy", title: "25〜29歳") %>
                              </div>
                            <% elsif transfer_report.treatment_end_age < 35 %>
                              <div class="m-0 p-0 base_icon text-center">
                                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                                <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon", loading: "lazy", title: "30〜34歳") %>
                              </div>
                            <% elsif transfer_report.treatment_end_age < 40 %>
                              <div class="m-0 p-0 base_icon text-center">
                                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                                <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon", loading: "lazy", title: "35〜39歳") %>
                              </div>
                            <% elsif transfer_report.treatment_end_age < 45 %>
                              <div class="m-0 p-0 base_icon text-center">
                                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                                <%= image_tag("icon/#{icon_number}.svg", alt: "generation40_44", class: "icon_on_icon", loading: "lazy", title: "40〜44歳") %>
                              </div>
                            <% else %>
                              <div class="m-0 p-0 base_icon text-center">
                                <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                                <%= image_tag("icon/#{icon_number}.svg", alt: "generation45_", class: "icon_on_icon", loading: "lazy", title: "45歳〜") %>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <div class="col-9 px-0">
                      <div class="row">
                        <div class="col-11 pr-0">
                          <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                            <div class="date mb-2 pt-0 px-0 d-flex justify-content-between">
                              <small class="text-muted">
                                <% unless transfer_report.treatment_end_age.blank? %>
                                  <%= transfer_report.str_treatment_end_age %>
                                <% end %>
                                <% unless transfer_report.current_state.blank? %>
                                  <%= transfer_report.str_current_state %>
                                <% end %>
                              </small>
                              <small class="text-muted">
                                <%= transfer_report.created_at.to_s(:datetime_jp) %>
                              </small>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-9 pr-0">
                          <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                            <div class="d-flex align-items-center">
                              <div>
                                <h5 class="d-none d-sm-block mb-0 mx-0">
                                  <%= transfer_report.clinic.name %>
                                </h5>
                                <h6 class="d-block d-sm-none mb-0 mx-0">
                                  <%= transfer_report.clinic.name %>
                                </h6>
                              </div>
                            </div>
                            <div class="mt-2">
                              <p class="mb-1">
                                <% if transfer_report.treatment_end_age == nil %>
                                  <%= image_tag("icon/g_blank.png", alt: "generation_blank", width: "17px", class: "px-0", loading: "lazy", title: "不明") %>
                                <% elsif transfer_report.treatment_end_age < 25 %>
                                  <%= image_tag("icon/g_10_24.png", alt: "generation10_24", width: "17px", class: "px-0", loading: "lazy", title: "〜24歳") %>
                                <% elsif transfer_report.treatment_end_age < 30 %>
                                  <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "17px", class: "px-0", loading: "lazy", title: "25〜29歳") %>
                                <% elsif transfer_report.treatment_end_age < 35 %>
                                  <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "17px", class: "px-0", loading: "lazy", title: "30〜34歳") %>
                                <% elsif transfer_report.treatment_end_age < 40 %>
                                  <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "17px", class: "px-0", loading: "lazy", title: "35〜39歳") %>
                                <% elsif transfer_report.treatment_end_age < 45 %>
                                  <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "17px", class: "px-0", loading: "lazy", title: "40〜44歳") %>
                                <% else %>
                                  <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "17px", class: "px-0", loading: "lazy", title: "45歳〜") %>
                                <% end %>
                                <span class="text-muted"><%= strip_tags(transfer_report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(12) %></span>&nbsp;<span class="small text-muted"><small>さんのレポコ</small></span>
                              </p>
                            </div>
                          <% end %>
                        </div>
                        <div class="col-3 pl-0 pr-4">
                          <% score = [transfer_report.doctor_quality.to_f, transfer_report.staff_quality.to_f, transfer_report.impression_of_technology.to_f, transfer_report.impression_of_price.to_f, transfer_report.average_waiting_time2.to_f, transfer_report.comfort_of_space.to_f].compact.sum / 6 %>
                          <% other = 5 - score %>
                          <div class="personalScoreCirleChart_area">
                            <canvas id="personalScoreCirleChart_2_<%= num %>" width="180px;" height="70px;"></canvas>
                            <p class="text-dark">
                              <% if score != 0 %>
                                <%= score.floor(1) %>
                              <% else %>
                                <small><span class="small text-muted">なし</span></small>
                              <% end %>
                            </p>
                          </div>
                          <script>
                            var ctx = document.getElementById("personalScoreCirleChart_2_<%= num %>");
                            var myPieChart = new Chart(ctx, {
                              type: 'doughnut',
                              data: {
                                datasets: [{
                                    backgroundColor: [
                                        "#2DCFC0",
                                        "#f0f0f0"
                                    ],
                                    data: [<%= score %>, <%= other %>],
                                }]
                              },
                              options: {
                                cutoutPercentage: 70,
                                maintainAspectRatio: false,
                                tooltips: false,
                              }
                            });
                          </script>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-2 px-0">
                      <div class="pl-4">
                        <div class="row">
                          <div class="col-3 col-sm-2 offset-sm-1 d-flex align-items-center p-0">
                            <div class="likes_buttons_<%= transfer_report.id %> d-none d-sm-block">
                              <%= render partial: 'likes/like_index', locals: { report: transfer_report,like_count: @like_count[transfer_report.id] } %>
                            </div>
                          </div>
                          <div class="col-sm-9 pl-0 pr-5">
                            <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                              <div class="d-none d-sm-block lead-content p-2" style="min-height: 4rem;">
                                <% if transfer_report.content.present? %>
                                  <small><span class="text-muted"><%= strip_tags(transfer_report.summarize_content).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                <% elsif transfer_report.clinic_review.present? %>
                                  <small><span class="text-muted"><%= strip_tags(transfer_report.clinic_review).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                <% elsif transfer_report.reasons_for_choosing_this_clinic.present? %>
                                  <small><span class="text-muted"><%= strip_tags(transfer_report.reasons_for_choosing_this_clinic).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                <% elsif transfer_report.reason_for_transfer.present? %>
                                  <small><span class="text-muted"><%= strip_tags(transfer_report.reason_for_transfer).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                <% elsif transfer_report.explanation_of_costs.present? %>
                                  <small><span class="text-muted"><%= strip_tags(transfer_report.explanation_of_costs).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                <% else %>
                                  <small>&nbsp;&nbsp;.........&nbsp;&nbsp;<span class="font-weight-bold"><%= transfer_report.user.name.strip.truncate(30) %>さんのレポコを読む</span>&nbsp;&nbsp;<%= image_tag"home/finger_mom_up.svg", width: "19px", class: "m-0 p-0", loading: "lazy" %></small>
                                <% end %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-block d-sm-none">
                        <div class="rounded-lg bg-fem p-3">
                          <div class="d-flex align-items-start pl-1 pb-3">
                            <div>
                              <%= link_to image_tag("home/user.svg", class: "img-fluid mr-1", loading: "lazy", width: "30px;"), user_path(transfer_report.user_id), data: { "turbolinks" => false } %>
                            </div>
                            <div>
                              <% if transfer_report.treatment_end_age.present? %>
                                <%= link_to "##{transfer_report.str_treatment_end_age}", "/age/#{transfer_report.treatment_end_age}", class: "badge badge-pill badge-light text-dark mr-1" %>
                              <% end %>
                              <% if transfer_report.prefecture_at_the_time_status == "hide" %>
                                <span class="small text-muted mr-1">−−</span>
                              <% else %>
                                <%= link_to "##{transfer_report.city.prefecture.name}", "/users_/#{transfer_report.city.prefecture.name_alphabet}", class: "badge badge-pill badge-light mr-1 text-dark" %>
                              <% end %>
                              <% if transfer_report.city_at_the_time_status == "hide" %>
                                <span class="small text-muted">−−</span>
                              <% else %>
                                <%= link_to "##{transfer_report.city.name}", "/users_/#{transfer_report.city.prefecture.name_alphabet}/#{transfer_report.city.name_alphabet}", class: "badge badge-pill badge-light text-dark" %>
                              <% end %>
                            </div>
                          </div>
                          <div class="d-flex align-items-start pl-1 pb-3">
                            <div>
                              <%= link_to image_tag("home/hospital.svg", class: "img-fluid mr-1", loading: "lazy", width: "30px;" ), "/clinic/#{transfer_report.clinic.id}" %>
                            </div>
                            <div class="pt-1">
                              <div class="mb-2">
                                <%= link_to "# #{transfer_report.clinic.name}", "/clinic/#{transfer_report.clinic.id}", class: "ml-1 small" %>
                              </div>
                              <div>
                                <%= link_to "##{transfer_report.clinic.city.prefecture.name}", "/clinics_/#{transfer_report.clinic.city.prefecture.name_alphabet}", class:"badge badge-pill badge-light text-dark mr-1" %>
                                <%= link_to "##{transfer_report.clinic.city.name}", "/clinics/#{transfer_report.clinic.city.prefecture.name_alphabet}/#{transfer_report.clinic.city.name_alphabet}", class:"badge badge-pill badge-light text-dark" %>
                              </div>
                            </div>
                          </div>
                          <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                            <% if transfer_report.title.present? %>
                              <div class="pt-2 pb-1 px-1">
                                <h6><%= strip_tags(transfer_report.title.to_s).gsub(/[\n]/,"").strip.truncate(40) %></h6>
                              </div>
                            <% end %>
                            <div  class="d-block d-sm-none lead-content p-2">
                              <% if transfer_report.content.present? %>
                                <small><%= strip_tags(transfer_report.summarize_content).gsub(/[\n]/,"").strip.truncate(155) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              <% elsif transfer_report.clinic_review.present? %>
                                <small><%= strip_tags(transfer_report.clinic_review).gsub(/[\n]/,"").strip.truncate(155) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              <% elsif transfer_report.reasons_for_choosing_this_clinic.present? %>
                                <small><%= strip_tags(transfer_report.reasons_for_choosing_this_clinic).gsub(/[\n]/,"").strip.truncate(155) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              <% elsif transfer_report.reason_for_transfer.present? %>
                                <small><%= strip_tags(transfer_report.reason_for_transfer).gsub(/[\n]/,"").strip.truncate(155) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              <% elsif transfer_report.explanation_of_costs.present? %>
                                <small><%= strip_tags(transfer_report.explanation_of_costs).gsub(/[\n]/,"").strip.truncate(155) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              <% else %>
                                <small>&nbsp;&nbsp;.........&nbsp;&nbsp;<span class="font-weight-bold"><%= transfer_report.user.name.strip.truncate(30) %>さんのレポコを読む</span>&nbsp;&nbsp;<%= image_tag"home/finger_mom_up.svg", width: "19px", class: "m-0 p-0", loading: "lazy" %></small>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2 my-2 py-2 d-block d-sm-none">
                  <div class="likes_buttons_<%= transfer_report.id %>">
                    <%= render partial: 'likes/like_index', locals: { report: transfer_report,like_count: @like_count[transfer_report.id] } %>
                  </div>
                </div>
              </div>
              <hr class="mb-5 pb-3">
            <% end %>















          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 d-none d-md-block pl-2 pr-0">
        <%= render 'reports/right' %>
      </div>
    </div>
  </div>
</div>
