<%= render 'reports/category_header' %>
<div class="container mb-5 pb-5">
  <h5 class="d-sm d-md-none mt-4 mb-5 text-center"><strong>医療機関一覧</strong></h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5"><strong>医療機関一覧</strong></h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-0">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "ホーム", root_path %>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-0">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "ホーム", root_path %>
  </small>
  <div class="container-fluid main-index mt-3">
    <div class="row">
      <% @list.each do |key, value| %>
        <div class="col-sm-8 offset-sm-2 mb-1 px-0">
          <input id='acd-check-cllist<%= value[:id] %>' class="acd-check-cllist" type="checkbox">
          <label class="acd-cllist-label small mb-0 px-1 py-2" for="acd-check-cllist<%= value[:id] %>"><i data-feather="align-justify" class="text-light m-0 py-1 px-0"></i>&nbsp;<span class="font-weight-bold "><%= value[:name] %></span>の医療機関</span></label>
          <div class="acd-content-multiple container mb-2">
            <div class="row mt-0 pb-0">
            <div class="col-12 border-bottom">
              <%= link_to "/clinics/#{value[:name]}" do %>
                <h5 class="mt-3 mb-0 pb-2"><%= value[:name] %></h5>
              <% end %>
            </div>
            <% value[:cities].sort.to_h.each do |key, value| %>
              <div class="col-6 col-md-4 col-lg-3 my-0 pt-3 px-2 border-right border-bottom">
                <div>
                  <p class="small">
                    <span class="font-weight-bold">【
                      <%= link_to "/clinics/#{value[:name]}" do %>
                        <%= value[:name] %>
                      <% end %>
                    】</span>
                    <span class="small text-muted"><%= value[:clinics].count %>施設<span>
                  </p>
                </div>
                <div>
                  <ul class="p-0 pb-0">
                    <% value[:clinics].each do |clinic| %>
                      <li class="list-unstyled small mb-2">
                      <%= link_to "/clinics/#{clinic[:id]}" do %>
                        <span class="small"><%= clinic[:name] %></small>
                      <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
