<% set_meta_tags title: @prefecture.name + "にある不妊治療クリニック(医療機関)の口コミ・評判・レビュー・治療内容一覧" %>
<% set_meta_tags description: @prefecture.name + "にある不妊治療クリニック(医療機関)一覧。口コミ・評判・レビュー・治療内容などの詳細情報をチェックできます。" %>
<div class="container px-2 m-bottom">
  <h5 class="d-sm d-md-none mt-5 text-center">「<span class="marker-underline"><strong><%= @prefecture.name %></strong></span>」にあるクリニックでの<br>レポコ一覧</h5>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <%= link_to "カテゴリ一覧", search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;
    <%= link_to "全国", "/clinics" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<strong><b><%= @prefecture.name %></b></strong>
  </small>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5">「<span class="marker-underline"><strong><%= @prefecture.name %></strong></span>」にあるクリニックでのレポコ一覧</h4>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">
    <%= link_to "カテゴリ一覧", search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;
    <%= link_to "全国", "/clinics" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<strong><b><%= @prefecture.name %></b></strong>
  </small>
  <div class="container main-index">
    <div class="row px-0">
      <div class="col-lg-7 offset-lg-1 col-md-9 offset-md-0 col-sm-12 col-xs-12 main-column text-color px-1">
        <div class="mb-3">
          <input id="acd-check1" class="acd-check" type="checkbox" checked>
          <label class="acd-label small mb-0 px-1 py-2" for="acd-check1"><i data-feather="align-justify" class="text-light m-0 py-1 px-0"></i>&nbsp;<%= @prefecture.name %>の医療機関&nbsp;<span class="small">(全<%= @prefecture.clinics.size %>施設)</span>&nbsp;のレポコ&nbsp;<span class="small">(<%= @reports.size %>件)</span></label>

          <div class="acd-content container">
            <div class="row mt-2 pb-3">
              <% if @reports.size == 0 %>
                <div class="col-12 px-2 small">
                  <div class="alert alert-danger rounded-lg mt-0">
                    <p class="mb-0"><%= @prefecture.name %>のクリニックでのレポコはまだありません。</p>
                  </div>
                </div>
              <% end %>
              <% @list.each do |key, value| %>
                <% prefecture = value[:name_alphabet] %>
                <% value[:cities].sort.to_h.each do |key, value| %>
                  <div class="col-sm-6 mb-3 px-3">
                    <p class="small">
                      <span class="font-weight-bold">【
                        <%= link_to "/clinics/#{prefecture}/#{value[:name_alphabet]}", class: "text-primary", data: { "turbolinks" => false } do %>
                          <%= value[:name] %>
                        <% end %>
                      】</span>
                      <span class="small text-muted"><%= value[:clinics].count %>施設<span>
                    </p>
                    <ul class="p-0 pb-0">
                      <% value[:clinics].each do |clinic| %>
                        <li class="list-unstyled small mb-2">
                          <%= link_to "/clinic/#{clinic[:id]}", class: "text-primary", data: { "turbolinks" => false } do %>
                            <% if clinic[:count].present? %>
                              <span class="font-weight-bold"><span class="text-dark"><%= clinic[:name] %></span>&nbsp;(<%= clinic[:count] %>件)</span>
                            <% else %>
                              <span class="small text-dark"><%= clinic[:name] %></span>
                            <% end %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <% if @prefecture.reports.present? && @prefecture.reports.size > 2 %>
          <%
            if @reports.current_page == 1
              open_or_close = "open"
            else
              open_or_close = ""
            end
          %>
          <div class="rounded-lg bg-white shadow-sm mt-4 mb-5 py-3 px-4">
            <details <%= open_or_close %>>
              <summary class="font-weight-bold">【複数条件で絞込み検索】</summary>
              <div class="pt-3">
                <p class="px-2 small text-dark">検索対象は、<%= @prefecture.name %>でのレポコのみです。</p>
                <%= form_with(url: search_reports_path, local: true, method: :get) do |search| %>
                  <div class="px-2 pt-1">
                    <div class="px-0">
                      <div class="cp_ipselect cp_sl01">
                        <select name="treatment_end_age">
                          <option selected value="">年齢を選ぶ（任意）</option>
                          <optgroup label="【年齢層】から選ぶ">
                            <option value="19">20歳未満</option>
                            <option value="20~24">20〜24歳</option>
                            <option value="25~29">25〜29歳</option>
                            <option value="30~34">30〜34歳</option>
                            <option value="35~39">35〜39歳</option>
                            <option value="40~44">40〜44歳</option>
                            <option value="45~49">45〜49歳</option>
                            <option value="50000~">50歳以上</option>
                          </optgroup>
                          <optgroup label="【年齢】で選ぶ">
                            <option value="20">21歳</option>
                            <option value="21">21歳</option>
                            <option value="22">22歳</option>
                            <option value="23">23歳</option>
                            <option value="24">24歳</option>
                            <option value="25">25歳</option>
                            <option value="26">26歳</option>
                            <option value="27">27歳</option>
                            <option value="28">28歳</option>
                            <option value="29">29歳</option>
                            <option value="30">30歳</option>
                            <option value="31">31歳</option>
                            <option value="32">32歳</option>
                            <option value="33">33歳</option>
                            <option value="34">34歳</option>
                            <option value="35">35歳</option>
                            <option value="36">36歳</option>
                            <option value="37">37歳</option>
                            <option value="38">38歳</option>
                            <option value="39">39歳</option>
                            <option value="40">40歳</option>
                            <option value="41">41歳</option>
                            <option value="42">42歳</option>
                            <option value="43">43歳</option>
                            <option value="44">44歳</option>
                            <option value="45">45歳</option>
                            <option value="46">46歳</option>
                            <option value="47">47歳</option>
                            <option value="48">48歳</option>
                            <option value="49">49歳</option>
                            <option value="50">50歳以上</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <%= search.select "fertility_treatment_number", options_for_select(Report::HASH_FERTILITY_TREATMENT_NUMBER.invert), {class: "text-muted", prompt: "何人目治療かを選ぶ（任意）" } %>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <select name="amh">
                          <option selected value="">AMH値を選ぶ（任意）</option>
                          <optgroup label="【大きい幅】から選ぶ">
                            <option value="1500000">〜0.5未満</option>
                            <option value="610000">0.5〜1.0未満</option>
                            <option value="1520">1.0〜2.0未満</option>
                            <option value="2530">2.0〜3.0未満</option>
                            <option value="3540">3.0〜4.0未満</option>
                            <option value="4550">4.0〜5.0未満</option>
                            <option value="5560">5.0〜6.0未満</option>
                            <option value="6570">6.0〜7.0未満</option>
                            <option value="7580">7.0〜8.0未満</option>
                            <option value="8590">8.0〜9.0未満</option>
                            <option value="95100">9.0〜10.0未満</option>
                            <option value="999">10.0以上</option>
                          </optgroup>
                          <optgroup label="【小さい幅】から選ぶ">
                            <option value="1">0.1未満</option>
                            <option value="2">0.1〜0.2未満</option>
                            <option value="3">0.2〜0.3未満</option>
                            <option value="4">0.3〜0.4未満</option>
                            <option value="5">0.4〜0.5未満</option>
                            <option value="6">0.5〜0.6未満</option>
                            <option value="7">0.6〜0.7未満</option>
                            <option value="8">0.7〜0.8未満</option>
                            <option value="9">0.8〜0.9未満</option>
                            <option value="10">0.9〜1.0未満</option>
                            <option value="15">1.0〜1.5未満</option>
                            <option value="20">1.5〜2.0未満</option>
                            <option value="25">2.0〜2.5未満</option>
                            <option value="30">2.5〜3.0未満</option>
                            <option value="35">3.0〜3.5未満</option>
                            <option value="40">3.5〜4.0未満</option>
                            <option value="45">4.0〜4.5未満</option>
                            <option value="50">4.5〜5.0未満</option>
                            <option value="55">5.0〜5.5未満</option>
                            <option value="60">5.5〜6.0未満</option>
                            <option value="65">6.0〜6.5未満</option>
                            <option value="70">6.5〜7.0未満</option>
                            <option value="75">7.0〜7.5未満</option>
                            <option value="80">7.5〜8.0未満</option>
                            <option value="85">8.0〜8.5未満</option>
                            <option value="90">8.5〜9.0未満</option>
                            <option value="95">9.0〜9.5未満</option>
                            <option value="100">9.5〜10.0未満</option>
                            <option value="999">10.0以上</option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <%= search.select "type_of_ovarian_stimulation", options_for_select(Report::HASH_TYPE_OF_OVARIAN_STIMULATION.invert), {class: "text-muted", prompt: "採卵タイプを選ぶ（任意）" } %>
                      </div>
                    </div>
                    <div class="px-0 pt-3">
                      <div class="cp_ipselect cp_sl01">
                        <%= search.select "ishoku_type", options_for_select(Report::HASH_ISHOKU_TYPE.invert), {class: "text-muted", prompt: "移植タイプを選ぶ（任意）" } %>
                      </div>
                    </div>
                    <div class="px-0 pt-2">
                      <div class="pt-3">
                        <%= hidden_field_tag :from_clinic_prefecture_page, @prefecture.id %>
                        <%= submit_tag '検索する', :name => nil, class: "btn btn-info w-100 rounded-lg active", style: "background-color: #2ECFC0; color: #ffffff;box-shadow: 0 1px 2px gray;" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </details>
          </div>
        <% end %>


        <%= render 'reports/center' %>
        <div class="mt-5 pt-5">
          <%= paginate @reports %>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 d-none d-md-block pl-2 pr-0">
        <%= render 'reports/right' %>
      </div>
    </div>
  </div>
</div>