<% set_meta_tags title: "「" + @keyword + "」を含む全国の不妊治療クリニック(医療機関)の口コミ・評判・レビュー・不妊治療内容の一覧" %>
<% set_meta_tags description: "「" + @keyword + "」を含む全国の不妊治療クリニック(医療機関)一覧。口コミ・評判・レビュー・不妊治療の詳細情報をチェックできます。" %>
<div class="container px-2 m-bottom">
  <h5 class="d-sm d-md-none mt-5 text-center">「<span class="marker-underline"><strong><%= @keyword %></strong></span>」<br>を含むクリニックでのレポコ一覧</h5>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <%= link_to "ホーム", root_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<%= @keyword %>
  </small>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5">「<span class="marker-underline"><strong><%= @keyword %></strong></span>」を含むクリニックでのレポコ一覧</h4>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">
    <%= link_to "ホーム", root_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<%= @keyword %>
  </small>
  <div class="container-fluid main-index">
    <div class="row px-0">
      <div class="col-lg-7 offset-lg-1 col-md-9 offset-md-0 col-sm-12 col-xs-12 main-column text-color px-1">
        <div class="mt-0 mb-3 p-0">
          <% unless @all_reports_count == 0 %>
            <div class="alert alert-info rounded-lg mt-0 mb-2 px-3 py-1">
              <p class="mb-0 small"><span class="small">「<%= @keyword %>」を含むクリニックでのレポコは&nbsp;<%= @all_reports_count %>件&nbsp;あります。</span></p>
              <p class="mb-0 small"><span class="small text-muted">(転院歴をのぞく「<%= @keyword %>」を含むクリニックでのレポコ&nbsp;<%= @reports_count %>件)</span></p>
              <p class="mb-0 small"><span class="small text-muted">(転院歴にあるクリニック名にも「<%= @keyword %>」を含むレポコ&nbsp;<%= @transfer_reports_count %>件)</span></p>
            </div>
          <% else %>
            <div class="alert alert-danger rounded-lg mt-0 mb-2 px-3 py-1">
              <span class="small"><span class="small">「<%= @keyword %>」を含むクリニックはありません。</span></span>
            </div>
            <div class="pt-5">
              <div class="mt-3 p-2 d-flex align-item-center justify-content-center">
                <i data-feather="chevrons-right" class="pb-1 text-primary"></i><%= link_to "クリニック一覧から探す", clinics_path, class: "text-primary" %>
              </div>
              <div class="mt-3 p-2 d-flex align-item-center justify-content-center">
                <i data-feather="chevrons-right" class="pb-1 text-primary"></i><%= link_to "カテゴリから探す", search_path, class: "text-primary" %>
              </div>
              <% unless user_signed_in? %>
                <div class="mt-3 p-2 d-flex align-item-center justify-content-center">
                  <i data-feather="chevrons-right" class="pb-1 text-primary"></i><%= link_to "レポコる", signup_path, class: "text-primary" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= render 'reports/center', locals: { transfer_reports: @transfer_reports } %>
        <div class="mt-5 pt-5">
          <%= paginate @reports %>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 d-none d-md-block pl-2 pr-0">
        <%= render 'reports/right' %>
      </div>
    </div>
  </div>
</div>
