<div class="container confirmation-mail-send m-bottom">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-md-5 mb-md-5">
      <div class="card text-center mt-4">
        <div class="pt-4">
          <h2>確認メールの再送信</h2>
        </div>
        <div class="card-body pt-0">
          <div class="pt-0">
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group mt-0 mb-0 pt-4 text-left">
                <%= f.label :email, '登録済みのメールアドレスを入力してください', for: "formGroupInput", class: "bmd-label-floating" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control validate[required]', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), id: "formGroupInput" %>
              </div>
              
              <div class="actions mt-5">
                <%= f.submit "送信", class: 'btn btn-raised btn-primary mx-auto d-block w-75' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>