<div class="container confirmation-mail-send">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-md-5 mb-md-5">
      <div class="card text-center">
        <div class="card-header">
          <h2><i data-feather="mail" class="feather-icon-style4"></i>&nbsp;&nbsp;確認メールの再送信</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title"><i data-feather="send" class="feather-icon-style4"></i>&nbsp;&nbsp;認証リンクを再送信する</h5>
          <p class="card-text mt-4">認証リンクを送る登録済みのメールアドレスを入力してください。</p>
          <div class="p-3">
            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group mt-0 text-left">
                <%= f.label :email, '登録済みのメールアドレスを入力', for: "formGroupInput", class: "bmd-label-floating" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control validate[required]', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), id: "formGroupInput" %>
              </div>
              
              <div class="actions mt-5">
                <%= f.submit "送信", class: 'btn btn-raised btn-primary mx-auto d-block w-75' %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>