<div class="container signup-in">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-md-5 mb-md-5">
      <div class="card text-center">
        <div class="card-header">
          <h2><i class="fas fa-user-plus", color="#4BAAF3"></i>&nbsp;&nbsp;新規登録</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-pencil-alt", color="#4BAAF3"></i>&nbsp;&nbsp;アカウント作成</h5>
          <p class="card-text mt-4">以下項目を入力/選択の上、登録してください(全て必須項目)</p>
          <div class="p-3">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
      
              <div class="form-group mt-0 text-left">
                <%= f.label :name, 'ユーザー名', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control validate[required]', id: "formGroupInput" %>
                <span class="bmd-help">1〜20文字以内で入力してください。</span>
              </div>
              
              <div class="form-group mt-0 text-left">
                <%= f.label :email, 'メール', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control validate[required, custom[email]]', id: "formGroupInput" %>
                <span class="bmd-help">登録頂いたメールアドレスに認証リンクをお送りします。</span>
              </div>
      
              <div class="form-group mt-0 text-left">
                <%= f.label :password, 'パスワード', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id: "passwd" %>
                <span class="bmd-help">6文字以上〜16文字以内、半角英数字記号で入力ください。</span>
              </div>
      
              <div class="form-group mt-0 mb-3 text-left">
                <%= f.label :password_confirmation, 'パスワード（確認）', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control validate[required, equals[passwd]]', id: "formGroupInput" %>
                <span class="bmd-help">前項と同じパスワードを入力してください。</span>
              </div>

              <div class="radio mt-0 text-left">
                <%= f.label :gender, "性別" %>
                <%= f.label :female, "女" %>
                <%= f.radio_button :gender, :female, class: "mr-3" %>
                <%= f.label :male, "男" %>
                <%= f.radio_button :gender, :male %>
              </div>
              
              <div class="actions mt-5">
                <%= f.submit '登録', class: 'btn btn-raised btn-primary mx-auto d-block w-75' %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>