<div class="container signup-in">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-md-5 mb-md-5">
      <div class="card text-center">
        <div class="card-header">
          <h2><i data-feather="pen-tool" style="wtidth:20px" class="text-muted"></i>&nbsp;&nbsp;新規登録</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">アカウント作成</h5>
          <p class="card-text mt-4">以下項目を入力/選択の上、登録してください(全て必須項目)</p>
          <div class="p-3">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group mt-0 text-left">
                <%= f.label :name, 'ユーザー名', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control validate[required]', id: "formGroupInput" %>
                <span class="bmd-help">1〜20文字以内で入力してください。</span>
              </div>

              <div class="form-group mt-0 text-left">
                <%= f.label :email, 'メール', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control validate[required, custom[email]]', id: "formGroupInput" %>
                <span class="bmd-help">登録頂いたメールアドレスに認証リンクをお送りします。</span>
              </div>

              <div class="form-group mt-0 text-left">
                <%= f.label :password, 'パスワード', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', id: "password" %>
                <span class="bmd-help">6文字以上〜16文字以内、半角英数字記号で入力ください。</span>
              </div>

              <div class="form-group mt-0 mb-3 text-left">
                <%= f.label :password_confirmation, 'パスワード（確認）', for: "formGroupInput", class: "bmd-label-floating" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control validate[required, equals[password]]', id: "formGroupInput" %>
                <span class="bmd-help">前項と同じパスワードを入力してください。</span>
              </div>

              <div class="form-group radio mt-0 pt-4 text-left">
                <%= f.label :gender, "性別", class:"pl-0" %>
                <%= f.label :female, "女" %>
                <%= f.radio_button :gender, :female, class: "mr-0" %>
                <%= f.label :male, "男", class:"pl-3" %>
                <%= f.radio_button :gender, :male %>
              </div>

              <div class="form-group mt-0 pt-3 text-left text-muted">
                生年月&nbsp;&nbsp;
                  <%= raw sprintf(
                    f.date_select(
                        :birthday,
                        use_month_numbers: true,
                        discard_day: true,
                        start_year:        (Time.now.year - 60),
                        end_year:          (Time.now.year - 18),
                        default:           Date.new(1980, 1, 1),
                        date_separator:    '%s'
                        ), # 年月日区切りをそれぞれ指定
                    '年 ') + '月'
                  %>
              </div>

              <% if false %>
              <div class="text-left pt-3">
                <button type="button" class="btn btn-primary px-2" data-toggle="modal" data-target="#terms_of_service">
                  <small><span class="small text-muted">利用規約</span></small>
                </button>
                <button type="button" class="btn btn-primary px-2" data-toggle="modal" data-target="#privacy_policy">
                  <small><span class="small text-muted">プライバシーボリシー</span></small>
                </button>
              </div>
              <% end %>

              <div class="actions mt-5">
                <%= f.submit '登録', class: 'btn btn-raised btn-primary mx-auto d-block w-75' %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="terms_of_service" tabindex="-1" role="dialog" aria-labelledby="terms_of_service_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content pb-5">
      <div class="modal-header">
        <h5 class="modal-title" id="terms_of_service_title">サービス利用規約</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-0 px-3 small">
          <h3 class="pb-5">利用規約</h3>
          <p>本利用規約（以下、本規約）には、本サービスの提供条件及び当サービスの運営者と登録ユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいた上で、本規約に同意いただく必要があります。</p>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第1条（適用）</h6>
            <ol>
              <li>本規約は、Repoco（以下、本サービス）の提供条件及び本サービスの利用に関する運営者と登録ユーザーとの間の権利義務関係を定めることを目的とし、登録ユーザーと運営者との間の本サービスの利用にかかわる一切の関係に適用されます。</li>
              <li>本規約の内容とその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第2条（定義）</h6>
            <p> 本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
            <ol>
              <li>「サービス利用規約」とは、本規約および運営者と登録ユーザーの間で締結する、本サービスの利用規約を意味します。</li>
              <li>「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またそれらの権利につき登録等を出願する権利を含みます。）を意味します。</li>
              <li>「運営者」とは、Repocoの運営者を意味します。</li>
              <li>「登録ユーザー」とは、第3条（登録）に基づいて本サービスの利用者としての登録がなされた個人または法人を意味します。</li>
              <li>「本サービス」とは、Repoco（レポコ）という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第3条（登録）</h6>
            <ol>
              <li>本サービスの利用を希望するもの（以下「登録希望者」といいます。）は、本規約を尊守することに同意し、かつ運営者の定める一定の情報（以下「登録事項」といいます。）を運営者の定める方法で運営者に提供することにより、運営者に対し、本サービスの利用を申請することができます。</li>
              <li>運営者は、登録申請者が以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について一切開示義務を負いません。</li>
              <ol>
                <li>運営者に提供した登録事項の全部または一部につき虚偽、誤記又は記載漏れがあった場合</li>
                <li>反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会勢力等の維持、運営もしくは経営に協力もしくは菅如する等反社会的勢力等の何らかの交流もしくは関与を行っていると運営者が判断した場合</li>
                <li>登録希望者が過去運営者との契約に違反した者またはその関係者であると運営者が判断した場合</li>
                <li>第6条に定める措置を受けたことがある場合</li>
                <li>その他、運営者が登録を適当でないと判断した場合</li>
              </ol>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第4条（パスワード及びユーザーIDの管理）</h6>
            <ol>
              <li>登録ユーザーは、自己の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものします。</li>
              <li>パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、運営者は一切の責任を負いません。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第5条（禁止事項）</h6>
            <p>登録ユーザーは、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると運営者が判断する行為をしてはなりません。</p>
            <ol>
              <li>法令に違反する行為または犯罪行為に関連する行為</li>
              <li>運営者、本サービスのほかの利用者またはその他の第三者に対する詐欺または脅迫行為</li>
              <li>公序良俗に反する行為</li>
              <li>運営者、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為</li>
              <li>本サービスのネットワークまたはシステム等に過度な負荷を掛ける行為</li>
              <li>本サービスの運営を妨害するおそれのある行為</li>
              <li>運営者のネットワークまたはシステム等に不正にアクセスし、または不正なアクセスを試みる行為</li>
              <li>第三者に成りすます行為</li>
              <li>本サービスの他の利用者のIDまたはパスワードを利用する行為</li>
              <li>本サービスの他の利用者の情報の収集</li>
              <li>本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為</li>
              <li>反社会的勢力への利益供与</li>
              <li>前各号の行為を直接または間接に惹起し、また容易にする行為</li>
              <li>その他、運営者が不適切と判断する行為</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第6条（本サービスの停止等）</h6>
            <ol>
              <li>運営者は、以下のいずれかに該当する場合には、登録ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</li>
              <ol>
                <li>本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合</li>
                <li>コンピューター、通信回線等が事故により停止した場合</li>
                <li>地震、落雷、火災、風水害、天災地変などの不可抗力により本サービスの運営ができなくなった場合</li>
                <li>その他、運営者が停止または中断を必要と判断した場合</li>
              </ol>
              <li>運営者は、本条に基づき運営者が行った措置に基づき登録ユーザーに生じた損害について一切の責任を負いません。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第7条（投稿データに関する権利帰属）</h6>
            <p>当サービスで投稿された記事、ログ等の文面および画像等のファイルデータはユーザーに帰属するものとします。<br>ただし、権利を侵さない範囲内において当サービスの広報やその他活動に利用する場合があります。<br>また、ユーザーは当サービスに投稿する全ての文面、ファイルデータにおいて、第三者の権利を侵害するものではないことを保証し、侵害したことによって起こった何らかの紛争に関しては、該当ユーザーの責任と費用のもとで解決するとともに、運営者は一切の責任を負わないものとします。</p>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第8条（投稿データの掲載について）</h6>
            <ol>
              <li>運営者は、登録ユーザーが投稿したコンテンツについて、「https://repoco.net」のドメイン下 のページに掲載することが不適切であると判断した場合は、事前に通知または催告することなく、「https://repoco.net」のドメイン下 の任意のページから、該当コンテンツを非表示にすることができます。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第9条（登録抹消等）</h6>
            <ol>
              <li>運営者は、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、当該登録ユーザーについて本サービスの利用を一時的に停止し、または登録ユーザーとしての登録を抹消、もしくはサービス利用契約を解除することができます。</li>
              <ol>
                <li>本規約のいずれかの条項に違反した場合</li>
                <li>登録事項に虚偽の事実があることが判明した場合</li>
                <li>支払い停止もしくは支払い不能となり、または破産手続き開始、民事再生手続き開始、会社更生手続き開始、特別清算開始若しくはこれらに類する手続き開始の申し立てがあった場合</li>
                <li>6カ月以上本サービスの利用がない場合</li>
                <li>運営者からの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合</li>
                <li>第3条第4項各号に該当する場合</li>
                <li>その他、運営者が本サービスの利用、登録ユーザーとしての登録、またはサービスの利用契約の継続を適切でないと判断した場合</li>
              </ol>
              <li>前項各号のいずれかの事由に該当した場合、登録ユーザーは、運営者に対して負ている債務の一切について当然に期限の利益を失い、ただちに運営者に対して全ての債務の支払を行わなければなりません。</li>
              <li>運営者は、本条に基づき運営者が行った行為により登録ユーザーに生じた損害について一切の責任を負いません。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第10条（退会）</h6>
            <ol>
              <li>登録ユーザーは退会ページより、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h6 class="pb-2 mb-4">第11条（利用者情報の扱い）</h5>
            <ol>
              <li>運営者による登録ユーザーの利用者情報の取扱いについては、別途運営者の<a href="/privacy">プライバシーポリシー</a>の定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って運営者が登録ユーザーの利用者情報を扱うことについて同意するものとします。</li>
              <li>運営者は、登録ユーザーが運営者の提供した情報、データ等を、個人を特定できない形での統計的な情報として、運営者の裁量で、利用及び公開することができるものとし、登録ユーザーはこれに異議を唱えないものとします。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">第12条（サービスの利用契約上の地位の譲渡等）</h5>
            <ol>
              <li>登録ユーザーは、運営者の書面による事前の承諾なく、利用契約上の地位または本契約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</li>
              <li>運営者は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、掛かる譲渡につき、本項において定め同意したものとします。</li>
            </ol>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">第13条（規約・サービスの変更等）</h5>
            <p>・本規約は、予告なしに変更されることがあります。規約の変更にあたって、運営者が大幅な変更と判断した場合を除いて、ユーザーの皆様に通知をすることはございません。ご利用の際には随時、最新の利用規約をご参照ください。</p>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">第14条（準拠法及び管轄裁判所）</h5>
            <ol>
              <li>本規約およびサービスの利用契約上の準拠法は日本法とします。なお、本サービスにおいて物品の売買が発生する場合であっても、国際物品売買契約に関する国際連合条約の適用を排除することに合意します。</li>
              <li>本規約またはサービス利用契約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</li>
            </ol>
          </div>
          <div>
            <div class="pt-5 float-right">
              2020年5月1日作成<br>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer px-4">
        <button type="button" class="btn btn-primary" data-dismiss="modal">確認</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="privacy_policy" tabindex="-1" role="dialog" aria-labelledby="privacy_policy_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="privacy_policy_title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-0 px-3 small">
          <h3 class="pb-5">プライバシーポリシー</h3>
          <p>Repoco(以下「運営者」と言います)は、提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。</p>
          
          <div class="pt-5">
            <h5 class="pb-2 mb-4">1. 収集する利用者情報及び収集方法</h5>
              <p>本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、ユーザーの投稿データ及びアップロードデータ、通信サービス上の行動履歴、その他ユーザーのスマートフォン、PC等の端末においてユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき運営者が収集するものを意味するものとします。</p>
              <p>本サービスにおいて運営者が収集する利用者情報は、その収集方法に応じて、以下のようなものになります。</p>
              <ul>
                <h6 class="pt-3 pb-2 mb-2">(1)&nbsp;&nbsp;ユーザーからご提供いただく情報</h6>
                  <p>ユーザーが本サービスを利用するために、ご提供いただく情報は以下の通りです。</p>
                  <ul class="mb-3">
                    <li>メールアドレス</li>
                    <li>ユーザープロフィール</li>
                    <li>その他運営者が定める入力フォームにユーザーが入力する情報</li>
                  </ul>
                <h6 class="pt-3 pb-2 mb-2">(2)&nbsp;&nbsp;ユーザーが本サービスを利用するにあたって、運営者が収集する情報</h6>
                  <ul class="mb-3">
                    <li>端末情報</li>
                    <li>ログ情報</li>
                    <li>Cookie及び匿名ID</li>
                    <li>ユーザーが所有するサイトの情報</li>
                    <li>その他本サービスの機能により収集可能な一連の情報</li>
                  </ul>
              </ul>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">2. 利用目的</h5>
              <p>2-1. 利用者情報は、2-2に定めるとおり本サービスの提供のために利用されるほか、2-3に定めるとおり、その他の目的にも利用される場合があります。</p>
              <p>2-2. 本サービスのサービス提供にかかわる利用者情報の具体的な利用目的は以下の通りです。</p>
              <ol>
                <li>本サービスに関するご案内、お問い合わせ等への対応のため</li>
                <li>本サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対応するため</li>
                <li>本サービスに関する規約等の変更などを通知するため</li>
                <li>本サービス全体の統計情報としてデータを解析するため</li>
                <li>上記の利用目的に付随する利用目的のため</li>
              </ol>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">3. 通知・公表または同意取得の方法、利用中止要請の方法</h5>
              <p>3-1. 以下の利用者情報については、その収集が行われる前にユーザーの同意を得るものとします。</p>
              <ul class="pb-3">
                <ul>
                  <li>位置情報</li>
                </ul>
              </ul>
              <p>3-2. ユーザーは、本サービスの所定の設定を行うことにより、利用者情報の全部または一部についてその利用の停止を求めることができ、この場合、運営者は速やかに運営者の定めるところに従い、その利用を停止します。なお利用者情報の項目によっては、その収集または利用が本サービスの前提となるため、運営者所定の方法により本サービスを退会した場合に限り、運営者はその収集を停止します。</p>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">4. 第三者提供</h5>
              <p>運営者は、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめユーザーの同意を得ないで、第三者に提供しません。但し、次に掲げる場合はこの限りではありません。</p>
              <ol>
                <li>運営者が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
                <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
                <li>第4項の定めに従って、情報収集モジュール提供者へ個人情報が提供される場合</li>
                <li>国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼす恐れがある場合</li>
                <li>その他、個人情報保護法その他の法令で認められる場合</li>
              </ol>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">5. お問い合わせ窓口</h5>
              <p class="pb-3">ご意見、ご質問、苦情のお申し出その他利用者情報の取扱いに関するお問い合わせは、下記窓口までお願い致します。</p>
              <center><button class="btn btn-outline-primary btn-raised"><a href="https://forms.gle/ZJW7qnkX4PLN7Lkc9" target="_blank" class="link">お問い合わせ</a>&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button></center>
          </div>

          <div class="pt-5">
            <h5 class="pb-2 mb-4">6. プライバシーポリシーの変更手続</h5>
              <p>運営者は、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更することがあります。<br>
              本ポリシーの変更にあたって、運営者が大幅な変更と判断した場合を除いて、ユーザーの皆様に通知をすることはございません。ご利用の際には随時、最新のプライバシーポリシーをご参照ください。</p>
          </div>
        </div>
      </div>
      <div class="modal-footer px-4">
        <button type="button" class="btn btn-primary" data-dismiss="modal">確認</button>
      </div>
    </div>
  </div>
</div>