<div class="d-none d-md-block py-5">
  <h2 class="text-center jumbotron-underlayer__title py-3"><%= current_user.name %>さんのマイページ</h2>
</div>
<div class="d-sm d-md-none mb-0 pt-3">
  <h5 class="text-center jumbotron-underlayer__title my-0 py-3"><%= current_user.name %>さんのマイページ</h5>
</div>
<div class="container p-0 mt-4 m-bottom">
  <div class="col-md-8 offset-md-2 px-0">
    <div class="parent-tab">
      <ul class="nav nav-tabs parent-menu mt-0 pt-0">
        <li><a href="#tab_1" class="active mostleft-tab" data-toggle="tab">レポコ</a></li>
        <li>
          <a href="#tab_2" data-toggle="tab">
            <div class="tab-popup px-2">ユーザー設定
              <% if current_user.registration_status1 || current_user.registration_status2 == true %>
                <i class="fas fa-circle tab-popup-circle fa-stack-1x"></i>
              <% end %>
            </div>
          </a>
        </li>
      </ul>
      <section class="parent-tab-content active mostleft-tab main-index" id="tab_1">
        <div class="child-tab">
          <ul class="nav nav-tabs child-menu">
            <li><a href="#tab_1_1" class="active" data-toggle="tab">公開</a></li>
            <li>
              <a href="#tab_1_2" data-toggle="tab">
                <div class="tab-popup px-2">下書き
                  <% if @draft_reports.present? %>
                    <i class="fas fa-circle tab-popup-circle fa-stack-1x"></i>
                  <% end %>
                </div>
              </a>
            </li>
            <li><a href="#tab_1_3" data-toggle="tab"><i data-feather="heart" class="pl-2 pr-0 pt-0 pb-1 text-danger"></i>ストック</a></li>
          </ul>
          <section class="child-tab-content active px-1" id="tab_1_1">
            <div class="container p-0 m-0">
              <div class="text-right px-1">
                <%= link_to " 新規作成", new_report_path, class: "btn btn-primary" %>
              </div>
              <% @published_reports.each do |published| %>
                <div class="card-body px-2 text-color">
                  <div class="media-body px-2">
                    <div class="row">
                      <div class="col-3 pl-0 text-center px-2">
                        <div class="icon-field">
                          <% if published.user.icon.attached? %>
                            <%= image_tag(published.user.icon, class:"icon_image") %>
                          <% else %>
                            <% if published.treatment_end_age == nil %>
                              <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy") %>
                            <% elsif published.treatment_end_age < 24 %>
                              <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy") %>
                            <% elsif published.treatment_end_age < 29 %>
                              <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy") %>
                            <% elsif published.treatment_end_age < 34 %>
                              <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy") %>
                            <% elsif published.treatment_end_age < 39 %>
                              <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy") %>
                            <% elsif published.treatment_end_age < 44 %>
                              <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy") %>
                            <% else %>
                              <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy") %>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="d-none d-sm-block px-0">
                          <div class="align-items-center text-center pt-2">
                            <p class="mb-0 pb-1">
                              <% if published.treatment_end_age == nil %>
                                <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 24 %>
                                <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 29 %>
                                <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 34 %>
                                <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 39 %>
                                <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 44 %>
                                <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% else %>
                                <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% end %>
                              <%= link_to user_path(published.user_id) do %>
                                <%= strip_tags(published.user.name.to_s).gsub(/[\n]/,"").strip.truncate(8) %>
                              <% end %>
                            </p>
                            <p class="text-center mb-0 pb-0">
                              <% if published.user.gender == "female" %>
                                <span class="badge badge-pill badge-light text-muted p-0">女</span>
                              <% else %>
                                <span class="badge badge-pill badge-light text-muted p-0">男</span>
                              <% end %>
                              <% unless published.treatment_end_age.blank? %>
                                <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to published.treatment_end_age, "/category/age/#{published.treatment_end_age}#{"歳"}", class: "text-muted" %>歳</span>
                              <% end %>
                              <% if published.prefecture_at_the_time_status == "hide" %>
                                <span class="small text-muted">−−</span>
                              <% else %>
                                <span class="small text-muted"><%= link_to published.city.prefecture.name, "/users_/#{published.city.prefecture.name_alphabet}", class: "text-muted" %></span>
                              <% end %>
                              <% if published.city_at_the_time_status == "hide" %>
                                <span class="small text-muted">−−</span>
                              <% else %>
                                <span class="small text-muted"><%= link_to published.city.name, "/users_/#{published.city.prefecture.name_alphabet}/#{published.city.name_alphabet}", class: "text-muted" %></span>
                              <% end %>
                            </p>
                            <p class="text-center m-0 py-0 small">
                              <span class="small text-muted text-muted"><%= published.str_work_style %></span>
                            </p>
                          </div>
                        </div>
                        <div class="d-block d-sm-none px-0">
                          <div class="align-items-center text-center pt-2">
                            <p class="mb-0 pb-1">
                              <% if published.treatment_end_age == nil %>
                                <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "15px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 24 %>
                                <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "15px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 29 %>
                                <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "15px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 34 %>
                                <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "15px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 39 %>
                                <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "15px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% elsif published.treatment_end_age < 44 %>
                                <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "15px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% else %>
                                <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "15px", class: "img-fluid", loading: "lazy"), user_path(published.user_id) %>
                              <% end %>
                              <%= link_to user_path(published.user_id) do %>
                                <span class="small"><%= strip_tags(published.user.name.to_s).gsub(/[\n]/,"").strip.truncate(8) %></span>
                              <% end %>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-9 pl-2">
                        <div class="date mb-0 pt-0 px-0 d-flex justify-content-between">
                          <small class="text-muted">
                            <% unless published.current_state.blank? %>
                              <%= published.str_current_state %>&nbsp;&nbsp;
                            <% end %>
                            <% unless published.year_of_treatment_end.blank? %>
                              <%= published.year_of_treatment_end.year %>年終了
                            <% end %>
                            <% unless published.fertility_treatment_number.blank? %>
                              <%= published.str_fertility_treatment_number %>&nbsp;&nbsp;
                            <% end %>
                          </small>
                          <small class="text-muted">
                            <%= published.created_at.to_s(:datetime_jp) %>
                          </small>
                        </div>
                        <div class="d-none d-sm-block">
                          <%= link_to published, data: { "turbolinks" => false } do %>
                            <h5 class="mb-0 mt-2 mx-0 mb-1">
                              <% if published.treatment_end_age %>
                                <%= published.treatment_end_age %>歳&nbsp;
                              <% end %>
                              <%= published.clinic.name %>のレポコ</h5>
                          <% end %>
                        </div>
                        <div class="d-block d-sm-none">
                          <%= link_to published, data: { "turbolinks" => false } do %>
                            <h7 class="mb-0 mt-2 mx-0 mb-1">
                              <% if published.treatment_end_age %>
                                <%= published.treatment_end_age %>歳&nbsp;
                              <% end %>
                              <%= published.clinic.name %>のレポコ</h7>
                          <% end %>
                        </div>
                        <div>
                          <div class="d-lg-flex align-items-center justify-content-start mt-0 mb-0 py-1">
                            <div class="d-none d-sm-block my-0 mr-2 clinic_address">
                              <%= link_to published.clinic.name, "/clinic/#{published.clinic.id}", class: "small" %>&nbsp;&nbsp;<span class="badge badge-light"><%= link_to published.clinic.city.prefecture.name, "/clinics_/#{published.clinic.city.prefecture.name_alphabet}", class:"text-muted" %></span>&nbsp;<span class="badge badge-light"><%= link_to published.clinic.city.name, "/clinics/#{published.clinic.city.prefecture.name_alphabet}/#{published.clinic.city.name_alphabet}", class:"text-muted" %></span>
                            </div>
                            <div class="d-block d-sm-none mb-0 mr-2 clinic_address">
                              <div class="col-12 pl-0 small">
                                <%= link_to published.clinic.name, "/clinic/#{published.clinic.id}", class: "text-muted small" %>
                              </div>
                            </div>
                          </div>
                          <div class="d-none d-sm-block col-12 px-0">
                            <%= link_to published, data: { "turbolinks" => false } do %>
                              <div class="pt-2 pb-1 px-1">
                                <h6><%= strip_tags(published.title.to_s).gsub(/[\n]/,"").strip.truncate(40) %></h6>
                              </div>
                            <% end %>
                            <%= link_to published, data: { "turbolinks" => false } do %>
                              <div class="lead-content px-2 py-1">
                                <small><span class="text-muted"><%= strip_tags(published.summarize_content).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              </div>
                            <% end %>
                          </div>
                          <div class="d-block d-sm-none col-12 px-0">
                            <%= link_to published, data: { "turbolinks" => false } do %>
                              <div class="pt-2 pb-1 px-1">
                                <h7><%= strip_tags(published.title.to_s).gsub(/[\n]/,"").strip.truncate(13) %></h7>
                              </div>
                            <% end %>
                            <%= link_to published, data: { "turbolinks" => false } do %>
                              <div class="lead-content px-2 py-1">
                                <small><span class="text-muted"><%= strip_tags(published.summarize_content).gsub(/[\n]/,"").strip.truncate(27) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </section>
          <section class="child-tab-content px-1" id="tab_1_2">
            <div class="container p-0 m-0">
              <div class="text-right px-1">
                <%= link_to " 新規作成", new_report_path, class: "btn btn-primary" %>
              </div>
              <% @draft_reports.each do |draft| %>
                <div class="card-body px-2 text-color">
                  <div class="media-body px-2">
                    <div class="row">
                      <div class="col-3 pl-0 text-center px-2">
                        <div class="icon-field">
                          <% if draft.user.icon.attached? %>
                            <%= image_tag(draft.user.icon, class:"icon_image") %>
                          <% else %>
                            <% if draft.treatment_end_age == nil %>
                              <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy") %>
                            <% elsif draft.treatment_end_age < 24 %>
                              <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy") %>
                            <% elsif draft.treatment_end_age < 29 %>
                              <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy") %>
                            <% elsif draft.treatment_end_age < 34 %>
                              <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy") %>
                            <% elsif draft.treatment_end_age < 39 %>
                              <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy") %>
                            <% elsif draft.treatment_end_age < 44 %>
                              <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy") %>
                            <% else %>
                              <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy") %>
                            <% end %>
                          <% end %>
                        </div>
                        <div class="d-none d-sm-block px-0">
                          <div class="align-items-center text-center pt-2">
                            <p class="mb-0 pb-1">
                              <% if draft.treatment_end_age == nil %>
                                <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 24 %>
                                <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 29 %>
                                <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 34 %>
                                <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 39 %>
                                <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 44 %>
                                <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% else %>
                                <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% end %>
                              <%= link_to user_path(draft.user_id) do %>
                                <%= strip_tags(draft.user.name.to_s).gsub(/[\n]/,"").strip.truncate(8) %>
                              <% end %>
                            </p>
                            <p class="text-center mb-0 pb-0">
                              <% if draft.user.gender == "female" %>
                                <span class="badge badge-pill badge-light text-muted p-0">女</span>
                              <% else %>
                                <span class="badge badge-pill badge-light text-muted p-0">男</span>
                              <% end %>
                              <% unless draft.treatment_end_age.blank? %>
                                <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to draft.treatment_end_age, "/category/age/#{draft.treatment_end_age}#{"歳"}", class: "text-muted" %>歳</span>
                              <% end %>
                              <% if draft.prefecture_at_the_time_status == "hide" %>
                                <span class="small text-muted">−−</span>
                              <% else %>
                                <span class="small text-muted"><%= link_to draft.city.prefecture.name, "/clinics_/#{draft.city.prefecture.name_alphabet}", class: "text-muted" %></span>
                              <% end %>
                              <% if draft.city_at_the_time_status == "hide" %>
                                <span class="small text-muted">−−</span>
                              <% else %>
                                <span class="small text-muted"><%= link_to draft.city.name, "/clinics/#{draft.city.prefecture.name_alphabet}/#{draft.city.name_alphabet}", class: "text-muted" %></span>
                              <% end %>
                            </p>
                            <p class="text-center m-0 py-0 small">
                              <span class="small text-muted text-muted"><%= draft.str_work_style %></span>
                            </p>
                          </div>
                        </div>
                        <div class="d-block d-sm-none px-0">
                          <div class="align-items-center text-center pt-2">
                            <p class="mb-0 pb-1">
                              <% if draft.treatment_end_age == nil %>
                                <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "15px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 24 %>
                                <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "15px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 29 %>
                                <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "15px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 34 %>
                                <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "15px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 39 %>
                                <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "15px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% elsif draft.treatment_end_age < 44 %>
                                <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "15px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% else %>
                                <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "15px", class: "img-fluid", loading: "lazy"), user_path(draft.user_id) %>
                              <% end %>
                              <%= link_to user_path(draft.user_id) do %>
                                <span class="small"><%= strip_tags(draft.user.name.to_s).gsub(/[\n]/,"").strip.truncate(8) %></span>
                              <% end %>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-9 pl-2">
                        <div class="date mb-0 pt-0 px-0 d-flex justify-content-between">
                          <small class="text-muted">
                            <% unless draft.current_state.blank? %>
                              <%= draft.str_current_state %>&nbsp;&nbsp;
                            <% end %>
                            <% unless draft.year_of_treatment_end.blank? %>
                              <%= draft.year_of_treatment_end.year %>年終了
                            <% end %>
                            <% unless draft.fertility_treatment_number.blank? %>
                              <%= draft.str_fertility_treatment_number %>&nbsp;&nbsp;
                            <% end %>
                          </small>
                          <small class="text-muted">
                            <%= draft.created_at.to_s(:datetime_jp) %>
                          </small>
                        </div>
                        <div class="d-none d-sm-block">
                          <%= link_to draft, data: { "turbolinks" => false } do %>
                            <h5 class="mb-0 mt-2 mx-0 mb-1">
                              <% if draft.treatment_end_age %>
                                <%= draft.treatment_end_age %>歳&nbsp;
                              <% end %>
                              <%= draft.clinic.name %>のレポコ</h5>
                          <% end %>
                        </div>
                        <div class="d-block d-sm-none">
                          <%= link_to draft, data: { "turbolinks" => false } do %>
                            <h7 class="mb-0 mt-2 mx-0 mb-1">
                              <% if draft.treatment_end_age %>
                                <%= draft.treatment_end_age %>歳&nbsp;
                              <% end %>
                              <%= draft.clinic.name %>のレポコ</h7>
                          <% end %>
                        </div>

                        <div>
                          <div class="d-lg-flex align-items-center justify-content-start mt-0 mb-0 py-1">
                            <div class="d-none d-sm-block my-0 mr-2 clinic_address">
                              <%= link_to draft.clinic.name, "/clinic/#{draft.clinic.id}", class: "small" %>&nbsp;&nbsp;<span class="badge badge-light"><%= link_to draft.clinic.city.prefecture.name, "/clinics_/#{draft.clinic.city.prefecture.name_alphabet}", class:"text-muted" %></span>&nbsp;<span class="badge badge-light"><%= link_to draft.clinic.city.name, "/clinics/#{draft.clinic.city.prefecture.name_alphabet}/#{draft.clinic.city.name_alphabet}", class:"text-muted" %></span>
                            </div>
                            <div class="d-block d-sm-none mb-0 mr-2 clinic_address">
                              <div class="col-12 pl-0 small">
                                <%= link_to draft.clinic.name, "/clinic/#{draft.clinic.id}", class: "text-muted small" %>
                              </div>
                            </div>
                          </div>
                          <div class="d-none d-sm-block col-12 px-0">
                            <%= link_to draft, data: { "turbolinks" => false } do %>
                              <div class="pt-2 pb-1 px-1">
                                <h6><%= strip_tags(draft.title.to_s).gsub(/[\n]/,"").strip.truncate(40) %></h6>
                              </div>
                            <% end %>
                            <%= link_to draft, data: { "turbolinks" => false } do %>
                              <div class="lead-content px-2 py-1">
                                <small><span class="text-muted"><%= strip_tags(draft.summarize_content).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              </div>
                            <% end %>
                          </div>
                          <div class="d-block d-sm-none col-12 px-0">
                            <%= link_to draft, data: { "turbolinks" => false } do %>
                              <div class="pt-2 pb-1 px-1">
                                <h7><%= strip_tags(draft.title.to_s).gsub(/[\n]/,"").strip.truncate(13) %></h7>
                              </div>
                            <% end %>
                            <%= link_to draft, data: { "turbolinks" => false } do %>
                              <div class="lead-content px-2 py-1">
                                <small><span class="text-muted"><%= strip_tags(draft.summarize_content).gsub(/[\n]/,"").strip.truncate(27) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </section>
          <section class="child-tab-content px-1" id="tab_1_3">
            <div class="container p-0 m-0">
              <% current_user.liked_reports.each do |report| %>
                <% if report.released? %>
                  <div class="card-body px-2 text-color">
                    <div class="media-body px-2">
                      <div class="row">
                        <div class="col-3 pl-0 text-center px-2">
                          <div class="icon-field">
                            <% if report.user.icon.attached? %>
                              <%= image_tag(report.user.icon, class:"icon_image") %>
                            <% else %>
                              <% if report.treatment_end_age == nil %>
                                <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy") %>
                              <% elsif report.treatment_end_age < 24 %>
                                <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy") %>
                              <% elsif report.treatment_end_age < 29 %>
                                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy") %>
                              <% elsif report.treatment_end_age < 34 %>
                                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy") %>
                              <% elsif report.treatment_end_age < 39 %>
                                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy") %>
                              <% elsif report.treatment_end_age < 44 %>
                                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy") %>
                              <% else %>
                                <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy") %>
                              <% end %>
                            <% end %>
                          </div>
                          <div class="d-none d-sm-block px-0">
                            <div class="align-items-center text-center pt-2">
                              <p class="mb-0 pb-1">
                                <% if report.treatment_end_age == nil %>
                                  <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 24 %>
                                  <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 29 %>
                                  <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 34 %>
                                  <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 39 %>
                                  <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 44 %>
                                  <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% else %>
                                  <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% end %>
                                <%= link_to report.user.name, user_path(report.user_id) %>
                              </p>
                              <p class="text-center mb-0 pb-0">
                                <% if report.user.gender == "female" %>
                                  <span class="badge badge-pill badge-light text-muted p-0">女</span>
                                <% else %>
                                  <span class="badge badge-pill badge-light text-muted p-0">男</span>
                                <% end %>
                                <% unless report.treatment_end_age.blank? %>
                                  <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to report.treatment_end_age, "/category/age/#{report.treatment_end_age}#{"歳"}", class: "text-muted" %>歳</span>
                                <% end %>
                                <% if report.prefecture_at_the_time_status == "hide" %>
                                  <span class="small text-muted">−−</span>
                                <% else %>
                                  <span class="small text-muted"><%= link_to report.city.prefecture.name, "/clinics_/#{report.city.prefecture.name_alphabet}", class: "text-muted" %></span>
                                <% end %>
                                <% if report.city_at_the_time_status == "hide" %>
                                  <span class="small text-muted">−−</span>
                                <% else %>
                                  <span class="small text-muted"><%= link_to report.city.name, "/clinics/#{report.city.prefecture.name_alphabet}/#{report.city.name_alphabet}", class: "text-muted" %></span>
                                <% end %>
                              </p>
                              <p class="text-center m-0 py-0 small">
                                <span class="small text-muted text-muted"><%= report.str_work_style %></span>
                              </p>
                            </div>
                          </div>
                          <div class="d-xs d-sm-none px-0">
                            <div class="align-items-center text-center pt-2">
                              <p class="mb-0 pb-1">
                                <% if report.treatment_end_age == nil %>
                                  <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "15px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 24 %>
                                  <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "15px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 29 %>
                                  <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "15px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 34 %>
                                  <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "15px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 39 %>
                                  <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "15px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% elsif report.treatment_end_age < 44 %>
                                  <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "15px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% else %>
                                  <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "15px", class: "img-fluid", loading: "lazy"), user_path(report.user_id) %>
                                <% end %>
                                <%= link_to user_path(report.user_id) do %>
                                  <span class="small"><%= strip_tags(report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(8) %></span>
                                <% end %>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-9 pl-2">
                          <div class="date mb-0 pt-0 px-0 d-flex justify-content-between">
                            <small class="text-muted">
                              <% unless report.current_state.blank? %>
                                <%= report.str_current_state %>&nbsp;&nbsp;
                              <% end %>
                              <% unless report.year_of_treatment_end.blank? %>
                                <%= report.year_of_treatment_end.year %>年終了
                              <% end %>
                              <% unless report.fertility_treatment_number.blank? %>
                                <%= report.str_fertility_treatment_number %>&nbsp;&nbsp;
                              <% end %>
                            </small>
                            <small class="text-muted">
                              <%= report.created_at.to_s(:datetime_jp) %>
                            </small>
                          </div>
                          <div class="d-none d-sm-block">
                            <%= link_to report, data: { "turbolinks" => false } do %>
                              <h5 class="mb-0 mt-2 mx-0 mb-1">
                                <% if report.treatment_end_age %>
                                  <%= report.treatment_end_age %>歳&nbsp;
                                <% end %>
                                <%= report.clinic.name %>のレポコ</h5>
                            <% end %>
                          </div>
                          <div class="d-block d-sm-none">
                            <%= link_to report, data: { "turbolinks" => false } do %>
                              <h7 class="mb-0 mt-2 mx-0 mb-1">
                                <% if report.treatment_end_age %>
                                  <%= report.treatment_end_age %>歳&nbsp;
                                <% end %>
                                <%= report.clinic.name %>のレポコ</h7>
                            <% end %>
                          </div>

                          <div>
                            <div class="d-lg-flex align-items-center justify-content-start mt-0 mb-0 py-1">
                              <div class="d-none d-sm-block my-0 mr-2 clinic_address">
                                <%= link_to report.clinic.name, "/clinic/#{report.clinic.id}", class: "small" %>&nbsp;&nbsp;<span class="badge badge-light">
                                <%= link_to report.clinic.city.prefecture.name, "/clinics_/#{report.clinic.city.prefecture.name_alphabet}", class:"text-muted" %></span>&nbsp;<span class="badge badge-light">
                                <%= link_to report.clinic.city.name, "/clinics/#{report.clinic.city.prefecture.name_alphabet}/#{report.clinic.city.name_alphabet}", class:"text-muted" %></span>
                              </div>
                              <div class="d-block d-sm-none mb-0 mr-2 clinic_address">
                                <div class="col-12 pl-0 small">
                                  <%= link_to report.clinic.name, "/clinic/#{report.clinic.id}", class: "text-muted small" %>
                                </div>
                              </div>
                            </div>
                            <div class="d-none d-sm-block col-12 px-0">
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <div class="pt-2 pb-1 px-1">
                                  <h6><%= strip_tags(report.title.to_s).gsub(/[\n]/,"").strip.truncate(40) %></h6>
                                </div>
                              <% end %>
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <div class="lead-content px-2 py-1">
                                  <small><span class="text-muted"><%= strip_tags(report.summarize_content).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                </div>
                              <% end %>
                            </div>
                            <div class="d-block d-sm-none col-12 px-0">
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <div class="pt-2 pb-1 px-1">
                                  <h7><%= strip_tags(report.title.to_s).gsub(/[\n]/,"").strip.truncate(13) %></h7>
                                </div>
                              <% end %>
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <div class="lead-content px-2 py-1">
                                  <small><span class="text-muted"><%= strip_tags(report.summarize_content).gsub(/[\n]/,"").strip.truncate(27) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </section>
        </div>
      </section>
      <section class="parent-tab-content" id="tab_2">
        <div class="child-tab">
          <ul class="nav nav-tabs child-menu">
            <li>
              <a href="#tab_2_1" class="active" data-toggle="tab">
                <div class="tab-popup px-2">各種設定
                  <% if current_user.registration_status2 === true || current_user.registration_status1 == true %>
                    <i class="fas fa-circle tab-popup-circle fa-stack-1x"></i>
                  <% end %>
                </div>
              </a>
            </li>

            <% if false %>
            <li>
              <a href="#tab_2_2" class="active" data-toggle="tab">
                <div class="tab-popup px-2">治療情報
                  <% if current_user.registration_status1 == true %>
                    <i class="fas fa-circle tab-popup-circle fa-stack-1x"></i>
                  <% end %>
                </div>
              </a>
            </li>
            <li>
              <a href="#tab_2_3" data-toggle="tab">登録情報</a>
            </li>
            <% end %>

          </ul>
          <section class="child-tab-content active px-1 pb-2" id="tab_2_1">
            <div class="d-flex justify-content-between pl-3 pr-2 mt-5">
              <h5 class="pt-1 text-dark font-weight-bold"><span class="marker-underline">治療情報</span></h5>
              <div><i data-feather="settings" class="pl-2 pr-0 pb-2 text-muted"></i><%= link_to "治療情報を設定 / 変更", edit_user_registration_path, class: "btn btn-primary mx-0 pl-1 pr-0" %></div>
            </div>
            <div class="alert alert-info rounded-lg mx-2 px-3 py-2">
              <small>こちらの情報はプロフィールに反映されます(レポコ投稿の場合にはレポコにも反映されます)。全て選択式です。ぜひ登録しましょう！</small>
            </div>
            <table class="table mb-5">
              <tbody>
                <tr>
                  <td class="profile-item-l small text-center" style="width:35%">妊活開始</td>
                  <td class="profile-item-r" style="width:65%">
                    <% if @user.first_age_to_start.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_first_age_to_start(@user.first_age_to_start) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">治療開始</td>
                  <td class="profile-item-r">
                    <% if @user.first_age_to_start_art.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_first_age_to_start_art(@user.first_age_to_start_art) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">人工授精</td>
                  <td class="profile-item-r">
                    <% if @user.number_of_aih.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_number_of_aih(@user.number_of_aih) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">採卵回数</td>
                  <td class="profile-item-r">
                    <% if @user.all_number_of_sairan.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_all_number_of_sairan(@user.all_number_of_sairan) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">移植回数</td>
                  <td class="profile-item-r">
                    <% if @user.all_number_of_transplants.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_all_number_of_transplants(@user.all_number_of_transplants) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">費用総額</td>
                  <td class="profile-item-r">
                  <% if @user.all_cost.blank? %>
                    <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                  <% else %>
                    <%= @user.str_all_cost(@user.all_cost) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                  <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">初期流産</td>
                  <td class="profile-item-r">
                    <% if @user.number_of_early_miscarriages.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_number_of_early_miscarriages(@user.number_of_early_miscarriages) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">後期流産</td>
                  <td class="profile-item-r">
                    <% if @user.number_of_late_miscarriages.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_number_of_late_miscarriages(@user.number_of_late_miscarriages) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="profile-item-l small text-center">助成金受給回数</td>
                  <td class="profile-item-r">
                    <% if @user.number_of_times_the_grant_was_received.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.str_number_of_times_the_grant_was_received(@user.number_of_times_the_grant_was_received) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table><hr>

            <div class="d-flex justify-content-between pl-3 pr-2 mt-5">
              <h5 class="pt-1 text-dark font-weight-bold"><span class="marker-underline">基本情報</span></h5>
              <div><i data-feather="settings" class="pl-2 pr-0 pb-2 text-muted"></i><%= link_to "基本情報を設定 / 変更", edit_user_registration_path, class: "btn btn-primary mx-0 pl-1 pr-0" %></div>
            </div>
            <table class="table mb-5">
              <tbody>
                <tr>
                  <td class="profile-item-l small text-center">ユーザー名</td>
                  <td class="profile-item-r">
                    <%= @user.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                  </td>
                <tr>
                <tr>
                  <td class="profile-item-l small text-center">アイコン</td>
                  <td class="profile-item-r">
                    <% if @user.icon.blank? %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path(anchor: "tab_1_1"), { style: "color:#009688;"} %></small>
                    <% else %>
                      <small><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="small text-center">生年月</td>
                  <td>
                    <% if @user.birthday.blank? %>
                      <span>未登録</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.birthday.year %>年<%= @user.birthday.month %>月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="small text-center">リンク</td>
                  <td>
                    <% if @user.link.blank? %>
                    <span class="notset">未設定</span>&nbsp;&nbsp;<small class="text-muted"><span class="small">(ブログやSNS)</span></small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% else %>
                      <%= @user.link %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="small text-center">プロフ</td>
                  <td>
                    <% if @user.self_introduction.blank? %>
                      <i data-feather="chevron-right" class="feather-icon-style2"></i><span class="notset">未設定</span><br><%= link_to "ぜひ詳しい情報を載せましょう！", edit_user_registration_path, { style: "color:#009688;"} %>
                    <% else %>
                      <div class="p-0 mb-4"><%= text_url_to_link(h(safe_join(@user.self_introduction.split("\n"),tag(:br)))).html_safe %></div>
                      <small class="text-muted"><i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i><span class="small"><%= link_to "もっと詳細情報を載せる", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table><hr>

            <div class="d-flex justify-content-between pl-3 pr-2 mt-5">
              <h5 class="pt-1 text-dark font-weight-bold"><span class="marker-underline">登録情報</span></h5>
              <div><i data-feather="settings" class="pl-2 pr-0 pb-2 text-muted"></i><%= link_to "登録情報を設定 / 変更", edit_user_registration_path, class: "btn btn-primary mx-0 pl-1 pr-0" %></div>
            </div>
            <table class="table mb-5">
              <tbody>
                <tr>
                  <td class="profile-item-l small text-center" style="width:35%">メールアドレス</td>
                  <td class="profile-item-r" style="width:65%">
                    <%= @user.email %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                  </td>
                <tr>
                <tr>
                  <td class="profile-item-l small text-center">パスワード</td>
                  <td class="profile-item-r">
                    ●●●●●●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                  </td>
                <tr>
                <tr>
                  <td class="profile-item-l small text-center">性別</td>
                  <td class="profile-item-r">
                    <% if @user.gender === "female" %>
                      女性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% elsif @user.gender === "male" %>
                      男性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><span class="small"><%= link_to "変更", edit_user_registration_path, { style: "color:#009688;"} %></span></small>
                    <% else %>
                      <span class="notset">未設定</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small><%= link_to "設定", edit_user_registration_path, { style: "color:#009688;"} %></small>
                    <% end %>
                  </td>
                <tr>
              <tbody>
            </table>
          </section>

          <% if false %>
          <section class="child-tab-content active px-1" id="tab_2_2">
          </section>
          <section class="child-tab-content px-1" id="tab_2_3">
          </section>
          <% end %>
        <div>
      </section>
    </div>
  </div>
</div>