<div class="content">
  <div class="jumbotron-underlayer">
    <div class="jumbotron">
      <div class="container">
        <h2 class="text-center jumbotron-underlayer__title"><%= current_user.name %>さんのマイページ</h2>
      </div>
    </div>
  </div>

  <div class="mypage c-bg-light c-border-t c-border-r c-border-l">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">レポート</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">プロフィール</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">設定</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">分析</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-reports-list">

              <div class="myindex">
                <ul class="nav nav-tabs" id="myindex-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="publised-reports-tab" data-toggle="tab" href="#published-reports" role="tab" aria-controls="published-reports" aria-selected="true">マイレポート</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="draft-reports-tab" data-toggle="tab" href="#draft-reports" role="tab" aria-controls="draft-reports" aria-selected="false">保存中(非公開)レポート</a>
                  </li>
                </ul>

                <div class="tab-content" id="publishedindex">
                  <div class="tab-pane fade show active" id="published-reports" role="tabpanel" aria-labelledby="published-reports-tab">
                    <div class="card border-light mb-3" style="max-width:100%;">
                      <% @published_reports.each do |published| %>
                        <%= link_to published do %>
                          <div class="card-header"><%= published.created_at.to_s(:datetime_jp) %>&nbsp;に投稿した&nbsp;<strong><%= published.str_fertility_treatment_number %></strong>&nbsp;のレポート</div>
                          <div class="card-body">
                            <h5 class="card-title"><%= published.title %></h5>
                            <p class="card-text"></p>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="tab-pane fade show active" id="draft-reports" role="tabpanel" aria-labelledby="draft-reports-tab">
                    <div class="card border-light mb-3" style="max-width:100%;">
                      <% @draft_reports.each do |draft| %>
                        <%= link_to draft do %>
                          <div class="card-header"><%= draft.created_at.to_s(:datetime_jp) %>&nbsp;に投稿した&nbsp;<strong><%= draft.str_fertility_treatment_number %></strong>&nbsp;のレポート</div>
                          <div class="card-body">
                            <h5 class="card-title"><%= draft.title %></h5>
                            <p class="card-text"></p>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <table class="table">
                <tbody>
                  <tr>
                    <th class="profile-item-l">ユーザー名</th>
                    <td class="profile-item-r"><%= @user.name %></td>
                  </tr>
                  <tr>
                    <th>メールアドレス</th>
                    <td><%= @user.email %></td>
                  </tr>
                  <tr>
                    <th>性別</th>
                    <td>
                      <% if @user.gender.blank? %>
                        <%= "(未登録)" %>&nbsp;&nbsp;→&nbsp;<a href="#">設定する</a>
                      <% else %>
                        <%= @user.gender %>&nbsp;&nbsp;→&nbsp;<a href="#">編集する</a>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>生年月</th>
                    <td>
                      <% if @user.birthday.blank? %>
                        <%= "(未登録)" %>&nbsp;&nbsp;→&nbsp;<a href="#">設定する</a>
                      <% else %>
                        <%= @user.birthday %>&nbsp;&nbsp;→&nbsp;<a href="#">編集する</a>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>アドレス</th>
                    <td>
                      <% if @user.birthday.blank? %>
                        <%= "(未登録)" %>&nbsp;&nbsp;→&nbsp;<a href="#">設定する</a>
                      <% else %>
                        <%= @user.birthday %>&nbsp;&nbsp;→&nbsp;<a href="#">編集する</a>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>リンク</th>
                    <td>
                      <% if @user.link.blank? %>
                        <%= "ブログやSNSのリンクなど" %>&nbsp;&nbsp;→&nbsp;<a href="#">設定する</a>
                      <% else %>
                        <%= @user.link %>&nbsp;&nbsp;→&nbsp;<a href="#">編集する</a>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <th>自己紹介</th>
                    <td><div class="self-introduction border"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>