<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6 mx-auto my-5">
  <div class="row">
    <div class="col-2 px-0">
      <% case notification.action %>
        <% when 'like' then %>
          <i data-feather="heart" class="feather-icon-style5"></i>
        <% when 'comment' then %>
          <i data-feather="message-circle" class="feather-icon-style5"></i>
      <% end %>
    </div>
    <div class="col-10 pl-0">
      <span>
        <%= link_to user_path(visitor) do %>
          <% if visitor.icon.attached? %>
            <%= image_tag(visitor.icon, alt: "icon", class: "icon_image4", loading: "lazy") %>
          <% else %>
            <% user_number = visitor.id.digits %>
            <% if user_number.size < 2 %>
              <% icon_number = visitor.id %>
            <% else %>
              <% if user_number[0] == 0 %>
                <% icon_number = user_number[1] * user_number[1] %>
              <% else %>
                <% icon_number = user_number[0] * user_number[1] %>
              <% end %>
            <% end %>
            <% if visitor.birthday == nil %>
              <div class="m-0 p-0 base_icon4 text-center">
                <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image4_border", loading: "lazy", title: "不明") %>
                <%= image_tag("icon/#{icon_number}.svg", alt: "generation_blank", class: "icon_on_icon4", loading: "lazy", title: "不明") %>
              </div>
            <% elsif Time.now.year - visitor.birthday.year <= 25 %>
              <% if Time.now.month < visitor.birthday.month %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image4_border", loading: "lazy", title: "〜24歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation10_24", class: "icon_on_icon4", loading: "lazy", title: "〜24歳") %>
                </div>
              <% else %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image4_border", loading: "lazy", title: "25〜29歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation25_29", class: "icon_on_icon4", loading: "lazy", title: "25〜29歳") %>
                </div>
              <% end %>
            <% elsif Time.now.year - visitor.birthday.year <= 30 %>
              <% if Time.now.month < visitor.birthday.month %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image4_border", loading: "lazy", title: "25〜29歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation25_29", class: "icon_on_icon4", loading: "lazy", title: "25〜29歳") %>
                </div>
              <% else %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image4_border", loading: "lazy", title: "30〜34歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon4", loading: "lazy", title: "30〜34歳") %>
                </div>
              <% end %>
            <% elsif Time.now.year - visitor.birthday.year <= 35 %>
              <% if Time.now.month < visitor.birthday.month %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image4_border", loading: "lazy", title: "30〜34歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon4", loading: "lazy", title: "30〜34歳") %>
                </div>
              <% else %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image4_border", loading: "lazy", title: "35〜39歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation35_39", class: "icon_on_icon4", loading: "lazy", title: "35〜39歳") %>
                </div>
              <% end %>
            <% elsif Time.now.year - visitor.birthday.year <= 40 %>
              <% if Time.now.month < visitor.birthday.month %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image4_border", loading: "lazy", title: "35〜39歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation35_39", class: "icon_on_icon4", loading: "lazy", title: "35〜39歳") %>
                </div>
              <% else %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image4_border", loading: "lazy", title: "40〜44歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation40_44", class: "icon_on_icon4", loading: "lazy", title: "40〜44歳") %>
                </div>
              <% end %>
            <% elsif Time.now.year - visitor.birthday.year <= 45 %>
              <% if Time.now.month < visitor.birthday.month %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image4_border", loading: "lazy", title: "40〜44歳") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation40_44", class: "icon_on_icon4", loading: "lazy", title: "40〜44歳") %>
                </div>
              <% else %>
                <div class="m-0 p-0 base_icon4 text-center">
                  <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image4_border", loading: "lazy", title: "45歳〜") %>
                  <%= image_tag("icon/#{icon_number}.svg", alt: "generation45_", class: "icon_on_icon4", loading: "lazy", title: "45歳〜") %>
                </div>
              <% end %>
            <% else %>
              <div class="m-0 p-0 base_icon4 text-center">
                <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image4_border", loading: "lazy", title: "45歳〜") %>
                <%= image_tag("icon/#{icon_number}.svg", alt: "generation45_", class: "icon_on_icon4", loading: "lazy", title: "45歳〜") %>
              </div>
            <% end %>
          <% end %>
          <strong><%= visitor.name %></strong>
        <% end %>
        さんが

        <% case notification.action %>
        <% when 'like' then %>
          <%= link_to 'あなたのレポコ', notification.report, style: "font-weight: bold;" %>
          にいいねしました。
        <% when 'comment' then %>
          <% if notification.report.user_id == visited.id %>
            <%= link_to "あなたのレポコ", notification.report, style: "font-weight: bold;" %>
          <% else %>
            <span>
              <%= link_to report_path(notification.report) do %>
                <% if notification.report.user.icon.attached? %>
                  <%= image_tag(notification.report.user.icon, alt: "icon", class: "icon_image4", loading: "lazy") %>
                <% else %>
                  <% user_number = visitor.id.digits %>
                  <% if user_number.size < 2 %>
                    <% icon_number = visitor.id %>
                  <% else %>
                    <% if user_number[0] == 0 %>
                      <% icon_number = user_number[1] * user_number[1] %>
                    <% else %>
                      <% icon_number = user_number[0] * user_number[1] %>
                    <% end %>
                  <% end %>
                  <% if notification.report.user.birthday == nil %>
                    <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image4_border", loading: "lazy") %>
                  <% elsif Time.now.year - visitor.birthday.year <= 25 %>
                    <% if Time.now.month < notification.report.user.birthday.month %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image4_border", loading: "lazy", title: "〜24歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation10_24", class: "icon_on_icon4", loading: "lazy", title: "〜24歳") %>
                      </div>
                    <% else %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image4_border", loading: "lazy", title: "25〜29歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation25_29", class: "icon_on_icon4", loading: "lazy", title: "25〜29歳") %>
                      </div>
                    <% end %>
                  <% elsif Time.now.year - notification.report.user.birthday.year <= 30 %>
                    <% if Time.now.month < notification.report.user.birthday.month %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image4_border", loading: "lazy", title: "25〜29歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation25_29", class: "icon_on_icon4", loading: "lazy", title: "25〜29歳") %>
                      </div>
                    <% else %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image4_border", loading: "lazy", title: "30〜34歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon4", loading: "lazy", title: "30〜34歳") %>
                      </div>
                    <% end %>
                  <% elsif Time.now.year - notification.report.user.birthday.year <= 35 %>
                    <% if Time.now.month < notification.report.user.birthday.month %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image4_border", loading: "lazy", title: "30〜34歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon4", loading: "lazy", title: "30〜34歳") %>
                      </div>
                    <% else %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image4_border", loading: "lazy", title: "35〜39歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation35_39", class: "icon_on_icon4", loading: "lazy", title: "35〜39歳") %>
                      </div>
                    <% end %>
                  <% elsif Time.now.year - notification.report.user.birthday.year <= 40 %>
                    <% if Time.now.month < notification.report.user.birthday.month %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image4_border", loading: "lazy", title: "35〜39歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation35_39", class: "icon_on_icon4", loading: "lazy", title: "35〜39歳") %>
                      </div>
                    <% else %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image4_border", loading: "lazy", title: "40〜44歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation40_44", class: "icon_on_icon4", loading: "lazy", title: "40〜44歳") %>
                      </div>
                    <% end %>
                  <% elsif Time.now.year - notification.report.user.birthday.year <= 45 %>
                    <% if Time.now.month < notification.report.user.birthday.month %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image4_border", loading: "lazy", title: "40〜44歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation40_44", class: "icon_on_icon4", loading: "lazy", title: "40〜44歳") %>
                      </div>
                    <% else %>
                      <div class="m-0 p-0 base_icon4 text-center">
                        <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image4_border", loading: "lazy", title: "45歳〜") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation45_", class: "icon_on_icon4", loading: "lazy", title: "45歳〜") %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="m-0 p-0 base_icon4 text-center">
                      <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image4_border", loading: "lazy", title: "45歳〜") %>
                      <%= image_tag("icon/#{icon_number}.svg", alt: "generation45_", class: "icon_on_icon4", loading: "lazy", title: "45歳〜") %>
                    </div>
                  <% end %>
                <% end %>
                <strong><%= notification.report.user.name + 'さんのレポコ' %></strong>
              <% end %>
            </span>
          <% end %>
          にコメントしました。
          <%= link_to notification.report do %>
            <p class="text-muted mb-0 mt-3">
              <% comment = Comment.find_by(id: notification.comment_id)&.comment %>
              <%= strip_tags(comment.to_s).gsub(/[\n]/,"").strip.truncate(30) %>&nbsp;&nbsp;&nbsp;…
            </p>
          <% end %>
        <% end %>
      </span>
      <small class="text-muted text-right">
        <%= time_ago_in_words(notification.created_at).upcase %>
      </small>
    </div>
  </div>
  <hr>
</div>