<% if user_signed_in? %>
  <% if current_user.already_liked?(report) %>
    <div class="like-circle">
      <div class="like-btn d-flex align-items-end" title='ストック'>
        <%= link_to report_likes_path(report), style:" text-decoration: none;", method: :delete, remote: true do %>
          <%= images_action_svg("like.svg") %>
        <% end %>
          <span class="text-danger like-counter small">&nbsp;<small><%= like_count %></small></span>
      </div>
    </div>
  <% else %>
    <div class="unlike-circle">
      <div class="unlike-btn d-flex align-items-end" title='ストック'>
        <%= link_to report_likes_path(report), style:" text-decoration: none;", method: :post, remote: true do %>
          <%= images_action_svg("unlike.svg") %>
        <% end %>
          <span class="text-muted like-counter small">&nbsp;<small><%= like_count %></small></span>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="unlike-circle">
    <div class="unlike-btn d-flex align-items-end" title='ストックするにはログインが必要です'>
      <%= link_to new_user_session_path, "data-toggle": "modal", "data-target": "#signinLikeModal" do %>
        <%= images_action_svg("unlike.svg") %>
      <% end %>
        <span class="text-muted like-counter small">&nbsp;<small><%= like_count %></small></span>
    </div>
  </div>
<% end %>

<% if false %>
  <h6>いいねしたユーザー</h6>
  <% report.liked_users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
<% end %>