<div class="container px-2">
  <div class="row">
    <div class="col-md-8 offset-md-2 profile text-color my-5">
      <% @users.each do |user| %>
        <div class="card mb-3">
          <div class="row">
            <div class="col-3 p-3">
              <% if user.icon.blank? %>
                <div class="pl-2 pb-1 pr-0 pt-2 pl-md-2 pt-md-2 pb-md-3 pr-md-1"><%= image_tag("home/noimage_eyecatch.png", class: "card-img-top rounded-circle border", alt: "Card image cap") %></div>
              <% else %>
                <img src=<%= user.icon %> class = "icon_image" %>
              <% end %>
            </div>
            <div class="col-9 pt-4">
              <h4 class="mb-3"><%= user.name %></h4>
              <small class="text-muted pb-0">
                <span class="badge badge-pill badge-light"><%= user.gender %></span>
              </small>
            </div>
          </div>
          <div class="card-body pt-0">
            <h5 class="card-title">#&nbsp;Profile</h5>
            <p class="card-text"><%= user.self_introduction %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>