<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 profile text-color">
      <div class="card mt-5">
        <div class="row">
          <div class="d-none d-sm-block col-3 pl-4 py-4">
            <div class="pt-4 pl-4">
              <% if @user.icon.blank? %>
                <%= image_tag("home/noimage_eyecatch.png", class: "icon_image2", alt: "Card image cap", loading: "lazy") %>
              <% else %>
                <%= image_tag(@user.icon.url, alt: "Card image cap", class: "icon_image2", loading: "lazy") %>
              <% end %>
            </div>
            <div class="pt-2 text-center pt-3 pl-4">
              <h6><%= @user.name %></h6>
              <small>
                <span class="small">
                  <% if @user.gender == "female" %>
                    <span class="badge badge-pill badge-light text-muted">#女</span>
                  <% else %>
                    <span class="badge badge-pill badge-light text-muted">#男</span>
                  <% end %>
                </span>
              </small>
            </div>
          </div>
          <div class="d-block d-sm-none col-3 py-3 pl-4 pr-0">
            <% if @user.icon.blank? %>
              <%= image_tag("home/noimage_eyecatch.png", class: "icon_image2", alt: "Card image cap", loading: "lazy") %>
            <% else %>
              <%= image_tag(@user.icon.url, alt: "Card image cap", class: "icon_image2", loading: "lazy") %>
            <% end %>
          </div>
          <div class="d-none d-sm-block col-9 pt-5 pb-4">
            <div class="px-1 pb-3">
              <i data-feather="hash" class="feather-icon-style3 pb-2 pl-0 pr-0 mx-0"></i><h4 class="d-inline">Profile</h4>&nbsp;&nbsp;
              <div class="d-inline">
                <i data-feather="home" class="feather-icon-style3 pl-2 pr-0 pt-1 pb-2 m-0"></i>
                <% if @user.reports.last.prefecture_at_the_time_status == "hide" %>
                  <span class="small"><span class="d-inline small text-muted"><%= "非公開" %></span></span>
                <% else %>
                  <small class="d-inline"><%= @user.reports.last.prefecture.name %></small>
                <% end %>
                <% if @user.reports.last.city_at_the_time_status == "hide" %>
                  <span class="small"><span class="d-inline small text-muted"><%= "非公開" %></span></span>
                <% else %>
                  <small class="d-inline"><%= @user.reports.last.city.name %></small>
                <% end %>
              </div>
            </div>
            <div class="py-3 pl-2 pr-4">
              <%= safe_join(@user.self_introduction.split("\n"),tag(:br)) %>
            </div>
          </div>
          <div class="d-block d-sm-none col-9 pt-4">
            <div>
              <h5 class="d-inline">&nbsp;<%= @user.name %></5>
              <small>
                <span class="small">
                  <% if @user.gender == "female" %>
                    <span class="badge badge-pill badge-light text-muted">#女</span>
                  <% else %>
                    <span class="badge badge-pill badge-light text-muted">#男</span>
                  <% end %>
                </span>
              </small>
            </div>
            <div class="d-block d-sm-none pt-2">
              <i data-feather="home" class="feather-icon-style3 pb-2 m-0"></i>
              <% if @user.reports.last.prefecture_at_the_time_status == "hide" %>
                <span class="small"><span class="d-inline small text-muted"><%= "非公開" %></span></span>
              <% else %>
                <h7 class="d-inline"><%= @user.reports.last.prefecture.name %></h7>
              <% end %>
              <% if @user.reports.last.city_at_the_time_status == "hide" %>
                <span class="small"><span class="d-inline small text-muted"><%= "非公開" %></span></span>
              <% else %>
                <h7 class="d-inline"><%= @user.reports.last.city.name %></h7>
              <% end %>
            </div>
          </div>
          <div class="d-block d-sm-none col-12 pt-3 pb-2">
            <div class="px-1 pb-2">
              <i data-feather="hash" class="feather-icon-style3 pb-2 pl-0 pr-0 mx-0"></i><h5 class="d-inline">Profile</h5>
            </div>
            <div class="p-3">
              <%= safe_join(@user.self_introduction.split("\n"),tag(:br)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>