<div class="container m-bottom">
  <div class="profile-page text-color">
    <div class="py-3">
    </div>
    <% if @user == current_user %>
      <%= link_to my_page_path do %>
        <div class="pt-0 text-right small mb-2">
          <i data-feather="user" class="feather-icon-style1 pb-1"></i>マイページ
        </div>
      <% end %>
      <%= link_to edit_user_registration_path do %>
        <div class="pt-0 text-right small">
          <i data-feather="edit-3" class="feather-icon-style1 pb-1"></i>プロフィールを編集
        </div>
      <% end %>
    <% end %>
    <div class="row main-column">
      <div class="d-none d-sm-block col-3 pl-4 py-4">
        <div class="pt-4 pl-5">
          <% if @user.icon.attached? %>
            <%=  link_to @user.icon, 'data-lightbox': @user.icon do %>
              <%= image_tag(@user.icon, alt: "icon", class: "icon_image", loading: "lazy") %>
            <% end %>
          <% else %>
            <% if @user.birthday == nil %>
              <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
            <% elsif Time.now.year - @user.birthday.year < 25 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
              <% else %>
                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 30 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
              <% else %>
                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 35 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
              <% else %>
                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 40 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
              <% else %>
                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 45 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
              <% else %>
                <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
              <% end %>
            <% else %>
              <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="d-block d-sm-none col-3 py-3 pl-4 pr-0">
        <% if @user.icon.attached? %>
          <%=  link_to @user.icon, 'data-lightbox': @user.icon do %>
            <%= image_tag(@user.icon, alt: "icon", class: "icon_image", loading: "lazy") %>
          <% end %>
        <% else %>
          <% if @user.birthday == nil %>
            <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
          <% elsif Time.now.year - @user.birthday.year < 25 %>
            <% if Time.now.month < @user.birthday.month %>
              <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
            <% else %>
              <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
            <% end %>
          <% elsif Time.now.year - @user.birthday.year < 30 %>
            <% if Time.now.month < @user.birthday.month %>
              <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
            <% else %>
              <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
            <% end %>
          <% elsif Time.now.year - @user.birthday.year < 35 %>
            <% if Time.now.month < @user.birthday.month %>
              <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
            <% else %>
              <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
            <% end %>
          <% elsif Time.now.year - @user.birthday.year < 40 %>
            <% if Time.now.month < @user.birthday.month %>
              <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
            <% else %>
              <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
            <% end %>
          <% elsif Time.now.year - @user.birthday.year < 45 %>
            <% if Time.now.month < @user.birthday.month %>
              <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
            <% else %>
              <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
            <% end %>
          <% else %>
            <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
          <% end %>
        <% end %>
      </div>
      <div class="d-none d-sm-block col-9 pt-5 pb-4">
        <div class="d-flex align-items-center pb-3">
          <h4 class="mb-0">
            <% if @user.birthday == nil %>
              <%= image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明") %>
            <% elsif Time.now.year - @user.birthday.year < 25 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳") %>
              <% else %>
                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 30 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
              <% else %>
                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 35 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
              <% else %>
                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 40 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
              <% else %>
                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year < 45 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
              <% else %>
                <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
              <% end %>
            <% else %>
              <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
            <% end %>
            <span class="small"><%= @user.name %></span>&nbsp;&nbsp;
          </h6>
          <small>
            <span class="small">
              <% if @user.gender == "female" %>
                <span class="badge badge-pill badge-light text-muted">女性</span>
              <% elsif @user.gender == "male" %>
                <span class="badge badge-pill badge-light text-muted">男性</span>
              <% else %>
              <% end %>
            </span>
          </small>
        </div>
        <div class="px-1 pb-3">
          <h4 class="d-inline">Profile</h4>&nbsp;&nbsp;
          <div class="d-inline">
            <% if @user.reports.present? %>
              <i data-feather="home" class="feather-icon-style3 pl-2 pr-0 pt-1 pb-2 m-0"></i>
              <% if @user.reports.first.prefecture_at_the_time_status == "hide" %>
                <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(都道府県)</span></span>
              <% else %>
                <small class="d-inline"><%= link_to "##{@user.reports.first.prefecture.name}", "/users_/#{@user.reports.first.city.prefecture.name_alphabet}", class: "text-dark" %></small>
              <% end %>
              <% if @user.reports.first.city_at_the_time_status == "hide" %>
                <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(市区町村)</span></span>
              <% else %>
                <small class="d-inline"><%= link_to "##{@user.reports.first.city.name}", "/users_/#{@user.reports.first.city.prefecture.name_alphabet}/#{@user.reports.first.city.name_alphabet}", class: "text-dark" %></small>
              <% end %>
            <% end %>
          </div>
          <div class="px-2 py-1 small">
            <% if @user.link.present? %>
              <i data-feather="link" class="feather-icon-style1 pr-1"></i><%= text_url_to_link(h(@user.link)).html_safe %>
            <% end %>
          </div>
        </div>
        <div class="py-3 pl-2 pr-4">
          <% if @user.first_age_to_start.present? || @user.first_age_to_start_art.present? || @user.number_of_aih.present? || @user.all_number_of_sairan.present? || @user.all_number_of_transplants.present? || @user.all_cost.present? %>
            <div class="row mb-5 pl-3">
              <% if @user.first_age_to_start.present? %>
                <div class="col-sm-4 px-0">
                  <p class="mb-0 small font-weight-bold font-weight-bold"><span class="small text-muted">妊活開始:</span>&nbsp;<%= @user.str_first_age_to_start(@user.first_age_to_start) %></p>
                </div>
              <% end %>
              <% if @user.first_age_to_start_art.present? %>
                <div class="col-sm-4 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">高度治療開始:</span>&nbsp;<%= @user.str_first_age_to_start_art(@user.first_age_to_start_art) %></p>
                </div>
              <% end %>
              <% if @user.number_of_aih.present? %>
                <div class="col-sm-4 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">人工授精:</span>&nbsp;<%= @user.str_number_of_aih(@user.number_of_aih) %></p>
                </div>
              <% end %>
              <% if @user.all_number_of_sairan.present? %>
                <div class="col-sm-4 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">全採卵回数:</span>&nbsp;<%= @user.str_all_number_of_sairan(@user.all_number_of_sairan) %></p>
                </div>
              <% end %>
              <% if @user.all_number_of_transplants.present? %>
                <div class="col-sm-4 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">全移植回数:</span>&nbsp;<%= @user.str_all_number_of_transplants(@user.all_number_of_transplants) %></p>
                </div>
              <% end %>
              <% if @user.all_cost.present? %>
                <div class="col-sm-4 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">治療費総額:</span>&nbsp;<%= @user.str_all_cost(@user.all_cost) %></p>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if @user.self_introduction.present? %>
            <%= text_url_to_link(h(safe_join(@user.self_introduction.split("\n"),tag(:br)))).html_safe %>
          <% else %>
            <% if @user == current_user %>
              <h6 class="text-muted">プロフィールはまだ登録されていません。
              <br><br>右上の「プロフィールを編集」から登録が可能です。ぜひ詳しいプロフィールを載せましょう！</h6>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="d-block d-sm-none col-9 pt-3">
        <div>
          <h5 class="d-inline">
            <% if @user.birthday == nil %>
              <%= image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明") %>
            <% elsif Time.now.year - @user.birthday.year <= 25 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳") %>
              <% else %>
                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year <= 30 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
              <% else %>
                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year <= 35 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
              <% else %>
                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year <= 40 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
              <% else %>
                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
              <% end %>
            <% elsif Time.now.year - @user.birthday.year <= 45 %>
              <% if Time.now.month < @user.birthday.month %>
                <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
              <% else %>
                <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
              <% end %>
            <% else %>
              <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
            <% end %>
            <span class="small"><span class="small"><%= strip_tags(@user.name).gsub(/[\n]/,"").strip.truncate(20) %></span></span>
          </5>
          <small>
            <span class="small">
              <% if @user.gender == "female" %>
                <span class="badge badge-pill badge-light text-muted">女性</span>
              <% elsif @user.gender == "male" %>
                <span class="badge badge-pill badge-light text-muted">男性</span>
              <% else %>
              <% end %>
            </span>
          </small>
        </div>
        <div class="d-block d-sm-none pt-2 pb-0">
          <% if @user.reports.present? %>
            <i data-feather="home" class="feather-icon-style3 pb-2 m-0"></i>
            <% if @user.reports.first.prefecture_at_the_time_status == "hide" %>
              <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(都道府県)</span></span>
            <% else %>
              <h7 class="d-inline"><%= link_to "##{@user.reports.first.prefecture.name}", "/users_/#{@user.reports.first.city.prefecture.name_alphabet}", class: "text-dark" %></h7>
            <% end %>
            <% if @user.reports.first.city_at_the_time_status == "hide" %>
              <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(市区町村)</span></span>
            <% else %>
              <h7 class="d-inline"><%= link_to "##{@user.reports.first.city.name}", "/users_/#{@user.reports.first.city.prefecture.name_alphabet}/#{@user.reports.first.city.name_alphabet}", class: "text-dark" %></h7>
            <% end %>
          <% end %>
        </div>
        <div class="px-1 py-0 mt-0 small">
          <% if @user.link.present? %>
            <i data-feather="link" class="feather-icon-style1 pl-0 pr-1"></i><%= text_url_to_link(h(@user.link)).html_safe %>
          <% end %>
        </div>
      </div>
      <div class="d-block d-sm-none col-12 pt-3 pb-3">
        <div class="px-0 pb-2">
          <h5 class="d-inline">Profile</h5>
        </div>
        <% if @user.first_age_to_start.present? || @user.first_age_to_start_art.present? || @user.number_of_aih.present? || @user.all_number_of_sairan.present? || @user.all_number_of_transplants.present? || @user.all_cost.present? %>
          <div class="py-2 px-3 mt-0 mb-4">
            <div class="row mb-0">
              <% if @user.first_age_to_start.present? %>
                <div class="col-6 px-0">
                  <p class="mb-0 small font-weight-bold font-weight-bold"><span class="small text-muted">妊活開始:</span>&nbsp;<%= @user.str_first_age_to_start(@user.first_age_to_start) %></p>
                </div>
              <% end %>
              <% if @user.first_age_to_start_art.present? %>
                <div class="col-6 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">高度治療開始:</span>&nbsp;<%= @user.str_first_age_to_start_art(@user.first_age_to_start_art) %></p>
                </div>
              <% end %>
              <% if @user.number_of_aih.present? %>
                <div class="col-6 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">人工授精:</span>&nbsp;<%= @user.str_number_of_aih(@user.number_of_aih) %></p>
                </div>
              <% end %>
              <% if @user.all_number_of_sairan.present? %>
                <div class="col-6 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">全採卵回数:</span>&nbsp;<%= @user.str_all_number_of_sairan(@user.all_number_of_sairan) %></p>
                </div>
              <% end %>
              <% if @user.all_number_of_transplants.present? %>
                <div class="col-6 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">全移植回数:</span>&nbsp;<%= @user.str_all_number_of_transplants(@user.all_number_of_transplants) %></p>
                </div>
              <% end %>
              <% if @user.all_cost.present? %>
                <div class="col-6 px-0">
                  <p class="mb-0 small font-weight-bold"><span class="small text-muted">治療費総額:</span>&nbsp;<%= @user.str_all_cost(@user.all_cost) %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if @user.self_introduction.blank? %>
          <div class="pt-3 pb-2 px-0">
            <p class="text-muted mb-0">プロフィールは未登録です。
              <% if @user == current_user %>
                <br><br>右上「プロフィールを編集」から登録が可能です。ぜひ詳しいプロフィールを載せましょう！
              <% end %>
            </p>
          </div>
        <% end %>
        <div class="py-2 px-0">
          <% if @user.self_introduction.present? %>
            <%= text_url_to_link(h(safe_join(@user.self_introduction.split("\n"),tag(:br)))).html_safe %>
          <% end %>
        </div>
      </div>
    </div><hr>


    <div class="mt-5 pt-0 px-1 user-repoco-list main-column">
      <i data-feather="hash" class="feather-icon-style4 pb-2 pl-0 pr-0 mx-0"></i><h5 class="py-4 d-inline lead"><%= strip_tags(@user.name).gsub(/[\n]/,"").strip.truncate(14) %>さんのレポコ</h5>
      <%= render 'reports/center' %>
      <% if @user.reports.blank? %>
        <div class="px-0 py-5 text-center">
          <h4 class="text-muted">レポコはまだありません。</h4>
          <% if @user == current_user %>
            <div class="py-5 text-center">
              <%= link_to new_report_path do %>
                <button class="btn btn-outline-primary btn-raised">
                  早速レポコを作成する！
                  <i data-feather="edit" class="feather-icon-style4 mx-0 py-1 px-0"></i>
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>