<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 profile text-color">
      <div class="py-3">
      </div>
      <% if @user == current_user %>
        <%= link_to my_page_path do %>
          <div class="pt-0 text-right small mb-2">
            <i data-feather="user" class="feather-icon-style1 pb-1"></i>マイページ
          </div>
        <% end %>
        <%= link_to edit_user_registration_path do %>
          <div class="pt-0 text-right small">
            <i data-feather="edit-3" class="feather-icon-style1 pb-1"></i>プロフィールを編集
          </div>
        <% end %>
      <% end %>
      <div class="card mt-2">
        <div class="row">
          <div class="d-none d-sm-block col-3 pl-4 py-4">
            <div class="pt-4 pl-5">
              <% if @user.icon.attached? %>
                <%=  link_to @user.icon, 'data-lightbox': @user.icon do %>
                  <%= image_tag(@user.icon, alt: "icon", class: "icon_image", loading: "lazy") %>
                <% end %>
              <% else %>
                <% if @user.birthday == nil %>
                  <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                <% elsif Time.now.year - @user.birthday.year <= 25 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                  <% else %>
                    <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 30 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                  <% else %>
                    <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 35 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                  <% else %>
                    <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 40 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                  <% else %>
                    <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 45 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                  <% else %>
                    <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                  <% end %>
                <% else %>
                  <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                <% end %>
              <% end %>
            </div>
            <div class="pt-2 text-center pt-3 pl-4">
              <h6>
                <% if @user.birthday == nil %>
                  <%= image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明") %>
                <% elsif Time.now.year - @user.birthday.year <= 25 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳") %>
                  <% else %>
                    <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 30 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
                  <% else %>
                    <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 35 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
                  <% else %>
                    <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 40 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
                  <% else %>
                    <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 45 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
                  <% else %>
                    <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
                  <% end %>
                <% else %>
                  <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
                <% end %>
                <%= @user.name %>
              </h6>
              <small>
                <span class="small">
                  <% if @user.gender == "female" %>
                    <span class="badge badge-pill badge-light text-muted">#女</span>
                  <% else %>
                    <span class="badge badge-pill badge-light text-muted">#男</span>
                  <% end %>
                </span>
              </small>
            </div>
          </div>
          <div class="d-block d-sm-none col-3 py-3 pl-4 pr-0">
            <% if @user.icon.attached? %>
              <%=  link_to @user.icon, 'data-lightbox': @user.icon do %>
                <%= image_tag(@user.icon, alt: "icon", class: "icon_image", loading: "lazy") %>
              <% end %>
            <% else %>
              <% if @user.birthday == nil %>
                <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
              <% elsif Time.now.year - @user.birthday.year <= 25 %>
                <% if Time.now.month < @user.birthday.month %>
                  <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                <% else %>
                  <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                <% end %>
              <% elsif Time.now.year - @user.birthday.year <= 30 %>
                <% if Time.now.month < @user.birthday.month %>
                  <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                <% else %>
                  <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                <% end %>
              <% elsif Time.now.year - @user.birthday.year <= 35 %>
                <% if Time.now.month < @user.birthday.month %>
                  <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                <% else %>
                  <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                <% end %>
              <% elsif Time.now.year - @user.birthday.year <= 40 %>
                <% if Time.now.month < @user.birthday.month %>
                  <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                <% else %>
                  <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                <% end %>
              <% elsif Time.now.year - @user.birthday.year <= 45 %>
                <% if Time.now.month < @user.birthday.month %>
                  <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                <% else %>
                  <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                <% end %>
              <% else %>
                <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
              <% end %>
            <% end %>
          </div>
          <div class="d-none d-sm-block col-9 pt-5 pb-4">
            <div class="px-1 pb-3">
              <i data-feather="hash" class="feather-icon-style3 pb-2 pl-0 pr-0 mx-0"></i><h4 class="d-inline">Profile</h4>&nbsp;&nbsp;
              <div class="d-inline">
                <% if @user.reports.present? %>
                  <i data-feather="home" class="feather-icon-style3 pl-2 pr-0 pt-1 pb-2 m-0"></i>
                  <% if @user.reports.last.prefecture_at_the_time_status == "hide" %>
                    <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(都道府県)</span></span>
                  <% else %>
                    <small class="d-inline"><%= @user.reports.last.prefecture.name %></small>
                  <% end %>
                  <% if @user.reports.last.city_at_the_time_status == "hide" %>
                    <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(市区町村)</span></span>
                  <% else %>
                    <small class="d-inline"><%= @user.reports.last.city.name %></small>
                  <% end %>
                <% end %>
              </div>
              <div class="px-2 py-1 small">
                <% if @user.link.present? %>
                  <i data-feather="link" class="feather-icon-style1 pr-1"></i><%= text_url_to_link(h(@user.link)).html_safe %>
                <% end %>
              </div>
            </div>
            <div class="py-3 pl-2 pr-4">
              <% if @user.self_introduction.present? %>
                <%= text_url_to_link(h(safe_join(@user.self_introduction.split("\n"),tag(:br)))).html_safe %>
              <% else %>
                <h6 class="text-muted">プロフィールはまだ登録されていません。
                  <% if @user == current_user %>
                    <br><br>右上の「プロフィールを編集」から登録が可能です。ぜひ詳しいプロフィールを載せましょう！
                  <% end %>
                </h6>
              <% end %>
            </div>
          </div>
          <div class="d-block d-sm-none col-9 pt-3">
            <div>
              <h5 class="d-inline">
                <% if @user.birthday == nil %>
                  <%= image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明") %>
                <% elsif Time.now.year - @user.birthday.year <= 25 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳") %>
                  <% else %>
                    <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 30 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳") %>
                  <% else %>
                    <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 35 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳") %>
                  <% else %>
                    <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 40 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳") %>
                  <% else %>
                    <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
                  <% end %>
                <% elsif Time.now.year - @user.birthday.year <= 45 %>
                  <% if Time.now.month < @user.birthday.month %>
                    <%= image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳") %>
                  <% else %>
                    <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
                  <% end %>
                <% else %>
                  <%= image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜") %>
                <% end %>
                <%= @user.name %>
              </5>
              <small>
                <span class="small">
                  <% if @user.gender == "female" %>
                    <span class="badge badge-pill badge-light text-muted">#女</span>
                  <% else %>
                    <span class="badge badge-pill badge-light text-muted">#男</span>
                  <% end %>
                </span>
              </small>
            </div>
            <div class="d-block d-sm-none pt-2 pb-0">
              <% if @user.reports.present? %>
                <i data-feather="home" class="feather-icon-style3 pb-2 m-0"></i>
                <% if @user.reports.last.prefecture_at_the_time_status == "hide" %>
                  <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(都道府県)</span></span>
                <% else %>
                  <h7 class="d-inline"><%= @user.reports.last.prefecture.name %></h7>
                <% end %>
                <% if @user.reports.last.city_at_the_time_status == "hide" %>
                  <span class="small"><span class="d-inline small text-muted"><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開&nbsp;(市区町村)</span></span>
                <% else %>
                  <h7 class="d-inline"><%= @user.reports.last.city.name %></h7>
                <% end %>
              <% end %>
            </div>
            <div class="px-1 py-0 mt-0 small">
              <% if @user.link.present? %>
                <i data-feather="link" class="feather-icon-style1 pl-0 pr-1"></i><%= text_url_to_link(h(@user.link)).html_safe %>
              <% end %>
            </div>
          </div>
          <div class="d-block d-sm-none col-12 pt-3 pb-2">
            <div class="px-1 pb-2">
              <i data-feather="hash" class="feather-icon-style3 pb-2 pl-0 pr-0 mx-0"></i><h5 class="d-inline">Profile</h5>
            </div>
            <div class="py-2 px-4">
              <% if @user.self_introduction.present? %>
                <%= text_url_to_link(h(safe_join(@user.self_introduction.split("\n"),tag(:br)))).html_safe %>
              <% else %>
                <p class="text-muted">プロフィールは未登録です。
                  <% if @user == current_user %>
                    <br><br>右上「プロフィールを編集」から登録が可能です。ぜひ詳しいプロフィールを載せましょう！
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 pt-0 px-1 user-repoco-list">
        <i data-feather="hash" class="feather-icon-style4 pb-2 pl-0 pr-0 mx-0"></i><h5 class="py-4 d-inline lead"><%= @user.name %>さんのレポコ</h5>
        <div class="tab-pane fade show active mt-0 pt-0" id="repoco-released" role="tabpanel" aria-labelledby="repoco-released-tab">
          <div class="pt-3">
            <% @user.reports.each do |report| %>
              <% if report.user === current_user %>
                <div class="row">
                  <div class="card col-12 mb-4 pb-0 px-0 shadow-none">
                    <div class="card-body px-2">
                      <div class="media-body px-2">
                        <div class="row">
                          <div class="col-3 pl-0 text-center px-0">
                            <div class="d-none d-lg-block px-0">
                              <%= link_to user_path(report.user_id), data: { "turbolinks" => false } do %>
                                <div class="icon-field">
                                  <% if report.user.icon.attached? %>
                                    <%= image_tag(report.user.icon, class:"icon_image") %>
                                  <% else %>
                                    <% if report.treatment_end_age == nil %>
                                      <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                                    <% elsif report.treatment_end_age < 24 %>
                                      <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                                    <% elsif report.treatment_end_age < 29 %>
                                      <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                                    <% elsif report.treatment_end_age < 34 %>
                                      <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                                    <% elsif report.treatment_end_age < 39 %>
                                      <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                                    <% elsif report.treatment_end_age < 44 %>
                                      <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                                    <% else %>
                                      <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                                    <% end %>
                                  <% end %>
                                </div>
                              <% end %>
                              <div class="align-items-center text-center pt-2">
                                <p class="mb-0 pb-1">
                                  <% if report.treatment_end_age == nil %>
                                    <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 24 %>
                                    <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 29 %>
                                    <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 34 %>
                                    <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 39 %>
                                    <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 44 %>
                                    <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳"), user_path(report.user_id) %>
                                  <% else %>
                                    <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜"), user_path(report.user_id) %>
                                  <% end %>
                                  <%= link_to report.user.name, user_path(report.user_id) %>
                                </p>
                                <p class="text-center">
                                  <% if report.user.gender == "female" %>
                                    <span class="badge badge-pill badge-light text-muted p-0">女</span>
                                  <% else %>
                                    <span class="badge badge-pill badge-light text-muted p-0">男</span>
                                  <% end %>
                                  <% unless report.treatment_end_age.blank? %>
                                    <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to report.treatment_end_age, "/category/age/#{report.treatment_end_age}", class: "text-muted" %>歳</span>
                                  <% end %>
                                  <% if report.prefecture_at_the_time_status == "hide" %>
                                    <span class="small text-muted"><small><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開</small></span>
                                  <% else %>
                                    <span class="badge badge-pill badge-light p-0"><%= link_to report.city.prefecture.name, "/category/prefecture/#{report.city.prefecture.name}", class: "text-muted" %></span>
                                  <% end %>
                                  <% if report.city_at_the_time_status == "hide" %>
                                    <span class="small text-muted"><small><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開</small></span>
                                  <% else %>
                                  <span class="badge badge-pill badge-light p-0"><%= link_to report.city.name, "/category/city/#{report.city.name}", class: "text-muted" %></span>
                                  <% end %>
                                  <span class="badge badge-pill badge-light p-0 text-muted"><%= report.str_work_style %></span>
                                </p>
                              </div>
                            </div>
                            <div class="d-sm d-lg-none px-2">
                              <%= link_to user_path(report.user_id), data: { "turbolinks" => false } do %>
                                <div class="icon-field">
                                  <% if report.user.icon.attached? %>
                                    <%= image_tag(report.user.icon, class:"icon_image") %>
                                  <% else %>
                                    <% if report.treatment_end_age == nil %>
                                      <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                                    <% elsif report.treatment_end_age < 24 %>
                                      <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                                    <% elsif report.treatment_end_age < 29 %>
                                      <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                                    <% elsif report.treatment_end_age < 34 %>
                                      <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                                    <% elsif report.treatment_end_age < 39 %>
                                      <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                                    <% elsif report.treatment_end_age < 44 %>
                                      <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                                    <% else %>
                                      <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                                    <% end %>
                                  <% end %>
                                </div>
                              <% end %>
                              <div class="small align-items-center text-center pt-0">
                                <p class="mb-0">
                                  <% if report.treatment_end_age == nil %>
                                    <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "15px", class: "img-fluid", loading: "lazy", title: "不明"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 24 %>
                                    <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "15px", class: "img-fluid", loading: "lazy", title: "〜24歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 29 %>
                                    <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "15px", class: "img-fluid", loading: "lazy", title: "25〜29歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 34 %>
                                    <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "15px", class: "img-fluid", loading: "lazy", title: "30〜34歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 39 %>
                                    <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "15px", class: "img-fluid", loading: "lazy", title: "35〜39歳"), user_path(report.user_id) %>
                                  <% elsif report.treatment_end_age < 44 %>
                                    <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "15px", class: "img-fluid", loading: "lazy", title: "40〜44歳"), user_path(report.user_id) %>
                                  <% else %>
                                    <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "15px", class: "img-fluid", loading: "lazy", title: "45歳〜"), user_path(report.user_id) %>
                                  <% end %>
                                  <%= link_to report.user.name, user_path(report.user_id) %>
                                </p>
                                <p class="text-center m-0 py-0">
                                  <% if report.user.gender == "female" %>
                                    <span class="badge badge-pill badge-light text-muted p-0"><%= "女" %></span>
                                  <% else %>
                                    <span class="badge badge-pill badge-light text-muted p-0"><%= "男" %></span>
                                  <% end %>
                                  <% if report.treatment_end_age.present? %>
                                    <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to report.treatment_end_age, "/category/age/#{report.treatment_end_age}#{"歳"}", class: "text-muted" %>歳</span>
                                  <% end %>
                                </p>
                                <p class="text-center m-0 py-0">
                                  <% if report.prefecture_at_the_time_status == "hide" %>
                                    <span class="small text-muted">−</span>
                                  <% else %>
                                    <span class="small text-muted"><%= link_to report.city.prefecture.name, "/category/prefecture/#{report.city.prefecture.name}", class: "text-muted" %></span>
                                  <% end %>
                                  <% if report.city_at_the_time_status == "hide" %>
                                    <span class="small text-muted">−</span>
                                  <% else %>
                                    <span class="small text-muted"><%= link_to report.city.name, "/category/city/#{report.city.name}", class: "text-muted" %></span>
                                  <% end %>
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-9 pl-0">
                            <div class="date mb-0 pt-0 px-0 d-flex justify-content-between">
                              <small class="text-muted d-none d-sm-block">
                                <% unless report.current_state.blank? %>
                                  <%= report.str_current_state %>&nbsp;&nbsp;
                                <% end %>
                                <% unless report.year_of_treatment_end.blank? %>
                                  <%= report.year_of_treatment_end.year %>年終了
                                <% end %>
                                <% unless report.fertility_treatment_number.blank? %>
                                  <%= report.str_fertility_treatment_number %>&nbsp;&nbsp;
                                <% end %>
                              </small>
                              <small class="text-muted d-block d-sm-none">
                                <% unless report.current_state.blank? %>
                                  <%= report.str_current_state %>&nbsp;&nbsp;
                                <% end %>
                                <% unless report.year_of_treatment_end.blank? %>
                                  <%= report.year_of_treatment_end.year %>年終了
                                <% end %>
                              </small>
                              <small class="text-muted">
                                <%= report.created_at.to_s(:datetime_jp) %>
                              </small>
                            </div>
                            <div class="d-none d-sm-block">
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <h5 class="mb-0 mt-2 mx-0 mb-1">
                                  <% if report.treatment_end_age %>
                                    <%= report.treatment_end_age %>歳&nbsp;
                                  <% end %>
                                  <% if report.status == "nonreleased" %>
                                    <span class="text-primary">【<i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開】</span>
                                  <% end %>
                                    <%= report.clinic.name %>のレポコ</h5>
                              <% end %>
                            </div>
                            <div class="d-block d-sm-none">
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <h6 class="mb-0 mt-2 mx-0 mb-1">
                                  <% if report.treatment_end_age %>
                                    <%= report.treatment_end_age %>歳&nbsp;
                                  <% end %>
                                  <% if report.status == "nonreleased" %>
                                    <span class="text-primary">【<i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開】</span>
                                  <% end %>
                                  <%= report.clinic.name %>のレポコ</h6>
                              <% end %>
                            </div>
                            <div class="d-none d-sm-block justify-content-start mr-2">
                              <div class="personaldata-badge pr-2">
                                <span class="badge badge-light text-muted"><%= report.str_cost %></span>
                                <% inspections = report.inspections.shuffle.sample(1) %>
                                <% inspections.each do |inspection| %>
                                  <span class="badge badge-light text-muted"><%= inspection.name %></span>
                                <% end %>
                                <% supplements = report.supplements.shuffle.sample(1) %>
                                <% supplements.each do |supplement| %>
                                  <span class="badge badge-light text-muted"><%= supplement.name %></span>
                                <% end %>
                              </div>
                            </div>
              
                            <div>
                              <div class="d-lg-flex align-items-center justify-content-start mt-0 mb-0 py-1">
                                <div class="d-none d-sm-block my-0 mr-2 clinic_address">
                                  <%= link_to report.clinic.name, "/category/clinics/#{report.clinic.id}", class: "small" %>&nbsp;&nbsp;<span class="badge badge-light"><%= link_to report.clinic.city.prefecture.name, "/category/clinics/prefecture/#{report.clinic.city.prefecture.name}", class:"text-muted" %></span>&nbsp;<span class="badge badge-light"><%= link_to report.clinic.city.name, "/category/clinics/city/#{report.clinic.city.name}", class:"text-muted" %></span>
                                </div>
                                <div class="d-block d-sm-none mb-0 mr-2 clinic_address">
                                  <div class="col-12 pl-0">
                                    <%= link_to report.clinic.name, "/category/clinics/#{report.clinic.id}", class: "text-muted small" %>
                                  </div>
                                </div>
                              </div>
                              <div class="d-none d-sm-block col-12 px-0">
                                <%= link_to report, data: { "turbolinks" => false } do %>
                                  <div class="pt-2 pb-1 px-1">
                                    <h6><%= report.title %></h6>
                                  </div>
                                <% end %>
                                <%= link_to report, data: { "turbolinks" => false } do %>
                                  <div class="lead-content px-2 py-1">
                                    <small><span class="text-muted"><%= strip_tags(report.content.to_s).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <div class="d-block d-sm-none col-12 px-0">
                            <%= link_to report, data: { "turbolinks" => false } do %>
                              <div class="py-2 px-3">
                                <h7><%= report.title %></h7>
                              </div>
                            <% end %>
                            <%= link_to report, data: { "turbolinks" => false } do %>
                              <div  class="lead-content px-2 py-1">
                                <small><%= strip_tags(report.content.to_s).gsub(/[\n]/,"").strip.truncate(45) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <% if report.status === "released" %>
                  <div class="row">
                    <div class="card col-12 mb-4 pb-0 px-0 shadow-none">
                      <div class="card-body px-2">
                        <div class="media-body px-2">
                          <div class="row">
                            <div class="col-3 pl-0 text-center px-0">
                              <div class="d-none d-lg-block px-0">
                                <%= link_to user_path(report.user_id), data: { "turbolinks" => false } do %>
                                  <div class="icon-field">
                                    <% if report.user.icon.attached? %>
                                      <%= image_tag(report.user.icon, class:"icon_image") %>
                                    <% else %>
                                      <% if report.treatment_end_age == nil %>
                                        <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                                      <% elsif report.treatment_end_age < 24 %>
                                        <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                                      <% elsif report.treatment_end_age < 29 %>
                                        <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                                      <% elsif report.treatment_end_age < 34 %>
                                        <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                                      <% elsif report.treatment_end_age < 39 %>
                                        <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                                      <% elsif report.treatment_end_age < 44 %>
                                        <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                                      <% else %>
                                        <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                                      <% end %>
                                    <% end %>
                                  </div>
                                <% end %>
                                <div class="align-items-center text-center pt-2">
                                  <p class="mb-0 pb-1">
                                    <% if report.treatment_end_age == nil %>
                                      <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 24 %>
                                      <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 29 %>
                                      <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 34 %>
                                      <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 39 %>
                                      <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 44 %>
                                      <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳"), user_path(report.user_id) %>
                                    <% else %>
                                      <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜"), user_path(report.user_id) %>
                                    <% end %>
                                    <%= link_to report.user.name, user_path(report.user_id) %>
                                  </p>
                                  <p class="text-center">
                                    <% if report.user.gender == "female" %>
                                      <span class="badge badge-pill badge-light text-muted p-0">女</span>
                                    <% else %>
                                      <span class="badge badge-pill badge-light text-muted p-0">男</span>
                                    <% end %>
                                    <% unless report.treatment_end_age.blank? %>
                                      <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to report.treatment_end_age, "/category/age/#{report.treatment_end_age}", class: "text-muted" %>歳</span>
                                    <% end %>
                                    <% if report.prefecture_at_the_time_status == "hide" %>
                                      <span class="small text-muted"><small><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開</small></span>
                                    <% else %>
                                      <span class="badge badge-pill badge-light p-0"><%= link_to report.city.prefecture.name, "/category/prefecture/#{report.city.prefecture.name}", class: "text-muted" %></span>
                                    <% end %>
                                    <% if report.city_at_the_time_status == "hide" %>
                                      <span class="small text-muted"><small><i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開</small></span>
                                    <% else %>
                                    <span class="badge badge-pill badge-light p-0"><%= link_to report.city.name, "/category/city/#{report.city.name}", class: "text-muted" %></span>
                                    <% end %>
                                    <span class="badge badge-pill badge-light p-0 text-muted"><%= report.str_work_style %></span>
                                  </p>
                                </div>
                              </div>
                              <div class="d-sm d-lg-none px-2">
                                <%= link_to user_path(report.user_id), data: { "turbolinks" => false } do %>
                                  <div class="icon-field">
                                    <% if report.user.icon.attached? %>
                                      <%= image_tag(report.user.icon, class:"icon_image") %>
                                    <% else %>
                                      <% if report.treatment_end_age == nil %>
                                        <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                                      <% elsif report.treatment_end_age < 24 %>
                                        <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                                      <% elsif report.treatment_end_age < 29 %>
                                        <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                                      <% elsif report.treatment_end_age < 34 %>
                                        <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                                      <% elsif report.treatment_end_age < 39 %>
                                        <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                                      <% elsif report.treatment_end_age < 44 %>
                                        <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                                      <% else %>
                                        <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                                      <% end %>
                                    <% end %>
                                  </div>
                                <% end %>
                                <div class="small align-items-center text-center pt-0">
                                  <p class="mb-0">
                                    <% if report.treatment_end_age == nil %>
                                      <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "15px", class: "img-fluid", loading: "lazy", title: "不明"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 24 %>
                                      <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "15px", class: "img-fluid", loading: "lazy", title: "〜24歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 29 %>
                                      <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "15px", class: "img-fluid", loading: "lazy", title: "25〜29歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 34 %>
                                      <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "15px", class: "img-fluid", loading: "lazy", title: "30〜34歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 39 %>
                                      <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "15px", class: "img-fluid", loading: "lazy", title: "35〜39歳"), user_path(report.user_id) %>
                                    <% elsif report.treatment_end_age < 44 %>
                                      <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "15px", class: "img-fluid", loading: "lazy", title: "40〜44歳"), user_path(report.user_id) %>
                                    <% else %>
                                      <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "15px", class: "img-fluid", loading: "lazy", title: "45歳〜"), user_path(report.user_id) %>
                                    <% end %>
                                    <%= link_to report.user.name, user_path(report.user_id) %>
                                  </p>
                                  <p class="text-center m-0 py-0">
                                    <% if report.user.gender == "female" %>
                                      <span class="badge badge-pill badge-light text-muted p-0"><%= "女" %></span>
                                    <% else %>
                                      <span class="badge badge-pill badge-light text-muted p-0"><%= "男" %></span>
                                    <% end %>
                                    <% if report.treatment_end_age.present? %>
                                      <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to report.treatment_end_age, "/category/age/#{report.treatment_end_age}#{"歳"}", class: "text-muted" %>歳</span>
                                    <% end %>
                                  </p>
                                  <p class="text-center m-0 py-0">
                                    <% if report.prefecture_at_the_time_status == "hide" %>
                                      <span class="small text-muted">−</span>
                                    <% else %>
                                      <span class="small text-muted"><%= link_to report.city.prefecture.name, "/category/prefecture/#{report.city.prefecture.name}", class: "text-muted" %></span>
                                    <% end %>
                                    <% if report.city_at_the_time_status == "hide" %>
                                      <span class="small text-muted">−</span>
                                    <% else %>
                                      <span class="small text-muted"><%= link_to report.city.name, "/category/city/#{report.city.name}", class: "text-muted" %></span>
                                    <% end %>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-9 pl-0">
                              <div class="date mb-0 pt-0 px-0 d-flex justify-content-between">
                                <small class="text-muted d-none d-sm-block">
                                  <% unless report.current_state.blank? %>
                                    <%= report.str_current_state %>&nbsp;&nbsp;
                                  <% end %>
                                  <% unless report.year_of_treatment_end.blank? %>
                                    <%= report.year_of_treatment_end.year %>年終了
                                  <% end %>
                                  <% unless report.fertility_treatment_number.blank? %>
                                    <%= report.str_fertility_treatment_number %>&nbsp;&nbsp;
                                  <% end %>
                                </small>
                                <small class="text-muted d-block d-sm-none">
                                  <% unless report.current_state.blank? %>
                                    <%= report.str_current_state %>&nbsp;&nbsp;
                                  <% end %>
                                  <% unless report.year_of_treatment_end.blank? %>
                                    <%= report.year_of_treatment_end.year %>年終了
                                  <% end %>
                                </small>
                                <small class="text-muted">
                                  <%= report.created_at.to_s(:datetime_jp) %>
                                </small>
                              </div>
                              <div class="d-none d-sm-block">
                                <%= link_to report, data: { "turbolinks" => false } do %>
                                  <h5 class="mb-0 mt-2 mx-0 mb-1">
                                    <% if report.treatment_end_age %>
                                      <%= report.treatment_end_age %>歳&nbsp;
                                    <% end %>
                                    <% if report.status == "nonreleased" %>
                                      <span class="text-primary">【<i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開】</span>
                                    <% end %>
                                      <%= report.clinic.name %>のレポコ</h5>
                                <% end %>
                              </div>
                              <div class="d-block d-sm-none">
                                <%= link_to report, data: { "turbolinks" => false } do %>
                                  <h6 class="mb-0 mt-2 mx-0 mb-1">
                                    <% if report.treatment_end_age %>
                                      <%= report.treatment_end_age %>歳&nbsp;
                                    <% end %>
                                    <% if report.status == "nonreleased" %>
                                      <span class="text-primary">【<i data-feather="lock" class="my-1 pb-1 px-1"></i>非公開】</span>
                                    <% end %>
                                    <%= report.clinic.name %>のレポコ</h6>
                                <% end %>
                              </div>
                              <div class="d-none d-sm-block justify-content-start mr-2">
                                <div class="personaldata-badge pr-2">
                                  <span class="badge badge-light text-muted"><%= report.str_cost %></span>
                                  <% inspections = report.inspections.shuffle.sample(1) %>
                                  <% inspections.each do |inspection| %>
                                    <span class="badge badge-light text-muted"><%= inspection.name %></span>
                                  <% end %>
                                  <% supplements = report.supplements.shuffle.sample(1) %>
                                  <% supplements.each do |supplement| %>
                                    <span class="badge badge-light text-muted"><%= supplement.name %></span>
                                  <% end %>
                                </div>
                              </div>
                
                              <div>
                                <div class="d-lg-flex align-items-center justify-content-start mt-0 mb-0 py-1">
                                  <div class="d-none d-sm-block my-0 mr-2 clinic_address">
                                    <%= link_to report.clinic.name, "/category/clinics/#{report.clinic.id}", class: "small" %>&nbsp;&nbsp;<span class="badge badge-light"><%= link_to report.clinic.city.prefecture.name, "/category/clinics/prefecture/#{report.clinic.city.prefecture.name}", class:"text-muted" %></span>&nbsp;<span class="badge badge-light"><%= link_to report.clinic.city.name, "/category/clinics/city/#{report.clinic.city.name}", class:"text-muted" %></span>
                                  </div>
                                  <div class="d-block d-sm-none mb-0 mr-2 clinic_address">
                                    <div class="col-12 pl-0">
                                      <%= link_to report.clinic.name, "/category/clinics/#{report.clinic.id}", class: "text-muted small" %>
                                    </div>
                                  </div>
                                </div>
                                <div class="d-none d-sm-block col-12 px-0">
                                  <%= link_to report, data: { "turbolinks" => false } do %>
                                    <div class="pt-2 pb-1 px-1">
                                      <h6><%= report.title %></h6>
                                    </div>
                                  <% end %>
                                  <%= link_to report, data: { "turbolinks" => false } do %>
                                    <div class="lead-content px-2 py-1">
                                      <small><span class="text-muted"><%= strip_tags(report.content.to_s).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                            <div class="d-block d-sm-none col-12 px-0">
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <div class="py-2 px-3">
                                  <h7><%= report.title %></h7>
                                </div>
                              <% end %>
                              <%= link_to report, data: { "turbolinks" => false } do %>
                                <div  class="lead-content px-2 py-1">
                                  <small><%= strip_tags(report.content.to_s).gsub(/[\n]/,"").strip.truncate(45) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <% if @user.reports.blank? %>
            <div class="px-0 py-5 text-center">
              <h4 class="text-muted">レポコはまだありません。</h4>
              <% if @user == current_user %>
                <div class="py-5 text-center">
                  <%= link_to new_report_path do %>
                    <button class="btn btn-outline-primary btn-raised">
                      早速レポコを作成する！
                      <i data-feather="edit" class="feather-icon-style4 mx-0 py-1 px-0"></i>
                    </button>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>