<div class="container signup-in">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-md-5 mb-md-5">
      <div class="card text-center">
        <div class="card-header">
          <h2><i class="fas fa-sign-in-alt", color="#4BAAF3"></i>&nbsp;&nbsp;ログイン</h2>
        </div>
        <div class="card-body">
          <div class="p-3">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group mt-0 text-left">
                <%= f.label :email, 'メール', for: "formGroupInput", class: "bmd-label-floating" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control validate[required, custom[email]]', id: "formGroupInput" %>
                <span class="bmd-help">登録したメールアドレスを入力してください。</span>
              </div>

              <div class="form-group mt-0 text-left">
                <%= f.label :password, 'パスワード', for: "formGroupInput", class: "bmd-label-floating" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control validate[required, minSize[6]]', id: "formGroupInput" %>
                <span class="bmd-help">登録したパスワードを入力してください(6〜16文字)</span>
              </div>
              
              <% if devise_mapping.rememberable? %>
                <div class="field checkbox text-left">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class: "pl-2" %>
                </div>
              <% end %>

              <div class="actions mt-5">
                <%= f.submit "ログイン", class: 'btn btn-raised btn-primary mx-auto d-block w-75' %>
              </div>
              
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>