<div class="container">
  <h3 class="d-sm d-md-none mt-4 mb-5 text-center">年齢「<%= @selected_age %>」のレポート一覧</h3>
  <h3 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">年齢「<%= @selected_age %>」のレポート一覧</h3>

  <div class="container main-index">
    <div class="row">
      <div class="col-md-8 offset-md-2 main-column">
        <% @age.each do |age| %>
          <div class="row">
            <div class="card col-12 mb-5 mr-3">
              <div class="card-header media">
                <%= link_to "アイコン" %>
                <div class="media-body ml-5">
                  <div class="tag-badge" %>
                  <span class="badge badge-pill badge-primary"><%= link_to age.city.prefecture.name, "/category/area/prefecture/#{age.city.prefecture.id}" %></span>
                    <% age.tags.each do |tag| %>
                      <span class="badge badge-info"><%= link_to tag.tag_name, "/category/tags/#{tag.tag_name}" %></span>
                    <% end %>
                  </div>
                  <div class="d-flex d-inline-flex mt-3">
                    <%= link_to age.user.name, user_path(age.user_id), class: "lead mr-5" %>
                    <div class="mr-5">
                      <strong><%= age.treatment_end_age %>歳</strong><br>
                      <strong><%= age.clinic.name %></strong><br>
                      <small class="text-muted">
                        <%= age.year_of_treatment_end.year %>年&nbsp;&nbsp;卒業
                      </small>
                    </div>
                    <div>
                      <small class="text-muted">
                        <div>更新:<time datetime="<%= age.updated_at %>"><%= time_ago_in_words(age.updated_at) %></time>前</div>
                        <div>投稿:<%= age.created_at.to_s(:datetime_jp) %></div>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <%= link_to age do %>
              <div class="card-body">
                <h5 class="report-title"><%= age.title %></h5>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <div>
  </div>
</div>
