<% set_meta_tags title: "全国の不妊治療クリニックでの口コミ・評判・レビュー・不妊治療の内容をステータス別で検索" %>
<% set_meta_tags description: "ステータス別で全国の不妊治療クリニックでの口コミ・評判・レビュー・不妊治療の詳細情報を探せます。" %>
<div class="container pb-5 mb-5 m-bottom">
  <h5 class="d-sm d-md-none mt-5 mb-5 text-center"><span class="marker-underline"><strong>ステータス</strong></span>&nbsp;からレポコを探す</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5 mb-5"><span class="marker-underline"><strong>ステータス</strong></span>&nbsp;からレポコを探す</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>

  <div class="row pb-5 mb-5">
    <div class="col-md-8 offset-md-2 main-column">
      <div class="rounded-lg bg-white shadow-sm p-4">
        <div class="row pl-3 pt-4">
          <%= collection_radio_buttons(:report, :current_state, @current_status, :first, :last) do |b| %>
            <div class="col-6 col-lg-4 px-0 mb-3">
              <div class="form-check pl-2">
                <%= b.label class: "radio-inline mb-1" do %>
                  <%= b.radio_button class: "q_radio", onchange: "location = 'status/' + this.value" %>
                  <%= b.text %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
