<div class="container px-2">
  <h4 class="d-sm d-md-none mt-4 mb-5 text-center">AMH「<strong><%= @selected_amh %></strong>」の<br>レポート一覧</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-5">
    <%= link_to "AMH", "/category/amh" %> &nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp; <strong><b><%= @selected_amh %></b></strong>
  </small>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">AMH「<strong><%= @selected_amh %></strong>」のレポート一覧</h4>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">
    <%= link_to "AMH", "/category/amh" %> &nbsp;&nbsp;&nbsp;>>&nbsp;&nbsp;&nbsp; <strong><b><%= @selected_amh %></b></strong>
  </small>
  
  <div class="container main-index">
    <div class="row">
      <div class="col-md-8 offset-md-2 main-column text-color">
        <% @amh.each do |amh| %>
          <div class="row">
            <div class="card col-12 mb-4 pb-0 px-2">
              <%= link_to amh do %>
              <div class="card-header media title">
                <div class="index-title d-flex align-items-center pt-3">
                  <% if amh.title.empty? %>
                    <h4 class="mb-0 mt-2 mx-lg-5"><%= amh.user.name %>さんの&nbsp;&nbsp;<%= amh.clinic.name %>(<%= amh.clinic.city.prefecture.name %>)での治療レポート</h4>
                  <% else %>
                    <h4 class="mb-0 mt-2 mx-lg-5"><%= amh.title %></h4>
                  <% end %>
                </div>
              </div>
              <% end %>
              
              <div class="card-body">
                <div class="media-body">
                  <div class="row">
                    <div class="col-4 pl-0 text-center">
                      <%= link_to "アイコン"%>
                      <div class="mt-4 mb-2 d-sm d-md-none align-items-center text-center">
                        <p><%= link_to amh.user.name, user_path(amh.user_id) %></p>
                      </div>
                    </div>
                    <div class="col-8 pl-0">
                      <div class="d-lg-flex justify-content-start">
                        <div class="d-flex justify-content-start mr-2">
                          <div class="age-badge pr-2">
                            <% unless amh.treatment_end_age.nil? %>
                            <span class="badge badge-light"><%= link_to amh.treatment_end_age, "/category/age/#{amh.treatment_end_age}" %>歳</span>
                            <% end %>
                          </div>
                          <div class="prefecture-badge">
                            <% unless amh.city.prefecture.nil? %>
                              <span class="badge badge-pill badge-primary"><%= link_to amh.city.prefecture.name, "/category/area/prefecture/#{amh.city.prefecture.id}" %></span>
                            <% end %>
                          </div>
                          <div class="city-badge">
                            <% unless amh.city.nil? %>
                              <span class="badge badge-pill badge-primary"><%= link_to amh.city.name, "/category/area/city/#{amh.city.id}" %></span>
                            <% end %>
                          </div>
                        </div>
                        <div class="tag-badge col-12 pl-0"%>
                          <% amh.tags.each_with_index do |tag, i| %>
                            <span class="badge badge-info"><%= link_to tag.tag_name, "/category/tags/#{tag.tag_name}" %></span>
                            <% break if i== 2 %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-4 pl-0 mt-4 mb-2 d-none d-md-block text-center">
                          <h6><%= link_to amh.user.name, user_path(amh.user_id) %></h6>
                        </div>
                        <div class="col-md-8 pl-0">
                          <div class="mt-3 d-lg-flex align-items-center justify-content-start">
                            <h6 class="mb-0 mr-2"><%= link_to amh.clinic.name, "/category/clinics/#{amh.clinic.id}" %></h6>
                            <div class="clinic_address"><span class="badge badge-dark"><%= link_to amh.clinic.city.prefecture.name, "/category/clinics/prefecture/#{amh.clinic.city.prefecture.name}" %></span>&nbsp;<span class="badge badge-dark"><%= link_to amh.clinic.city.name, "/category/clinics/city/#{amh.clinic.city.name}" %></span></div><br>
                          </div>
                          <small class="text-muted">
                            <% unless amh.year_of_treatment_end.nil? %>
                              <%= amh.year_of_treatment_end.year %>年&nbsp;卒業&nbsp;/
                            <% end %>
                            <span>投稿:<%= amh.created_at.to_s(:datetime_jp) %></span>
                            <span>更新:<time datetime="<%= amh.updated_at %>"><%= time_ago_in_words(amh.updated_at) %></time>前</span>
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>