<div class="container mb-5 pb-5 m-bottom">
  <h5 class="d-sm d-md-none mt-5 mb-5 text-center"><span class="marker-underline"><strong>エリア</strong></span>&nbsp;からクリニックのレポコを探す</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5 mb-5"><span class="marker-underline"><strong>エリア</strong></span>&nbsp;からクリニックのレポコを探す</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">

  <!-- カテゴリ検索hide --!>
  <% if false %>
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  <% end %>
  <!-- ここまで --!>

  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">

  <!-- カテゴリ検索hide --!>
  <% if false %>
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  <% end %>
  <!-- ここまで --!>

  </small>

  <div class="container all_factors px-0 mb-5 pb-5">
    <div class="row tab-content">
      <div class="col-md-8 offset-md-2 px-0 mb-3">
        <ul class="nav nav-tabs mb-3 px-2">
          <li class="nav-item">
            <a href="#area_prefecture" class="btn rounded-pill active" data-toggle="tab" style="font-size: 16px"><span class="font-weight-bold">都道府県</span><small><small>から探す</small></small></a>
          </il>
          <li class="nav-item">
            <a href="#area_city" class="btn rounded-pill" data-toggle="tab" style="font-size: 16px"><span class="font-weight-bold">市区町村</span><small><small>から探す</small></small></a>
          </il>
        </ul>
      </div>
      <div class="col-md-8 offset-md-2 main-column tab-pane active" id="area_prefecture">
        <div>
          <%= select_tag :area_prefecture,
                          options_from_collection_for_select(Prefecture.where(id: 1..47), :name_alphabet, :name),
                          {
                            prompt: "都道府県を選択する",
                            class: "form-control",
                            onchange: "location = 'clinics_area/' + this.value"
                          }
          %>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 main-column tab-pane" id="area_city">
        <div>
          <%= select_tag :select_prefecture,
                          options_from_collection_for_select(Prefecture.where(id: 1..47), :name_alphabet, :name),
                          {
                            prompt: "都道府県を選択し",
                            class: "form-control"
                          }
          %>
        </div><br>

        <div>
          <%= select_tag :city, options_for_select([["市区町村選択する", 99]],), { class: "form-control", onchange: "location = 'clinics_area/' + this.value" } %></div><br>
        </div>

        <script>
          $(function() {
            $('#select_prefecture').change(function() {
              $.ajax('/cities_select',
                {
                  type: 'get',
                  data: { prefecture_id: $(this).val() },
                }
              )
              .done(function(data) {
                $('#city').html(data) 
              })
              .fail(function() {
                window.alert('正しい結果を得られませんでした。');
              });
            });
          });
        </script>
      </div>
    </div>
  </div>
