<%= render 'reports/category_header' %>
<div class="container-fluid px-2">
  <h5 class="d-sm d-md-none mt-4 text-center">「<strong><%= @clinics.name %></strong>」<br>でのレポコ一覧</h5>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <%= link_to "カテゴリ一覧", category_search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<%= link_to @clinics.city.prefecture.name, "/category/clinics/prefecture/#{@clinics.city.prefecture.name}" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<strong><b><%= link_to @clinics.city.name, "/category/clinics/city/#{@clinics.city.name}" %></b></strong>
  </small>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-4">「<strong><%=  @clinics.name %></strong>」でのレポコ一覧</h4>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">
    <%= link_to "カテゴリ一覧", category_search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<%= link_to @clinics.city.prefecture.name, "/category/clinics/prefecture/#{@clinics.city.prefecture.name}" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;<strong><b><%= link_to @clinics.city.name, "/category/clinics/city/#{@clinics.city.name}" %></b></strong>
  </small>
  <div class="container-fluid main-index">
    <div class="row px-0">
      <div class="col-lg-7 offset-lg-1 col-md-9 offset-md-0 col-sm-12 col-xs-12 main-column text-color px-1">
        <% unless @clinic_all_reports == 0 %>
          <div class="alert alert-info rounded-lg mt-0 mb-2 px-3 py-1">
            <span class="small"><span class="small"><%= @clinics.name %>でのレポコは&nbsp;<%= @clinic_all_reports %>件&nbsp;あります。</span></span>
            <% unless @transfer_reports.count == 0 %>
              <br><span class="small"><span class="small">同院を過去に経由したレポコが&nbsp;<%= @transfer_reports.count %>件&nbsp;あります。</span></span>
            <% end %>
          </div>
        <% else %>
          <div class="alert alert-danger rounded-lg mt-0 mb-2 px-3 py-1">
            <span class="small"><span class="small"><%= @clinics.name %>でのレポコはまだありません。</span></span>
          </div>
          <% unless @transfer_reports.count == 0 %>
            <div class="alert alert-info rounded-lg mt-0 mb-2 px-3 py-1">
              <span class="small"><span class="small">同院を過去に経由したレポコは&nbsp;<%= @transfer_reports.count %>件&nbsp;あります。</span></span>
            </div>
          <% end %>
        <% end %>
        <input id="acd-check1" class="acd-check" type="checkbox" checked>
        <label class="acd-label small mb-0 px-1 py-2" for="acd-check1"><i data-feather="align-justify" class="text-light m-0 py-1 px-0"></i>&nbsp;<%= @clinics.name %>の基本情報</label>
        <div class="acd-content-not-overflow-y container small pt-3 mb-4">
          <table class="table p-0">
            <tr>
              <td class="result-left-column small text-center" style="width:30%">医療機関</td>
              <td style="width:70%">
                <% if @clinics.current_status == 1 %>
                  <span class="text-danger">【閉院】</span>
                <% end %>
                <%= @clinics.name %>
              </td>
            </tr>
            <tr>
              <td class="result-left-column small text-center">電話</td>
              <td><i data-feather="phone-outgoing" class="feather-icon-style1 text-primary"></i>&nbsp;&nbsp;&nbsp;<a href="tel:<%= @clinics.tel %>"><span class="text-primary"><%= @clinics.tel %></span></a></td>
            </tr>
            <tr>
              <td class="result-left-column small text-center">住所</td>
              <td>〒<%= @clinics.post_code.to_s.insert(3, " - ") %><br><%= @clinics.city.prefecture.name %><%= @clinics.city.name %><%= @clinics.address1 %><br><%= @clinics.address2 %></td>
            </tr>
            <tr>
              <td class="result-left-column small text-center">備考</td>
              <td class="small">
                <% if @clinics.pgt != 0 %>
                  <%= "・着床前診断(PGT)臨床指定施設" %><br>
                <% end %>
                <% if @clinics.japco != 0 %>
                  <%= "・PGTコンソーシアム(JAPCO)加盟施設" %><br>
                <% end %>
                <% if @clinics.jis_art != 0 %>
                  <%= "・JIS-ART登録施設" %><br>
                <% end %>
              </td>
            </tr>
          </table>
        </div>

        <ul class="nav nav-tabs justify-content-center" id="repoco_tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active px-1" id="left-tab" data-toggle="tab" href="#clinic_repoco" role="tab" aria-controls="home" aria-selected="true">最新&nbsp;<span class="small"><span class="small text-muted">(<%= @clinic_all_reports %>件)</span></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-1" id="right-tab" data-toggle="tab" href="#past_repoco" role="tab" aria-controls="profile" aria-selected="false">同院を転院した方のレポコ&nbsp;<span class="small"><span class="small text-muted">(<%= @transfer_reports.count %>件)</span></span></a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="clinic_repoco" role="tabpanel" aria-labelledby="clinic_repoco-tab">
            <%= render 'reports/center' %></div>
          <div class="tab-pane fade" id="past_repoco" role="tabpanel" aria-labelledby="past_repoco-tab">
            <% unless @transfer_reports.count == 0 %>
              <div class="alert alert-info rounded-lg mt-0 mb-2 px-3 py-1">
                <span class="small"><span class="small"> <%= @clinics.name %>を過去に経由したレポコは&nbsp;<%= @transfer_reports.count %>件&nbsp;あります。</span></span>
              </div>
            <% else %>
              <div class="alert alert-danger rounded-lg mt-0 mb-2 px-3 py-1">
                <span class="small"><span class="small"> <%= @clinics.name %>を過去に経由したレポコはまだありません。</span></span>
              </div>
            <% end %>
            <% @transfer_reports.each do |transfer_report| %>
              <div class="row">
                <div class="card col-12 my-3 pb-0 px-0 shadow-none">
                  <div class="card-body pt-3 px-2">
                    <div class="media-body px-2">
                      <div class="row">
                        <div class="col-3 pl-0 text-center px-0">
                          <%= link_to user_path(transfer_report.user_id), data: { "turbolinks" => false } do %>
                            <div class="icon-field">
                              <% if transfer_report.user.icon.attached? %>
                                <%= image_tag(transfer_report.user.icon, class:"icon_image") %>
                              <% else %>
                                <% if transfer_report.treatment_end_age == nil %>
                                  <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                                <% elsif transfer_report.treatment_end_age < 25 %>
                                  <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                                <% elsif transfer_report.treatment_end_age < 30 %>
                                  <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                                <% elsif transfer_report.treatment_end_age < 35 %>
                                  <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                                <% elsif transfer_report.treatment_end_age < 40 %>
                                  <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                                <% elsif transfer_report.treatment_end_age < 45 %>
                                  <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                                <% else %>
                                  <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                                <% end %>
                              <% end %>
                            </div>
                          <% end %>
            
                          <div class="d-none d-sm-block px-0">
                            <div class="align-items-center text-center pt-2">
                              <p class="mb-0 pb-1">
                                <% if transfer_report.treatment_end_age == nil %>
                                  <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明"), user_path(transfer_report.user_id) %>
                                <% elsif transfer_report.treatment_end_age < 25 %>
                                  <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳"), user_path(transfer_report.user_id) %>
                                <% elsif transfer_report.treatment_end_age < 30 %>
                                  <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳"), user_path(transfer_report.user_id) %>
                                <% elsif transfer_report.treatment_end_age < 35 %>
                                  <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳"), user_path(transfer_report.user_id) %>
                                <% elsif transfer_report.treatment_end_age < 40 %>
                                  <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳"), user_path(transfer_report.user_id) %>
                                <% elsif transfer_report.treatment_end_age < 45 %>
                                  <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳"), user_path(transfer_report.user_id) %>
                                <% else %>
                                  <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜"), user_path(transfer_report.user_id) %>
                                <% end %>
                                <%= link_to user_path(transfer_report.user_id) do %>
                                  <%= strip_tags(transfer_report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(12) %>
                                <% end %>
                              </p>
                              <% if false %>
                              <p class="text-center mb-0 pb-0">
                                <% if transfer_report.user.gender == "female" %>
                                  <span class="badge badge-pill badge-light text-muted p-0">女</span>
                                <% else %>
                                  <span class="badge badge-pill badge-light text-muted p-0">男</span>
                                <% end %>
                                <% unless transfer_report.treatment_end_age.blank? %>
                                  <span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to "##{transfer_report.treatment_end_age}歳", "/category/age/#{transfer_report.treatment_end_age}#{"歳"}", class: "text-muted small" %></span><br>
                                <% end %>
                                <% if transfer_report.prefecture_at_the_time_status == "hide" %>
                                  <span class="small text-muted small">−−</span>
                                <% else %>
                                  <span class="small text-muted small"><%= link_to "##{transfer_report.city.prefecture.name}", "/category/prefecture/#{transfer_report.city.prefecture.name}", class: "text-muted small" %></span>
                                <% end %>
                                <% if transfer_report.city_at_the_time_status == "hide" %>
                                  <span class="small text-muted">−−</span>
                                <% else %>
                                  < class="small text-muted"><%= link_to "##{transfer_report.city.name}", "/category/city/#{transfer_report.city.name}", class: "text-muted small" %></>
                                <% end %>
                              </p>
                              <% end %>
                            </div>
                          </div>
                          <div class="d-block d-sm-none pl-0 pr-2">
                            <p class="mb-0 text-enter">
                              <% if transfer_report.treatment_end_age == nil %>
                                <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "17px", class: "px-0", loading: "lazy", title: "不明"), user_path(transfer_report.user_id) %>
                              <% elsif transfer_report.treatment_end_age < 25 %>
                                <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "17px", class: "px-0", loading: "lazy", title: "〜24歳"), user_path(transfer_report.user_id) %>
                              <% elsif transfer_report.treatment_end_age < 30 %>
                                <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "17px", class: "px-0", loading: "lazy", title: "25〜29歳"), user_path(transfer_report.user_id) %>
                              <% elsif transfer_report.treatment_end_age < 35 %>
                                <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "17px", class: "px-0", loading: "lazy", title: "30〜34歳"), user_path(transfer_report.user_id) %>
                              <% elsif transfer_report.treatment_end_age < 40 %>
                                <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "17px", class: "px-0", loading: "lazy", title: "35〜39歳"), user_path(transfer_report.user_id) %>
                              <% elsif transfer_report.treatment_end_age < 45 %>
                                <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "17px", class: "px-0", loading: "lazy", title: "40〜44歳"), user_path(transfer_report.user_id) %>
                              <% else %>
                                <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "17px", class: "px-0", loading: "lazy", title: "45歳〜"), user_path(transfer_report.user_id) %>
                              <% end %>
                              <%= link_to user_path(transfer_report.user_id) do %>
                                <%= strip_tags(transfer_report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(8) %>
                              <% end %>
                            </p>
                          </div>
                        </div>
                        <div class="col-9 pl-0">
                          <div class="date mb-0 pt-0 px-0 d-flex justify-content-between">
                            <small class="text-muted d-none d-sm-block">
                              <% unless transfer_report.current_state.blank? %>
                                <%= transfer_report.str_current_state %>&nbsp;&nbsp;
                              <% end %>
                              <% if transfer_report.user.gender == "female" %>
                                女性&nbsp;&nbsp;
                              <% else %>
                                男性&nbsp;&nbsp;
                              <% end %>
                              <% unless transfer_report.fertility_treatment_number.blank? %>
                                <%= transfer_report.str_fertility_treatment_number %>&nbsp;&nbsp;
                              <% end %>
                            </small>
                            <small class="text-muted d-block d-sm-none">
                              <% if transfer_report.user.gender == "female" %>
                                女性&nbsp;&nbsp;
                              <% else %>
                                男性&nbsp;&nbsp;
                              <% end %>
                              <% unless transfer_report.current_state.blank? %>
                                <%= transfer_report.str_current_state %>&nbsp;&nbsp;
                              <% end %>
                            </small>
                            <small class="text-muted">
                              <%= transfer_report.created_at.to_s(:datetime_jp) %>
                            </small>
                          </div>
                          <div class="d-none d-sm-block">
                            <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                              <h5 class="mb-0 mt-2 mx-0 mb-1">
                                <% if transfer_report.treatment_end_age %>
                                  <%= transfer_report.treatment_end_age %>歳&nbsp;
                                <% end %>
                                <%= transfer_report.clinic.name %>のレポコ
                                <% unless transfer_report.year_of_treatment_end.blank? %>
                                  <span class="small"><span class="small text-muted">&nbsp;&nbsp;(<%= transfer_report.year_of_treatment_end.year %>年卒業)</span></span>
                                <% end %>
                              </h5>
                            <% end %>
                          </div>
                          <div class="d-block d-sm-none">
                            <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                              <h6 class="mb-0 mt-2 mx-0 mb-1">
                                <% if transfer_report.treatment_end_age %>
                                  <%= transfer_report.treatment_end_age %>歳&nbsp;
                                <% end %>
                                <%= transfer_report.clinic.name %>のレポコ
                                <% unless transfer_report.year_of_treatment_end.blank? %>
                                  <span class="small"><span class="small text-muted">&nbsp;&nbsp;(<%= transfer_report.year_of_treatment_end.year %>年卒業)</span></span>
                                <% end %>
                              </h6>
                            <% end %>
                          </div>
                          
                          <div class="d-none d-sm-block justify-content-start mr-2 my-2">
                            <% if false %>
                            <div class="personaldata-badge pr-2">
                              <span class="badge badge-light text-muted small"><%= transfer_report.str_cost %></span>
                              <% inspections = transfer_report.inspections.shuffle.sample(1) %>
                              <% inspections.each do |inspection| %>
                                <span class="badge badge-light text-muted small"><%= inspection.name %></span>
                              <% end %>
                              <% supplements = transfer_report.supplements.shuffle.sample(1) %>
                              <% supplements.each do |supplement| %>
                                <span class="badge badge-light text-muted small"><%= supplement.name %></span>
                              <% end %>
                            </div>
                            <% end %>
            
                            <% unless transfer_report.treatment_end_age.blank? %>
                              &nbsp;&nbsp;<span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to "##{transfer_report.treatment_end_age}歳", "/category/age/#{transfer_report.treatment_end_age}#{"歳"}", class: "text-muted small" %></span>
                            <% end %>
                            <% if transfer_report.prefecture_at_the_time_status == "hide" %>
                              &nbsp;&nbsp;<span class="small text-muted small">−−</span>
                            <% else %>
                              &nbsp;&nbsp;<span class="small text-muted small"><%= link_to "##{transfer_report.city.prefecture.name}", "/category/prefecture/#{transfer_report.city.prefecture.name}", class: "text-muted small" %></span>
                            <% end %>
                            <% if transfer_report.city_at_the_time_status == "hide" %>
                              &nbsp;&nbsp;<span class="small text-muted">−−</span>
                            <% else %>
                              &nbsp;&nbsp;<span class="small text-muted"><%= link_to "##{transfer_report.city.name}", "/category/city/#{transfer_report.city.name}", class: "text-muted small" %></span>
                            <% end %>
                          </div>
            
                          <div class="d-block d-sm-none justify-content-start mr-2 mt-2 mb-1">
                            <% unless transfer_report.treatment_end_age.blank? %>
                              &nbsp;&nbsp;<span class="badge badge-pill badge-light age-badge text-muted p-0"><%= link_to "##{transfer_report.treatment_end_age}歳", "/category/age/#{transfer_report.treatment_end_age}#{"歳"}", class: "text-muted small" %></span>
                            <% end %>
                            <% if transfer_report.prefecture_at_the_time_status == "hide" %>
                              &nbsp;&nbsp;<span class="small text-muted small">−−</span>
                            <% else %>
                              &nbsp;&nbsp;<span class="small text-muted small"><%= link_to "##{transfer_report.city.prefecture.name}", "/category/prefecture/#{transfer_report.city.prefecture.name}", class: "text-muted small" %></span>
                            <% end %>
                            <% if transfer_report.city_at_the_time_status == "hide" %>
                              &nbsp;&nbsp;<span class="small text-muted">−−</span>
                            <% else %>
                              &nbsp;&nbsp;<span class="small text-muted"><%= link_to "##{transfer_report.city.name}", "/category/city/#{transfer_report.city.name}", class: "text-muted small" %></span>
                            <% end %>
                          </div>
            
                          <div>
                            <% if false %>
                            <div class="d-lg-flex align-items-center justify-content-start mt-0 mb-0 py-1">
                              <div class="d-none d-sm-block my-0 mr-2 clinic_address">
                                <%= link_to "##{transfer_report.clinic.name}", "/category/clinics/#{transfer_report.clinic.id}", class: "small" %>&nbsp;&nbsp;<span class="badge badge-light"><%= link_to "##{transfer_report.clinic.city.prefecture.name}", "/category/clinics/prefecture/#{transfer_report.clinic.city.prefecture.name}", class:"text-muted small" %></span>&nbsp;<span class="badge badge-light"><%= link_to "##{transfer_report.clinic.city.name}", "/category/clinics/city/#{transfer_report.clinic.city.name}", class:"text-muted small" %></span>
                              </div>
                              <div class="d-block d-sm-none mb-0 mr-2 clinic_address">
                                <div class="col-12 pl-0">
                                  <%= link_to "##{transfer_report.clinic.name}", "/category/clinics/#{transfer_report.clinic.id}", class: "text-muted small" %>
                                </div>
                              </div>
                            </div>
                            <% end %>
                            <div class="d-none d-sm-block col-12 px-0">
                              <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                                <% if transfer_report.title.present? %>
                                  <div class="pt-2 pb-1 px-1">
                                    <h6><%= strip_tags(transfer_report.title.to_s).gsub(/[\n]/,"").strip.truncate(40) %></h6>
                                  </div>
                                <% end %>
                              <% end %>
                              <div class="lead-content px-2 py-1">
                                <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                                  <small><span class="text-muted"><%= strip_tags(transfer_report.summarize_content).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                                <% end %>
                              </div>
                              <div class="action_area pl-1 pr-0 py-2">
                                <div class="row">
                                  <div class="col-3 form-inline">
                                    <div class="likes_buttons_<%= transfer_report.id %>">
                                      <%= render partial: 'likes/like', locals: { report: transfer_report} %>
                                    </div>
                                  </div>
                                  <div class="col-9">
                                    <div class="pt-2 text-right">
                                      <%= link_to "##{transfer_report.clinic.name}", "/category/clinics/#{transfer_report.clinic.id}", class: "small" %>
                                      &nbsp;&nbsp;<span class="badge badge-light"><%= link_to "##{transfer_report.clinic.city.prefecture.name}", "/category/clinics/prefecture/#{transfer_report.clinic.city.prefecture.name}", class:"text-muted small" %></span>
                                      &nbsp;<span class="badge badge-light"><%= link_to "##{transfer_report.clinic.city.name}", "/category/clinics/city/#{transfer_report.clinic.city.name}", class:"text-muted small" %></span>
                                    </div>
            
                                    <% if false %>
                                    <div class="float-right"><%= link_to image_tag("icon/note_side_brandcolor_icon.png", alt: "note_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "https://note.mu/intent/post?url=#{request.url}&text=タイトル", class: 'note', title: 'note', target: '_blank' %></div>
                                    <div class="float-right mr-2"><%= link_to image_tag("icon/line_side_brandcolor_icon.png", alt: "line_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "http://line.me/R/msg/text/?#{request.url}&text=タイトル", class: 'line', title: 'LINE', target: '_blank' %></div>
                                    <div class="float-right mr-2"><%= link_to image_tag("icon/facebook_side_brandcolor_icon.png", alt: "facebook_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", class: 'facebook', title: 'Facebook', target: '_blank' %></div>
                                    <div class="float-right mr-2"><%= link_to image_tag("icon/twitter_side_brandcolor_icon.png", alt: "twitter_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "https://twitter.com/share?url=#{request.url}&text=タイトル", class: 'twitter', title: 'Twitter', target: '_blank' %></div>
                                    <% end %>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-block d-sm-none col-12 mt-2 px-1">
                          <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                            <% if transfer_report.title.present? %>
                              <div class="py-2 px-3">
                                <h7><%= strip_tags(transfer_report.title.to_s).gsub(/[\n]/,"").strip.truncate(30) %></h7>
                              </div>
                            <% end %>
                          <% end %>
                          <div  class="lead-content px-2 py-1">
                            <%= link_to transfer_report, data: { "turbolinks" => false } do %>
                              <small><%= strip_tags(transfer_report.summarize_content).gsub(/[\n]/,"").strip.truncate(45) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                            <% end %>
                          </div>
                          <div class="px-0 py-0">
                            <div class="row">
                              <div class="col-3 mt-2">
                                <div class="likes_buttons_<%= transfer_report.id %>">
                                  <%= render partial: 'likes/like', locals: { report: transfer_report} %>
                                </div>
                              </div>
                              <div class="col-9 pt-0 pl-0 pr-4 text-right">
                                <div class="pt-2 text-right">
                                  <%= link_to "##{transfer_report.clinic.name}", "/category/clinics/#{transfer_report.clinic.id}", class: "small" %>
                                </div>
                                <div class="pt-0 text-right">
                                  &nbsp;&nbsp;<span class="badge badge-light"><%= link_to "##{transfer_report.clinic.city.prefecture.name}", "/category/clinics/prefecture/#{transfer_report.clinic.city.prefecture.name}", class:"text-muted small" %></span>
                                  &nbsp;<span class="badge badge-light"><%= link_to "##{transfer_report.clinic.city.name}", "/category/clinics/city/#{transfer_report.clinic.city.name}", class:"text-muted small" %></span>
                                </div>
            
                                <% if false %>
                                <div class="float-right"><%= link_to image_tag("icon/note_side_brandcolor_icon.png", alt: "note_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "https://note.mu/intent/post?url=#{request.url}&text=タイトル", class: 'note', title: 'note', target: '_blank' %></div>
                                <div class="float-right mr-1"><%= link_to image_tag("icon/line_side_brandcolor_icon.png", alt: "line_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "http://line.me/R/msg/text/?#{request.url}&text=タイトル", class: 'line', title: 'LINE', target: '_blank' %></div>
                                <div class="float-right mr-1"><%= link_to image_tag("icon/facebook_side_brandcolor_icon.png", alt: "facebook_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", class: 'facebook', title: 'Facebook', target: '_blank' %></div>
                                <div class="float-right mr-1"><%= link_to image_tag("icon/twitter_side_brandcolor_icon.png", alt: "twitter_side_brandcolor_icon", width: "30px", class: "img-fluid", loading: "lazy"), "https://twitter.com/share?url=#{request.url}&text=タイトル", class: 'twitter', title: 'Twitter', target: '_blank' %></div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 d-none d-md-block pl-2 pr-0">
        <%= render 'reports/right' %>
      </div>
    </div>
  </div>
</div>