<% set_meta_tags description:"治療費用から全国の不妊治療クリニックでの口コミ・評判・レビュー・治療内容などの詳細情報を探せます。" %>
<div class="container pb-5 mb-5 m-bottom">
  <h5 class="d-sm d-md-none mt-5 mb-5 text-center"><span class="marker-underline"><strong>費用</strong></span>からレポコを探す</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5 mb-4"><span class="marker-underline"><strong>費用</strong></span>からレポコを探す</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>

  <div class="row pb-5 mb-5">
    <div class="col-md-8 offset-md-2 main-column">
      <div class="tab-wrap1 mt-3">
        <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">費用</label>
        <div class="tab-content1">
          <%= select "report", :cost, @total_costs.invert, { prompt: "治療費用から探す" }, { class: "form-control my-3", onchange: "location = 'cost/' + this.value + '_all'" } %>
        </div>
        <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">費用帯</label>
        <div class="tab-content1">
          <%= select "report", :cost, @range_cost.invert, { prompt: "治療費用帯から探す" }, { class: "form-control my-3", onchange: "location = 'cost/' + this.value + '_range'" } %>
        </div>
        <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-03">採卵</label>
        <div class="tab-content1">
          <%= select "report", :sairan_cost, @sairan_cost.invert, { prompt: "1回あたりの採卵費用から探す" }, { class: "form-control my-3", onchange: "location = 'cost/' + this.value + '_sairan'" } %>
        </div>
        <input id="TAB-04" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-04">移植</label>
        <div class="tab-content1">
          <%= select "report", :ishoku_cost, @ishoku_cost.invert, { prompt: "1回あたりの移植費用から探す" }, { class: "form-control my-3", onchange: "location = 'cost/' + this.value + '_ishoku'" } %>
        </div>
      </div>
    </div>
  </div>
</div>