<h3 class="d-none d-md-block col-lg-10 offset-lg-1 offset-md-0 pl-5 mt-4 mb-4 lead">&nbsp;&nbsp;カテゴリから探す</h3>
<h3 class="d-sm d-md-none mt-4 text-center mb-4 lead">カテゴリから探す</h3>
<div class="form-group mt-4 text-center mb-4 pl-4 pr-4">
  <div class="form-group d-sm d-md-none mt-4 text-center mb-4">
    <select id="select1a" class="form-control" onChange="top.location.href=value">
      <option value="#">選択してください</option>
      <option value="amh">AMH</option>
      <option value="tags">タグ</option>
      <option value="age">年齢</option>
      <option value="clinics">クリニック</option>
      <option value="factors">不妊原因</option>
      <option value="area">住まい</option>
    </select>
  </div>
</div>

<div class="row category">
  <div class="col-lg-10 offset-lg-1 col-md-12 px-5">
    <div class="row category-inner mb-5 px-3">
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_amh_path do %>
          <div class="row category-list px-5">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                AMH
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_tags_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                タグ
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_age_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                年齢
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_clinics_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                クリニック
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_factors_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                不妊原因
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_area_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                住まい
            </div>
          </div>
        <% end %>
      </div>

      <% if false %>
        <div class="col-12 d-none d-md-block">
          <small class="float-right">全てのカテゴリを見る></small>
        </div>
      <% end %>

    </div>
  </div>
</div>
