<% set_meta_tags description: "カテゴリ項目から全国の不妊治療クリニックの口コミ・評判・レビュー・治療内容の詳細情報を探せます。" %>
  <div class="m-bottom">
    <div class="py-3 d-flex justify-content-center row bg-fem">
      <div class="mt-0 col-sm-7 text-center px-0">
        <div class="mt-0 px-4">
          <div class="px-1">
            <%= form_tag(search_cl_path,:method => 'get', class: "mb-0") do %>
              <div class="p-0">
                <%= text_field_tag :keyword, "", { class: "font-weight-bold search-window", placeholder: "クリニック名から探す" } %>
              </div>
              <div class="row d-flex justify-content-center px-4">
                <div class="col-sm-8">
                  <div class="py-2 px-3">
                    <%= submit_tag '検索する', :name => nil, class: "btn btn-info w-100 rounded-lg active", style: "background-color: #2ECFC0; color: #ffffff;box-shadow: 0 1px 2px gray;" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="search-page">
      <div class="my-5">
        <h3 class="text-center lead"><span class="marker-underline">カテゴリからレポコを探す</span></h3>
      </div>

      <div class="mt-4 text-center">
        <%= link_to hack_path, class: "btn btn-outline-primary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-primary font-weight-bold">探し方</span><% end %>
        <%= link_to clinics_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">クリニック</span>&nbsp;<small><small>から探す</small></small><% end %>
        
        <% if false %>
        <%= link_to clinics_area_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">エリア</span>&nbsp;<small><small>から探す</small></small><% end %>
        <% end %>

        <%= link_to age_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">年齢</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to status_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">ステータス</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to amh_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">AMH</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to what_numbers_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">何人目治療？</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to tags_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">原因･検査</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to count_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">採卵･移植回数</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to grade_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">胚の評価</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to costs_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">治療費</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to works_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">仕事</span>&nbsp;<small><small>から探す</small></small><% end %>
        <%= link_to works_switch_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">働き方の変化</span>&nbsp;<small><small>から探す</small></small><% end %>

        <% if false %>
        <%= link_to users_area_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">住まい</span>&nbsp;<small><small>から探す</small></small><% end %>
        <% end %>
      </div>
    </div>
  </div>
