<div class="container search-page">
  <div class="search-page m-bottom">
    <div class="mt-5">
      <h3 class="d-none d-md-block pl-5 lead"><span class="marker-underline">カテゴリ</span>からレポコを探す</h3>
      <h3 class="d-sm d-md-none text-center lead"><span class="marker-underline">カテゴリ</span>からレポコを探す</h3>
    </div>

    <div class="mt-5 text-center">
      <%= link_to hack_path, class: "btn btn-outline-primary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-primary font-weight-bold">探し方</span><% end %>
      <%= link_to clinics_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">クリニック</span>&nbsp;<small><small>から探す</small></small><% end %>
      
      <% if false %>
      <%= link_to clinics_area_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">エリア</span>&nbsp;<small><small>から探す</small></small><% end %>
      <% end %>

      <%= link_to age_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">年齢</span>&nbsp;<small><small>から探す</small></small><% end %>
      <%= link_to status_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">ステータス</span>&nbsp;<small><small>から探す</small></small><% end %>
      <%= link_to amh_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">AMH</span>&nbsp;<small><small>から探す</small></small><% end %>
      <%= link_to what_numbers_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">何人目治療？</span>&nbsp;<small><small>から探す</small></small><% end %>
      <%= link_to tags_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">原因･検査</span>&nbsp;<small><small>から探す</small></small><% end %>
      <%= link_to count_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">採卵･移植回数</span>&nbsp;<small><small>から探す</small></small><% end %>
      <%= link_to grade_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">胚の評価</span>&nbsp;<small><small>から探す</small></small><% end %>
      <%= link_to costs_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">治療費</span>&nbsp;<small><small>から探す</small></small><% end %>

      <% if false %>
      <%= link_to users_area_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">住まい</span>&nbsp;<small><small>から探す</small></small><% end %>

      <%= link_to works_path, class: "btn btn-outline-secondary btn-lg rounded-pill mb-4 mx-2 h-75" do %><span class="text-dark font-weight-bold">働き方</span>&nbsp;<small><small>から探す</small></small><% end %>
      <% end %>
    </div>
  </div>
</div>