<div class="container px-2 m-bottom">
  <h5 class="d-sm d-md-none mt-5 text-center">「<span class="marker-underline"><strong>
    <% if @tag.class == SpecialInspection %>
      <%= @tag.str_special_inspection_name(@tag.name) %>
    <% else %>
      <%= @tag.name %>
    <% end %>
  </strong></span>」<br>を含むレポコ一覧</h5>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-5">

    <!-- カテゴリ検索hide --!>
    <% if false %>
    <%= link_to "カテゴリ一覧", category_search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;
    <% end %>
    <!-- ここまで --!>

    <%= link_to "不妊原因一覧", "/category/tags" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>
    &nbsp;&nbsp;&nbsp;<strong><b>
    <% if @tag.class == SpecialInspection %>
      <%= @tag.str_special_inspection_name(@tag.name) %>
    <% else %>
      <%= @tag.name %>
    <% end %>
    </b></strong>
  </small>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5">「<span class="marker-underline"><strong>
    <% if @tag.class == SpecialInspection %>
      <%= @tag.str_special_inspection_name(@tag.name) %>
    <% else %>
      <%= @tag.name %>
    <% end %>
  </strong></span>」を含むレポコ一覧</h4>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-5">

    <!-- カテゴリ検索hide --!>
    <% if false %>
    <%= link_to "カテゴリ一覧", category_search_path %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;&nbsp;
    <% end %>
    <!-- ここまで --!>

    <%= link_to "不妊原因一覧", "/category/tags" %>&nbsp;&nbsp;&nbsp;<i data-feather="chevrons-right" class="feather-icon-style1 pb-1"></i>
    &nbsp;&nbsp;&nbsp;<strong><b>
    <% if @tag.class == SpecialInspection %>
      <%= @tag.str_special_inspection_name(@tag.name) %>
    <% else %>
      <%= @tag.name %>
    <% end %>
    </b></strong>
  </small>
  <div class="container main-index">
    <div class="row px-0">
      <div class="col-lg-7 offset-lg-1 col-md-9 offset-md-0 col-sm-12 col-xs-12 main-column text-color px-1">
        <div class="mt-0 mb-3 p-0">
          <% unless @clinic_all_reports == 0 %>
            <div class="alert alert-info rounded-lg mt-0 mb-2 px-3 py-1">
              <span class="small"><span class="small">
              <% if @tag.class == SpecialInspection %>
                <%= @tag.str_special_inspection_name(@tag.name) %>
              <% else %>
                <%= @tag.name %>
              <% end %>
              の方のレポコは&nbsp;<%= @clinic_all_reports %>件&nbsp;あります。</span></span>
            </div>
          <% else %>
            <div class="alert alert-danger rounded-lg mt-0 mb-2 px-3 py-1">
              <span class="small"><span class="small">
              <% if @tag.class == SpecialInspection %>
                <%= @tag.str_special_inspection_name(@tag.name) %>
              <% else %>
                <%= @tag.name %>
              <% end %>
              の方のレポコはまだありません。</span></span>
            </div>
          <% end %>
        </div>
        <%= render 'reports/center' %>
      </div>
      <div class="col-lg-3 col-md-3 d-none d-md-block pl-2 pr-0">
        <%= render 'reports/right' %>
      </div>
    </div>
  </div>
</div>