<% set_meta_tags title: "全国の不妊治療クリニック(医療機関)での口コミ・評判・レビュー・治療内容を不妊原因・不妊検査・疾患・不育因子で検索" %>
<% set_meta_tags description: "不妊原因・不妊検査・疾患・不育因子から全国の不妊治療クリニックでの口コミ・評判・レビュー・治療内容などの詳細情報を探せます。" %>
<div class="container pb-5 mb-5 m-bottom">
  <h5 class="d-sm d-md-none mt-5 mb-5 text-center"><span class="marker-underline"><strong>不妊原因･検査</strong></span>&nbsp;からレポコを探す</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5 mb-4"><span class="marker-underline"><strong>不妊原因･検査</strong></span>&nbsp;からレポコを探す</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>

  <div class="row pb-5 mb-5">
    <div class="col-md-8 offset-md-2 main-column">
      <div class="tab-wrap1 mt-3">
        <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label px-0" for="TAB-01">不妊原因</label>
        <div class="tab-content1 pt-2">
          <% @f_funin_factors.each do |f_funin_factor| %>
            <%= link_to "/tags/factor/#{f_funin_factor.id}" do %>
              <span class="btn btn-primary border border-primary rounded-pill mr-2 mb-3 text-dark"><%= f_funin_factor.name %></span>
            <% end %>
          <% end %>
        </div>
        <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label px-0" for="TAB-02">オプション検査</label>
        <div class="tab-content1 pt-2">
          <% @special_examinations.each do |special_examination| %>
            <%= link_to "/tags/option/#{special_examination.name}" do %>
              <span class="btn btn-primary border border-primary rounded-pill mr-2 mb-3 text-dark"><%= special_examination.str_special_inspection_name(special_examination.name) %></span>
            <% end %>
          <% end %>
        </div>
        <input id="TAB-03" type="radio" name="TAB" class="tab-switch" /><label class="tab-label px-0" for="TAB-03">不育症</label>
        <div class="tab-content1 pt-2">
          <% @fuiku_inspections.each do |fuiku_inspection| %>
            <%= link_to "/tags/fuiku/#{fuiku_inspection.id}" do %>
              <span class="btn btn-primary border border-primary rounded-pill mr-2 mb-3 text-dark"><%= fuiku_inspection.name %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>