<%= render 'reports/category_header' %>
<div class="container pb-5 mb-5">
  <h5 class="d-sm d-md-none mt-4 mb-5 text-center"><strong>費用</strong>からレポコを探す</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4"><strong>費用</strong>からレポコを探す</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", category_search_path %>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", category_search_path %>
  </small>

  <div class="row all_amh pb-5 mb-5">
    <div class="col-md-8 offset-md-2 main-column">
      <%= select "report", :cost, @total_costs.invert, { prompt: "治療費用から探す" }, { class: "form-control my-5", onchange: "location = 'cost/' + this.value + 'cost'" } %>
      <%= select "report", :cost, @total_costs_range.invert, { prompt: "治療費用帯から探す" }, { class: "form-control my-5", onchange: "location = 'cost/' + this.value" } %>
      <%= select "report", :sairan_cost, @sairan_cost.invert, { prompt: "1回あたりの採卵費用から探す" }, { class: "form-control my-5", onchange: "location = 'cost/' + this.value + 'sairan'" } %>
      <%= select "report", :ishoku_cost, @ishoku_cost.invert, { prompt: "1回あたりの移植費用から探す" }, { class: "form-control my-5", onchange: "location = 'cost/' + this.value + 'ishoku'" } %>
    </div>
  </div>
</div>