<% set_meta_tags description:"治療時の仕事との両立(働き方の変化)から全国の不妊治療クリニックでの口コミ・評判・レビュー・治療内容などの詳細情報を探せます。" %>
<div class="container pb-5 mb-5 m-bottom">
  <h5 class="d-sm d-md-none mt-5 mb-5 text-center">治療当時の&nbsp;「<strong>働き方の変化</strong>」&nbsp;からレポコを探す</h5>
  <h4 class="d-none d-md-block col-md-8 offset-md-2 mt-5 mb-5">治療当時の&nbsp;「<strong>働き方の変化</strong>」&nbsp;からレポコを探す</h4>
  <small class="text-muted d-flex d-md-none col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>
  <small class="text-muted d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">
    <i data-feather="chevrons-left" class="feather-icon-style1 pb-1"></i>&nbsp;&nbsp;<%= link_to "カテゴリ一覧", search_path %>
  </small>

  <div class="row pt-5 pb-5 mb-5">
    <div class="col-md-8 offset-md-2 main-column">
      <%= collection_radio_buttons(:report, :switching_work_styles, @works_switch, :first, :last) do |b| %>
        <div class="px-0 mb-3">
          <div class="form-check pl-2">
            <%= b.label class: "radio-inline mb-1" do %>
              <%= b.radio_button class: "q_radio", onchange: "location = 'work_switch/' + this.value" %>
              <%= b.text %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>