
<div class="sticky-area px-0 py-3">
<% if false %>
<form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdSe_vOEPPdpsZI0Wn5YuYUl7LTqaYeq8x_yBLGaOhiM4eiuQ/formResponse" target="_self" method="POST" class="text-right">
  <textarea class="feedback-textarea" rows="7" placeholder="REPOCOに関するご意見やご要望をお聞かせください。どんな些細なことでもウェルカムです！" name="entry.1597222762" required></textarea><br>
  <button type="submit" class="btn btn-outline-primary feedback-sidebar">意見を送る&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button>
</form>
<% end %>
<% if user_signed_in? %>
  <% if current_user.registration_status1 || current_user.registration_status2 == true %>
    <div class="sidebar_promote_item mt-3">
      <div class="sidebar_promote_card">
        <div class="sidebar_promote_card_header row">
          <div class="col-2 sidebar_promote_card_header_left">
            <i data-feather="settings" class="pl-1" style="color: #646262"></i>
          </div>
          <div class="col-10 sidebar_promote_card_header_right">
            <% if request.path.include?("reports") %>
              <p>簡単に設定できる治療歴＆プロフィール設定はお済みですか？</p>
            <% else %>
              <p>まずは治療歴＆プロフィール設定をしましょう！<br><span class="text-muted small">（こちらに設定した情報はレポコを投稿した場合、レポコにも反映されます）</span></p>
            <% end %>
          </div>
        </div>
        <div class="sidebar_promote_card_body">
          <%= link_to edit_user_registration_path, { title: "治療歴を設定する", style: "text-decoration: none;" } do %>
            <button class="green_btn">設定する</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="sidebar_promote_item mt-3">
    <div class="sidebar_promote_card">
      <div class="sidebar_promote_card_header row">
        <div class="col-2 sidebar_promote_card_header_left">
          <i data-feather="heart" class="pl-1" style="color: #646262"></i>
        </div>
        <div class="col-10 sidebar_promote_card_header_right">
          <p>参考になるレポコをいつでも読み返せるストック機能を利用するには&nbsp;<%= link_to "ユーザー登録", new_user_registration_path %>&nbsp;または&nbsp;<%= link_to "ログイン", new_user_session_path %>&nbsp;が必要です。ユーザー登録はこちらから10秒ほどで簡単に登録できます <i data-feather="arrow-down" class="px-1" style="color: #646262"></i></p>
        </div>
      </div>
      <div class="sidebar_promote_card_body">
        <%= link_to new_user_registration_path, { title: "ユーザー登録をする", style: "text-decoration: none;" } do %>
          <button class="green_btn">新規登録</button>
        <% end %>
        <%= link_to new_user_session_path, { title: "ログイン", style: "text-decoration: none;" } do %>
          <button class="outline_green_btn mt-3">登録済みの方はこちら</button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="sidebar_promote_item mt-4">
  <div class="sidebar_promote_card">
    <div class="sidebar_promote_card_header row">
      <div class="col-2 sidebar_promote_card_header_left">
        <i data-feather="book" class="pl-1" style="color: #646262"></i>
      </div>
      <div class="col-10 sidebar_promote_card_header_right mt-1">
        <p class="mb-0 font-weight-bold"><%= link_to "専門用語", terminology_path %></p>
      </div>
    </div>
  </div>
</div>

<div class="sidebar_rank_report mt-5">
  <% if Report.rank.present? %>
    <div class="mb-2">
      <i data-feather="trending-up" class="pr-1 text-dark"></i>&nbsp;&nbsp;<h7 class="font-weight-bold text-dark">注目レポコ</h7>
    </div>
    <% Report.rank.each do |report| %>
      <%= link_to report_path(report), data: { "turbolinks" => false }, style:"text-decoration: none;" do %>
        <div class="mb-2">
          <div class="row mb-2 rounded-lg">
            <div class="col-9 pt-2 pr-2">
              <div class="mb-3 text-dark d-flex align-items-center" style="height: 60px">
                <p class="mb-0">
                <% if report.title.present? %>
                  <small class="text-muted" style="font-size: 5px;"><%= report.clinic.name %>&nbsp;(<%= report.clinic.prefecture.name %>)</small>
                  <br><span style="font-size: 14px;"><%= strip_tags(report.title.to_s).gsub(/[\n]/,"").strip.truncate(26) %></span>
                <% else %>
                  <% if report.year_of_treatment_end.present? %>
                    <small class="text-muted" style="font-size: 5px;"><%= report.year_of_treatment_end.year %>年卒業</small>
                  <% end %>
                  <% if report.fertility_treatment_number.present? %>
                    <small class="text-muted" style="font-size: 5px;"><%= report.str_fertility_treatment_number %></small>
                  <% end %>
                  <% if report.current_state.present? %>
                    <small class="text-muted" style="font-size: 5px;"><%= report.str_current_state %></small>
                  <% end %>
                  <br><span style="font-size: 14px;"><%= report.clinic.name %><span class="text-muted" style="font-size: 5px;">(<%= report.clinic.prefecture.name %>)</span>でのレポコ</span>
                <% end %>
                </p>
              </div>
              <div class="small pb-2">
                <% if user_signed_in? %>
                  <p class="float-left mb-0 pr-2 d-inline" style="font-size:10px">
                    <% if current_user.already_liked?(report) %>
                      <%= images_action_svg("like_mobile.svg") %><span class="text-danger">&nbsp;&nbsp;<% if report.likes.present? %><%= report.likes.count %><% end %></span>
                    <% else %>
                      <%= images_action_svg("unlike_mobile.svg") %><span class="text-muted">&nbsp;&nbsp;<% if report.likes.present? %><%= report.likes.count %><% end %></span>
                    <% end %>
                  </p>
                <% else %>
                  <p class="float-left mb-0 pr-2 d-inline" style="font-size:10px">
                    <%= images_action_svg("unlike_mobile.svg") %><span class="text-muted">&nbsp;&nbsp;<% if report.likes.present? %><%= report.likes.count %><% end %></span>
                  </p>
                <% end %>
                <p class="m-0 text-muted d-flex align-items-center">
                  <span class="small"><%= report.prefecture.name %></span>&nbsp;
                  <% if report.str_treatment_end_age.present? %>
                    <span class="small"><%= report.str_treatment_end_age %></span>&nbsp;
                  <% end %>
                  <%= strip_tags(report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(8) %>
                </p>
              </div>
            </div>
            <div class="col-3 py-2 pl-0 d-flex align-items-center">
              <% if report.user.icon.attached? %>
                <%= image_tag(report.user.icon, alt: "icon", class: "icon_image2", loading: "lazy") %>
              <% else %>
                <% if report.treatment_end_age == nil %>
                  <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image2_border", loading: "lazy", title: "不明") %>
                <% elsif report.treatment_end_age < 25 %>
                  <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image2_border", loading: "lazy", title: "〜24歳") %>
                <% elsif report.treatment_end_age < 30 %>
                  <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image2_border", loading: "lazy", title: "25〜29歳") %>
                <% elsif report.treatment_end_age < 35 %>
                  <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image2_border", loading: "lazy", title: "30〜34歳") %>
                <% elsif report.treatment_end_age < 40 %>
                  <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image2_border", loading: "lazy", title: "35〜39歳") %>
                <% elsif report.treatment_end_age < 45 %>
                  <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image2_border", loading: "lazy", title: "40〜44歳") %>
                <% else %>
                  <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image2_border", loading: "lazy", title: "45歳〜") %>
                <% end %>
              <% end %>
            </div>
          </div><hr class="my-2">
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>