<% form_edit_link_alert_message = "【注意！】ページを離れますか？投稿/更新/保存のいずれかを行わずにページを離れると選択したデータや入力したデータは保存されず消えてしまいます。ご注意ください。" %>
<div class="footer container-fluid py-5">
  <div class="container px-0">
    <div class="row">
      <div class="col-md-10 offset-md-1 logo-footer">
        <% unless request.path.include?("reports/new") || request.path.include?("edit")%>
          <%= link_to image_tag("home/logo.png", alt: "repoco_logo", width: "170px", class: "img-fluid", loading: "lazy"), root_path %>
        <% else %>
          <%= link_to image_tag("home/logo.png", alt: "repoco_logo", width: "170px", class: "img-fluid", loading: "lazy"), root_path, data: {confirm: "#{form_edit_link_alert_message}"} %>
        <% end %>
      </div>
      <div class="d-none d-md-block col-md-10 offset-md-1 mt-4 mb-3 small text-muted">
        REPOCOは高度不妊治療で妊娠出産に至った方が「治療レポート(レポコ)」として足跡を残すことができるサービスです。<br>
        治療データや気持ちをいつでも振り返られることはもちろん、その貴重な情報はこれから治療に踏み出す方、そして今まさに治療中の方への光となります。<br><br>
        経験をカタチに、情報をエールに。<br><br>
        ぜひ、あなたの不妊治療体験をレポコとして残しませんか？&nbsp;&nbsp;
        <a href="" data-toggle="modal" data-target="#reportPost" title:="レポコを書く" style="text-decoration: none;">
          レポコを作成する<i data-feather="external-link" class="pt-1 pb-2"></i>
        </a>
      </div>
      <div class="d-block d-md-none col-md-10 offset-md-1 mt-4 mb-3 small text-muted">
        REPOCOは高度不妊治療で妊娠出産に至った方が「治療レポート(レポコ)」として足跡を残すことができるサービスです。<br>
        治療データや気持ちをいつでも振り返られることはもちろん、その貴重な情報はこれから治療に踏み出す方、そして今まさに治療中の方への光となります。<br><br>
        経験をカタチに、情報をエールに。<br><br>
        あなたの不妊治療体験をレポコにして残しませんか？
        <div class="mt-2">
          <a href="" data-toggle="modal" data-target="#reportPost" title:="レポコを書く" style="text-decoration: none;">
            レポコを作成する<i data-feather="external-link" class="pt-1 pb-2"></i>
          </a>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1 mt-5">
        <ul class="links list-inline">
          <% unless request.path.include?("reports/new") || request.path.include?("edit")%>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "REPOCO（レポコ）とは", repoco_path, class: "text-muted" %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "利用規約", terms_path, class: "text-muted" %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "プライバシーポリシー", privacy_path, class: "text-muted" %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "運営者情報", about_path, class: "text-muted" %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "お問い合わせ", "https://forms.gle/ZJW7qnkX4PLN7Lkc9", class: "text-muted", target: "_blank" %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "フィードバック", "https://forms.gle/tUnFiu4f8SRNyrr19", class: "text-muted", target: "_blank" %></li>
          <% else %>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "REPOCO（レポコ）とは", repoco_path, class: "text-muted", data: {confirm: "#{form_edit_link_alert_message}"} %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "利用規約", terms_path, class: "text-muted", data: {confirm: "#{form_edit_link_alert_message}"} %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "プライバシーポリシー", privacy_path, class: "text-muted", data: {confirm: "#{form_edit_link_alert_message}"} %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "運営者情報", about_path, class: "text-muted", data: {confirm: "#{form_edit_link_alert_message}"} %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "お問い合わせ", "https://forms.gle/ZJW7qnkX4PLN7Lkc9", class: "text-muted", target: "_blank", data: {confirm: "#{form_edit_link_alert_message}"} %></li>
            <li class="list-inline-item small"><i data-feather="chevron-right" class="feather-icon-style1"></i><%= link_to "フィードバック", "https://forms.gle/tUnFiu4f8SRNyrr19", class: "text-muted", target: "_blank", data: {confirm: "#{form_edit_link_alert_message}"} %></li>
          <% end %>
        </ul>
        <div class="copyright">
          <% unless request.path.include?("reports/new") || request.path.include?("edit")%>
            <span class="small text-muted">© 2020 <%= link_to "REPOCO.net", root_path, class: "text-muted" %></span>
          <% else %>
            <span class="small text-muted">© 2020 <%= link_to "REPOCO.net", root_path, class: "text-muted", data: {confirm: "#{form_edit_link_alert_message}"} %></span>
          <% end %>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1 my-5 pb-4 feedback-area">
        <form action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSdSe_vOEPPdpsZI0Wn5YuYUl7LTqaYeq8x_yBLGaOhiM4eiuQ/formResponse" target="_self" method="POST" class="text-right">
          <textarea class="feedback-textarea" rows="5" placeholder="REPOCOに関するご意見やご要望をお寄せください。より良いサービスにするべく改善をしていきます！" name="entry.1597222762" required></textarea><br>
          <button type="submit" class="btn btn-outline-primary mr-0">意見を送る&nbsp;<i data-feather="send" class="feather-icon-style1"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>