<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "治療レポート", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%=header_link_item('レポート一覧', reports_path) %>
        </li>
        <li class="nav-item">
          <%=header_link_item('クリニック', reports_path) %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ユーザー
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "マイページ", my_page_path, class: 'dropdown-item' %><br>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              <% if notice %>
                <p class="alert alert-notice"><%= notice %></p>
              <% end %>
            </div>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="navbar-btn">
                <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-info" %>
              </div>
            </li>
            <li class="nav-item">
              <div class="navbar-btn">
                <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-info" %>
              </div>
            </li>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>
</nav>