<div class="learn-more popup_area">
  <div class="d-none d-sm-block learn-more-menu">
    <div class="learn-more-head">
      <%= link_to repoco_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/logo_mark.png", width: "50px", class: "img-fluid pt-2", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">レポコ</small>
        </div>
      <% end %>
      <%= link_to faq_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/light.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">FAQ</small>
        </div>
      <% end %>
      <%= link_to make_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/writing_hand.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">作り方</small>
        </div>
      <% end %>
      <%= link_to hack_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/analysis.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">探し方</small>
        </div>
      <% end %>
      <%= link_to terms_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/book.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">利用規約</small>
        </div>
      <% end %>
      <%= link_to privacy_path, {style: "text-decoration: none;", class: "learn-more-head-item"} do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/cookie.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark"><span>PP</span></small>
        </div>
      <% end %>
      <%= link_to statistic_path, {style: "text-decoration: none;", class: "learn-more-head-item-active" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/ruler.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">指針</small>
        </div>
      <% end %>
      <%= link_to about_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/smile.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">運営</small>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-block d-sm-none learn-more-menu">
    <div class="learn-more-head">
      <%= link_to repoco_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/logo_mark.png", width: "50px", class: "img-fluid pt-2", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">レポコ</small>
        </div>
      <% end %>
      <%= link_to statistic_path, {style: "text-decoration: none;", class: "learn-more-head-item-active" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/ruler.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">指針</small>
        </div>
      <% end %>
      <%= link_to about_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/smile.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">運営</small>
        </div>
      <% end %>
      <%= link_to faq_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/light.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">FAQ</small>
        </div>
      <% end %>
      <%= link_to make_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/writing_hand.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">作り方</small>
        </div>
      <% end %>
      <%= link_to hack_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/analysis.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">探し方</small>
        </div>
      <% end %>
      <%= link_to terms_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/book.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">利用規約</small>
        </div>
      <% end %>
      <%= link_to privacy_path, {style: "text-decoration: none;", class: "learn-more-head-item"} do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/cookie.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark"><span>PP</span></small>
        </div>
      <% end %>
    </div>
  </div>

  <div class="learn-more-body">
    <div class="learn-more-body-inner">
      <div class="learn-more-body-inner-content">
        <div class="learn-more-body-inner-content-head">
          <h4 class="m-0">口コミガイドライン</h4>
        </div>
        <hr>
        <div class="learn-more-body-inner-content-body">
          <div class="px-2">
            <%= render "guideline" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>