<div class="learn-more popup_area">
  <div class="d-none d-sm-block learn-more-menu">
    <div class="learn-more-head">
      <%= link_to repoco_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/logo_mark.png", width: "50px", class: "img-fluid pt-2", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">レポコ</small>
        </div>
      <% end %>
      <%= link_to faq_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/light.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">FAQ</small>
        </div>
      <% end %>
      <%= link_to make_path, {style: "text-decoration: none;", class: "learn-more-head-item-active" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/writing_hand.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">作り方</small>
        </div>
      <% end %>
      <%= link_to hack_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/analysis.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">探し方</small>
        </div>
      <% end %>
      <%= link_to terms_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/book.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">利用規約</small>
        </div>
      <% end %>
      <%= link_to privacy_path, {style: "text-decoration: none;", class: "learn-more-head-item"} do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/cookie.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark"><span>PP</span></small>
        </div>
      <% end %>
      <%= link_to guideline_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/ruler.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">指針</small>
        </div>
      <% end %>
      <%= link_to about_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/smile.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">運営</small>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-block d-sm-none learn-more-menu">
    <div class="learn-more-head">
      <%= link_to repoco_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/logo_mark.png", width: "50px", class: "img-fluid pt-2", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">レポコ</small>
        </div>
      <% end %>
      <%= link_to make_path, {style: "text-decoration: none;", class: "learn-more-head-item-active" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/writing_hand.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">作り方</small>
        </div>
      <% end %>
      <%= link_to hack_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/analysis.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">探し方</small>
        </div>
      <% end %>
      <%= link_to terms_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/book.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">利用規約</small>
        </div>
      <% end %>
      <%= link_to privacy_path, {style: "text-decoration: none;", class: "learn-more-head-item"} do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/cookie.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark"><span>PP</span></small>
        </div>
      <% end %>
      <%= link_to guideline_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/ruler.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">指針</small>
        </div>
      <% end %>
      <%= link_to about_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/smile.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">運営</small>
        </div>
      <% end %>
      <%= link_to faq_path, {style: "text-decoration: none;", class: "learn-more-head-item" } do %>
        <div class="learn-more-head-item-image">
          <%= image_tag"home/light.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="learn-more-head-item-label small text-center">
          <small class="text-dark">FAQ</small>
        </div>
      <% end %>
    </div>
  </div>

  <div class="learn-more-body">
    <div class="learn-more-body-inner">
      <div class="learn-more-body-inner-content">
        <div class="learn-more-body-inner-content-head">
          <h4 class="m-0">レポコの作り方</h4>
        </div>
        <hr>
        <div class="learn-more-body-inner-content-body">
          <h5 class="mb-4">【新規投稿】</h5>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_1.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>画面右下にあるペン型の新規作成アイコンをタップします。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_1.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>画面右上にある「投稿」ボタンをクリックします。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_2.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>投稿画面の全体は、上半分が質問への回答形式となり、下半分が自由記述のテキスト部分となります。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_2.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>投稿画面の全体は、上半分が質問への回答形式となり、下半分が自由記述のテキスト部分となります。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_3.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>投稿/保存に最低限必要な項目は「クリニック」と「治療当時の住まい」の2つです。住まいは非公開にもできます。</p>
              <p>各タブの下に「前後ボタン」があるので、こちらで隣のタブを開くことができます。もちろん上部にあるタブをタップすれば好きなタブに移動できます。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_3.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>投稿/保存に最低限必要な項目は「クリニック」と「治療当時の住まい」の2つです。住まいは非公開にもできます。</p>
              <p>各タブの下に「前後ボタン」があるので、こちらで隣のタブを開くことができます。もちろん上部にあるタブをクリックすれば好きなタブに移動できます。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_clinic.gif", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>基本はチェックボックスなどの選択式ですが、転院歴/オプション検査/過去の採卵･移植の項目では左図のような、フォームを増減できる項目があります。</p>
              <p>フォームを増やす時は左下の「追加」ボタンを押すとフォームを増やせます
            。削除する場合には右下にある「削除」ボタンで削除できます。「非公開」にチェックすれば医療機関名を伏せることができます。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_clinic.gif", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>基本はチェックボックスなどの選択式ですが、転院歴/オプション検査/過去の採卵･移植の項目では左図のような、フォームを増減できる項目があります。</p>
              <p>フォームを増やす時は左下の「追加」ボタンを押すとフォームを増やせます
            。削除する場合には右下にある「削除」ボタンで削除できます。「非公開」にチェックすれば医療機関名を伏せることができます。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_4.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>転院歴、クリニック評価、費用タブにテキスト入力欄があります。</p>
              <p>こちらも関心度の高い項目ですのでぜひ入力してみてください。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_4.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>転院歴、クリニック評価、費用タブにテキスト入力欄があります。</p>
              <p>こちらも関心度の高い項目ですのでぜひ入力してみてください。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_repoco_text.gif", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>下半分のレポコのコアとなるテキスト部分には、治療体験をはじめ治療中の気持ちなど、ぜひ自由に記述してください。</p>
              <p>何を書けばいいか迷ってしまう場合には、上半分の回答に関連したことや、右隣タブにある「作成のヒント」をぜひ参考にしてみてください。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_repoco_text.gif", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>下半分のレポコのコアとなるテキスト部分には、治療体験をはじめ治療中の気持ちなど、ぜひ自由に記述してください。</p>
              <p>何を書けばいいか迷ってしまう場合には、上半分の回答に関連したことや、右隣タブにある「作成のヒント」をぜひ参考にしてみてください。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_6.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>テキスト欄では左記のように装飾や画像の貼付ができます。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_6.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>テキスト欄では左記のように装飾や画像の貼付ができます。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_7.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>レポコにタイトルをつけることもできます。</p>
              <p>タイトルは一覧画面での表示に反映されます。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_7.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>レポコにタイトルをつけることもできます。</p>
              <p>タイトルは一覧画面での表示に反映されます。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="howto-sm-l">
              <%= image_tag"howto/sm_8.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>投稿は画面右上にある「投稿」ボタンを押すと投稿できます。</p>
              <p>「投稿」ボタン横の「保存」ボタンを押せば下書きとして保存しておくことができます。入力の途中で時々「保存」ボタンを押してセーブしておくとさらに安心です。</p>
            </div>
            <div class="howto-pc-l">
              <%= image_tag"howto/pc_8.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>投稿は画面右上にある「投稿」ボタンを押すと投稿できます。</p>
              <p>「投稿」ボタン横の「保存」ボタンを押せば下書きとして保存しておくことができます。入力の途中で時々「保存」ボタンを押してセーブしておくとさらに安心です。</p>
            </div>
          </div>
          <h5>【下書きの更新など】</h5>
          <di class="howto-area">
            <div class="howto-sm-l-2">
              <%= image_tag"howto/sm_draft.gif", class: "img-fluid", loading: "lazy" %><hr class="my-5">
              <%= image_tag"howto/sm_9.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-sm-r">
              <p>保存した下書きは「マイページ」にあります。画面右下のアイコンをタップするとマイページに飛びます。</p>
              <p>レポコ/下書きタブに保存した非公開レポコがありますので、それを開いて、公開する場合は右上の「公開」ボタンを、編集する場合にはその隣の「編集」を押すと編集できます。</p>
              <p>編集後更新ボタンを押すと、下書きとして非公開のまま更新されます。公開する場合は更新後「公開」ボタンを押してください。</p>
              <p>公開後の編集は、編集したいレポコを開き、右上の「編集」ボタンから編集してください。非公開にしたい場合は「編集」ボタン左の「非公開」ボタンからできます。</p>
            </div>
            <div class="howto-pc-l-2">
              <%= image_tag"howto/pc_draft.gif", class: "img-fluid", loading: "lazy" %><hr class="my-5">
              <%= image_tag"howto/pc_9.png", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="howto-pc-r">
              <p>保存した下書きは「マイページ」にあります。画面右下のアイコンをタップするとマイページに飛びます。</p>
              <p>レポコ/下書きタブに保存した非公開レポコがありますので、それを開いて、公開する場合は右上の「公開」ボタンを、編集する場合にはその隣の「編集」を押すと編集できます。</p>
              <p>編集後更新ボタンを押すと、下書きとして非公開のまま更新されます。公開する場合は更新後「公開」ボタンを押してください。</p>
              <p>公開後の編集は、編集したいレポコを開き、右上の「編集」ボタンから編集してください。非公開にしたい場合は「編集」ボタン左の「非公開」ボタンからできます。</p>
            </div>
          </div>
          <div class="howto-area">
            <div class="alert alert-danger rounded-lg">
              <p class="mb-0"><span class="font-weight-bold">注意！</span><br>入力の途中に前画面に戻るなどの他画面へ遷移すると選択&入力したデータは消えてしまいます。お気をつけください！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>