<div class="container">
  <div class="row">
    <div class="col-sm-6 p-5">
      <%= image_tag "home/home_top_img.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none mb-5">
        <h4 class="mb-4 text-center">のこす&nbsp;みえる&nbsp;ふみだせる</h4>
        <p class="px-2">みんなの のこした治療レポート(&nbsp;=&nbsp;レポコ&nbsp;)をみて、ふみだそう！</p>
      </div>
      <div class="d-none d-sm-block">
        <h2 class="mb-4">のこす&nbsp;みえる&nbsp;ふみだせる</h2>
        <p class="px-5">みんなの のこした治療レポート(&nbsp;=&nbsp;レポコ&nbsp;)をみて、ふみだそう！</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none p-4 py-5">
        <%= image_tag "home/repoco_women.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
      </div>
      <div class="d-none d-sm-block">
        <h2 class="mb-4">治療データを参考にしよう</h2>
        <p class="px-5">不妊治療を卒業した方や転院した方のレポコを参考に、治療方針やクリニック選びにお役立てください。</p>
      </div>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none mb-5">
        <h4 class="mb-4 text-center">治療データを参考にしよう</h4>
        <p class="px-2">不妊治療を卒業した方や転院した方のレポコを参考に、治療方針やクリニック選びにお役立てください。</p>
      </div>
      <div class="d-none d-sm-block p-5">
        <%= image_tag "home/repoco_women.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
      </dv>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 p-5">
      <%= image_tag "home/comment_men.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none mb-5">
        <h4 class="mb-4 px-4 text-center">コメントしてみよう</h4>
        <p class="px-3">レポコの投稿者に直接コメントすることができます。</p>
      </div>
      <div class="d-none d-sm-block">
        <h2 class="mb-4">コメントしてみよう</h2>
        <p class="px-5">レポコの投稿者に直接コメントすることができます。</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none p-4 py-5">
        <%= image_tag "home/search_women.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
      </div>
      <div class="d-none d-sm-block">
        <h2 class="mb-4">カテゴリから検索してみよう</h2>
        <p class="px-5">クリニック、年齢、AMH、疾患、仕事など、いろんな角度から自身と似た方のレポコを検索できます。</p>
      </div>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none mb-5">
        <h4 class="mb-4 px-4 text-center">カテゴリから検索してみよう</h4>
        <p class="px-3">クリニック、年齢、AMH、疾患、仕事など、いろんな角度から自身と似た方のレポコを検索できます。</p>
      </div>
      <div class="d-none d-sm-block p-5">
        <%= image_tag "home/search_women.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 p-5">
      <%= image_tag "home/like.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none mb-5">
        <h4 class="mb-4 px-4 text-center">レポコをストックしよう</h4>
        <p class="px-3">ストックボタン(いいね)を押すとマイページにストックすることができます。気になったレポコをストックしておけばいつでもすぐに読みかえすことができます。</p>
      </div>
      <div class="d-none d-sm-block">
        <h2 class="mb-4">レポコをストックしよう</h2>
        <p class="px-5">ストックボタン(いいね)を押すとマイページにストックすることができます。気になったレポコをストックしておけばいつでもすぐに読みかえすことができます。</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none p-4 py-5">
        <%= image_tag "home/analysis_women.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
      </div>
      <div class="d-none d-sm-block">
        <h2 class="mb-4">統計データを参考にしよう</h2>
        <p class="px-5">統計データを自身の属性と照らし合わせることができます。(準備中)</p>
      </div>
    </div>
    <div class="col-sm-6 d-flex align-items-center justify-content-center">
      <div class="d-block d-sm-none mb-5">
        <h4 class="mb-4 px-4 text-center">統計データを参考にしよう</h4>
        <p class="px-3">統計データを自身の属性と照らし合わせることができます。(準備中)</p>
      </div>
      <div class="d-none d-sm-block p-5">
        <%= image_tag "home/analysis_women.svg", alt: "home-top-img", width: "1000px", class: "img-fluid", loading: "lazy" %>
        <div class="py-3">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 text-center">
  <h5 class="mb-4">＼&nbsp;レポコを見てみよう&nbsp;／</h5>
  <%= link_to root_path, { title: "レポコ一覧", style: "text-decoration: none;" } do %>
    <button class="brand_btn"><span style="color:#2F2E41;">レポコ一覧</span></button>
  <% end %>
</div>