<div class="popup_area m-bottom">
  <div class="first-area">
    <div class="px-2 logo_mark_area">
      <div class="row">
        <div class="d-none d-lg-block col-lg-4">
          <%= image_tag "home/repoco_example.png", alt: "home-top-img", width: "80%", class: "img-fluid", loading: "lazy" %>
        </div>
        <div class="col-12 col-lg-8">
          <div class="pt-5">
            <%= image_tag "home/logo_mark.png", alt: "home-top-img", width: "80px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="pt-3 px-2">
            <h1 class="d-none d-sm-block text-dark" style="line-height: 1.5"><strong>経験をカタチに&nbsp;&nbsp;情報をエールに</strong></h1>
            <h2 class="d-block d-sm-none text-dark" style="line-height: 1.5"><strong>経験をカタチに<br>&nbsp;&nbsp;&nbsp;&nbsp;情報をエールに</strong></h2>
          </div>
          <div class="mt-4 px-2">
            <p class="d-none d-sm-block text-muted" style="line-height: 2;">レポコは不妊治療を卒業した方が、治療経験をレポートとして残せるサービスです。<br>これから治療に踏み出す方、そして今まさに治療中の方へのエールとして<br>あなたの経験や知見をカタチにして残しませんか。</p>
            <p class="d-block d-sm-none small text-muted" style="line-height: 1.8;">レポコは不妊治療を卒業した方が、治療経験をレポートとして残せるサービスです。これから治療に踏み出す方、そして今まさに治療中の方へのエールとしてあなたの経験や知見をカタチにして残しませんか。</p>
          </div>
        </div>
        <div class="d-none d-lg-block col-lg-12 text-center">
          <%= image_tag "home/logo_mark.png", alt: "home-top-img", width: "30px", class: "img-fluid fluffy", loading: "lazy" %>
        </div>
      </div>
    </div>
  </div>

  <div class="second-area my-5">
    <div class="text-center text-dark">
      <h2 class="d-none d-sm-block mb-5 font-weight-bold">What is Repoco?</h2>
      <h4 class="d-block d-sm-none mt-5 pt-5 font-weight-bold">What is Repoco?</h4>
    </div>
    <div class="x-scroll">
      <div class="brand-color-box-rounded-area">
        <div class="brand-color-box-rounded">
          <div class="brand-color-box-rounded-head">
            <h5 class="text-center font-weight-bold">のこす</h5>
          </div>
          <div class="brand-color-box-rounded-body">
            <%= image_tag "home/book.svg", class: "img-fluid", loading: "lazy" %>
          </div>
        </div>
        <p class="brand-color-box-rounded-inner my-3 small text-muted" style="line-height: 1.8;">あなたの治療情報を詳細かつ簡単にカタチにして残すことができます。</p>
      </div>
      <div class="brand-color-box-rounded-area">
        <div class="brand-color-box-rounded">
          <div class="brand-color-box-rounded-head">
            <h5 class="text-center font-weight-bold">みえる</h5>
          </div>
          <div class="brand-color-box-rounded-body">
            <%= image_tag "home/telescope.svg", class: "img-fluid", loading: "lazy" %>
          </div>
        </div>
        <p class="brand-color-box-rounded-inner my-3 small text-muted" style="line-height: 1.8;">あなたが残したレポコによって、不透明な不妊治療の現状を少しでもクリアにすることができます。</p>
      </div>
      <div class="brand-color-box-rounded-area">
        <div class="brand-color-box-rounded">
          <div class="brand-color-box-rounded-head">
            <h5 class="text-center font-weight-bold">ふみだせる</h5>
          </div>
          <div class="brand-color-box-rounded-body">
            <%= image_tag "home/step.svg", class: "img-fluid", loading: "lazy" %>
          </div>
        </div>
        <p class="brand-color-box-rounded-inner my-3 small text-muted" style="line-height: 1.8;">あなたのレポコが、これから治療を始める方や現在治療中の方の一歩を踏み出す力になります。</p>
      </div>
    </div>
  </div>

  <div class="text-center text-dark">
    <h2 class="d-none d-sm-block mb-5 pt-5 font-weight-bold">Why created Repoco ?</h2>
    <h4 class="d-block d-sm-none mt-5 font-weight-bold">Why created Repoco ?</h4>
  </div>
  <div class="third-area mt-5 pb-0 row">
    <div class="third-area-pc-title col-md-5">
      <div class="d-none d-md-block mt-3 p-5">
        <%= image_tag "home/moonlight_dark.svg", class: "img-fluid ", loading: "lazy" %>
        <%= image_tag "home/moonlight_dark2.svg", class: "img-fluid vertical-flip", loading: "lazy" %>
      </div>
    </div>
    <div class="third-area-content col-md-7 pt-0">
      <div class="d-none d-md-block text-center pb-5">
        <h4 class="font-weight-bold" style="line-height: 1.5;">不透明な不妊治療の世界</h4>
      </div>
      <div class="d-block d-md-none text-center pb-4">
        <h5 class="font-weight-bold" style="line-height: 1.5;">不透明な不妊治療の世界</h5>
      </div>
      <p style="line-height: 1.8;">不妊治療は保険のきかない自費診療です。その費用はとても高額で数百万円かかることも珍しいことではありません。そして、そんな高額なお金を払っても結果が約束されないのが不妊治療です。</p>
      <p style="line-height: 1.8;">その上クリニックの情報や実績は公正に開示されていません。仮にクリニック独自の方法で開示されていたとしてもそれが信用できるものかどうか私たちでは判断がつきません。</p>
      <p style="line-height: 1.8;">また治療ガイドラインもなく、治療方針はクリニックによって実に様々です。さらには不安を煽る広告や、エビデンスに乏しく怪しい不妊治療ビジネスも横行しています。</p>
      <h6 class="font-weight-bold" style="line-height: 1.8;">治療に踏み出す方たちはこんな不透明な環境の中で、まさにギャンブルともいえるほど難しいクリニック選びをしいられています。</h6>
      <div class="d-block d-md-none mt-5 px-3">
        <%= image_tag "home/moonlight_dark.svg", class: "img-fluid", loading: "lazy" %>
      </div>
    </div>
    <div class="third-area-content col-md-7">
      <div class="d-none d-md-block text-center pb-5">
        <h4 class="font-weight-bold" style="line-height: 1.5;"><span class="marker-underline-w">問題意識を持ち続ける経験者</span></h4>
      </div>
      <div class="d-block d-md-none text-center pb-4">
        <h5 class="font-weight-bold" style="line-height: 1.5;"><span class="marker-underline-w">問題意識を持ち続ける経験者</span></h5>
      </div>
      <p style="line-height: 1.8;">そうした悪環境の中、不妊治療を終えた方々がご自身の経験を現在治療中の方へ繋ぎたいという「想い」があることを私たちはこれまでたくさん目にしてきました。</p>
      <p style="line-height: 1.8;">レポコはその「想い」をひとつに集めることで、生きた情報からなる集合知を作り、不妊治療経験者全体のコミュニティの活発化に役立てたい、この不透明な不妊治療環境を少しでもクリアにしたい。</p>
      <p style="line-height: 1.8;" class="font-weight-bold">そしてなにより、たくさんの生きた情報を現在治療中の方へ届けたい。</p>
      <p style="line-height: 1.8;">こうした願いを込めて作りました。</p>
      <div class="d-block d-md-none mt-5 px-3">
        <%= image_tag "home/new_idea.svg", class: "img-fluid", loading: "lazy" %>
      </div>
    </div>
    <div class="third-area-pc-title col-md-5">
      <div class="d-none d-md-block mt-3 p-5">
        <%= image_tag "home/new_idea.svg", class: "img-fluid", loading: "lazy" %>
      </div>
    </div>
    <div class="third-area-pc-title col-md-5">
      <div class="d-none d-md-block mt-3 p-5">
        <%= image_tag "home/lighthouse_yellow.svg", class: "img-fluid", loading: "lazy" %>
      </div>
    </div>
    <div class="third-area-content col-md-7">
      <div class="d-none d-md-block text-center pb-5">
        <h4 class="font-weight-bold" style="line-height: 1.5;"><span class="marker-underline-w">もっと納得感をもってクリニック選びができるように</span></h4>
      </div>
      <div class="d-block d-md-none text-center pb-4">
        <h5 class="font-weight-bold" style="line-height: 1.5;"><span class="marker-underline-w">もっと納得感をもってクリニック選びができるように</span></h5>
      </div>
      <p style="line-height: 1.8;">多くの方にとって不妊治療は時に価値観を根底からひっくり返すような大きな経験ではないでしょうか。</p>
      <p style="line-height: 1.8;">その経験は心に深く残り、たとえ治療を終えても「不妊治療当事者」であり続けている方が多いと感じます。</p>
      <p style="line-height: 1.8;">これから治療に踏み出す方や治療中の方が少しでもクリニック選びに迷うことなく、納得感をもって臨めるように。できる限りの最短経路を探せるように。</p>
      <p style="line-height: 1.8;">あなたのレポコが次の誰かの治療の道を照らす光になります。</p><br>
      <h6 class="message font-weight-bold" style="line-height: 1.8;">経験をカタチに、情報をエールに</h6><br>
      <p style="line-height: 1.8;">治療内容を詳細かつ簡単に書けるレポコに、ぜひあなたの治療体験を綴ってください。</p>
      <div class="d-block d-md-none mt-5 px-3">
        <%= image_tag "home/lighthouse_yellow.svg", class: "img-fluid", loading: "lazy" %>
      </div>
    </div>
  </div>

  <div class="fourth-area my-5">
    <div class="text-center text-dark">
      <h2 class="d-none d-sm-block mb-5 font-weight-bold">How it works</h2>
      <h4 class="d-block d-sm-none mt-5 pt-5 font-weight-bold">How it works</h4>
    </div>
    <div class="x-scroll">
      <div class="brand-color-box-rounded-area">
        <div class="brand-color-box-rounded-height">
          <div class="brand-color-box-rounded p-3">
            <div class="brand-color-box-rounded-head">
              <h5 class="text-center mb-3 font-weight-bold" style="line-height: 1.5;">投稿は簡単</h5>
            </div>
            <div class="brand-color-box-rounded-body">
              <%= image_tag "home/check_box.svg", class: "img-fluid", loading: "lazy" %>
            </div>
          </div>
        </div>
        <p class="brand-color-box-rounded-inner my-3 small text-muted" style="line-height: 1.8;">レポコはほとんどがチェック式なのでサクサク簡単に作成できます。</p>
      </div>
      <div class="brand-color-box-rounded-area">
        <div class="brand-color-box-rounded-height">
          <div class="brand-color-box-rounded p-3">
            <div class="brand-color-box-rounded-head">
              <h5 class="text-center mb-3 font-weight-bold" style="line-height: 1.5;">気持ちを綴れる</h5>
            </div>
            <div class="brand-color-box-rounded-body">
              <%= image_tag "home/thinking.svg", class: "img-fluid", loading: "lazy" %>
            </div>
          </div>
        </div>
        <p class="brand-color-box-rounded-inner my-3 small text-muted" style="line-height: 1.8;">ブログのようなテキストエリアもあるので、治療中の気持ちを綴ることができます。もちろん、写真も載せられます。</p>
      </div>
      <div class="brand-color-box-rounded-area">
        <div class="brand-color-box-rounded-height">
          <div class="brand-color-box-rounded p-3">
            <div class="brand-color-box-rounded-head">
              <h5 class="text-center mb-3 font-weight-bold" style="line-height: 1.5;">簡単シェア</h5>
            </div>
            <div class="brand-color-box-rounded-body">
              <%= image_tag "home/tweetstorm.svg", class: "img-fluid pl-1", loading: "lazy" %>
            </div>
          </div>
        </div>
        <p class="brand-color-box-rounded-inner my-3 small text-muted" style="line-height: 1.8;"><span style="color: #3EA8FF;">#レポコ #REPOCO</span>&nbsp;のハッシュタグでTwitterに簡単にシェアできます。</p>
      </div>
      <div class="brand-color-box-rounded-area">
        <div class="brand-color-box-rounded-height">
          <div class="brand-color-box-rounded p-3">
            <div class="brand-color-box-rounded-head">
              <h5 class="text-center mb-3 font-weight-bold" style="line-height: 1.5;">誰かの力になれる</h5>
            </div>
            <div class="brand-color-box-rounded-body">
              <%= image_tag "home/repoco_women.svg", class: "img-fluid", loading: "lazy" %>
            </div>
          </div>
        </div>
        <p class="brand-color-box-rounded-inner my-3 small text-muted" style="line-height: 1.8;">あなたの詳細なレポコが、クリニック選びで迷う方の力になります。</p>
      </div>
    </div>
  </div>

  <div class="fifth-area my-5">
    <div class="text-center mb-4">
      <h2 class="text-dark font-weight-bold">Learn more</h2>
    </div>
    <div class="row px-2">
      <div class="col-6 col-md-3 py-3">
        <%= link_to faq_path, class: "m-0 p-0", style: "width: 100%; text-decoration: none;" do %>
          <div class="about-link shadow-sm">
            <div class="about-link-head text-center">
              <%= image_tag "home/light.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="about-link-body text-center">
              <p class="mb-0 text-muted font-weight-bold">FAQ</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-6 col-md-3 py-3">
        <%= link_to make_path, class: "m-0 p-0", style: "width: 100%; text-decoration: none;" do %>
          <div class="about-link shadow-sm">
            <div class="about-link-head text-center">
              <%= image_tag "home/writing_hand.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="about-link-body text-center">
              <p class="mb-0 text-muted font-weight-bold">レポコの作り方</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-6 col-md-3 py-3">
        <%= link_to hack_path, class: "m-0 p-0", style: "width: 100%; text-decoration: none;" do %>
          <div class="about-link shadow-sm">
            <div class="about-link-head text-center">
              <%= image_tag "home/analysis.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="about-link-body text-center">
              <p class="mb-0 text-muted font-weight-bold">レポコの探し方</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-6 col-md-3 py-3">
        <%= link_to statistic_path, class: "m-0 p-0", style: "width: 100%; text-decoration: none;" do %>
          <div class="about-link shadow-sm">
            <div class="about-link-head text-center">
              <%= image_tag "home/bar_chart.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
            </div>
            <div class="about-link-body text-center">
              <p class="mb-0 text-muted font-weight-bold">
                データ分析
                <small class="text-muted"><span class="small">準備中</span></small>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sixth-area">
    <div class="row join-repoco">
      <div class="col-md-5 py-3">
        <h2 class="text-dark font-weight-bold">Join Repoco</h2>
        <p class="mt-4 text-muted">あなたの治療体験をシェアしよう</p>
        <% if user_signed_in? %>
          <% if current_user.reports.present? %>
            <%= link_to my_page_path, style:"text-decoration: none;" do %>
              <div class="btn-blue-lg text-center font-weight-bold">レポコをさらに充実させる</div>
            <% end %>
          <% else %>
            <%= link_to new_report_path, style:"text-decoration: none;" do %>
              <div class="btn-blue text-center font-weight-bold">今すぐレポコを書く</div>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path, style:"text-decoration: none;" do %>
            <div class="btn-blue text-center font-weight-bold">今すぐはじめる</div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-7 py-3">
        <%= image_tag "home/lets_go.svg", class: "img-fluid", loading: "lazy" %>
      </div>
    </div>
  </div>

  <div class="seventh-area text-center">
    <h4 class="d-none d-sm-block mb-3">＼&nbsp;まずは登録せずにレポコを見る&nbsp;／</h4>
    <h6 class="d-block d-sm-none mb-3">＼&nbsp;まずは登録せずにレポコを見る&nbsp;／</h6>
    <p class="mb-3"><i data-feather="chevrons-down"></i></p>
    <%= link_to root_path, { title: "レポコ一覧", style: "text-decoration: none;" } do %>
      <div class="btn-blue text-center font-weight-bold">レポコ一覧</div>
    <% end %>
  </div>

</div>
