<div class="learn-more">
  <div class="learn-more-menu">
    <div class="learn-more-head">
      <div class="learn-more-head-item">
        <%= link_to repoco_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/logo_mark.png", width: "50px", class: "img-fluid pt-2", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark">レポコ</small>
          </div>
        <% end %>
      </div>
      <div class="learn-more-head-item">
        <%= link_to faq_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/light.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark">FAQ</small>
          </div>
        <% end %>
      </div>
      <div class="learn-more-head-item">
        <%= link_to make_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/writing_hand.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark">作り方</small>
          </div>
        <% end %>
      </div>
      <div class="learn-more-head-item">
        <%= link_to hack_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/analysis.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark">探し方</small>
          </div>
        <% end %>
      </div>
      <div class="learn-more-head-item-active">
        <%= link_to statistic_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/bar_chart.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark">統計</small>
          </div>
        <% end %>
      </div>
      <div class="learn-more-head-item">
        <%= link_to privacy_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/cookie.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark"><span>PP</span></small>
          </div>
        <% end %>
      </div>
      <div class="learn-more-head-item">
        <%= link_to terms_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/book.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark">利用規約</small>
          </div>
        <% end %>
      </div>
      <div class="learn-more-head-item">
        <%= link_to about_path, {style: "text-decoration: none;" } do %>
          <div class="learn-more-head-item-image">
            <%= image_tag"home/smile.svg", width: "50px", class: "img-fluid", loading: "lazy" %>
          </div>
          <div class="learn-more-head-item-label small text-center">
            <small class="text-dark">運営者</small>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="learn-more-body">
    <div class="learn-more-body-inner">
      <div class="learn-more-body-inner-content">
        <div class="learn-more-body-inner-content-head">
          <h4 class="m-0">データ統計</h4>
        </div>
        <hr>
        <div class="learn-more-body-inner-content-body">
          <div class="tab-wrap1 mt-0">
            <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
            <label class="tab-label" for="TAB-01">閲覧</label>
            <div class="tab-content1">
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>会員登録無しでもレポコは閲覧できますか？</h5>
                </div>
                <div class="q-answer">
                  <p>はい、コメント欄を除く全てのレポコをアカウントの登録なしで閲覧できます。</p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>ストック機能とはなんですか？</h5>
                </div>
                <div class="q-answer">
                  <p>ブックマーク(いいね)機能とお考えください。ストックしたレポコはマイページにからいつでも読み返せます。ただし、ストック機能の利用にはアカウント登録が必要となります。
                  </p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>ストック&nbsp;or&nbsp;コメントされたら通知は来ますか？</h5>
                </div>
                <div class="q-answer">
                  <p>
                  ご自身のレポコがストック(いいね)またはコメントがつくと、ログインしていればPC上部またはスマホ下部の通知アイコン(ベルマーク)に青い光がともります。アイコンをタップすると通知の詳細を確認できます。
                  </p>
                </div>
              </div>
            </div>
            <input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="TAB-02">投稿</label>
            <div class="tab-content1">
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>投稿には全項目への回答/記入が必要ですか？</h5>
                </div>
                <div class="q-answer">
                  <p>
                  いいえ、投稿に必須となる情報は最初の画面に出てくる「クリニック」と「治療当時の住まい」のみです。<br>詳細なデータを残すことで、これから治療に踏み出す方、そして今まさに治療中の方への光となりますので、ぜひ多くの項目にお答えいただき、テキスト欄にもたくさんの情報を盛り込んまれることを期待しています！
                  </p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>全項目に答える時間がないです</h5>
                </div>
                <div class="q-answer">
                  <p>
                  お手数をおかけして申し訳ありません！すこしでも詳細の情報が集まることで不透明なこの治療環境を可視化したいという思いで盛りだくさんになってしまっていること、何卒ご容赦ください。<br>
                  レポコは「投稿」ボタンの他に、「保存」ボタンがあります。こちらは下書きとなりますので、ぜひ保存しながらじっくりとレポコを完成させてみてください！
                  </p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>マイページにある「ユーザー設定」も必須ですか？</h5>
                </div>
                <div class="q-answer">
                  <p>
                  必須ではありませんが、こちらを登録することでより詳細な情報を残すことができます。
                  </p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>レポコを非公開にすることはできますか？</h5>
                </div>
                <div class="q-answer">
                  <p>
                  はい、できます。ログインした状態でご自身のレポコを開くと右上に「非公開」ボタンがありますので、そちらをタップするとそのレポコを非公開にすることができます。非公開のレポコはカテゴリ検索にも引っかかりません。<br>
                  公開にしたい場合には、ログインした状態で公開したいレポコを開くと右上に「公開」ボタンがあるのでそちらをタップすれば公開できます。
                  </p>
                </div>
              </div>
            </div>
            <input id="TAB-03" type="radio" name="TAB" class="tab-switch" />
            <label class="tab-label" for="TAB-03">登録･退会</label>
            <div class="tab-content1">
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>新規登録した後、ログインはどうやってしますか？</h5>
                </div>
                <div class="q-answer">
                  <p>
                  ご登録いただいたメールアドレスへ確認メールが届きますので、そのメールの中にある認証リンクをクリックして登録を完了させてください。クリックするとログインページに飛びますのでそこから登録されたメールアドレスとパスワードを入力してログインしてください。
                  </p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>パスワードを忘れてしまいました...</h5>
                </div>
                <div class="q-answer">
                  <p>
                  ログイン画面下部にある「パスワードをお忘れですか？」と書かれたリンクからパスワードの再設定が可能です。登録のメールアドレスへ届いた再設定のリンクからパスワードを新たに設定できます。
                  </p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>アカウント名に赤い光がともるのですが、あれは何ですか？</h5>
                </div>
                <div class="q-answer">
                  <p>
                  ユーザー情報が未完成である旨をお知らせする光です。治療情報などのユーザー情報の設定(ほとんどが選択式)が完了しますと消灯します。ぜひユーザー設定を完了させてみてください。
                  </p>
                </div>
              </div>
              <div class="learn-more-body-inner-content-body-item">
                <div class="q-title d-flex justify-content-start">
                  <div class="question-brand-color">Q</div>
                  <h5>退会したいのですが...</h5>
                </div>
                <div class="q-answer">
                  <p>
                  マイページの「ユーザー設定」> 「各種設定」タブ内の 治療/基本/登録情報のいずれかの設定/変更をタップし編集画面に入ると、「退会処理」のタブがありますので、そちらから退会できます。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>