<!-- カテゴリ検索hide --!>
<div class="container mt-3 category-header-list">
  <div class="p-0 text-center">
      <%= link_to search_path do %>
        <button type="button" class="btn text-muted rounded-pill">＼ <i data-feather="arrow-down" class="px-1 mb-1"></i>カテゴリからレポコを検索 <i data-feather="arrow-down" class="px-1 mb-1"></i>／</button>
      <% end %>
    <br>
    <div class="slide_bar">
      <div class="btn-group my-0">
          <%= link_to hack_path, class: "btn btn-outline-primary rounded-pill mb-0 mx-1 h-100" do %>探し方<% end %>
          <%= link_to clinics_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>クリニック<% end %>

        <% if false %>
          <%= link_to clinics_area_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>エリア<% end %>
        <% end %>

          <%= link_to age_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>年齢<% end %>

          <%= link_to status_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>ステータス<% end %>
          <%= link_to what_numbers_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>何人目<% end %>

            <% if false %>
          <%= link_to tags_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>原因･疾患<% end %>
        <% end %>

          <%= link_to count_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>採卵･移植回数<% end %>
          <%= link_to amh_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>AMH<% end %>
          <%= link_to grade_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>胚の評価<% end %>

        <% if false %>
          <%= link_to users_area_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>住まい<% end %>
          <%= link_to costs_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>費用<% end %>
          <%= link_to works_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>仕事<% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- ここまで --!>