<div class="container mt-3">
  <div class="d-md-none slide_bar btn-toolbar">
    <div class="btn-group my-0">
      <%= link_to category_clinics_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>クリニック<% end %>
      <%= link_to category_age_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>年齢<% end %>
      <%= link_to category_tags_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>タグ<% end %>
      <%= link_to category_amh_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>AMH<% end %>
      <%= link_to category_area_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>エリア<% end %>
    </div>
  </div>
  <div class="d-none d-md-block p-0 text-center">
    <button type="button" class="btn text-muted">＼ <i data-feather="arrow-down" class="px-1 mb-1"></i>カテゴリからレポコを検索 <i data-feather="arrow-down" class="px-1 mb-1"></i>／</button><br>
    <div class="slide_bar">
      <div class="btn-group my-0">
        <%= link_to category_clinics_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>クリニック<% end %>
        <%= link_to category_age_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>年齢<% end %>
        <%= link_to category_tags_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>タグ<% end %>
        <%= link_to category_amh_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>AMH<% end %>
        <%= link_to category_area_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>エリア<% end %>
      </div>
    </div>
  </div>
</div>