<% @reports.each do |report| %>
  <div class="row main-column">
    <div class="card col-12 my-0 pb-0 px-0 shadow-none">
      <div class="card-body pt-4 px-2 rounded-lg">
        <div class="media-body px-2">
          <div class="row">
            <div class="col-3 pl-0 text-center px-0">
              <%= link_to user_path(report.user_id), data: { "turbolinks" => false } do %>
                <div class="icon-field">
                  <% if report.user.icon.present? %>
                    <%= image_tag(report.user.icon, class:"icon_image") %>
                  <% else %>
                    <% user_number = report.user_id.digits %>  
                    <% if user_number.size < 2 %>
                      <% icon_number = report.user_id %>
                    <% else %>
                      <% icon_number = user_number[0] * user_number[1] %>
                    <% end %>
                    <% if report.treatment_end_age == nil %>
                      <div class="m-0 p-0 base_icon text-center">
                        <%= image_tag("icon/g_blank.png", alt: "generation_blank", class: "icon_image_border", loading: "lazy", title: "不明") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation_blank", class: "icon_on_icon2", loading: "lazy", title: "不明") %>
                      </div>
                    <% elsif report.treatment_end_age < 25 %>
                      <div class="m-0 p-0 base_icon text-center">
                        <%= image_tag("icon/g_10_24.png", alt: "generation10_24", class: "icon_image_border", loading: "lazy", title: "〜24歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation10_24", class: "icon_on_icon2", loading: "lazy", title: "〜24歳") %>
                      </div>
                    <% elsif report.treatment_end_age < 30 %>
                      <div class="m-0 p-0 base_icon text-center">
                        <%= image_tag("icon/g_25_29.png", alt: "generation25_29", class: "icon_image_border", loading: "lazy", title: "25〜29歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation25_29", class: "icon_on_icon2", loading: "lazy", title: "25〜29歳") %>
                      </div>
                    <% elsif report.treatment_end_age < 35 %>
                      <div class="m-0 p-0 base_icon text-center">
                        <%= image_tag("icon/g_30_34.png", alt: "generation30_34", class: "icon_image_border", loading: "lazy", title: "30〜34歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon2", loading: "lazy", title: "30〜34歳") %>
                      </div>
                    <% elsif report.treatment_end_age < 40 %>
                      <div class="m-0 p-0 base_icon text-center">
                        <%= image_tag("icon/g_35_39.png", alt: "generation35_39", class: "icon_image_border", loading: "lazy", title: "35〜39歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation30_34", class: "icon_on_icon2", loading: "lazy", title: "35〜39歳") %>
                      </div>
                    <% elsif report.treatment_end_age < 45 %>
                      <div class="m-0 p-0 base_icon text-center">
                        <%= image_tag("icon/g_40_44.png", alt: "generation40_44", class: "icon_image_border", loading: "lazy", title: "40〜44歳") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation40_44", class: "icon_on_icon2", loading: "lazy", title: "40〜44歳") %>
                      </div>
                    <% else %>
                      <div class="m-0 p-0 base_icon text-center">
                        <%= image_tag("icon/g_45_.png", alt: "generation45_", class: "icon_image_border", loading: "lazy", title: "45歳〜") %>
                        <%= image_tag("icon/#{icon_number}.svg", alt: "generation45_", class: "icon_on_icon2", loading: "lazy", title: "45歳〜") %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>

              <div class="d-none d-sm-block px-0">
                <div class="align-items-center text-center pt-2">
                  <p class="mb-0 pb-1">
                    <% if report.treatment_end_age == nil %>
                      <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "20px", class: "img-fluid", loading: "lazy", title: "不明"), user_path(report.user_id) %>
                    <% elsif report.treatment_end_age < 25 %>
                      <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "20px", class: "img-fluid", loading: "lazy", title: "〜24歳"), user_path(report.user_id) %>
                    <% elsif report.treatment_end_age < 30 %>
                      <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "20px", class: "img-fluid", loading: "lazy", title: "25〜29歳"), user_path(report.user_id) %>
                    <% elsif report.treatment_end_age < 35 %>
                      <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "20px", class: "img-fluid", loading: "lazy", title: "30〜34歳"), user_path(report.user_id) %>
                    <% elsif report.treatment_end_age < 40 %>
                      <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "20px", class: "img-fluid", loading: "lazy", title: "35〜39歳"), user_path(report.user_id) %>
                    <% elsif report.treatment_end_age < 45 %>
                      <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "20px", class: "img-fluid", loading: "lazy", title: "40〜44歳"), user_path(report.user_id) %>
                    <% else %>
                      <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "20px", class: "img-fluid", loading: "lazy", title: "45歳〜"), user_path(report.user_id) %>
                    <% end %>
                    <%= link_to user_path(report.user_id), {class: "small"} do %>
                      <%= strip_tags(report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(14) %>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="d-block d-sm-none pl-0 pr-2">
                <p class="mb-0 text-enter">
                  <% if report.treatment_end_age == nil %>
                    <%= link_to image_tag("icon/g_blank.png", alt: "generation_blank", width: "17px", class: "px-0", loading: "lazy", title: "不明"), user_path(report.user_id) %>
                  <% elsif report.treatment_end_age < 25 %>
                    <%= link_to image_tag("icon/g_10_24.png", alt: "generation10_24", width: "17px", class: "px-0", loading: "lazy", title: "〜24歳"), user_path(report.user_id) %>
                  <% elsif report.treatment_end_age < 30 %>
                    <%= link_to image_tag("icon/g_25_29.png", alt: "generation25_29", width: "17px", class: "px-0", loading: "lazy", title: "25〜29歳"), user_path(report.user_id) %>
                  <% elsif report.treatment_end_age < 35 %>
                    <%= link_to image_tag("icon/g_30_34.png", alt: "generation30_34", width: "17px", class: "px-0", loading: "lazy", title: "30〜34歳"), user_path(report.user_id) %>
                  <% elsif report.treatment_end_age < 40 %>
                    <%= link_to image_tag("icon/g_35_39.png", alt: "generation35_39", width: "17px", class: "px-0", loading: "lazy", title: "35〜39歳"), user_path(report.user_id) %>
                  <% elsif report.treatment_end_age < 45 %>
                    <%= link_to image_tag("icon/g_40_44.png", alt: "generation40_44", width: "17px", class: "px-0", loading: "lazy", title: "40〜44歳"), user_path(report.user_id) %>
                  <% else %>
                    <%= link_to image_tag("icon/g_45_.png", alt: "generation45_", width: "17px", class: "px-0", loading: "lazy", title: "45歳〜"), user_path(report.user_id) %>
                  <% end %>
                  <%= link_to user_path(report.user_id), {class: "small"} do %>
                    <%= strip_tags(report.user.name.to_s).gsub(/[\n]/,"").strip.truncate(12) %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="col-9 pl-0">
              <div class="date mb-0 pt-0 px-0 d-flex justify-content-between">
                <small class="text-muted d-none d-sm-block">
                  <% unless report.current_state.blank? %>
                    <%= report.str_current_state %>&nbsp;&nbsp;
                  <% end %>
                  <% if report.user.gender == "female" %>
                    女性&nbsp;&nbsp;
                  <% elsif report.user.gender == "male" %>
                    男性&nbsp;&nbsp;
                  <% else %>
                  <% end %>
                  <% unless report.fertility_treatment_number.blank? %>
                    <%= report.str_fertility_treatment_number %>&nbsp;&nbsp;
                  <% end %>
                </small>
                <small class="text-muted d-block d-sm-none">
                  <% if report.user.gender == "female" %>
                    女性&nbsp;&nbsp;
                  <% elsif report.user.gender == "male" %>
                    男性&nbsp;&nbsp;
                  <% else %>
                  <% end %>
                  <% unless report.current_state.blank? %>
                    <%= report.str_current_state %>&nbsp;&nbsp;
                  <% end %>
                </small>
                <small class="text-muted">
                  <%= report.created_at.to_s(:datetime_jp) %>
                </small>
              </div>
              <div class="d-none d-sm-block">
                <%= link_to report, data: { "turbolinks" => false } do %>
                  <h5 class="mb-0 mt-2 mx-0 mb-1">
                    <% if report.treatment_end_age.present? %>
                      <%= report.str_treatment_end_age %>&nbsp;
                    <% end %>
                    <%= report.clinic.name %>のレポコ
                    <% unless report.year_of_treatment_end.blank? %>
                      <span class="small"><span class="small text-muted">&nbsp;&nbsp;(<%= report.year_of_treatment_end.year %>年卒業)</span></span>
                    <% end %>
                  </h5>
                <% end %>
              </div>
              <div class="d-block d-sm-none">
                <%= link_to report, data: { "turbolinks" => false } do %>
                  <h6 class="mb-0 mt-2 mx-0 mb-1">
                    <% if report.treatment_end_age.present? %>
                      <%= report.str_treatment_end_age %>&nbsp;
                    <% end %>
                    <%= report.clinic.name %>のレポコ
                    <% unless report.year_of_treatment_end.blank? %>
                      <span class="small"><span class="small text-muted">&nbsp;&nbsp;(<%= report.year_of_treatment_end.year %>年卒業)</span></span>
                    <% end %>
                  </h6>
                <% end %>
              </div>

              <div class="d-none d-sm-block justify-content-start mr-2 my-2">
                <% unless report.treatment_end_age.blank? %>
                  &nbsp;&nbsp;<span class="small"><%= link_to "##{report.str_treatment_end_age}", "/age/#{report.treatment_end_age}", class: "text-muted" %></span>
                <% end %>
                <% if report.prefecture_at_the_time_status == "hide" %>
                  &nbsp;&nbsp;<span class="small text-muted ">−−</span>
                <% else %>
                  &nbsp;&nbsp;<span class="small"><%= link_to "##{report.city.prefecture.name}", "/users_/#{report.city.prefecture.name_alphabet}", class: "text-muted" %></span>
                <% end %>
                <% if report.city_at_the_time_status == "hide" %>
                  &nbsp;&nbsp;<span class="small text-muted">−−</span>
                <% else %>
                  &nbsp;&nbsp;<span class="small"><%= link_to "##{report.city.name}", "/users_/#{report.city.prefecture.name_alphabet}/#{report.city.name_alphabet}", class: "text-muted" %></span>
                <% end %>
              </div>

              <div class="d-block d-sm-none justify-content-start mr-2 mt-2 mb-1">
                <% unless report.treatment_end_age.blank? %>
                  &nbsp;&nbsp;<span class="small"><%= link_to "##{report.str_treatment_end_age}", "/age/#{report.treatment_end_age}", class: "text-muted" %></span>
                <% end %>
                <% if report.prefecture_at_the_time_status == "hide" %>
                  &nbsp;&nbsp;<span class="small text-muted">−−</span>
                <% else %>
                  &nbsp;&nbsp;<span class="small"><%= link_to "##{report.city.prefecture.name}", "/users_/#{report.city.prefecture.name_alphabet}", class: "text-muted" %></span>
                <% end %>
                <% if report.city_at_the_time_status == "hide" %>
                  &nbsp;&nbsp;<span class="small text-muted">−−</span>
                <% else %>
                  &nbsp;&nbsp;<span class="small"><%= link_to "##{report.city.name}", "/users_/#{report.city.prefecture.name_alphabet}/#{report.city.name_alphabet}", class: "text-muted" %></span>
                <% end %>
              </div>

              <div>
                <div class="d-none d-sm-block col-12 px-0">
                  <%= link_to report, data: { "turbolinks" => false } do %>
                    <% if report.title.present? %>
                      <div class="pt-2 pb-1 px-1">
                        <h6><%= strip_tags(report.title.to_s).gsub(/[\n]/,"").strip.truncate(40) %></h6>
                      </div>
                    <% end %>
                  <% end %>
                  <div class="lead-content px-2 py-1">
                    <%= link_to report, data: { "turbolinks" => false } do %>
                      <small><span class="text-muted"><%= strip_tags(report.summarize_content).gsub(/[\n]/,"").strip.truncate(75) %></span>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                    <% end %>
                  </div>
                  <div class="action_area pl-1 pr-0 py-2">
                    <div class="row">
                      <div class="col-2 pr-0 form-inline">
                        <div class="likes_buttons_<%= report.id %>">
                          <%= render partial: 'likes/like', locals: { report: report} %>
                        </div>
                      </div>
                      <div class="col-10">
                        <div class="pt-2 text-right">
                          <%= link_to "##{report.clinic.name}", "/clinic/#{report.clinic.id}" %>
                          &nbsp;&nbsp;&nbsp;&nbsp;<span class="small"><%= link_to "##{report.clinic.city.prefecture.name}", "/clinics_/#{report.clinic.city.prefecture.name_alphabet}", class:"text-muted" %></span>
                          &nbsp;&nbsp;&nbsp;<span class="small"><%= link_to "##{report.clinic.city.name}", "/clinics/#{report.clinic.city.prefecture.name_alphabet}/#{report.clinic.city.name_alphabet}", class:"text-muted" %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-block d-sm-none col-12 mt-2 px-1">
              <%= link_to report, data: { "turbolinks" => false } do %>
                <% if report.title.present? %>
                  <div class="py-2 px-3">
                    <h7><%= strip_tags(report.title.to_s).gsub(/[\n]/,"").strip.truncate(30) %></h7>
                  </div>
                <% end %>
              <% end %>
              <div  class="lead-content px-2 py-1">
                <%= link_to report, data: { "turbolinks" => false } do %>
                  <small><%= strip_tags(report.summarize_content).gsub(/[\n]/,"").strip.truncate(45) %>&nbsp;&nbsp;&nbsp;…&nbsp;<span class="font-weight-bold">続きを読む</span></small>
                <% end %>
              </div>
              <div class="px-0 py-0">
                <div class="row">
                  <div class="col-3 mt-2 pr-0">
                    <div class="likes_buttons_<%= report.id %>">
                      <%= render partial: 'likes/like', locals: { report: report} %>
                    </div>
                  </div>
                  <div class="col-9 pt-0 pl-0 pr-4 text-right">
                    <div class="pt-2 text-right">
                      <%= link_to "##{report.clinic.name}", "/clinic/#{report.clinic.id}" %>
                    </div>
                    <div class="pt-1 text-right">
                      &nbsp;&nbsp;<span class="small"><%= link_to "##{report.clinic.city.prefecture.name}", "/clinics_/#{report.clinic.city.prefecture.name_alphabet}", class:"text-muted" %></span>
                      &nbsp;&nbsp;&nbsp;<span class="small"><%= link_to "##{report.clinic.city.name}", "/clinics/#{report.clinic.city.prefecture.name_alphabet}/#{report.clinic.city.name_alphabet}", class:"text-muted" %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>