<h3 class="d-none d-md-block mt-4">最近のレポート</h3>
<% @reports.each do |report| %>
  <%= link_to report do %>
  <div class="card post">
    <div class="card-header media">
      <アイコン>
      <div class="media-body">
        <p><%= report.user.name %>さんの<%= report.clinic.clinic_name %>のレポート</p>
        <small class="text-muted">
        <%= report.treatment_end_age %>歳:<%= report.fertility_treatment_number %>人目不妊
        </small><br>
        <small class="text-muted">更新:
          <time datetime="<%= report.updated_at %>">
          <%= time_ago_in_words(report.updated_at) %>
          </time>前&nbsp;&nbsp;&nbsp;投稿:
          <%= report.created_at.to_s(:datetime_jp) %>
        </small>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= report.title %></h5>
    </div>
    <% end %>

    <% if user_signed_in? %>
      <% if report.liked_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
          <p><span>お気に入り解除: </span><%=link_to report.likes.count, report_likes_path(report.id), method: :delete %></p>
      <% else %>
          <p><span>お気に入り登録: </span><%=link_to report.likes.count, report_likes_path(report.id), method: :post %></p>
      <% end %>
      <% else %>
        <p><span>お気に入り数: </span><%= report.likes.count %></p>
    <% end %>

  </div>
<% end %>
