<%= form_with(model: report, local: true) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :current_state, '現在妊娠中ですか？すでに出産されていますか？' %>
    <%= f.select :current_state, Report::HASH_CURRENT_STATE.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        妊娠中または出産しているか選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :fertility_treatment_number, '何人目の不妊治療ですか?（何人目不妊ですか）' %>
    <%= f.select :fertility_treatment_number, Report.make_select_options_fertility_treatment_number, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :treatment_type, '治療の種類を選択してください' %>
    <%= f.select :treatment_type, Report::HASH_TREATMENT_TYPE.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        妊娠中または出産しているか選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :work_style, '通院中の働き方にもっとも当てはまるのはどれですか？' %>
    <%= f.select :work_style, Report::HASH_WORK_STYLE.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        一番当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_clinics, 'このクリニックは何院目ですか？' %>
    <%= f.select :number_of_clinics, Report.make_select_options_number_of_clinics, {}, { :class => "form-control" } %>
    <small id="poster-tip" class="form-text text-muted">
        治療を開始してから何院目の医療機関か選択してください。
    </small>
  </div>
  
  "住まい"

  <div class="form-group">
    <%= f.label :number_of_aih, '体外・顕微受精にステップアップする前に人工授精は何回実施しましたか' %>
    <%= f.select :number_of_aih, Report.make_select_options_number_of_aih, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :treatment_start_age, 'このクリニックで治療を開始したのは何歳の時ですか' %>
    <%= f.select :treatment_start_age, Report.make_select_options_treatment_start_age, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        通院を開始した年齢を選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :treatment_end_age, 'このクリニックで治療を終了したのは何歳の時ですか' %>
    <%= f.select :treatment_end_age, Report.make_select_options_treatment_end_age, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        妊娠、または治療を断念し、通院を終了した年齢を選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :treatment_period, 'お休み期間をのぞくと正味このクリニックにはどれくらいの期間通院しましたか' %>
    <%= f.select :treatment_period, Report::HASH_TREATMENT_PERIOD.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        おおよその期間を選択ください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :amh, '治療中のAMH値はいくつでしたか' %>
    <%= f.select :amh, Report::HASH_AMH.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        一番直近の値を選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :bmi, '治療中のBMI値はいくつでしたか' %>
    <%= f.select :bmi, Report::HASH_BMI.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        一番直近の値を選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :types_of_eggs_and_sperm, '用いた卵子と精子' %>
    <%= f.select :types_of_eggs_and_sperm, Report::HASH_TYPES_OF_EGGS_AND_SPERM.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :type_of_sairan_cycle, '妊娠に至った周期の採卵誘発方法は' %>
    <%= f.select :type_of_sairan_cycle, Report::HASH_TYPE_OF_SAIRAN_CYCLE.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :successful_egg_maturity, '妊娠に至った卵子の成熟度' %>
    <%= f.select :successful_egg_maturity, Report::HASH_SUCCESSFUL_EGG_MATURITY.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :successful_embryo_culture_days, '妊娠に至った胚の培養日数' %>
    <%= f.select :successful_embryo_culture_days, Report.make_select_options_successful_embryo_culture_days, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :total_number_of_sairan, 'このクリニックでの全採卵回数' %>
    <%= f.select :total_number_of_sairan, Report.make_select_options_total_number_of_sairan, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_eggs_collected, 'このクリニックでの全採卵個数' %>
    <%= f.select :number_of_eggs_collected, Report.make_select_options_number_of_eggs_collected, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :total_number_of_transplants, 'このクリニックでの全移植回数' %>
    <%= f.select :total_number_of_transplants, Report.make_select_options_total_number_of_transplants, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_eggs_stored, 'このクリニックにある凍結胚の数（貯卵数）' %>
    <%= f.select :number_of_eggs_stored, Report.make_select_options_number_of_eggs_stored, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :types_of_fertilization_methods, '妊娠に至った卵子と精子の受精方法を教えてください' %>
    <%= f.select :types_of_fertilization_methods, Report::HASH_TYPES_OF_FERTILIZATION_METHODS.invert, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_fertilized_eggs, '最新の周期で受精まで至った個数' %>
    <%= f.select :number_of_fertilized_eggs, Report.make_select_options_number_of_eggs_collected, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_frozen_eggs, '最新の周期で受精した胚はいくつ凍結できましたか' %>
    <%= f.select :number_of_frozen_eggs, Report.make_select_options_number_of_frozen_eggs, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>

  <%= f.fields_for :clinic_reviews do |review| %>
    <div class="form-group">
      <%= review.label :cost, 'このクリニックで総額いくらかかりましたか' %>
      <%= review.select :cost, ClinicReview::HASH_COST.invert, {}, { :class => "form-control" }  %>
      <small id="poster-tip" class="form-text text-muted">
          当てはまるものを選択してください。
      </small>
    </div>
    <div class="form-group">
      <%= review.label :credit_card_validity, 'クレジットカードは使えましたか？' %>
      <%= review.select :credit_card_validity, ClinicReview::HASH_CREDIT_CARD_VALIDITY.invert, {}, { :class => "form-control" }  %>
      <small id="poster-tip" class="form-text text-muted">
          当てはまるものを選択してください。
      </small>
    </div>
    <div class="form-group">
      <%= review.label :average_waiting_time, 'クリニックでの平均待ち時間はどのくらいでしたか' %>
      <%= review.select :average_waiting_time, ClinicReview::HASH_VERAGE_WAITING_TIME.invert, {}, { :class => "form-control" }  %>
      <small id="poster-tip" class="form-text text-muted">
          当てはまるものを選択してください。
      </small>
    </div>
    <div class="form-group">
      <%= review.label :clinic_selection_criteria, 'このクリニックを選んだ理由' %>
      <%= review.select :clinic_selection_criteria, ClinicReview::HASH_CLINIC_SELECTION_CRITERIA.invert, {}, { :class => "form-control" }  %>
      <small id="poster-tip" class="form-text text-muted">
          当てはまるものを選択してください。
      </small>
    </div>
    <div class="form-group">
      <%= review.label :review, 'クリニックについてレビュー含め自由にお書きください。' %>
      <%= review.text_area :review, :class => "form-control", rows: 10 %>
      <small id="poster-tip" class="form-text text-muted">
          誹謗中傷等はおやめください。投稿ポリシーに違反している場合削除致します。
      </small>
    </div>
    <div>
      <%= review.label :clinic_id, 'クリニック' %>
      <%= review.text_field :clinic_id, :class => "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :content, '治療の感想について自由にお書きください。多くの詳細情報を残すことで治療中の方の有益な参考情報になります（尚、次項に「クリニックレビュー」記述欄が用意されています）' %>
    <%= f.rich_text_area :content %>
    <small id="poster-tip" class="form-text text-muted">
        上記質問項目及びその他、詳しい情報をできる限り多く書き記してください。
    </small>
  </div>
  
  <div class="form-group">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
  <small id="submit-tip" class="form-text text-muted">
      投稿する前に投稿内容を見直してください!
  </small>
<% end %>