<%= javascript_include_tag 'report_form' %>

<div class="container">
  <% if false %>
    <% if is_new
      url = confirm_reports_path
    else
      url = confirm_report_path(report.id)
    end %>
  <% end %>

  <%= form_with(model: report, local: true) do |f| %>
    <% if report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(report.errors.count, "error") %> 件の未入力または誤った入力があります</h2>
        <ul>
          <% report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="split-left-box left-box px-3 pb-5">
      <div class="form-group mt-0">
        <div class="label"><%= f.label :current_state, '投稿時点(現在)の状況', class: "question-matters" %></div>
        <%= f.select :current_state, Report::HASH_CURRENT_STATE.invert, { prompt: "選択してください" }, { class: "form-control" } %>
        <small id="poster-tip" class="form-text text-muted">
            妊娠中または出産しているか選択してください。
        </small>
      </div>

      <div class="row mt-0">
        <div class="col-md-6 px-1">
          <div class="form-group border border-danger rounded-lg p-3">
            <small class="text-danger float-right">※必須</small>
            <div class="label p-1"><%= f.label :clinic_id, 'クリニックを選択', class: "question-matters" %></div>
            <div>
              <% if report.clinic.blank? %>
                <% prefecture_id = nil %>
              <% else %>
                <% prefecture_id = report.clinic.prefecture_id %>
              <% end %>
              <%= select_tag :select_prefecture,
                              options_from_collection_for_select(Prefecture.all, :id, :name, selected: prefecture_id),
                              {
                                prompt: "都道府県を選択する",
                                class: "form-control",
                              }
              %>
            </div><br>

            <div>
              <% if report.clinic.blank? %>
                <% city_id = nil %>
                <%= select_tag :city, options_for_select([["市区町村を選択する", 99]],), { class: "form-control" } %>
              <% else %>
                <% city_id = report.clinic.city_id %>
                <% cities = City.where(prefecture_id: prefecture_id).order(:id).joins(:clinics).distinct %>
                <%= collection_select :prefecture, :city, cities, :id, :name, { prompt: "選択してください", selected: city_id }, { class: "form-control" } %>
              <% end %>
            </div><br>
            <div>
              <% if report.clinic.blank? %>
                <%= f.select :clinic_id, {}, { prompt: "クリニックを選択する"}, { class: "form-control" } %>
              <% else %>
                <% clinics = Clinic.where(city_id: city_id) %>
                <%= collection_select :report, :clinic_id, clinics, :id, :name, {prompt: "選択"}, { class: "form-control" } %>
              <% end %>
              <small id="poster-tip" class="form-text text-muted">
                最新周期のクリニックを選んでください。
              </small>
            </div>
          </div>
        </div>

        <div class="col-md-6 px-1">
          <div class="form-group border border-danger rounded-lg p-3">
            <small class="text-danger float-right">※必須</small>
            <div class="label p-1"><%= f.label :address_at_the_time_of_treatment, '治療当時のお住まい', class: "question-matters" %></div>
            <div>
              <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {prompt: "都道府県を選択してください"}, {class: "form-control"}) %>
            </div>
            <small id="poster-tip" class="form-text text-muted">
              <%= f.check_box :prefecture_at_the_time_status, {}, "hide", "show" %>非公開
            </small><br>
            <div>
            <% if report.city.blank? %>
              <%= f.select :city_id, {}, { prompt: "市区町村を選択してください" }, { class: "form-control" } %>
            <% else %>
              <% city = report.city_id %>
              <% prefecture_id = report.prefecture_id %>
              <% cities = City.where(prefecture_id: prefecture_id) %>
              <%= collection_select :report, :city_id, cities, :id, :name, { prompt: "選択してください", selected: city }, { class: "form-control" } %>
            <% end %>
            </div>
            <small id="poster-tip" class="form-text text-muted"><%= f.check_box :city_at_the_time_status, {}, "hide", "show" %>非公開</small>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <div class="label p-1"><%= f.label :number_of_clinics, 'このクリニックは何院目ですか', class: "question-matters" %></div>
            <%= f.select :number_of_clinics, Report.make_select_options_number_of_clinics, { prompt: "選択してください" }, { class: "form-control" } %>
            <small id="poster-tip" class="form-text text-muted">
                治療を開始してから何院目の医療機関か選択してください。
            </small>
          </div>
        </div>

        <div class="col-12 form-group border rounded px-1 py-3 itinerary-of-clinic">
          <p class="px-3">これまでの転院歴を教えてください。</p>
          <small id="poster-tip" class="form-text text-muted px-3" style="line-height: 170%">
            行が足りない場合は「追加」してください。<br>
            この質問は必須ではありませんが、回答される場合には各行必ず&nbsp;<font color="#3DBAF5">必須</font>&nbsp;と書かれた「転院歴」列を選択してください。
          </small>
          <small id="poster-tip" class="form-text text-muted px-2 text-right">
            <span style="color:red">※</span>CL = 「クリニック」の略
          </small>
          <%= f.fields_for :itinerary_of_choosing_a_clinics do |itinerary_of_choosing_a_clinic| %>
            <%= render "itinerary_of_choosing_a_clinic_fields", f: itinerary_of_choosing_a_clinic %>
          <% end %>
          <div class="links pt-2 pl-2">
            <%= link_to_add_association "+ 追加", f, :itinerary_of_choosing_a_clinics %>
          </div>
        </div>

        <div class="col-md-12 border rounded px-2 mt-5">
          <div class="form-group pt-0 mt-4 px-1">
            <div class="label"><%= f.label :clinic_selection_criteria, 'このクリニックを選んだ理由', class: "question-matters" %></div>
            <%= f.select :clinic_selection_criteria, Report::HASH_CLINIC_SELECTION_CRITERIA.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                当てはまるものを選択してください。
            </small>
          </div> 
          <div class="form-group px-1">
            <div class="label p-1"><%= f.label :reasons_for_choosing_this_clinic, 'このクリニックを選んだ理由について更に詳しく(自由記述)', class: "question-matters" %></div>
            <%= f.text_area :reasons_for_choosing_this_clinic, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例):信頼する〇〇医師がいたから/ 〇〇治療を実施できるクリニックだったから など" %>
            <small id="poster-tip" class="form-text text-muted">
              どういう基準でクリニックを選ばれたかを教えてください。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :year_of_treatment_end, 'このクリニックでの治療を終了した年を教えてください', class: "question-matters" %></div>
          <%= f.date_select :year_of_treatment_end, {
            discard_month: true,
            discard_day: true,
            start_year: (Time.now.year),
            end_year: 2000,
            prompt: "選択してください"
            },
            { class: "form-control" } %>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :fertility_treatment_number, '何人目の不妊治療ですか?（何人目不妊ですか）', class: "question-matters" %></div>
        <%= f.select :fertility_treatment_number, Report.make_select_options_fertility_treatment_number, { prompt: "選択してください" }, { class: "form-control" } %>
        <small id="poster-tip" class="form-text text-muted">
            選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :types_of_fertilization_methods, '妊娠に至った卵子と精子の受精方法', class: "question-matters" %></div>
        <%= f.select :types_of_fertilization_methods, Report::HASH_TYPES_OF_FERTILIZATION_METHODS.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :transplant_method, '移植方法を選択してください', class: "question-matters" %></div>
        <%= f.select :transplant_method, Report::HASH_TRANSPLANT_METHOD.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :treatment_start_age, 'このクリニックで治療を開始したのは何歳の時ですか', class: "question-matters" %></div>
        <%= f.select :treatment_start_age, Report.make_select_options_treatment_start_age, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            通院を開始した年齢を選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :first_age_to_start, '不妊治療自体(妊活含む)を始めたのは何歳の時ですか', class: "question-matters" %></div>
        <%= f.select :first_age_to_start, Report.make_select_options_first_age_to_start, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-danger">
            前問より高い年齢を選択されないように注意してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :treatment_end_age, 'このクリニックで治療を終了したのは何歳の時ですか', class: "question-matters" %></div>
        <%= f.select :treatment_end_age, Report.make_select_options_treatment_end_age, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-danger">
            前々問・前問より低い年齢を選択されないように注意してください。
        </small>
      </div>
      
      <div class="form-group">
        <div class="label p-1"><%= f.label :age_of_partner_at_end_of_treatment, 'このクリニックで治療を終了した時のパートナーの年齢は何歳ですか', class: "question-matters" %></div>
        <%= f.select :age_of_partner_at_end_of_treatment, Report.make_select_options_age_of_partner_at_end_of_treatment, { prompt: "選択してください" }, { class: "form-control" }  %>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :treatment_period, 'このクリニックにはどれくらいの期間通院しましたか', class: "question-matters" %></div>
        <%= f.select :treatment_period, Report::HASH_TREATMENT_PERIOD.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            おおよその期間を選択ください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :number_of_aih, '体外・顕微受精にステップアップする前に人工授精は何回実施しましたか(このクリニック以外での人工授精も含む)', class: "question-matters" %></div>
        <%= f.select :number_of_aih, Report.make_select_options_number_of_aih, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>
    
      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :inspection, '実施した検査を教えてください' %></span></div><br>
          <%= f.collection_check_boxes(:inspection_ids, Inspection.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :special_inspection_supplementary_explanation, '受けた検査の補足説明', class: "question-matters" %></div>
            <%= f.text_area :special_inspection_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)ERA検査を受けたタイミングや費用、受けた感想など" %>
            <small id="poster-tip" class="form-text text-muted">
              説明を書いてより詳しいレポートにしませんか
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :amh, '治療中のAMH値はいくつでしたか', class: "question-matters" %></div>
        <%= f.select :amh, Report::HASH_AMH.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            一番直近の値を選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :bmi, '治療中のBMI値はいくつでしたか', class: "question-matters" %></div>
        <%= f.select :bmi, Report::HASH_BMI.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            一番直近の値を選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :smoking, '治療中の喫煙の有無', class: "question-matters" %></div>
        <%= f.select :smoking, Report::HASH_SMOKING.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            一番近いものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :f_infertility_factor, '女性側の不妊原因と思われるものを教えてください' %></span></div><br>
          <%= f.collection_check_boxes(:f_infertility_factor_ids, FInfertilityFactor.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :f_infertility_factor, "上記選択肢に無いので新たに不妊原因を追加する", class: "question-matters" %></div>
            <%= text_field_tag :fif_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :m_infertility_factor, '男性側の不妊原因と思われるものを教えてください' %></span></div><br>
          <%= f.collection_check_boxes(:m_infertility_factor_ids, MInfertilityFactor.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :m_infertility_factor, "上記選択肢に無いので新たに不妊原因を追加する" , class: "question-matters" %></div>
              <%= text_field_tag :mif_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
              <small id="poster-tip" class="form-text text-muted">
                複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
              </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :f_disease, '女性側の疾患があれば教えてください' %></span></div><br>
          <%= f.collection_check_boxes(:f_disease_ids, FDisease.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :f_disease, "上記選択肢に無いので新たに疾患を追加する", class: "question-matters" %></div>
            <%= text_field_tag :fd_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :m_disease, '男性側の疾患があれば教えてください' %></span></div><br>
          <%= f.collection_check_boxes(:m_disease_ids, MDisease.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :m_disease, "上記選択肢に無いので新たに疾患を追加する", class: "question-matters" %></div>
            <%= text_field_tag :md_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :f_surgery, '女性側の手術の既往歴があれば教えてください' %></span></div><br>
          <%= f.collection_check_boxes(:f_surgery_ids, FSurgery.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :f_surgery, "上記選択肢に無いので新たに手術を追加する", class: "question-matters" %></div>
            <%= text_field_tag :fs_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :m_surgery, '男性側の手術の既往歴があれば教えてください' %></span></div><br>
          <%= f.collection_check_boxes(:m_surgery_ids, MSurgery.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :m_surgery, "上記選択肢に無いので新たに手術を追加する", class: "question-matters" %></div>
            <%= text_field_tag :ms_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
          </div>
          <small id="poster-tip" class="form-text text-muted">
            複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
          </small>
        </div>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :types_of_eggs_and_sperm, '用いた卵子と精子', class: "question-matters" %></div>
        <%= f.select :types_of_eggs_and_sperm, Report::HASH_TYPES_OF_EGGS_AND_SPERM.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>
      
      <div class="form-group">
        <div class="label p-1"><%= f.label :type_of_ovarian_stimulation, '妊娠に至った周期の誘発のタイプ', class: "question-matters" %></div>
        <%= f.select :type_of_ovarian_stimulation, Report::HASH_TYPE_OF_OVARIAN_STIMULATION.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><%= f.label :type_of_sairan_cycle, '妊娠に至った周期の誘発方法', class: "question-matters" %></div><br>
          <%= f.select :type_of_sairan_cycle, Report::HASH_TYPE_OF_SAIRAN_CYCLE.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
          <small id="poster-tip" class="form-text text-muted">
              当てはまるものまたは最も近いものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :notes_on_type_of_sairan_cycle, '妊娠に至った周期の誘発方法の補足説明(があれば)', class: "question-matters" %></div>
            <%= f.text_area :notes_on_type_of_sairan_cycle, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例) 私が通ったクリニックでは「〇〇法」という独自の呼び方でした。ですが内容は〇〇と一緒でした" %>
            <small id="poster-tip" class="form-text text-muted">
                説明をつけてより詳しい内容にしませんか。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :sairan_medicine, '卵巣刺激(〜採卵周期)で使用した薬剤' %></span></div><br>
          <%= f.collection_check_boxes(:sairan_medicine_ids, SairanMedicine.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :sairan_medicine, "上記選択肢に無いので新たに薬剤を追加する", class: "question-matters" %></div>
            <%= text_field_tag :sm_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group border rounded px-3 py-3">
        <div class="label p-1"><%= f.label :use_of_anesthesia, '採卵時の麻酔の有無とその種類', class: "question-matters" %></div>
        <%= f.select :use_of_anesthesia, Report::HASH_USE_OF_ANESTHESIA.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
        <div class="form-group">
          <div class="label p-1"><%= f.label :selection_of_anesthesia_type, '麻酔の有無や種類は選べましたか', class: "question-matters" %></div>
          <%= f.select :selection_of_anesthesia_type, Report::HASH_SELECTION_OF_ANESTHESIA_TYPE.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
          <small id="poster-tip" class="form-text text-muted">
              当てはまるものを選択してください。
          </small>
        </div>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :total_number_of_sairan, 'このクリニックでの全採卵「回」数', class: "question-matters" %></div>
        <%= f.select :total_number_of_sairan, Report.make_select_options_total_number_of_sairan, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :all_number_of_sairan, 'このクリニック以外も含めた全採卵「回」数', class: "question-matters" %></div>
        <%= f.select :all_number_of_sairan, Report.make_select_options_all_number_of_sairan, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-danger">
            前問の回数以上を入力してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :number_of_eggs_collected, 'このクリニックでの最新採卵周期の全採卵「個」数', class: "question-matters" %></div>
        <%= f.select :number_of_eggs_collected, Report.make_select_options_number_of_eggs_collected, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :number_of_fertilized_eggs, 'その最新周期で受精まで至った個数', class: "question-matters" %></div>
        <%= f.select :number_of_fertilized_eggs, Report.make_select_options_number_of_fertilized_eggs, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :number_of_transferable_embryos, 'その最新周期で受精まで至った胚(受精卵)の内、移植可能となった個数(新鮮胚も含む)', class: "question-matters" %></div>
        <%= f.select :number_of_transferable_embryos, Report.make_select_options_number_of_transferable_embryos, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :number_of_frozen_eggs, '移植可能な胚(受精卵)の内、凍結胚の数はいくつありましたか', class: "question-matters" %></div>
        <%= f.select :number_of_frozen_eggs, Report.make_select_options_number_of_frozen_eggs, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :egg_maturity, 'その中で妊娠に至った卵子(受精前)の成熟度', class: "question-matters" %></div>
        <%= f.select :egg_maturity, Report::HASH_EGG_MATURITY.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :ova_with_ivm, '妊娠した卵子へのIVM実施の有無', class: "question-matters" %></div>
        <%= f.select :ova_with_ivm, Report::HASH_OVA_WITH_IVM.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :embryo_culture_days, '妊娠に至った胚の培養日数', class: "question-matters" %></div>
        <%= f.select :embryo_culture_days, Report.make_select_options_embryo_culture_days, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1 mb-3"><%= f.label :embryo_stage, '妊娠に至った胚のステージ', class: "question-matters mb-0" %><br><span class="transplant_method_dis1 small text-muted"></span><span class="transplant_method small text-danger"></span><span class="transplant_method_dis2 small text-muted"></span></div>
        <%= f.select :embryo_stage, Report::HASH_EMBRYO_STAGE.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group border rounded px-0 py-3">
        <p class="px-3"><span class="text-danger font-weight-bold">採卵日当日</span>の各ホルモン値を入力してください。</p>
        <small id="poster-tip" class="form-text px-3">
          入力される際には「Day」を必ず選択し、各種ホルモン値は「半角数字」で入力ください。<br>
          採卵日当日以前のホルモン値については次の項目に入力欄があります。
        </small><br>
        <%= f.fields_for :day_of_sairans do |day_of_sairan| %>
          <table class="table table-sm table-bordered table-hover mb-0">
            <thead>
              <tr>
                <th scope="col" class="hormon-label">Day&nbsp;<span><font size="1" color="#FF0000">(必須)</font></span></th>
                <th scope="col" class="hormon-label">E2</th>
                <th scope="col" class="hormon-label">FSH</th>
                <th scope="col" class="hormon-label">LH</th>
                <th scope="col" class="hormon-label">P4</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="day-column"><%= day_of_sairan.select :day, Report.make_select_day_of_sairan, { prompt: "まず選択" }, { class: "form-control text-muted" } %></th>
                <td class="hormon-column"><%= day_of_sairan.number_field :e2, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_sairan.number_field :fsh, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_sairan.number_field :lh, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_sairan.number_field :p4, { step: "0.1", class: "form-control" } %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>

      <div class="form-group border rounded px-0 py-3">
        <p class="px-3"><span class="text-danger font-weight-bold">採卵日以前</span>の各ホルモン値を入力してください。</p>
        <small id="poster-tip" class="form-text px-3">
          必ず「Day」を選択の上、各種ホルモン値を「半角数字」で入力ください。<br>
          必要なだけ行を追加することができます。<br>
          採卵後の移植周期(移植前･移植後)は同様の入力欄が別途あります。
        </small><br>
        <%= f.fields_for :sairan_hormones do |sairan_hormone| %>
          <%= render "sairan_hormone_fields", f: sairan_hormone %>
        <% end %>
        <div class="links pt-2 pl-2">
          <%= link_to_add_association "+ 追加", f, :sairan_hormones %>
        </div>
      </div>

      <div class="form-group border rounded px-0 py-3 before_ishoku-hormone">
        <p class="px-3">採卵後の移植周期における「移植<span class="font-weight-bold text-danger">前</span>」の各ホルモン値を入力してください。</p>
        <small id="poster-tip" class="form-text px-3">
          必ず「Day」を選択の上、各種ホルモン値を「半角数字」で入力ください。<br>
          必要なだけ行を追加することができます。
        </small><br>
        <%= f.fields_for :before_ishoku_hormones do |before_ishoku_hormone| %>
          <%= render "before_ishoku_hormone_fields", f: before_ishoku_hormone %>
        <% end %>
        <div class="links pt-2 pl-2">
          <%= link_to_add_association "+ 追加", f, :before_ishoku_hormones %>
        </div>
      </div>

      <div class="form-group border rounded px-0 py-3 day_of_shokihaiishoku">
        <p class="px-3">初期胚<span class="text-danger font-weight-bold">移植日当日</span>の各ホルモン値を入力してください。</p>
        <%= f.fields_for :day_of_shokihaiishokus do |day_of_shokihaiishoku| %>
          <table class="table table-sm table-bordered table-hover mb-0">
            <thead>
              <tr>
                <th scope="col" class="hormon-label">E2</th>
                <th scope="col" class="hormon-label">FSH</th>
                <th scope="col" class="hormon-label">LH</th>
                <th scope="col" class="hormon-label">P4</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :e2, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :fsh, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :lh, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :p4, { step: "0.1", class: "form-control" } %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>

      <div class="form-group border rounded px-0 py-3 day_of_haibanhoishoku">
        <p class="px-3">胚盤胞<span class="text-danger font-weight-bold">移植日当日</span>の各ホルモン値を入力してください。</p>
        <%= f.fields_for :day_of_haibanhoishokus do |day_of_haibanhoishoku| %>
          <table class="table table-sm table-bordered table-hover mb-0">
            <thead>
              <tr>
                <th scope="col" class="hormon-label">E2</th>
                <th scope="col" class="hormon-label">FSH</th>
                <th scope="col" class="hormon-label">LH</th>
                <th scope="col" class="hormon-label">P4</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :e2, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :fsh, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :lh, { step: "0.1", class: "form-control" } %></td>
                <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :p4, { step: "0.1", class: "form-control" } %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>

      <div class="form-group border rounded px-0 py-3 shokihaiishoku-hormone">
        <p class="px-3">初期胚移植周期における「移植<span class="font-weight-bold text-danger">後</span>」の各ホルモン値を入力してください。</p>
        <small id="poster-tip" class="form-text px-3">
          必ず「ET」を選択の上、各種ホルモン値を「半角数字」で入力ください。<br>
          必要なだけ行を追加することができます。
        </small><br>
        <%= f.fields_for :shokihaiishoku_hormones do |shokihaiishoku_hormone| %>
          <%= render "shokihaiishoku_hormone_fields", f: shokihaiishoku_hormone %>
        <% end %>
        <div class="links pt-2 pl-2">
          <%= link_to_add_association "+ 追加", f, :shokihaiishoku_hormones %>
        </div>
      </div>

      <div class="form-group early_embryo_grade border rounded px-3 py-3">
        <div class="label p-1"><%= f.label :early_embryo_grade, '初期胚のグレード', class: "question-matters" %></div>
        <%= f.select :early_embryo_grade, Report::HASH_EARLY_EMBRYO_GRADE.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
        <div class="form-group">
          <div class="label p-1"><%= f.label :early_embryo_grade_supplementary_explanation, '初期胚のグレードについての補足説明', class: "question-matters" %></div>
          <%= f.text_area :early_embryo_grade_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)上記で〇〇を選びましたが、私のクリニックでは〇〇と呼ばれていました" %>
          <small id="poster-tip" class="form-text text-muted">
            説明を書いてより詳しいレポートにしませんか
          </small>
        </div>
      </div>

      <div class="form-group border rounded px-0 py-3 haibanhoishoku-hormone">
        <p class="px-3">胚盤胞移植周期における「移植<span class="font-weight-bold text-danger">後</span>」の各ホルモン値を入力してください。</p>
        <small id="poster-tip" class="form-text px-3">
          必ず「BT」を選択の上、各種ホルモン値を「半角数字」で入力ください。<br>
          必要なだけ行を追加することができます。
        </small><br>
        <%= f.fields_for :haibanhoishoku_hormones do |haibanhoishoku_hormone| %>
          <%= render "haibanhoishoku_hormone_fields", f: haibanhoishoku_hormone %>
        <% end %>
        <div class="links pt-2 pl-2">
          <%= link_to_add_association "+ 追加", f, :haibanhoishoku_hormones %>
        </div>
      </div>

      <div class="form-group blastocyst_grade1 border rounded px-3 py-3">
        <div class="label p-1"><%= f.label :blastocyst_grade1, '胚盤胞以上のグレード', class: "question-matters" %></div>
        <%= f.select :blastocyst_grade1, Report::HASH_BLASTOCYST_GRADE1.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
          当てはまるものを選択してください。
        </small>
        <div class="form-group">
          <div class="label p-1"><%= f.label :blastocyst_grade1_supplementary_explanation, '胚盤胞以上のグレードについての補足説明', class: "question-matters" %></div>
          <%= f.text_area :blastocyst_grade1_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)上記で〇〇を選びましたが、私のクリニックでは〇〇と呼ばれていました" %>
          <small id="poster-tip" class="form-text text-muted">
            説明を書いてより詳しいレポートにしませんか
          </small>
        </div>
      </div>

      <div class="form-group blastocyst_grade2 border rounded px-3 py-3">
        <div class="label p-1"><%= f.label :blastocyst_grade2, '胚盤胞以上の評価', class: "question-matters" %></div>
        <%= f.select :blastocyst_grade2, Report::HASH_BLASTOCYST_GRADE2.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
          当てはまるものを選択してください。
        </small>
        <div class="form-group">
          <div class="label p-1"><%= f.label :blastocyst_grade2_supplementary_explanation, '胚盤胞以上の評価についての補足説明', class: "question-matters" %></div>
          <%= f.text_area :blastocyst_grade2_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)上記で〇〇を選びましたが、私のクリニックでは〇〇と呼ばれていました" %>
          <small id="poster-tip" class="form-text text-muted">
            説明を書いてより詳しいレポートにしませんか
          </small>
        </div>
      </div>

      <div class="form-group border rounded px-3 py-3">
        <div class="label p-1"><%= f.label :number_of_miscarriages, 'これまでの流産経験', class: "question-matters" %></div>
        <%= f.select :number_of_miscarriages, Report::HASH_NUMBER_OF_MISCARRIAGES.invert, { prompt: "選択してください" }, { class: "form-control" } %>
        <small id="poster-tip" class="form-text text-muted">
          このクリニックや治療に関係なく可能であれば選択ください。
        </small>
        <div class="form-group">
          <div class="label p-1"><%= f.label :number_of_stillbirths, 'これまでの死産経験', class: "question-matters" %></div>
          <%= f.select :number_of_stillbirths, Report::HASH_NUMBER_OF_MISCARRIAGES.invert, { prompt: "選択してください" }, { class: "form-control" } %>
          <small id="poster-tip" class="form-text text-muted">
            このクリニックや治療に関係なく可能であれば選択ください。
          </small>
        </div>
        <div class="form-group">
          <div class="label p-1"><%= f.label :fuiku, '不育症の有無', class: "question-matters" %></div>
          <%= f.select :fuiku, Report::HASH_FUIKU.invert, { prompt: "選択してください" }, { class: "form-control" } %>
          <small id="poster-tip" class="form-text text-muted">
            このクリニックや治療に関係なく可能であれば選択ください。
          </small>
        </div>
        <div class="form-group">
          <div class="label p-1"><%= f.label :fuiku_supplementary_explanation, '流死産産経験(習慣流産など)や不育症についての補足説明', class: "question-matters" %></div>
          <%= f.text_area :fuiku_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)不育症は〇〇クリニックで検査を受けてわかりました" %>
          <small id="poster-tip" class="form-text text-muted">
            補足説明があればお書きください
          </small>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><%= f.label :pgt1, 'このクリニックの着床前診断(PGT-A)実施の有無', class: "question-matters" %></div>
          <%= f.select :pgt1, Report::HASH_PGT1.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
          <small id="poster-tip" class="form-text text-danger">
            こちらの回答はレポートには表示されませんが、治療環境可視化のため統計データとして使用する可能性があります。もちろん投稿者は特定されません。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :pgt2, '着床前診断(PGT-A)は受けましたか', class: "question-matters" %></div>
            <%= f.select :pgt2, Report::HASH_PGT2.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-danger">
              こちらの回答はレポートには表示されませんが、治療環境可視化のため統計データとして使用する可能性があります。もちろん投稿者は特定されません。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :pgt_supplementary_explanation, '着床前診断(PGT-A)について何か説明があればお書きください', class: "question-matters" %></div>
            <%= f.text_area :pgt_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)クリニックへの着床前診断の相談経緯や料金など" %>
            <small id="poster-tip" class="form-text text-danger">
            こちらの回答はレポートには表示されませんが、治療環境可視化のため統計データとして使用する可能性があります。もちろん投稿者は特定されません。
            </small>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :transfer_medicine, '移植周期で使用した薬剤' %></span></div><br>
          <%= f.collection_check_boxes(:transfer_medicine_ids, TransferMedicine.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :transfer_medicine, "上記選択肢に無いので新たに薬剤を追加する", class: "question-matters" %></div>
            <%= text_field_tag :tm_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3 ">
          <div class="label p-1"><span class="question-matters"><%= f.label :transfer_option, '移植オプション(複数選択可)' %></span></div><br>
          <%= f.collection_check_boxes(:transfer_option_ids, TransferOption.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :transfer_option, "上記選択肢に無いので新たに移植オプションを追加する", class: "question-matters" %></div>
            <%= text_field_tag :to_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :total_number_of_transplants, 'このクリニックでの全移植「回」数', class: "question-matters" %></div>
        <%= f.select :total_number_of_transplants, Report.make_select_options_total_number_of_transplants, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :all_number_of_transplants, 'このクリニック以外も含めた全移植「回」数', class: "question-matters" %></div>
        <%= f.select :all_number_of_transplants, Report.make_select_options_all_number_of_transplants, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-danger">
            前問の回数以上を入力してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :total_number_of_eggs_transplanted, 'このクリニックでの全移植「個」数', class: "question-matters" %></div>
        <%= f.select :total_number_of_eggs_transplanted, Report.make_select_options_total_number_of_eggs_transplanted, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group border rounded px-3 py-3">
        <div class="label p-1"><%= f.label :number_of_eggs_stored, 'このクリニックにある凍結胚の数(貯卵数)', class: "question-matters" %></div>
        <%= f.select :number_of_eggs_stored, Report.make_select_options_number_of_eggs_stored, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
        <div class="form-group mt-2">
          <div class="label p-1"><%= f.label :frozen_embryo_storage_cost, '凍結胚1個あたりの年間保存費用(わかれば)', class: "question-matters" %></div>
          <%= f.number_field :frozen_embryo_storage_cost, { step: "1", class: "form-control" }  %>
          <small id="poster-tip" class="form-text text-muted">
            例) 諸々の年間保存コスト&nbsp;÷&nbsp;凍結胚の個数
          </small>
        </div>
        <div class="form-group mt-2">
          <div class="label p-1"><%= f.label :explanation_of_frozen_embryo_storage_cost, '凍結胚(貯卵)の保管コストなどの補足説明', class: "question-matters" %></div>
          <%= f.text_area :explanation_of_frozen_embryo_storage_cost, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)私の通ったクリニックでは年間◯万円の保管コストがかかります。" %>
          <small id="poster-tip" class="form-text text-muted">
            説明を書いてより詳しいレポートにしませんか
          </small>
        </div>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :adoption, '養子縁組に関して', class: "question-matters" %></div>
        <%= f.select :adoption, Report::HASH_ADOPTION.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3 ">
          <div class="label p-1"><span class="question-matters"><%= f.label :other_effort, 'クリニックでの治療以外に行ったこと(複数選択可)' %></span></div><br>
          <%= f.collection_check_boxes(:other_effort_ids, OtherEffort.all, :id, :name) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
          </small>
          <div class="form-group mt-3">
            <div class="label p-1"><%= f.label :other_effort, "上記選択肢に無いので新たに治療以外に行ったことを追加する", class: "question-matters" %></div>
            <%= text_field_tag :oe_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
          <div class="form-group mt-2">
            <div class="label p-1"><%= f.label :other_effort_cost, 'クリニックでの治療以外に行なったことへは月平均どれくらい使っていましたか', class: "question-matters" %></div>
            <%= f.select :other_effort_cost, Report::HASH_OTHER_EFFORT_COST.invert, { prompt: "選択してください" }, { class: "form-control" } %>
          </div>
          <div class="form-group mt-2">
            <div class="label p-1"><%= f.label :other_effort_supplementary_explanation, 'クリニックでの治療以外に行なったことについての補足説明', class: "question-matters" %></div>
            <%= f.text_area :other_effort_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)〇〇漢方鍼灸院にて漢方治療のみを◯年行なっていました。" %>
            <small id="poster-tip" class="form-text text-muted">
              説明を書いてより詳しいレポートにしませんか
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3 ">
          <div class="label p-1"><span class="question-matters"><%= f.label :supplement, '治療中サプリを使用しましたか(複数選択可)' %></span></div><br>
          <%= f.collection_check_boxes(:supplement_ids, Supplement.all, :id, :name) do |b| %>
          <div class="form-check form-check-inline">
            <%= b.label class: "form-check-label" do %>
              <%= b.check_box class: "form-check-input" %>
              <%= b.text %>
            <% end %>
          </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            妊娠に至った周期に服用していたサプリがあれば全て選択してください。
          </small>
          <div class="form-group mt-3">
            <div class="label p-1"><%= f.label :supplement, "上記選択肢に無いので新たにサプリ名を追加する", class: "question-matters" %></div>
            <%= text_field_tag :supplement_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
          <div class="form-group mt-2">
            <div class="label p-1"><%= f.label :supplement_cost, 'サプリには月平均どれくらい使っていましたか', class: "question-matters" %></div>
            <%= f.select :supplement_cost, Report::HASH_SUPPLEMENT_COST.invert, { prompt: "選択してください" }, { class: "form-control" } %>
          </div>
          <div class="form-group mt-2">
            <div class="label p-1"><%= f.label :supplement_supplementary_explanation, 'サプリについての補足説明', class: "question-matters" %></div>
            <%= f.text_area :supplement_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)最初はネットで調べて買っていましたが、途中からクリニックで販売していた〇〇サプリに切り替えました。お値段は〇〇円位でした。" %>
            <small id="poster-tip" class="form-text text-muted">
              説明を書いてより詳しいレポートにしませんか
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :cost, 'このクリニックでの治療費用は総額いくらでしたか', class: "question-matters" %></div>
        <%= f.select :cost, Report::HASH_COST.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :all_cost, 'このクリニック以外にかけた治療費用(他のクリニックでの治療/鍼灸漢方治療/サプリなど)も含めると費用の総額はどれくらいですか', class: "question-matters" %></div>
        <%= f.select :all_cost, Report::HASH_ALL_COST.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3 ">
          <div class="label p-1"><%= f.label :number_of_times_the_grant_was_received, 'これまでに助成金を受けた回数を教えてください', class: "question-matters" %>
          </div>
          <%= f.select :number_of_times_the_grant_was_received, Report::HASH_NUMBER_OF_TIMES_THE_GRANT_WAS_RECEIVED.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
          <small id="poster-tip" class="form-text text-muted">
              このクリニック以外での治療も含む全受給回数を選択下さい。
          </small>
          <div class="form-group mt-2">
            <div class="label p-1"><%= f.label :all_grant_amount, 'これまで受けた助成金の総額はいくらですか?', class: "question-matters" %></div>
            <div class="row p-0 m-0">
              <div class="col-8 p-0 m-0">
                <%= f.number_field :all_grant_amount, { class: "form-control" } %>
              </div>
              <div class="col-4 p-0 m-0">
                円
              </div>
            </div>
            <small id="poster-tip" class="form-text text-muted">
              <span><font color="#FF0000">半角数字で入力してください。金額は厳密でなくて結構です。</font></span>
            </small>
          </div>
          <div class="form-group mt-2">
            <div class="label p-1"><%= f.label :supplementary_explanation_of_grant, '一口メモ(補足説明)', class: "question-matters" %></div>
            <%= f.text_area :supplementary_explanation_of_grant, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)私の自治体では〇〇な独自助成などがありました。/ 私の自治体は全額助成する制度がありました。" %>
            <small id="poster-tip" class="form-text text-muted">
              説明を書いてより詳しいレポートにしませんか
            </small>
          </div>
        </div>
      </div>

      <div class="form-group mb-0">
        <div class="label p-1"><%= f.label :credit_card_validity, 'クレジットカードは使えましたか', class: "question-matters" %></div>
        <%= f.select :credit_card_validity, Report::HASH_CREDIT_CARD_VALIDITY.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group amount_that_can_be_activated m-1">
        <div class="label p-1"><%= f.label :creditcards_can_be_used_from_more_than, '一定の金額とはいくら以上ですか', class: "question-matters" %></div>
        <div class="row p-0 m-0">
          <div class="col-8 p-0 m-0">
            <%= f.number_field :creditcards_can_be_used_from_more_than, { class: "form-control" } %>
          </div>
          <div class="col-4 p-0 m-0">
            円以上
          </div>
        </div>
        <small id="poster-tip" class="form-text text-muted">
          <span><font color="#FF0000">半角数字で入力してください。</font></span>
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :average_waiting_time, 'クリニックでの平均待ち時間はどのくらいでしたか', class: "question-matters" %></div>
        <%= f.select :average_waiting_time, Report::HASH_AVERAGE_WAITING_TIME.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :reservation_method, '診察の予約方法について', class: "question-matters" %></div>
        <%= f.select :reservation_method, Report::HASH_RESERVATION_METHOD.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>

      <div class="form-group">
        <div class="label p-1"><%= f.label :period_of_time_spent_traveling, 'クリニックまでの通院時間はどれくらいかかりましたか', class: "question-matters" %></div>
        <%= f.select :period_of_time_spent_traveling, Report::HASH_PERIOD_OF_TIME_SPENT_TRAVELING.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
        <small id="poster-tip" class="form-text text-muted">
            当てはまるものを選択してください。
        </small>
      </div>
      
      <div class="work-style-inner row">
        <div class="work-style-item col-6">
          <div class="form-group">
            <div class="label p-1"><%= f.label :work_style, '治療時の働き方', class: "question-matters" %></div>
            <%= f.select :work_style, Report::HASH_WORK_STYLE.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :private_or_listed_company, '上場の有無', class: "question-matters" %></div>
            <%= f.select :private_or_listed_company, Report::HASH_PRIVATE_OR_LISTED_COMPANY.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :capital_size, '資本金規模', class: "question-matters" %></div>
            <%= f.select :capital_size, Report::HASH_CAPITAL_SIZE.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :position, '役職', class: "question-matters" %></div>
            <%= f.select :position, Report::HASH_POSITION.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :treatment_support_system, '職場での不妊治療支援制度の有無', class: "question-matters" %></div>
            <%= f.select :treatment_support_system, Report::HASH_TREATMENT_SUPPORT_SYSTEM.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :annual_income, '治療当時のご自身の年収', class: "question-matters" %></div>
            <%= f.select :annual_income, Report::HASH_ANNUAL_INCOME.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
            <small id="poster-tip" class="form-text text-muted"><%= f.check_box :annual_income_status, {}, "hide", "show" %>非公開</small>
          </div>
        </div>

        <div class="work-style-item col-6">
          <div class="form-group">
            <div class="label p-1"><%= f.label :industry_type, '業種', class: "question-matters" %></div>
            <%= f.select :industry_type, Report::HASH_INDUSTRY_TYPE.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                参考→&nbsp;<a href="http://www.pref.mie.lg.jp/common/content/000151581.pdf" target="window_name" onClick="disp('http://www.pref.mie.lg.jp/common/content/000151581.pdf')">業種コード表(日本標準産業分類)</a>
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :domestic_or_foreign_capital, '日系企業 or 外資企業', class: "question-matters" %></div>
            <%= f.select :domestic_or_foreign_capital, Report::HASH_DOMESTIC_OR_FOREIGN_CAPITAL.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :department, '部署', class: "question-matters" %></div>
            <%= f.select :department, Report::HASH_DEPARTMENT.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :number_of_employees, '従業員数', class: "question-matters" %></div>
            <%= f.select :number_of_employees, Report::HASH_NUMBER_OF_EMPLOYEES.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :suspended_or_retirement_job, '休職や退職の有無', class: "question-matters" %></div>
            <%= f.select :suspended_or_retirement_job, Report::HASH_SUSPENDED_OR_RETIREMENT_JOB.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
                一番当てはまるものを選択してください。
            </small>
          </div>
          <div class="form-group">
            <div class="label p-1"><%= f.label :household_net_income, '治療当時の前年の「夫婦合算所得」', class: "question-matters" %></div>
            <%= f.select :household_net_income, Report::HASH_HOUSEHOLD_NET_INCOME.invert, { prompt: "選択してください" }, { class: "form-control" }  %>
            <small id="poster-tip" class="form-text text-muted">
              所得は、収入から経費を引いたもの。
            </small>
            <small id="poster-tip" class="form-text text-muted"><%= f.check_box :household_net_income_status, {}, "hide", "show" %>非公開</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="border rounded px-3 py-3">
          <div class="label p-1"><span class="question-matters"><%= f.label :scope_of_disclosure, '治療のことをどこまでオープンにしましたか(複数選択可)' %></span></div><br>
          <%= f.collection_check_boxes(:scope_of_disclosure_ids, ScopeOfDisclosure.all, :id, :scope) do |b| %>
            <div class="form-check form-check-inline">
              <%= b.label class: "form-check-label" do %>
                <%= b.check_box class: "form-check-input" %>
                <%= b.text %>
              <% end %>
            </div>
          <% end %>
          <small id="poster-tip" class="form-text text-muted">
            開示範囲を選択してください。
          </small>
          <div class="form-group">
            <div class="label p-1"><%= f.label :scope_of_disclosure, "開示範囲を追加する", class: "question-matters" %></div>
            <%= text_field_tag :sod_scope, "", class: "form-control", placeholder: "半角カンマ区切り" %>
            <small id="poster-tip" class="form-text text-muted">
              複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
            </small>
          </div>
        </div>
      </div>

      <div class="form-group border rounded px-3 py-3 tag-area">
        <div class="row">
          <div class="col-12">
            <h3>タグ</h3>
            <span class="question-matters"><%= f.label :tag_ids, 'タグをつけることができます(複数選択可)' %></span>
          </div>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
            <div class="col-md-4">
              <div class="form-check">
                <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="form-group">
          <div class="label p-1"><%= f.label :name, "新しくタグを追加する", class: "question-matters" %></div>
          <%= text_field_tag :tag_name, "", class: "form-control", placeholder: "半角カンマ区切り" %>
          <small id="poster-tip" class="form-text text-muted">
          1タグ最大15文字まで。複数ある場合は「半角カンマ」で区切ってください。前後に空白などを含めないようご注意下さい。
          </small>
        </div>
      </div>

      <% if false %>
        <div class="draft-published-btn pt-5 submit-mobile">
          <div class="switch">
            <label>
              <input type="checkbox" name="status1" value="nonreleased" class="draft-switch-btn">
                下書き
            </label>
          </div>
          <%= f.submit '保存 / 公開', name: "temp", class: 'post-btn btn btn-raised btn-info w-50 mx-auto d-block mt-3' %>
          <small id="submit-tip" class="form-text text-muted w-50 mx-auto d-block mt-3">
            よろしければクリックしてください。
          </small>
        </div>
      <% end %>

    </div>

    <div class="split-right-box right-box px-3 pb-5">
      <div class="form-group">
        <div><%= f.label :title, 'あなたの治療レポートのタイトル', class: "question-matters" %></div>
        <%= f.text_field :title, class: "form-control", placeholder: "最大64文字" %>
      </div>
      <div class="form-group mt-0">
        <div class="pb-2"><%= f.label :content, 'このクリニックでの詳しい治療内容を書き残してください', class: "question-matters" %></div>
        <%= f.rich_text_area :content, placeholder: "治療内容、数値、費用、CLの雰囲気や感想など、左の質問に対する詳しい説明など交えてたくさんの情報を載せてください" %>
        <small id="poster-tip" class="form-text text-muted">
        <span class="mobile-hidden-string">左</span><span class="pc-hidden-string">上</span>の質問を答えてから、または質問を見ながら綴ることで、より詳しいあなた独自のレポートを作成することができます。<span class="mobile-hidden-string">左</span><span class="pc-hidden-string">上</span>の記述式回答内容と重複しても構いません。多くの情報を載せてください。
        </small>
      </div>
      
      <div class="draft-published-btn">
        <div class="switch">
          <label>
            <input type="checkbox" name="status2" value="nonreleased" class="draft-switch-btn">
              下書き
          </label>
        </div>
        <%= f.submit '投稿', class: 'post-btn btn btn-raised btn-info w-50 mx-auto d-block mt-3' %>
        <small id="submit-tip" class="form-text text-muted w-50 mx-auto d-block">
          あなたのレポートを見つけてもらいやすくする為に<span class="mobile-hidden-string">左</span><span class="pc-hidden-string">上</span>の質問にも是非お答えください。
        </small>
      </div>

      <div class="float-right">
        <%= link_to '戻る', @report, class:"btn btn-outline-info button" %>
        <%= link_to 'ホーム', reports_path, class:"btn btn-outline-info button" %>
      </div>
    </div>
  <% end %>
</div>