<% form_edit_link_alert_message = "【注意！】ページを離れますか？投稿/更新/保存のいずれかを行わずにページを離れると選択したデータや入力したデータは保存されず消えてしまいます。ご注意ください。" %>
<div class="container px-0 m-bottom">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <% if false %>
        <% if is_new
          url = confirm_reports_path
        else
          url = confirm_report_path(report.id)
        end %>
      <% end %>

      <%= form_with(model: report, local: true) do |f| %>
        <% if report.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(report.errors.count, "error") %> 件の未入力または誤った入力があります</h2>
            <ul>
              <% report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mt-5">
        </div>

        <p class="my-0 py-0 px-2 small">
          <span class="small text-secondary">※投稿･更新･保存に必要な回答項目は「必須」タブ内のみです。</span>
        </p>

        <div class="parent-tab landing-point">
          <div class="p-1">
          </div>
          <ul class="nav nav-tabs parent-menu mt-0 pt-0">
            <li class="tab-item"><a href="#tab_1" class="active mostleft-tab" data-toggle="tab">基礎情報</a></li>
            <li class="tab-item"><a href="#tab_2" data-toggle="tab">治療情報</a></li>
            <% if false %><li class="tab-item"><a href="#tab_3" data-toggle="tab">ホルモン値</a></li><% end %>
          </ul>
          <section class="parent-tab-content active mostleft-tab" id="tab_1">
            <div class="child-tab">
              <ul class="nav nav-tabs child-menu">
                <li class="tab-item"><a href="#tab_1_1" class="active" data-toggle="tab"><span class="text-info">必須</span></a></li>
                <li class="tab-item"><a href="#tab_1_2" data-toggle="tab">概要</a></li>
                <li class="tab-item"><a href="#tab_1_3" data-toggle="tab">年齢</a></li>
                <li class="tab-item"><a href="#tab_1_4" data-toggle="tab">原因</a></li>
                <li class="tab-item"><a href="#tab_1_5" data-toggle="tab">転院歴</a></li>
              </ul>
              <section class="child-tab-content active" id="tab_1_1">
                <div class="scroll-box row">
                  <div class="col-sm-6 mb-3">
                    <div class="form-group border border-info rounded-lg py-3 px-3 my-0">
                      <p class="question pt-0 mb-1">クリニック&nbsp;&nbsp;<span class="badge badge-danger">必須</span></p>
                      <div>
                        <% if report.clinic.blank? %>
                          <% prefecture_id = nil %>
                        <% else %>
                          <% prefecture_id = report.clinic.prefecture_id %>
                        <% end %>
                        <%= select_tag :select_prefecture,
                                        options_from_collection_for_select(Prefecture.where(id: 1..47), :id, :name, selected: prefecture_id),
                                        {
                                          prompt: "都道府県",
                                          class: "form-control py-0",
                                        }
                        %>
                      </div>

                      <div>
                        <% if report.clinic.blank? %>
                          <% city_id = nil %>
                          <%= select_tag :city, options_for_select([["市区町村", 99]],), { class: "form-control py-0" } %>
                        <% else %>
                          <% city_id = report.clinic.city_id %>
                          <% cities = City.where(prefecture_id: prefecture_id).order(:id).joins(:clinics).distinct %>
                          <%= collection_select :prefecture, :city, cities, :id, :name, { prompt: "市区町村", selected: city_id }, { class: "form-control py-0", id: "city" } %>
                        <% end %>
                      </div>
                      <div>
                        <% if report.clinic.blank? %>
                          <%= f.select :clinic_id, {}, { prompt: "クリニック"}, { class: "form-control py-0" } %>
                        <% else %>
                          <% clinics = Clinic.where(city_id: city_id) %>
                          <%= collection_select :report, :clinic_id, clinics, :id, :name, {prompt: "クリニック"}, { class: "form-control py-0" } %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-group border border-info rounded-lg py-3 px-3 my-0">
                      <p class="question pt-0 mb-1">治療当時の住まい&nbsp;<sup class="text-success">●</sup>&nbsp;&nbsp;<span class="badge badge-danger">必須</span></p>
                      <div>
                        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, { prompt: "都道府県" }, { class: "form-control py-0" }) %>
                      </div>
                      <small id="poster-tip" class="form-text text-muted text-right mt-0 pt-1">
                        <%= f.check_box :prefecture_at_the_time_status, {}, "hide", "show" %>非公開
                      </small>
                      <div>
                        <% if report.city.blank? %>
                          <%= f.select :city_id, {}, { prompt: "市区町村" }, { class: "form-control py-0" } %>
                        <% else %>
                          <% city = report.city_id %>
                          <% prefecture_id = report.prefecture_id %>
                          <% cities = City.where(prefecture_id: prefecture_id) %>
                          <%= collection_select :report, :city_id, cities, :id, :name, { prompt: "市区町村", selected: city }, { class: "form-control py-0" } %>
                        <% end %>
                      </div>
                      <small id="poster-tip" class="form-text text-muted text-right mt-0 pt-1">
                        <%= f.check_box :city_at_the_time_status, {}, "hide", "show" %>非公開
                      </small>
                    </div>
                  </div>
                </div>
                <div class="mt-3 col-12 d-flex justify-content-between">
                  <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                  <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                </div>
              </section>
              <section class="child-tab-content" id="tab_1_2">
                <div class="scroll-box">
                  <div class="form-group mt-0 mb-2 pt-0">
                    <p class="question mb-0 py-2">投稿時点の状況</p>
                    <%= f.collection_radio_buttons(:current_state, Report::HASH_CURRENT_STATE, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group mt-0 mb-0 pt-2">
                    <p class="question mb-0 py-2">治療時の働き方&nbsp;<sup class="text-success">●</sup></p>
                    <%= f.collection_radio_buttons(:work_style, Report::HASH_WORK_STYLE, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="row mb-4">
                    <div class="col-sm-4 pr-3">
                      <small id="poster-tip" class="form-text text-muted text-right mt-0"><%= f.check_box :work_style_status, {}, "hide", "show" %>非公開</small>
                    </div>
                    <div class="d-none d-sm-block col-sm-8">
                    </div>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-2">
                    <p class="question mb-0 py-2">何人目の不妊治療</p>
                    <%= f.collection_radio_buttons(:fertility_treatment_number, Report::HASH_FERTILITY_TREATMENT_NUMBER, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-2">
                    <p class="question mb-0 py-2">卵子と精子の受精方法</p>
                    <%= f.collection_radio_buttons(:types_of_fertilization_methods, Report::HASH_TYPES_OF_FERTILIZATION_METHODS, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-0" id="detail_of_icsi">
                    <p class="question mb-0 pt-1">顕微授精の種類</p>
                    <%= f.collection_radio_buttons(:details_of_icsi, Report::HASH_DETAILS_OF_ICSI, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-2">
                    <p class="question mb-0 pt-1">移植胚</p>
                    <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った移植方法</span></small>
                    <div class="pt-2">
                      <%= f.collection_radio_buttons(:transplant_method, Report::HASH_TRANSPLANT_METHOD, :first, :last) do |b| %>
                        <div class="form-check pl-2">
                          <%= b.label class: "radio-inline mb-1" do %>
                            <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                            <%= b.text %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class="mt-3 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                </div>
              </section>
              <section class="child-tab-content" id="tab_1_3">
                <div class="scroll-box">
                  <div class="form-group mt-0 mb-2 pt-1">
                    <p class="question mb-0 pt-1">卒業時の年齢</p>
                    <%= f.select :treatment_end_age, Report::HASH_TREATMENT_END_AGE.invert, { prompt: "" }, { class: "form-control py-0" } %>
                    <small class="text-muted"><span class="small text-muted"><span class="select-clinic-name"></span>を卒業した年齢</span></small>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-0">
                    <p class="question mb-0 pt-1">卒業時のパートナーの年齢</p>
                    <%= f.select :age_of_partner_at_end_of_treatment, Report::HASH_AGE_OF_PARTNER_AT_END_OF_TREATMENT.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                    <small class="text-muted"><span class="small text-muted"><span class="select-clinic-name"></span>を卒業した時のパートナーの年齢</span></small>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-0">
                    <p class="question mb-0 pt-2">クリニック卒業年</p>
                    <%= f.date_select :year_of_treatment_end, {
                      discard_month: true,
                      discard_day: true,
                      start_year: (Time.now.year),
                      end_year: 2000,
                      prompt: ""
                      },
                      { class: "form-control py-0" } %>
                      <small class="text-muted"><span class="small"><span class="select-clinic-name"></span>を卒業した年(通院を終了した年)</span></small>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-0">
                    <p class="question mb-0 pt-1">治療期間</p>
                    <%= f.select :treatment_period, Report::HASH_TREATMENT_PERIOD.invert, { prompt: "" }, { class: "form-control py-0" } %>
                    <small class="text-muted"><span class="small"><span class="select-clinic-name"></span>での治療期間</span></small>
                  </div>

                  <div class="mt-5 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                </div>
              </section>
              <section class="child-tab-content" id="tab_1_4">
                <div class="scroll-box">
                  <div class="mt-0 mb-2 pt-0">
                    <p class="question mb-2 pt-2">不妊原因&nbsp;&nbsp;<small class="text-muted"><span class="small">複数選択可</span></small></p>
                    <%= f.collection_check_boxes(:f_funin_factor_ids, FFuninFactor.all.name_yomigana, :id, :name) do |b| %>
                      <div class="cp_ipcheck">
                        <%= b.label do %>
                          <%= b.check_box class: "option-input05 cb" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-0">
                    <p class="question mb-0 pt-4">男性側の不妊原因の有無</p>
                    <%= f.collection_radio_buttons(:male_infertility, Report::HASH_MALE_INFERTILITY, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="form-group mt-0 mb-2 pt-0 level_of_male_infertility">
                    <p class="question mb-0 py-2">男性不妊のレベル</p>
                    <%= f.collection_radio_buttons(:level_of_male_infertility, Report::HASH_LEVEL_OF_MALE_INFERTILITY, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group mt-4 mb-0 pt-0">
                    <p class="question mb-0 pt-1">不育症の診断</p>
                    <%= f.collection_radio_buttons(:fuiku, Report::HASH_FUIKU, :first, :last) do |b| %>
                      <div class="form-check pl-2">
                        <%= b.label class: "radio-inline mb-1" do %>
                          <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="form-group mt-3 mb-0 pt-0 fuiku-factor">
                    <p class="question mb-0 pt-1">不育原因&nbsp;&nbsp;<small class="text-muted"><span class="small">複数選択可</span></small></p>
                    <div class="rounded-lg py-3 pl-3">
                      <%= f.collection_check_boxes(:fuiku_inspection_ids, FuikuInspection.all.name_yomigana, :id, :name) do |b| %>
                        <div class="cp_ipcheck">
                          <%= b.label do %>
                            <%= b.check_box class: "option-input05 cb" %>
                            <%= b.text %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class="mt-5 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                </div>
              </section>
              <section class="child-tab-content" id="tab_1_5">
                <div class="scroll-box">
                  <div class="form-group mt-0 mb-2 pt-0">
                    <p class="question mb-0 pt-2"><span class="select-clinic-name"></span>は何院目？</p>
                    <%= f.select :number_of_clinics, Report::HASH_NUMBER_OF_CLINICS.invert, { prompt: "" }, { class: "form-control py-0" } %>
                    <small class="text-muted"><span class="small">検査やタイミング法含む不妊治療スタート時から何院目にあたりますか？</span></small>
                  </div>

                  <div class="form-group mt-0 mb-0 pt-2">
                    <p class="question mb-1 pt-1">これまでの転院歴</p>
                    <%= f.fields_for :itinerary_of_choosing_a_clinics do |itinerary_of_choosing_a_clinic| %>
                      <%= render "itinerary_of_choosing_a_clinic_fields", f: itinerary_of_choosing_a_clinic %>
                    <% end %>
                    <div class="links pt-2 pl-2">
                      <%= link_to_add_association "+ 追加", f, :itinerary_of_choosing_a_clinics %>
                    </div>
                  </div>

                  <div class="form-group mt-0 mb-0 pt-2">
                    <p class="question mb-0 pt-3">通院所要時間</p>
                    <%= f.select :period_of_time_spent_traveling, Report::HASH_PERIOD_OF_TIME_SPENT_TRAVELING.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                    <small class="text-muted"><span class="small">自宅&nbsp;or&nbsp;職場&nbsp;&nbsp;⇄&nbsp;&nbsp;<span class="select-clinic-name"></span>&nbsp;間の通院時間</span></small>
                  </div>

                  <div class="form-group mt-0 mb-0 pt-2">
                    <p class="question mb-0 pt-1"><span class="select-clinic-name"></span>を選んだ理由<br><small class="text-muted"><span class="small">複数選択可</span></small></p>
                    <%= f.collection_check_boxes(:cl_selection_ids, ClSelection.all, :id, :name) do |b| %>
                      <div class="cp_ipcheck">
                        <%= b.label do %>
                          <%= b.check_box class: "option-input05 cb" %>
                          <%= b.text %>
                        <% end %>
                      </div>
                    <% end %>

                    <p class="question mb-0 pt-3"><span class="select-clinic-name"></span>を選んだ詳しい理由</span></p>
                    <%= f.text_area :reasons_for_choosing_this_clinic, class: "form-control p-2 border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "" %>
                  </div>

                  <div class="form-group mt-0 mb-0 pt-2">
                    <p class="question mb-0 pt-1">前院から転院した理由</p>
                    <%= f.text_area :reason_for_transfer, class: "form-control p-2 border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "" %>
                  </div>

                  <div class="mt-5 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                </div>
              </section>
            </div>
          </section>
          <section class="parent-tab-content" id="tab_2">
            <div class="child-tab">
              <ul class="nav nav-tabs child-menu">
                <li class="tab-item"><a href="#tab_2_1" class="active" data-toggle="tab">検査</a></li>
                <li class="tab-item"><a href="#tab_2_2" data-toggle="tab">採卵</a></li>
                <li class="tab-item"><a href="#tab_2_3" data-toggle="tab">移植</a></li>
                <li class="tab-item"><a href="#tab_2_4" data-toggle="tab">費用</a></li>
                <li class="tab-item"><a href="#tab_2_5" data-toggle="tab">評価</a></li>
              </ul>
              <section class="child-tab-content active" id="tab_2_1">
                <div class="scroll-box">
                  <div class="form-group mt-0 mb-3 pt-0">
                    <p class="question mb-0 pt-2">AMH値</p>
                    <%= f.select :amh, Report::HASH_AMH.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                    <small id="poster-tip" class="form-text text-muted">
                      <span class="small text-muted"><span class="select-clinic-name"></span>での直近の数値</span>
                    </small>
                  </div>

                  <div class="form-group mt-0 mb-5 pt-4">
                    <p class="question mb-0 pt-1">基本検査以外に受けた検査</p>
                    <%= f.fields_for :special_inspections do |special_inspection| %>
                      <%= render "special_inspection_fields", f: special_inspection %>
                    <% end %>
                    <div class="links pt-2 pl-2 text-danger">
                      <%= link_to_add_association "+ 追加", f, :special_inspections, class: "text-danger" %>
                    </div>
                  </div>

                  <div class="mt-5 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                </div>
              </section>
              <section class="child-tab-content pt-0" id="tab_2_2">
                <div class="scroll-box">
                  <div class="tab-wrap1 mt-4">
                    <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">最新の採卵周期</label>
                    <div class="tab-content1">
                      <h6 class="child-tab-title pt-3"><span class="marker-underline"><span class="select-current-status"></span>に至った採卵周期について</span></h6>
                      <div class="form-group mt-0 mb-2 pt-0">
                        <p class="question mb-0 pt-2">何回目の採卵？</p>
                        <%= f.select :total_number_of_sairan, Report::HASH_TOTAL_NUMBER_OF_SAIRAN.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵は<span class="select-clinic-name"></span>での何回目の採卵ですか</span></small>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">採卵までの通院回数</p>
                        <small class="text-muted"><span class="small">採卵周期開始から採卵日までの(おおよその)通院回数</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:number_of_visits_before_sairan, Report::HASH_NUMBER_OF_VISITS_BEFORE_SAIRAN, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">採卵時の年齢</p>
                        <%= f.select :sairan_age, Report::HASH_SAIRAN_AGE.invert, { prompt: "" }, { class: "form-control py-0" } %>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵時の年齢</span></small>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">誘発タイプ</p>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵時の誘発タイプ</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:type_of_ovarian_stimulation, Report::HASH_TYPE_OF_OVARIAN_STIMULATION, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">採卵時の麻酔の有無と種類</p>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵時の麻酔使用の有無</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:use_of_anesthesia, Report::HASH_USE_OF_ANESTHESIA, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">麻酔の選択</p>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵時の麻酔使用の選択可否</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:selection_of_anesthesia_type, Report::HASH_SELECTION_OF_ANESTHESIA_TYPE, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">採卵個数<span class="small text-danger"><span class="small">&nbsp;※変性卵は除く</span></span></p>
                        <%= f.select :number_of_eggs_collected, Report::HASH_NUMBER_OF_EGGS_COLLECTED.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵時の採卵個数</span></small>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">受精個数</p>
                        <%= f.select :number_of_fertilized_eggs, Report::HASH_NUMBER_OF_FERTILIZED_EGGS.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵時の胚(受精卵)の数</span></small>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-0">
                        <p class="question mb-0 pt-1">移植可能胚の合計数(新鮮胚含む)</p>
                        <%= f.select :number_of_transferable_embryos, Report::HASH_NUMBER_OF_TRANSFERABLE_EMBRYOS.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵周期における移植可能胚(受精卵)数</span></small>
                      </div>

                      <div class="row">
                        <div class="col-2 px-3">
                          <div class="ed-row row">
                            <div class="col-6 p-0">
                            </div>
                            <div class="col-6 p-0 border-dark border-left">
                            </div>
                          </div>
                          <div class="ed-row row">
                            <div class="col-6 p-0">
                            </div>
                            <div class="col-6 p-0 border border-dark border-top-0 border-right-0 left-bottom-curve">
                            </div>
                          </div>
                          <div class="ed-row row mt-2">
                            <div class="col-6 p-0">
                            </div>
                            <div class="col-6 p-0 border-dark border-left">
                            </div>
                          </div>
                        </div>
                        <div class="col-10 pl-1">
                          <div class="form-group mt-0 mb-2 pt-3">
                            <p class="question mb-0 pt-1">新鮮胚の個数&nbsp;<span class="badge badge-primary">半角数字入力</span></p>
                            <table class="table pt-0 mt-2">
                              <tr>
                                <td class="result-left-column small text-center p-0" style="width:30%"><p class="py-3 mb-0">新鮮胚</p></td>
                                <td class="px-3 py-0" style="width:70%"><%= f.number_field :number_of_unfrozen_embryos, { step: "1", min: 0, class: "form-control text-right", value: "#{@unfrozen_embryos}" } %></td>
                              </tr>
                            </table>
                          </div>
                        </div>

                        <div class="col-2 px-3 pb-4">
                          <div class="ed-row row">
                            <div class="col-6 p-0">
                            </div>
                            <div class="col-6 p-0 border-dark border-left">
                            </div>
                          </div>
                          <div class="ed-row row">
                            <div class="col-6 p-0">
                            </div>
                            <div class="col-6 p-0 border border-dark border-top-0 border-right-0 left-bottom-curve">
                            </div>
                          </div>
                          <div class="ed-row row">
                            <div class="col-6 p-0">
                            </div>
                            <div class="col-6 p-0">
                            </div>
                          </div>
                        </div>
                        <div class="col-10 pl-1">
                          <div class="mt-0 mb-2 pt-3">
                            <p class="question mb-0 pt-1">凍結胚の個数&nbsp;<span class="badge badge-primary">半角数字入力</span></p>
                            <table class="table pt-0 mt-2">
                              <tr>
                                <td class="result-left-column small text-center p-0" style="width:30%"><p class="py-3 mb-0">前核胚</p></td>
                                <td class="px-3 py-0" style="width:70%"><%= f.number_field :number_of_pronuclear_embryos, { step: "1", min: 0, class: "form-control text-right", value: "#{@pronuclear_embryos}" } %></td>
                              </tr>
                              <tr>
                                <td class="result-left-column small text-center p-0"><p class="py-3 mb-0">初期胚</p></td>
                                <td class="px-3 py-0"><%= f.number_field :number_of_early_embryos, { step: "1", min: 0, class: "form-control text-right", value: "#{@early_embryos}" } %></td>
                              </tr>
                              <tr>
                                <td class="result-left-column small text-center p-0"><p class="py-3 mb-0">胚盤胞</p></td>
                                <td class="px-3 py-0"><%= f.number_field :number_of_blastocysts, { step: "1", min: 0, class: "form-control text-right", value: "#{@blastocysts}" } %></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-0">
                        <div class="label p-1 mb-0">
                          <p class="question mb-0 pt-1">移植した胚のステージ</p>
                          <div class="stage-alert-none">
                            <span class="transplant_method_dis1 small text-muted"></span>
                            <span class="transplant_method small text-danger"></span>
                            <span class="transplant_method_dis2 small text-muted"></span>
                          </div>
                          <div class="stage-alert alert alert-primary mb-0 pb-0">
                            <span class="transplant_method_dis3 small text-muted"></span>
                            <span class="transplant_method2 small text-danger"></span>
                            <span class="transplant_method_dis4 small text-muted"></span>
                            <span class="transplant_method_dis5 small text-muted"></span>
                          </div>
                        </div>
                        <div class="pt-2">
                          <%= f.collection_radio_buttons(:embryo_stage, Report::HASH_EMBRYO_STAGE, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="mt-5 d-flex justify-content-between">
                        <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                        <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                      </div>
                    </div>

                    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label small" for="TAB-02">過去の採卵</label>
                    <div class="tab-content1">
                      <h6 class="child-tab-title pt-3"><span class="marker-underline"><span class="select-clinic-name"></span>での過去の採卵</span></h6>
                      <div class="form-group mt-0 pt-0">
                        <%= f.fields_for :unsuccessful_sairan_cycles do |unsuccessful_sairan_cycle| %>
                          <%= render "unsuccessful_sairan_cycle_fields", f: unsuccessful_sairan_cycle %>
                        <% end %>
                        <div class="links pt-2 pl-2">
                          <%= link_to_add_association "+ 追加", f, :unsuccessful_sairan_cycles %>
                        </div>
                      </div>
                      <div class="mt-5 d-flex justify-content-between">
                        <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                        <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="child-tab-content pt-0" id="tab_2_3">
                <div class="scroll-box">
                  <div class="tab-wrap2 mt-4">
                    <input id="TAB-03" type="radio" name="TAB2" class="tab-switch2" checked="checked" /><label class="tab-label2" for="TAB-03">最新の移植周期</label>
                    <div class="tab-content2">
                      <h6 class="child-tab-title pt-3"><span class="marker-underline"><span class="select-current-status"></span>に至った移植周期について</span></h6>
                      <div class="form-group mt-0 mb-2 pt-0">
                        <p class="question mb-0 pt-2">これまでに移植した胚の個数</p>
                        <%= f.select :total_number_of_eggs_transplanted, Report::HASH_TOTAL_NUMBER_OF_EGGS_TRANSPLANTED.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                        <small class="text-muted"><span class="small"><span class="select-clinic-name"></span>でこれまでに移植した胚の合計</span></small>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">移植回数</p>
                        <%= f.select :total_number_of_transplants, Report::HASH_TOTAL_NUMBER_OF_TRANSPLANTS.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                        <small class="text-muted"><span class="small select-clinic-name"></span><span class="small">でのこれまでの移植回数の合計数</span></small>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">移植までの通院回数</p>
                        <small class="text-muted"><span class="small">移植周期開始から移植日までの(おおよその)通院回数</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:number_of_visits_before_ishoku, Report::HASH_NUMBER_OF_VISITS_BEFORE_ISHOKU, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">移植時の年齢</p>
                        <%= f.select :ishoku_age, Report::HASH_ISHOKU_AGE.invert, { prompt: "" }, { class: "form-control py-0" } %>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った移植時の年齢</span></small>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">移植周期のタイプ</p>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った移植タイプ</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:ishoku_type, Report::HASH_ISHOKU_TYPE, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">移植オプション&nbsp;&nbsp;<small class="text-muted"><span class="small">複数選択可</span></small></p>
                        <div class="pt-2 pl-2">
                          <%= f.collection_check_boxes(:transfer_option_ids, TransferOption.all.name_yomigana, :id, :name) do |b| %>
                            <div class="cp_ipcheck">
                              <%= b.label do %>
                                <%= b.check_box class: "option-input05 cb" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2">
                        <p class="question mb-0 pt-1">黄体補充&nbsp;&nbsp;<small class="text-muted"><span class="small">複数選択可</span></small></p>
                        <div class="pt-2 pl-2">
                          <%= f.collection_check_boxes(:pg_eplenishment_ids, PgEplenishment.all, :id, :name) do |b| %>
                            <div class="cp_ipcheck">
                              <%= b.label do %>
                                <%= b.check_box class: "option-input05 cb" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2 early_embryo_grade">
                        <p class="question mb-0 pt-1">初期胚のグレード</p>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った初期胚のグレード</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:early_embryo_grade, Report::HASH_EARLY_EMBRYO_GRADE, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2 blastocyst_grade1">
                        <p class="question mb-0 pt-1">胚盤胞のグレード</p>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞のグレード</span></small>
                        <div class="mt-2">
                          <%= f.collection_radio_buttons(:blastocyst_grade1, Report::HASH_BLASTOCYST_GRADE1, :first, :last) do |b| %>
                            <div class="form-check pl-2">
                              <%= b.label class: "radio-inline mb-1" do %>
                                <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                                <%= b.text %>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group mt-0 mb-2 pt-2 blastocyst_grade2">
                        <p class="question mb-0 pt-1">胚盤胞の評価</p>
                        <%= f.select :blastocyst_grade2, Report::HASH_BLASTOCYST_GRADE2.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                        <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞の評価</span></small>
                      </div>

                      <div class="mt-5 d-flex justify-content-between">
                        <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                        <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                      </div>
                    </div>

                    <input id="TAB-04" type="radio" name="TAB2" class="tab-switch2" /><label class="tab-label2 small" for="TAB-04">過去の移植</label>
                    <div class="tab-content2">
                      <h6 class="child-tab-title pt-3"><span class="marker-underline"><span class="select-clinic-name"></span>での過去の移植</span></h6>
                      <div class="form-group mt-0 pt-0">
                        <%= f.fields_for :unsuccessful_ishoku_cycles do |unsuccessful_ishoku_cycle| %>
                          <%= render "unsuccessful_ishoku_cycle_fields", f: unsuccessful_ishoku_cycle %>
                        <% end %>
                        <div class="links pt-2 pl-2">
                          <%= link_to_add_association "+ 追加", f, :unsuccessful_ishoku_cycles %>
                        </div>
                      </div>
                      <div class="mt-5 d-flex justify-content-between">
                        <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                        <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                      </div>
                    </div>
                  </div>

                  <% if false %>
                    <div class="parent-tab mt-4 mb-0">
                      <ul class="nav nav-tabs2 parent-menu mt-0 pt-0">
                        <li><a href="#left_tab2" class="active mostleft-tab" data-toggle="tab">最新の移植周期</a></li>
                        <li><a href="#right_tab2" data-toggle="tab">過去の移植</a></li>
                      </ul>
                      <div class="parent-tab-content active mostleft-tab p-2" id="left_tab2">
                        <div class="alert alert-light rounded-lg border p-2 mb-0 text-dark" role="alert">
                          <h6 class="child-tab-title pt-3"><span class="marker-underline"><span class="select-current-status"></span>に至った移植周期について</span></h6>
                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">これまでに移植した胚の個数</p>
                            <%= f.select :total_number_of_eggs_transplanted, Report::HASH_TOTAL_NUMBER_OF_EGGS_TRANSPLANTED.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small"><span class="select-clinic-name"></span>でこれまでに移植した胚の合計数</span></small>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">移植回数</p>
                            <%= f.select :total_number_of_transplants, Report::HASH_TOTAL_NUMBER_OF_TRANSPLANTS.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small select-clinic-name"></span><span class="small">でのこれまでの移植回数の合計数</span></small>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">移植までの通院回数</p>
                            <%= f.select :number_of_visits_before_ishoku, Report::HASH_NUMBER_OF_VISITS_BEFORE_ISHOKU.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small">移植周期開始から移植日までの(おおよその)通院回数</span></small>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">移植時の年齢</p>
                            <%= f.select :ishoku_age, Report::HASH_ISHOKU_AGE.invert, { prompt: "" }, { class: "form-control" } %>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った移植時の年齢</span></small>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">移植周期のタイプ</p>
                            <%= f.select :ishoku_type, Report::HASH_ISHOKU_TYPE.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った移植タイプ</span></small>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">移植オプション&nbsp;&nbsp;<small class="text-muted"><span class="small">複数選択可</span></small></p>
                            <%= f.collection_check_boxes(:transfer_option_ids, TransferOption.all.name_yomigana, :id, :name) do |b| %>
                              <div class="form-check checkbox">
                                <%= b.label class: "form-check-label" do %>
                                  <%= b.check_box class: "form-check-input" %>
                                  <%= b.text %>
                                <% end %>
                              </div>
                            <% end %>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">黄体補充&nbsp;&nbsp;<small class="text-muted"><span class="small">複数選択可</span></small></p>
                            <%= f.collection_check_boxes(:pg_eplenishment_ids, PgEplenishment.all, :id, :name) do |b| %>
                              <div class="form-check checkbox">
                                <%= b.label class: "form-check-label" do %>
                                  <%= b.check_box class: "form-check-input" %>
                                  <%= b.text %>
                                <% end %>
                              </div>
                            <% end %>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0">
                            <p class="question mb-0">凍結胚数
                            <%= f.select :number_of_eggs_stored, Report::HASH_NUMBER_OF_EGGS_STORED.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small select-clinic-name"></span><span class="small">に残っている凍結胚数</span></small>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 before_ishoku-hormone">
                            <p class="question mb-0">移植前の各ホルモン値</p>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った移植周期の移植前までの数値</span></small>
                            <%= f.fields_for :before_ishoku_hormones do |before_ishoku_hormone| %>
                              <%= render "before_ishoku_hormone_fields", f: before_ishoku_hormone %>
                            <% end %>
                            <div class="links pt-2 pl-2">
                              <%= link_to_add_association "+ 追加", f, :before_ishoku_hormones %>
                            </div>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 day_of_shokihaiishoku">
                            <p class="question mb-0">初期胚の移植当日のホルモンと内膜</p>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った初期胚の移植当日の数値</span></small>
                            <%= f.fields_for :day_of_shokihaiishokus do |day_of_shokihaiishoku| %>
                              <table class="table table-sm table-bordered mb-0">
                                <thead>
                                  <tr>
                                    <th scope="col" class="hormon-label text-center align-middle">Day</th>
                                    <th scope="col" class="hormon-label">E2</th>
                                    <th scope="col" class="hormon-label">FSH</th>
                                    <th scope="col" class="hormon-label">LH</th>
                                    <th scope="col" class="hormon-label">P4</th>
                                    <th scope="col" class="hormon-label">内膜<span class="small text-muted"><small>(mm)</small></span></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row" class="day-column"><%= day_of_shokihaiishoku.select :day, Report.make_select_day_of_shokihaiishoku, { prompt: "" }, { class: "form-control text-muted" } %></td>
                                    <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :e2, { step: "0.01", class: "form-control", placeholder: "pg/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :fsh, { step: "0.01", class: "form-control", placeholder: "mIU/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :lh, { step: "0.01", class: "form-control", placeholder: "mIU/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :p4, { step: "0.01", class: "form-control", placeholder: "ng/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :endometrial_thickness, { step: "0.1", class: "form-control" } %></td>
                                  </tr>
                                </tbody>
                              </table>
                            <% end %>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 day_of_haibanhoishoku">
                            <p class="question mb-0">胚盤胞の移植当日のホルモンと内膜</p>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞の移植当日の数値</span></small>
                            <%= f.fields_for :day_of_haibanhoishokus do |day_of_haibanhoishoku| %>
                              <table class="table table-sm table-bordered mb-0">
                                <thead>
                                  <tr>
                                    <th scope="col" class="hormon-label text-center align-middle">Day</th>
                                    <th scope="col" class="hormon-label">E2</th>
                                    <th scope="col" class="hormon-label">FSH</th>
                                    <th scope="col" class="hormon-label">LH</th>
                                    <th scope="col" class="hormon-label">P4</th>
                                    <th scope="col" class="hormon-label">内膜<span class="small text-muted"><small>(mm)</small></span></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="hormon-column"><%= day_of_haibanhoishoku.select :day, Report.make_select_day_of_haibanhoishoku, { prompt: "" }, { class: "form-control text-muted" } %></td>
                                    <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :e2, { step: "0.01", class: "form-control", placeholder: "pg/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :fsh, { step: "0.01", class: "form-control", placeholder: "mIU/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :lh, { step: "0.01", class: "form-control", placeholder: "mIU/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :p4, { step: "0.01", class: "form-control", placeholder: "ng/ml" } %></td>
                                    <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :endometrial_thickness, { step: "0.01", class: "form-control" } %></td>
                                  </tr>
                                </tbody>
                              </table>
                            <% end %>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 shokihaiishoku-hormone">
                            <p class="question mb-0">初期胚移植後のホルモン</p>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った初期胚の移植後の数値</span></small>
                            <%= f.fields_for :shokihaiishoku_hormones do |shokihaiishoku_hormone| %>
                              <%= render "shokihaiishoku_hormone_fields", f: shokihaiishoku_hormone %>
                            <% end %>
                            <div class="links pt-2 pl-2">
                              <%= link_to_add_association "+ 追加", f, :shokihaiishoku_hormones %>
                            </div>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 early_embryo_grade">
                            <p class="question mb-0">初期胚のグレード</p>
                            <%= f.select :early_embryo_grade, Report::HASH_EARLY_EMBRYO_GRADE.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った初期胚のグレード</span></small>
                            <p class="sub-question mb-0">初期胚のグレードについての補足説明</p>
                            <%= f.text_area :early_embryo_grade_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)上記で〇〇を選びましたが、私のクリニックでは〇〇と呼ばれていました" %>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 haibanhoishoku-hormone">
                            <p class="question mb-0">胚盤胞移植後のホルモン</p>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞の移植後の数値</span></small>
                            <%= f.fields_for :haibanhoishoku_hormones do |haibanhoishoku_hormone| %>
                              <%= render "haibanhoishoku_hormone_fields", f: haibanhoishoku_hormone %>
                            <% end %>
                            <div class="links pt-2 pl-2">
                              <%= link_to_add_association "+ 追加", f, :haibanhoishoku_hormones %>
                            </div>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 blastocyst_grade1">
                            <p class="question mb-0">胚盤胞のグレード</p>
                            <%= f.select :blastocyst_grade1, Report::HASH_BLASTOCYST_GRADE1.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞のグレード</span></small>
                            <p class="sub-question">グレードの補足説明</p>
                            <%= f.text_area :blastocyst_grade1_supplementary_explanation, class: "form-control border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "例)上記で〇〇を選びましたが、私のクリニックでは〇〇と呼ばれていました" %>
                          </div>

                          <div class="form-group mt-0 mb-2 pt-0 blastocyst_grade2">
                            <p class="question mb-0">胚盤胞の評価</p>
                            <%= f.select :blastocyst_grade2, Report::HASH_BLASTOCYST_GRADE2.invert, { prompt: "" }, { class: "form-control" }  %>
                            <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞の評価</span></small>
                          </div>

                          <div class="mt-3 d-flex justify-content-end">
                            <a class="btn minBtnNext rounded-lg pr-2 shadow">過去の移植入力画面<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="parent-tab-content p-2" id="right_tab2">
                        <div class="alert alert-light rounded-lg border p-2 mb-0 text-dark" role="alert">
                          <div class="alert alert-info rounded-lg border mt-3 mb-0" role="alert">
                            <small class="text-muted"><span class="select-clinic-name"></span><span>での過去の移植結果を分かる範囲で教えて下さい。<br>複数ある場合は「+追加」ボタンで追加できます。</span></small>
                          </div>
                          <div class="form-group first-question-inbox">
                            <%= f.fields_for :unsuccessful_ishoku_cycles do |unsuccessful_ishoku_cycle| %>
                              <%= render "unsuccessful_ishoku_cycle_fields", f: unsuccessful_ishoku_cycle %>
                            <% end %>
                            <div class="links pt-2 pl-2">
                              <%= link_to_add_association "+ 追加", f, :unsuccessful_ishoku_cycles %>
                            </div>
                          </div>
                          <div class="mt-3 d-flex justify-content-between">
                            <a class="btn minBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>最新の移植周期入力画面</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <% if false %>
                  <div class="mt-5 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                <% end %>
              </section>
              <section class="child-tab-content" id="tab_2_4">
                <div class="scroll-box">
                  <div class="form-group mt-0 mb-2 pt-0">
                    <p class="question mb-0 pt-2">治療費総額</p>
                    <%= f.select :cost, Report::HASH_COST.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                    <small class="text-muted"><span class="small text-danger"><span class="select-clinic-name"></span>でかかった治療費総額</span></small>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-2">
                    <p class="question mb-0 pt-1">採卵1回あたりのおおよその費用</p>
                    <%= f.select :sairan_cost, Report::HASH_SAIRAN_COST.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                    <small class="text-muted"><span class="small"><span class="select-clinic-name"></span>での採卵1回あたりのおおよその費用</span></small>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-2">
                    <p class="question mb-0 pt-1">移植1回あたりのおおよその費用</p>
                    <%= f.select :ishoku_cost, Report::HASH_ISHOKU_COST.invert, { prompt: "" }, { class: "form-control py-0" }  %>
                    <small class="text-muted"><span class="small"><span class="select-clinic-name"></span>での移植1回あたりのおおよその費用</span></small>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-2">
                    <p class="question mb-0 pt-1">クレジットカードの利用</p>
                    <small class="text-muted"><span class="small"><span class="select-clinic-name"></span>でのクレジットカード利用可否</span></small>
                    <div class="mt-2">
                      <%= f.collection_radio_buttons(:credit_card_validity, Report::HASH_CREDIT_CARD_VALIDITY, :first, :last) do |b| %>
                        <div class="form-check pl-2">
                          <%= b.label class: "radio-inline mb-1" do %>
                            <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                            <%= b.text %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class="form-group mt-0 mb-2 pt-0 amount_that_can_be_activated m-1">
                    <p class="question mb-0 pt-1">利用可能額</p>
                    <div class="row p-0 m-0">
                      <div class="col-8 p-0 m-0">
                        <%= f.number_field :creditcards_can_be_used_from_more_than, { class: "form-control py-0 commas", placeholder: "半角数字で入力してください" } %>
                      </div>
                      <div class="col-4 p-0 m-0">
                        円以上
                      </div>
                    </div>
                    <small class="text-muted"><span class="small text-warning">「半角数字」入力</span></small>
                  </div>

                  <div class="mt-5 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                </div>
              </section>
              <section class="child-tab-content" id="tab_2_5">
                <div class="scroll-box">
                  <div class="form-group mt-0 pt-0">
                    <div class="mt-0 pt-2">
                      <p class="question mb-1 pt-2">医師&nbsp;&nbsp;<span class="small text-muted">(満足度)</span></p>
                      <span class="small text-muted">低</span>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :doctor_quality, 1, onclick: "radioDeselection(this, 1)" %>1
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :doctor_quality, 2, onclick: "radioDeselection(this, 2)" %>2
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :doctor_quality, 3, onclick: "radioDeselection(this, 3)" %>3
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :doctor_quality, 4, onclick: "radioDeselection(this, 4)" %>4
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :doctor_quality, 5, onclick: "radioDeselection(this, 5)" %>5
                      </label>&nbsp;&nbsp;<span class="small text-muted">高</span>
                    </div>

                    <div class="mt-0 pt-3">
                      <p class="question mb-1 pt-2">スタッフ&nbsp;&nbsp;<span class="small text-muted">(満足度)</span></p>
                      <span class="small text-muted">低</span>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :staff_quality, 1, onclick: "radioDeselection(this, 1)" %>1
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :staff_quality, 2, onclick: "radioDeselection(this, 2)" %>2
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :staff_quality, 3, onclick: "radioDeselection(this, 3)" %>3
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :staff_quality, 4, onclick: "radioDeselection(this, 4)" %>4
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :staff_quality, 5, onclick: "radioDeselection(this, 5)" %>5
                      </label>&nbsp;&nbsp;<span class="small text-muted">高</span>
                      
                    </div>

                    <div class="mt-0 pt-3">
                      <p class="question mb-1 pt-2">技術&nbsp;&nbsp;<span class="small text-muted">(納得度)</span></p>
                      <span class="small text-muted">低</span>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_technology, 1, onclick: "radioDeselection(this, 1)" %>1
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_technology, 2, onclick: "radioDeselection(this, 2)" %>2
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_technology, 3, onclick: "radioDeselection(this, 3)" %>3
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_technology, 4, onclick: "radioDeselection(this, 4)" %>4
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_technology, 5, onclick: "radioDeselection(this, 5)" %>5
                      </label>&nbsp;&nbsp;<span class="small text-muted">高</span>
                    </div>

                    <div class="mt-0 pt-3">
                      <p class="question mb-1 pt-2">価格&nbsp;&nbsp;<span class="small text-muted">(納得度)</span></p>
                      <span class="small text-muted">低</span>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_price, 1, onclick: "radioDeselection(this, 1)" %>1
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_price, 2, onclick: "radioDeselection(this, 2)" %>2
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_price, 3, onclick: "radioDeselection(this, 3)" %>3
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_price, 4, onclick: "radioDeselection(this, 4)" %>4
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :impression_of_price, 5, onclick: "radioDeselection(this, 5)" %>5
                      </label>&nbsp;&nbsp;<span class="small text-muted">高</span>
                    </div>

                    <div class="mt-0 pt-3">
                      <p class="question mb-1 pt-2">待ち時間&nbsp;&nbsp;<span class="small text-muted">(体感)</span></p>
                      <span class="small text-muted">長</span>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :average_waiting_time2, 1, onclick: "radioDeselection(this, 1)" %>1
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :average_waiting_time2, 2, onclick: "radioDeselection(this, 2)" %>2
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :average_waiting_time2, 3, onclick: "radioDeselection(this, 3)" %>3
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :average_waiting_time2, 4, onclick: "radioDeselection(this, 4)" %>4
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :average_waiting_time2, 5, onclick: "radioDeselection(this, 5)" %>5
                      </label>&nbsp;&nbsp;<span class="small text-muted">短</span>
                    </div>

                    <div class="mt-0 pt-3">
                      <p class="question mb-1 pt-2">院内環境&nbsp;&nbsp;<span class="small text-muted">(満足度)</span></p>
                      <span class="small text-muted">低</span>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :comfort_of_space, 1, onclick: "radioDeselection(this, 1)" %>1
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :comfort_of_space, 2, onclick: "radioDeselection(this, 2)" %>2
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :comfort_of_space, 3, onclick: "radioDeselection(this, 3)" %>3
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :comfort_of_space, 4, onclick: "radioDeselection(this, 4)" %>4
                      </label>&nbsp;&nbsp;
                      <label class="radio-inline">
                        <%= f.radio_button :comfort_of_space, 5, onclick: "radioDeselection(this, 5)" %>5
                      </label>&nbsp;&nbsp;<span class="small text-muted">高</span>
                      <div class="form-group mt-4">
                        <p class="mb-2">平均待ち時間</p>
                        <%= f.collection_radio_buttons(:average_waiting_time, Report::HASH_AVERAGE_WAITING_TIME, :first, :last) do |b| %>
                          <div class="form-check pl-2">
                            <%= b.label class: "radio-inline mb-1" do %>
                              <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                              <%= b.text %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <div class="form-group mt-2">
                        <p class="mb-2">WiFi</p>
                        <%= f.collection_radio_buttons(:free_wifi, Report::HASH_FREE_WIFI, :first, :last) do |b| %>
                          <div class="form-check pl-2">
                            <%= b.label class: "radio-inline mb-1" do %>
                              <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                              <%= b.text %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                      <div class="form-group mt-2">
                        <p class="mb-2">待ち時間中の外出</p>
                        <%= f.collection_radio_buttons(:possible_to_wait_outside_cl, Report::HASH_POSSIBLE_TO_WAIT_OUTSIDE_CL, :first, :last) do |b| %>
                          <div class="form-check pl-2">
                            <%= b.label class: "radio-inline mb-1" do %>
                              <%= b.radio_button onclick: "radioDeselection(this, value)" %>
                              <%= b.text %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="form-group mt-2">
                      <p class="mb-0"><span class="select-clinic-name"></span>のレビュー</p>
                      <%= f.text_area :clinic_review, class: "form-control p-2 border", style: "background: rgb(232, 254, 252)", rows: 5, placeholder: "" %>
                    </div>
                  </div>
                  <div class="mt-5 d-flex justify-content-between">
                    <a class="btn FormBtnPrevious rounded-lg pl-2 shadow" ><i data-feather="chevrons-left" class="text-muted pb-1"></i>前へ</a>
                    <a class="btn FormBtnNext rounded-lg pr-2 shadow" >次へ<i data-feather="chevrons-right" class="text-muted pb-1"></i></a>
                  </div>
                </div>
              </section>
            </div>
          </section>
          <% if false %>
          <section class="parent-tab-content" id="tab_3">
            <div class="child-tab">
            <ul class="nav nav-tabs child-menu">
              <li class="tab-item"><a href="#tab_3_1" class="active" data-toggle="tab">採卵 移植</a></li>
            </ul>
            <section class="child-tab-content active" id="tab_3_1">
              <div class="scroll-box">
                <div class="form-group mt-0 mb-2 pt-0">
                  <p class="question mb-0 pt-1"><span class="text-danger font-weight-bold">採卵日以前</span>の各ホルモン値</p>
                  <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵周期における採卵日までのホルモン値</span></small>
                  <%= f.fields_for :sairan_hormones do |sairan_hormone| %>
                    <%= render "sairan_hormone_fields", f: sairan_hormone %>
                  <% end %>
                  <div class="links pt-2 pl-2">
                    <%= link_to_add_association "+ 追加", f, :sairan_hormones %>
                  </div>
                </div>

                <div class="form-group mt-0 mb-2 pt-0">
                  <p class="question mb-0 pt-1"><span class="text-danger font-weight-bold">採卵日当日</span>の各ホルモン値</p>
                  <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った採卵周期の採卵日のホルモン値</span></small>
                  <%= f.fields_for :day_of_sairans do |day_of_sairan| %>
                    <table class="table table-sm table-bordered mb-0">
                      <thead>
                        <tr>
                          <th scope="col" class="hormon-label text-center align-middle">Day</th>
                          <th scope="col" class="hormon-label">E2</th>
                          <th scope="col" class="hormon-label">FSH</th>
                          <th scope="col" class="hormon-label">LH</th>
                          <th scope="col" class="hormon-label">P4</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" class="day-column"><%= day_of_sairan.select :day, Report.make_select_day_of_sairan, { prompt: "" }, { class: "form-control py-0 text-muted" } %></th>
                          <td class="hormon-column"><%= day_of_sairan.number_field :e2, { step: "0.01", class: "form-control py-0", placeholder: "pg/ml" } %></td>
                          <td class="hormon-column"><%= day_of_sairan.number_field :fsh, { step: "0.01", class: "form-control py-0", placeholder: "mIU/ml" } %></td>
                          <td class="hormon-column"><%= day_of_sairan.number_field :lh, { step: "0.01", class: "form-control py-0", placeholder: "mIU/ml" } %></td>
                          <td class="hormon-column"><%= day_of_sairan.number_field :p4, { step: "0.01", class: "form-control py-0", placeholder: "ng/ml" } %></td>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                </div>

                <div class="form-group mt-0 mb-2 pt-0 before_ishoku-hormone">
                  <p class="question mb-0 pt-1">移植前の各ホルモン値</p>
                  <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った移植周期の移植前までの数値</span></small>
                  <%= f.fields_for :before_ishoku_hormones do |before_ishoku_hormone| %>
                    <%= render "before_ishoku_hormone_fields", f: before_ishoku_hormone %>
                  <% end %>
                  <div class="links pt-2 pl-2">
                    <%= link_to_add_association "+ 追加", f, :before_ishoku_hormones %>
                  </div>
                </div>

                <div class="form-group mt-0 mb-2 pt-0 day_of_shokihaiishoku">
                  <p class="question mb-0 pt-1">初期胚の移植当日のホルモンと内膜</p>
                  <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った初期胚の移植当日の数値</span></small>
                  <%= f.fields_for :day_of_shokihaiishokus do |day_of_shokihaiishoku| %>
                    <table class="table table-sm table-bordered mb-0">
                      <thead>
                        <tr>
                          <th scope="col" class="hormon-label text-center align-middle">Day</th>
                          <th scope="col" class="hormon-label">E2</th>
                          <th scope="col" class="hormon-label">FSH</th>
                          <th scope="col" class="hormon-label">LH</th>
                          <th scope="col" class="hormon-label">P4</th>
                          <th scope="col" class="hormon-label">内膜<span class="small text-muted"><small>(mm)</small></span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" class="day-column"><%= day_of_shokihaiishoku.select :day, Report.make_select_day_of_shokihaiishoku, { prompt: "" }, { class: "form-control py-0 text-muted" } %></td>
                          <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :e2, { step: "0.01", class: "form-control py-0", placeholder: "pg/ml" } %></td>
                          <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :fsh, { step: "0.01", class: "form-control py-0", placeholder: "mIU/ml" } %></td>
                          <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :lh, { step: "0.01", class: "form-control py-0", placeholder: "mIU/ml" } %></td>
                          <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :p4, { step: "0.01", class: "form-control py-0", placeholder: "ng/ml" } %></td>
                          <td class="hormon-column"><%= day_of_shokihaiishoku.number_field :endometrial_thickness, { step: "0.1", class: "form-control py-0" } %></td>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                </div>

                <div class="form-group mt-0 mb-2 pt-0 day_of_haibanhoishoku">
                  <p class="question mb-0 pt-1">胚盤胞の移植当日のホルモンと内膜</p>
                  <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞の移植当日の数値</span></small>
                  <%= f.fields_for :day_of_haibanhoishokus do |day_of_haibanhoishoku| %>
                    <table class="table table-sm table-bordered mb-0">
                      <thead>
                        <tr>
                          <th scope="col" class="hormon-label text-center align-middle">Day</th>
                          <th scope="col" class="hormon-label">E2</th>
                          <th scope="col" class="hormon-label">FSH</th>
                          <th scope="col" class="hormon-label">LH</th>
                          <th scope="col" class="hormon-label">P4</th>
                          <th scope="col" class="hormon-label">内膜<span class="small text-muted"><small>(mm)</small></span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="hormon-column"><%= day_of_haibanhoishoku.select :day, Report.make_select_day_of_haibanhoishoku, { prompt: "" }, { class: "form-control py-0 text-muted" } %></td>
                          <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :e2, { step: "0.01", class: "form-control py-0", placeholder: "pg/ml" } %></td>
                          <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :fsh, { step: "0.01", class: "form-control py-0", placeholder: "mIU/ml" } %></td>
                          <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :lh, { step: "0.01", class: "form-control py-0", placeholder: "mIU/ml" } %></td>
                          <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :p4, { step: "0.01", class: "form-control py-0", placeholder: "ng/ml" } %></td>
                          <td class="hormon-column"><%= day_of_haibanhoishoku.number_field :endometrial_thickness, { step: "0.01", class: "form-control py-0" } %></td>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                </div>

                <div class="form-group mt-0 mb-2 pt-0 shokihaiishoku-hormone">
                  <p class="question mb-0 pt-1">初期胚移植後のホルモン</p>
                  <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った初期胚の移植後の数値</span></small>
                  <%= f.fields_for :shokihaiishoku_hormones do |shokihaiishoku_hormone| %>
                    <%= render "shokihaiishoku_hormone_fields", f: shokihaiishoku_hormone %>
                  <% end %>
                  <div class="links pt-2 pl-2">
                    <%= link_to_add_association "+ 追加", f, :shokihaiishoku_hormones %>
                  </div>
                </div>

                <div class="form-group mt-0 mb-2 pt-0 haibanhoishoku-hormone">
                  <p class="question mb-0 pt-1">胚盤胞移植後のホルモン</p>
                  <small class="text-muted"><span class="small"><span class="select-current-status"></span>に至った胚盤胞の移植後の数値</span></small>
                  <%= f.fields_for :haibanhoishoku_hormones do |haibanhoishoku_hormone| %>
                    <%= render "haibanhoishoku_hormone_fields", f: haibanhoishoku_hormone %>
                  <% end %>
                  <div class="links pt-2 pl-2">
                    <%= link_to_add_association "+ 追加", f, :haibanhoishoku_hormones %>
                  </div>
                </div>

              </div>
            </section>
          </section>
          <% end %>
        </div>

        <div class="tab-wrap3 mt-0 pb-0">
          <input id="TAB-05" type="radio" name="TAB3" class="tab-switch3" checked="checked" /><label class="tab-label3 mb-0 px-0" for="TAB-05">レポコ&nbsp;テキスト</label>
          <div class="tab-content3-1">
            <div class="form-group mt-0 pt-0">
              <%= f.rich_text_area :content, placeholder: "こちらは右隣タブの【作成のヒント】をご参考ください！", style: "background: #E8FEFC;" %>
            </div>

            <div class="form-group mt-0">
              <div><%= f.label :title, 'このレポコにタイトルをつける', class: "question-matters" %></div>
              <%= f.text_area :title, class: "form-control py-0 title-js-text", placeholder: "最大64文字", rowa: 4 %>
              <p class="title-js-text-count text-right mt-2"></p>
            </div>
          </div>
          <input id="TAB-06" type="radio" name="TAB3" class="tab-switch3" /><label class="tab-label3-2 small text-danger mb-0" for="TAB-06">＼&nbsp;作成のヒント<i class="fas fa-hand-point-up mx-1"></i>／</label>
          <div class="tab-content3-2">
            <div class="p-1">
              <div class="m-2 p-2 rounded-lg">
                <div class="p-2 mt-2">
                  <h5 class="mb-3 font-weight-bold"><%= image_tag "home/hint.svg", alt: "home-top-img", width: "30px", class: "img-fluid pb-2 pl-0", loading: "lazy" %>&nbsp;<span class="marker-underline-w">テキスト作成のヒント</span></h5>
                  <p class="small my-4" style="line-height:1.4rem;">こちらのテキスト欄では、上記の質問で載せきれなかった情報のみならず、治療中の感情の機微など、治療体験を自由にブログのように綴ることができます。画像やリンクを載せることも可能です。<br>以下はトピックの一例です。ぜひこちらも参考に詳しいレポコを作成しましょう！
                  </p>
                </div>
                <div class="row px-2">
                  <div class="col-md-6 px-2">
                    <div class="p-3 mb-4 rounded-lg shadow example-points">
                      <h6 class="font-weight-bold"><span class="marker-underline">治療について</span></h6>
                      <ul class="pl-3 mt-3 mb-2">
                        <li class="small">・採卵や移植の詳細</li>
                        <li class="small">・使用薬剤について</li>
                        <li class="small">・PGT-AやERAなどのオプション検査の詳細</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 px-2">
                    <div class="p-3 mb-4 rounded-lg shadow example-points">
                      <h6 class="font-weight-bold"><span class="marker-underline">費用について</span></h6>
                      <ul class="pl-3 mt-3 mb-2">
                        <li class="small">・採卵移植費用の詳細</li>
                        <li class="small">・オプション検査費用について</li>
                        <li class="small">・費用の分担について</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 px-2">
                    <div class="p-3 mb-4 rounded-lg shadow example-points">
                      <h6 class="font-weight-bold"><span class="marker-underline">仕事との両立について</span></h6>
                      <ul class="pl-3 mt-3 mb-2">
                        <li class="small">・辛かったこと大変だったこと</li>
                        <li class="small">・両立のために工夫したこと</li>
                        <li class="small">・勤務先の支援制度の有無</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 px-2">
                    <div class="p-3 mb-4 rounded-lg shadow example-points">
                      <h6 class="font-weight-bold"><span class="marker-underline">その他</span></h6>
                      <ul class="pl-3 mt-3 mb-2">
                        <li class="small">・ステップアップした理由やきっかけ</li>
                        <li class="small">・パートナーとの足並みや温度差</li>
                        <li class="small">・クリニックや医師について</li>
                        <li class="small">・治療中の思い</li>
                        <li class="small">・振り返って後悔しているポイント</li>
                        <li class="small">・サプリのこと</li>
                        <li class="small">・気分転換方法など治療以外にしたこと</li>
                      </ul>
                      <div>
                        <p class="small text-right text-muted pr-3">など</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="report-save-btn-area d-flex justify-content-center py-2">
          <div class="container report-save-btn-area-inner px-0">
            <div class="row">
              <div class="col-lg-8 offset-lg-2">
                <div class="row">
                  <div class="px-0 col-8">
                    <div class="d-flex pl-4 align-items-center">
                      <div class="alert rounded-lg py-0 px-0 m-0 small">
                        <%= link_to '戻る', root_path, class: "btn btn-outline-dark btn-sm mb-0", data: {confirm: "トップページに戻ります。\n\n#{form_edit_link_alert_message}"} %>
                      </div>
                      <div class="flex-grow-1 px-0 small">
                        <p class="pl-2 mb-0 small">←&nbsp;<span class="marker-underline">戻る場合はこちらクリック。</span></p>
                      </div>
                    </div>
                  </div>
                  <% if is_new %>
                    <div class="pl-0 col-4 m-0 pr-4 text-right">
                      <%= f.submit '投稿', class: "report-post-btn-area-btn", id: "submit-button-post", data: { confirm: "\n【注意!!!】1.概要→必須タブ内の\n\n「クリニックを選択」\n「治療当時のお住まい(都道府県&市区町村の両方)」 \n\nは選択されましたか？ \n必ずこの２つの項目を選択してから投稿して下さい!" } %>
                      <%= f.submit '保存', class: "report-post-btn-area-btn2", id: "submit-button-save", name: "status1", data: { confirm: "\n【注意!!!】1.概要→必須タブ内の\n\n「クリニックを選択」\n「治療当時のお住まい(都道府県&市区町村の両方)」 \n\nは選択されましたか？ \n必ずこの２つの項目を選択してから保存して下さい!" } %>
                    </div>
                  <% else %>
                    <div class="pl-0 col-4 m-0 pr-4 text-right">
                      <%= f.submit '更新', class: "report-post-btn-area-btn", id: "submit-button-update", data: { confirm: "\n【注意!!!】1.概要→必須タブ内の\n\n「クリニックを選択」\n「治療当時のお住まい(都道府県&市区町村の両方)」 \n\nは選択されましたか？ \n必ずこの２つの項目を選択してから投稿して下さい!" } %>
                      <% if false %>
                      <% if @report.released? %>
                        <%= link_to nonrelease_report_path(@report), method: :patch, data: { confirm: '非公開にして良いですか？'} do %>
                          <button class="report-post-btn-area-btn2">非公開</button>
                        <% end %>
                      <% else %>
                        <%= link_to release_report_path(@report), method: :patch, data: { confirm: '公開して良いですか？'} do %>
                          <button class="report-post-btn-area-btn2">公開</button>
                        <% end %>
                      <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="float-right">
          <%= link_to '戻る', @report, class:"btn btn-primary", data: {confirm: "#{form_edit_link_alert_message}"} %>
          <%= link_to 'ホーム', reports_path, class:"btn btn-primary", data: {confirm: "#{form_edit_link_alert_message}"} %>
        </div>

      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag 'report_form' %>
<%= javascript_include_tag 'form_edit_alert' %>
