<div class="nested-fields well well-compact">
  <table class="table table-sm table-bordered table-hover mb-0">
    <thead>
      <tr>
        <th scope="col" class="itinerary-of-clinic-label itinerary-of-clinic-col1 text-center align-middle">転院歴</th>
        <th scope="col" class="itinerary-of-clinic-label itinerary-of-clinic-col2 text-center align-middle"><small>都道府県</small></th>
        <th scope="col" class="itinerary-of-clinic-label itinerary-of-clinic-col3 text-center align-middle">クリニック</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center align-middle"><%= f.select :order_of_transfer, Report.make_select_itinerary_of_choosing_a_clinics_order_of_transfer, { prompt: "選択必須" }, { class: "form-control text-muted" } %></td>
        <td class="text-center align-middle">
          <% if f.object.clinic.blank? %>
            <% prefecture_id = nil %>
          <% else %>
            <% prefecture_id = f.object.clinic.prefecture_id %>
          <% end %>
          <%= select_tag :clinic_prefecture,
                          options_from_collection_for_select(Prefecture.where(id: 1..47), :id, :name, selected: prefecture_id),
                          {
                            prompt: "選択",
                            class: "form-control clinic_prefecture"
                          }
          %>
        </td>
        <td class="text-center align-middle">
          <% if f.object.clinic.blank? %>
            <%= f.select :clinic_id, {}, { prompt: "選択"}, { class: "form-control itinerary_of_clinic" } %>
          <% else %>
            <% clinics = Clinic.where(prefecture_id: prefecture_id).order(id: "ASC") %>
            <% options = {} %>
            <% clinics.each do |clinic| %>
              <% options[clinic.name] = clinic.id %>
            <% end %>
            <%= f.select :clinic_id, options, {prompt: "選択"}, { class: "form-control" } %>
          <% end %>
        </td>

        <script>
          $(function() {
            $('.clinic_prefecture').change(function() {
              
              console.log ($(this).parent().next().children("select"));
              let clinic = $(this).parent().next().children("select");
              $.ajax('/clinic_select',
                {
                  type: 'get',
                  data: { prefecture_id: $(this).val() },
                }
              )
              .done(function(data) {
                clinic.html(data) 
              })
              .fail(function() {
                window.alert('正しい結果を得られませんでした。');
              });
            });
          });
        </script>
        
      </tr>
    </tbody>
  </table>
  <small class="float-right pr-2">
    <%= link_to_remove_association "削除", f, class: "text-secondary" %>
  </small>
</div>