<div class="cp_box mt-5">
<input id="cp01" type="checkbox">
<label for="cp01"></label>
<div class="cp_container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center matome-title" colspan="2" style="color:#1A2438"><%= @report.clinic.name %>&nbsp;での&nbsp;<span class="font-weight-bold">治療情報一覧</span></th>
      </tr>
      <tr>
        <td class="text-center result-left-column" style="width:35%">項目</td>
        <td class="text-center" style="width:65%">内容</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="result-left-column small">投稿時の状況</td>
        <% unless @report.current_state.blank? %>
          <td class="pl-4 result-right-column"><%= @report.str_current_state %></td>
        <% else %>
          <td class="pl-4 result-right-column"><small class="text-muted">未回答</small></td>
        <% end %>
      </tr>
      <tr>
        <td class="result-left-column small">クリニック</td>
        <td class="pl-4 result-right-column"><%= @report.clinic.name %></td>
      </tr>
      <tr>
        <td class="result-left-column small">治療当時の住まい</td>
        <td class="pl-4 result-right-column"><%= @report.prefecture.name %><br><%= @report.city.name %></td>
      </tr>
      <tr>
        <td class="result-left-column small">何院目</td>
        <td class="pl-4 result-right-column">
          <% unless @report.number_of_clinics.blank? %>
            <span class="result-text"><%= @report.str_number_of_clinics %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %><br>
          <% unless @clinics.blank? %><span class="small text-muted">(</span>
            <% @clinics.each do |c| %>
              <span class="result-text small"><%= c %></span>&nbsp;&nbsp;<span class="small text-muted mb-0">→&nbsp;</span>
            <% end %>
            <span class="result-text small"><%= @report.clinic.name %></span><span class="small text-muted">&nbsp;)</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">CL選定理由</td>
        <td class="pl-4 result-right-column">
          <% unless @report.clinic_selection_criteria.blank? || @report.reasons_for_choosing_this_clinic.blank? %>
            <span class="result-text"><%= @report.str_clinic_selection_criteria %></span><br>
            <span class="result-text"><%= @report.reasons_for_choosing_this_clinic %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">何人目治療</td>
        <td class="pl-4 result-right-column">
          <% unless @report.fertility_treatment_number.blank? %>
            <span class="result-text"><%= @report.str_fertility_treatment_number %>治療</span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">受精方法</td>
        <td class="pl-4 result-right-column">
          <% unless @report.types_of_fertilization_methods.blank? %>
            <span class="result-text"><%= @report.str_types_of_fertilization_methods %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">移植方法</td>
        <td class="pl-4 result-right-column"><% unless @report.transplant_method.blank? %>
            <span class="result-text"><%= @report.str_transplant_method %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLでの治療開始時年齢</td>
        <td class="pl-4 result-right-column"><% unless @report.first_age_to_start.blank? %>
            <span class="result-text"><%= @report.str_first_age_to_start %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLでの治療終了時年齢</td>
        <td class="pl-4 result-right-column">
          <% unless @report.first_age_to_start.blank? %>
            <span class="result-text"><%= @report.str_first_age_to_start %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLでの治療終了時のパートナーの年齢</td>
        <td class="pl-4 result-right-column">
          <% unless @report.age_of_partner_at_end_of_treatment.blank? %>
            <span class="result-text"><%= @report.str_age_of_partner_at_end_of_treatment %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">正味通院期間</td>
        <td class="pl-4 result-right-column">
          <% unless @report.treatment_period.blank? %>
            <span class="result-text"><%= @report.str_treatment_period %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">人工授精の回数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.number_of_aih.blank? %>
            <span class="result-text"><%= @report.str_number_of_aih %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <% if @report.inspections || @report.special_inspection_supplementary_explanation %>
        <tr>
          <td class="result-left-column small">受けた検査</td>
          <td class="pl-4 result-right-column">
            <% unless @report.inspections.blank? %>
              <% @report.inspections.each do |inspection| %>
                <span class="result-text"><%= inspection.name %><br></span>
              <% end %>
            <% else %>
              <span class="text-muted small">未回答</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <% unless @report.special_inspection_supplementary_explanation.blank? %>
            <td class="result-left-column small">受けた検査の詳細</td>
            <td class="pl-4 result-right-column">
              <span class="result-text"><%= @report.special_inspection_supplementary_explanation %></span>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td class="result-left-column small">AMH</td>
        <td class="pl-4 result-right-column">
          <% unless @report.amh.blank? %>
            <span class="result-text"><%= @report.str_amh %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">BMI</td>
        <td class="pl-4 result-right-column">
          <% unless @report.bmi.blank? %>
            <span class="result-text"><%= @report.str_bmi %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">喫煙有無</td>
        <td class="pl-4 result-right-column">
          <% unless @report.smoking.blank? %>
            <span class="result-text"><%= @report.str_smoking %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">女性側の不妊原因</td>
        <td class="pl-4 result-right-column">
          <% unless @report.f_infertility_factors.blank? %>
            <% @report.f_infertility_factors.each do |f_infertility_factor| %>
              <span class="result-text"><%= f_infertility_factor.name %><br></span>
            <% end %>
          <% else %>
              <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">男性側の不妊原因</td>
        <td class="pl-4 result-right-column">
          <% unless @report.m_infertility_factors.blank? %>
            <% @report.m_infertility_factors.each do |m_infertility_factor| %>
              <span class="result-text"><%= m_infertility_factor.name %><br></span>
            <% end %>
          <% else %>
              <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">女性側の疾患</td>
        <td class="pl-4 result-right-column">
          <% unless @report.f_diseases.blank? %>
            <% @report.f_diseases.each do |f_disease| %>
              <span class="result-text"><%= f_disease.name %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">男性側の疾患</td>
        <td class="pl-4 result-right-column">
          <% unless @report.m_diseases.blank? %>
            <% @report.m_diseases.each do |m_disease| %>
              <span class="result-text"><%= m_disease.name %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">女性側の手術既往歴</td>
        <td class="pl-4 result-right-column">
          <% unless @report.f_surgeries.blank? %>
            <% @report.f_surgeries.each do |f_surgery| %>
              <span class="result-text"><%= f_surgery.name %></span>
            <% end %>
          <% else %>
              <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">男性側の手術既往歴</td>
        <td class="pl-4 result-right-column">
          <% unless @report.m_surgeries.blank? %>
            <% @report.m_surgeries.each do |m_surgery| %>
              <span class="result-text"><%= m_surgery.name %></span>
            <% end %>
          <% else %>
              <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">卵子と精子</td>
        <td class="pl-4 result-right-column">
          <% unless @report.types_of_eggs_and_sperm.blank? %>
            <span class="result-text"><%= @report.str_types_of_eggs_and_sperm %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">採卵誘発タイプ</td>
        <td class="pl-4 result-right-column">
          <% unless @report.type_of_ovarian_stimulation.blank? %>
            <span class="result-text"><%= @report.str_type_of_ovarian_stimulation %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">採卵誘発方法</td>
        <td class="pl-4 result-right-column">
          <% unless @report.type_of_sairan_cycle.blank? %>
            <span class="result-text"><%= @report.str_type_of_sairan_cycle %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %><br><br>
          <% unless @report.notes_on_type_of_sairan_cycle.blank? %>
            <span class="result-text">→&nbsp;<%= @report.notes_on_type_of_sairan_cycle %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">卵巣刺激(〜採卵周期)での使用薬剤</td>
        <td class="pl-4 result-right-column">
          <% unless @report.sairan_medicines.blank? %>
            <% @report.sairan_medicines.each do |sairan_medicine| %>
              <span class="result-text"><%= sairan_medicine.name %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">採卵時の麻酔の種類</td>
        <td class="pl-4 result-right-column">
          <% unless @report.use_of_anesthesia.blank? %>
            <span class="result-text"><%= @report.str_use_of_anesthesia %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">麻酔の有無や種類の選択</td>
        <td class="pl-4 result-right-column">
          <% unless @report.selection_of_anesthesia_type.blank? %>
            <span class="result-text"><%= @report.str_selection_of_anesthesia_type %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLでの全採卵「回」数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.total_number_of_sairan.blank? %>
            <span class="result-text"><%= @report.str_total_number_of_sairan %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCL以外も含めた全採卵「回」数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.all_number_of_sairan.blank? %>
            <span class="result-text"><%= @report.str_all_number_of_sairan %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      </tr>
      <tr>
        <td class="result-left-column small">至妊娠の周期(最新周期)の採卵「個」数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.number_of_eggs_collected.blank? %>
            <span class="result-text"><%= @report.str_number_of_eggs_collected %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">その内受精に至った個数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.number_of_fertilized_eggs.blank? %>
            <span class="result-text"><%= @report.str_number_of_fertilized_eggs %><span class="small text-muted">（&nbsp;<%= @report.str_number_of_eggs_collected %>採卵中）</span></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <% if @report.number_of_transferable_embryos && @report.number_of_frozen_eggs %>
        <tr>
          <td class="result-left-column small">移植可能胚数</td>
          <td class="pl-3">
            <span class="result-text"><%= @report.str_number_of_transferable_embryos %></span>
            <span class="small result-text text-muted">（その内&nbsp;凍結胚は<%= @report.str_number_of_frozen_eggs %>）</span>
          </td>
        </tr>
      <% elsif @report.number_of_transferable_embryos && @report.number_of_frozen_eggs.blank? %>
        <tr>
          <td class="result-left-column small">移植可能胚数</td>
          <td class="pl-3">
            <span class="result-text"><%= @report.str_number_of_transferable_embryos %></span>
          </td>
        </tr>
        <tr>
          <td class="result-left-column small">凍結胚数</td>
          <td class="pl-3">
            <span class="text-muted small">未回答</span>
          </td>
        </tr>
      <% elsif @report.number_of_transferable_embryos.blank? && @report.number_of_frozen_eggs %>
        <tr>
          <td class="result-left-column small">移植可能胚数</td>
          <td class="pl-3">
            <span class="text-muted small">未回答</span>
          </td>
        </tr>
        <tr>
          <td class="result-left-column small">凍結胚数</td>
          <td class="pl-3">
            <span class="result-text"><%= @report.str_number_of_frozen_eggs %></span>
          </td>
        </tr>
      <% else %>
        <tr>
          <td class="result-left-column small">移植可能胚数</td>
          <td class="pl-3">
            <span class="text-muted small">未回答</span>
          </td>
        </tr>
        <tr>
          <td class="result-left-column small">凍結胚数</td>
          <td class="pl-3">
            <span class="text-muted small">未回答</span>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="result-left-column small">胚の成熟度</td>
        <td class="pl-4 result-right-column">
          <% unless @report.egg_maturity.blank? %>
            <span class="result-text"><%= @report.str_egg_maturity %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">IVM実施の有無</td>
        <td class="pl-4 result-right-column">
          <% unless @report.ova_with_ivm.blank? %>
            <span class="result-text"><%= @report.str_ova_with_ivm %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">胚の培養日数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.embryo_culture_days.blank? %>
            <span class="result-text"><%= @report.str_embryo_culture_days %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">胚のステージ</td>
        <td class="pl-4 result-right-column">
          <% unless @report.embryo_stage.blank? %>
            <span class="result-text"><%= @report.str_embryo_stage %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <% if @report.embryo_stage == 1 %>
        <tr>
          <td class="result-left-column small">初期胚のグレード</td>
          <td class="pl-3">
            <% unless @report.early_embryo_grade.blank? %>
              <span class="result-text"><%= @report.str_early_embryo_grade %></span>
            <% else %>
              <span class="text-muted small">未回答</span>
            <% end %>
          </td>
        </tr>
        <% unless @report.early_embryo_grade_supplementary_explanation.blank? %>
          <tr>
            <td></td>
            <td class="pl-3">
              <span class="result-text"><%= @report.early_embryo_grade_supplementary_explanation %></span>
            </td>
          </tr>
        <% end %>
      <% elsif @report.embryo_stage == 2 %>
        <tr>
          <td class="result-left-column small" rowspan="2">胚盤胞のグレード</td>
          <td class="pl-3">
            <% unless @report.blastocyst_grade1.blank? %>
              <span class="result-text"><%= @report.str_blastocyst_grade1 %></span>
            <% else %>
              <span class="text-muted small">未回答</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <% unless @report.blastocyst_grade1_supplementary_explanation.blank? %>
            <td class="pl-3">
              <span class="result-text"><%= @report.blastocyst_grade1_supplementary_explanation %></span>
            </td>
          <% end %>
        </tr>
        <tr>
          <td class="result-left-column small" rowspan="2">胚盤胞の評価</td>
          <td class="pl-3">
            <% unless @report.blastocyst_grade2.blank? %>
              <span class="result-text"><%= @report.str_blastocyst_grade2 %></span>
            <% else %>
              <span class="text-muted small">未回答</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <% unless @report.blastocyst_grade2_supplementary_explanation.blank? %>
            <td class="pl-3">
              <span class="result-text"><%= @report.blastocyst_grade2_supplementary_explanation %></span>
            </td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td class="result-left-column small">胚のグレード</td>
          <td class="pl-3">
            <span class="text-muted small">未回答</span>
          </td>
        </tr>
      <% end %>
      <tr>
        <% if @report.number_of_miscarriages != 1 %>
          <td class="result-left-column small">流産経験</td>
          <td class="pl-4 result-right-column">
            <span class="result-text"><%= @report.str_number_of_miscarriages %></span>
          </td>
        <% end %>
      </tr>
      <tr>
        <% if @report.number_of_stillbirths != 1 %>
          <td class="result-left-column small">死産経験</td>
          <td class="pl-3">
            <span class="result-text"><%= @report.str_number_of_stillbirths %></span>
          </td>
        <% end %>
      </tr>
      <tr>
        <td class="result-left-column small" rowspan="2">不育症診断の有無</td>
        <td class="pl-4 result-right-column">
          <% unless @report.fuiku.blank? %>
            <span class="result-text"><%= @report.str_fuiku %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <% unless @report.fuiku_supplementary_explanation.blank? %>
          <td class="pl-4 result-right-column">
            <span class="result-text"><%= @report.fuiku_supplementary_explanation %></span>
          </td>
        <% end %>
      </tr>
      <tr>
        <td class="result-left-column small">移植周期の使用薬剤</td>
        <td class="pl-4 result-right-column">
          <% unless @report.transfer_medicines.blank? %>
            <% @report.transfer_medicines.each do |transfer_medicine| %>
              <span class="result-text"><%= transfer_medicine.name %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">移植オプション</td>
        <td class="pl-4 result-right-column">
          <% unless @report.transfer_options.blank? %>
            <% @report.transfer_options.each do |transfer_option| %>
              <span class="result-text"><%= transfer_option.name %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLでの全移植「回」数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.total_number_of_transplants.blank? %>
            <span class="result-text"><%= @report.str_total_number_of_transplants %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCL以外も含めた全移植「回」数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.all_number_of_transplants.blank? %>
            <span class="result-text"><%= @report.str_all_number_of_transplants %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLでの全移植「個」数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.total_number_of_eggs_transplanted.blank? %>
            <span class="result-text"><%= @report.str_total_number_of_eggs_transplanted %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLでの貯卵数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.number_of_eggs_stored.blank? %>
            <span class="result-text"><%= @report.str_number_of_eggs_stored %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">凍結胚1個あたりの年間保存料</td>
        <td class="pl-4 result-right-column">
          <% unless @report.frozen_embryo_storage_cost.blank? %>
            <span class="result-text"><span class="small text-muted">年間&nbsp;</span><%= @report.frozen_embryo_storage_cost.to_s(:delimited) %>円<span class="small text-muted">&nbsp;/個</span></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <% unless @report.explanation_of_frozen_embryo_storage_cost.blank? %>
          <td class="result-left-column small">凍結胚の保存料について</td>
          <td class="pl-4 result-right-column">
            <span class="result-text"><%= @report.explanation_of_frozen_embryo_storage_cost %></span>
          </td>
        <% end %>
      </tr>
      </tr>
      <tr>
        <td class="result-left-column small">養子縁組について</td>
        <td class="pl-4 result-right-column">
          <% unless @report.adoption.blank? %>
            <span class="result-text"><%= @report.str_adoption %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">CLでの治療以外に行ったこと</td>
        <td class="pl-4 result-right-column">
          <% unless @report.other_efforts.blank? %>
            <% @report.other_efforts.each do |other_effort| %>
              <span class="result-text"><%= other_effort.name %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %><br><br>
          <% unless @report.other_effort_supplementary_explanation.blank? %>
            <span class="result-text">→&nbsp;<%= @report.other_effort_supplementary_explanation %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">CLでの治療以外にかけた月額コスト</td>
        <td class="pl-4 result-right-column">
          <% unless @report.other_effort_cost.blank? %>
            <span class="result-text"><%= @report.str_other_effort_cost %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">治療中に服用していたサプリ</td>
        <td class="pl-4 result-right-column">
          <% unless @report.supplements.blank? %>
            <% @report.supplements.each do |supplement| %>
              <span class="result-text"><%= supplement.name %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %><br><br>
          <% unless @report.supplement_supplementary_explanation.blank? %>
            <span class="result-text">→&nbsp;<%= @report.supplement_supplementary_explanation %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">サプリにかけた月額コスト</td>
        <td class="pl-4 result-right-column">
          <% unless @report.supplement_cost.blank? %>
            <span class="result-text"><%= @report.str_supplement_cost %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCLの治療費総額</td>
        <td class="pl-4 result-right-column">
          <% unless @report.cost.blank? %>
            <span class="result-text"><%= @report.str_cost %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">このCL以外も含めたこれまでの治療費の総額</td>
        <td class="pl-4 result-right-column">
          <% unless @report.all_cost.blank? %>
            <span class="result-text"><%= @report.str_all_cost %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">助成金受給回数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.number_of_times_the_grant_was_received.blank? %>
            <span class="result-text"><%= @report.str_number_of_times_the_grant_was_received %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small" rowspan="2">助成金受給総額</td>
        <td class="pl-4 result-right-column">
          <% unless @report.all_grant_amount.blank? %>
            <span class="result-text"><%= @report.all_grant_amount.to_s(:delimited) %>円</span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <% unless @report.supplementary_explanation_of_grant.blank? %>
          <td class="pl-3">
            <span class="result-text"><%= @report.supplementary_explanation_of_grant %></span>
          </td>
        <% end %>
      </tr>
      <tr>
        <td class="result-left-column small" rowspan="2">クレジットカードの使用可否</td>
        <td class="pl-4 result-right-column">
          <% unless @report.credit_card_validity.blank? %>
            <span class="result-text"><%= @report.str_credit_card_validity %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <% if @report.credit_card_validity == 3 %>
        <tr>
          <td class="pl-3">
            <% unless @report.creditcards_can_be_used_from_more_than.blank? %>
              <span class="result-text"><span class="text-muted small">(クレジットカード使用は)</span><br><%= @report.creditcards_can_be_used_from_more_than.to_s(:delimited) %>円から</span>
            <% else %>
              <span class="text-muted small">未回答</span>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="result-left-column small">CLでの平均待ち時間</td>
        <td class="pl-4 result-right-column">
          <% unless @report.average_waiting_time.blank? %>
            <span class="result-text"><%= @report.str_average_waiting_time %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">予約方法</td>
        <td class="pl-4 result-right-column">
          <% unless @report.reservation_method.blank? %>
            <span class="result-text"><%= @report.str_reservation_method %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">通院に要する平均通院時間</td>
        <td class="pl-4 result-right-column">
          <% unless @report.period_of_time_spent_traveling.blank? %>
            <span class="result-text"><%= @report.str_period_of_time_spent_traveling %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">治療中の働き方</td>
        <td class="pl-4 result-right-column">
          <% unless @report.work_style.blank? %>
            <span class="result-text"><%= @report.str_work_style %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">業種</td>
        <td class="pl-4 result-right-column">
          <% unless @report.industry_type.blank? %>
            <span class="result-text"><%= @report.str_industry_type %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">上場の有無</td>
        <td class="pl-4 result-right-column">
          <% unless @report.private_or_listed_company.blank? %>
            <span class="result-text"><%= @report.str_private_or_listed_company %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">日系 or 外資</td>
        <td class="pl-4 result-right-column">
          <% unless @report.domestic_or_foreign_capital.blank? %>
            <span class="result-text"><%= @report.str_domestic_or_foreign_capital %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">資本金規模</td>
        <td class="pl-4 result-right-column">
          <% unless @report.capital_size.blank? %>
            <span class="result-text"><%= @report.str_capital_size %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">部署</td>
        <td class="pl-4 result-right-column">
          <% unless @report.department.blank? %>
            <span class="result-text"><%= @report.str_department %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">役職</td>
        <td class="pl-4 result-right-column">
          <% unless @report.position.blank? %>
            <span class="result-text"><%= @report.str_position %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">従業員数</td>
        <td class="pl-4 result-right-column">
          <% unless @report.number_of_employees.blank? %>
            <span class="result-text"><%= @report.str_number_of_employees %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">支援制度の有無</td>
        <td class="pl-4 result-right-column">
          <% unless @report.treatment_support_system.blank? %>
            <span class="result-text"><%= @report.str_treatment_support_system %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">治療に際しての働き方の変化</td>
        <td class="pl-4 result-right-column">
          <% unless @report.suspended_or_retirement_job.blank? %>
            <span class="result-text"><%= @report.str_suspended_or_retirement_job %></span>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">治療当時の年収</td>
        <td class="pl-3">
          <% if @report.annual_income_status == "hide" %>
            <span class="small text-muted"><%= "非公開" %></span>
          <% elsif @report.annual_income.blank? %>
            <span class="small text-muted"><%= "未回答" %></span>
          <% else %>
            <span class="result-text"><%= @report.str_annual_income %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">夫婦合算所得</td>
        <td class="pl-3">
          <% if @report.household_net_income_status == "hide" %>
            <span class="small text-muted"><%= "非公開" %></span>
          <% elsif @report.household_net_income.blank? %>
            <span class="small text-muted"><%= "未回答" %></span>
          <% else %>
            <span class="result-text"><%= @report.str_household_net_income %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="result-left-column small">治療の開示範囲</td>
        <td class="pl-4 result-right-column">
          <% unless @report.scope_of_disclosures.blank? %>
            <% @report.scope_of_disclosures.each do |scope_of_disclosure| %>
              <span class="result-text"><%= scope_of_disclosure.scope %><br></span>
            <% end %>
          <% else %>
            <span class="text-muted small">未回答</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>