<div class="nested-fields well well-compact">
  <div class="m-0">
  &nbsp;
  <div>
  <div class="box27 px-1 mb-0">
    <span class="box-title">採卵1サイクル</span>
    <table class="table table-sm table-bordered table-hover mb-0">
      <tbody>
        <tr>
          <td>
            <small class="text-muted">何回目の採卵？</small>
            <%= f.select :un_sairan_number, UnsuccessfulSairanCycle::HASH_NUMBER_OF_SAIRAN.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">↑  採卵時の年齢</small>
            <%= f.select :un_sairan_age, UnsuccessfulSairanCycle::HASH_SAIRAN_AGE.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">誘発タイプ</small>
            <%= f.select :un_sairan_type_of_ovarian_stimulation, UnsuccessfulSairanCycle::HASH_TYPE_OF_OVARIAN_STIMULATION.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">採卵個数</small>
            <%= f.select :un_sairan_number_of_eggs_collected, UnsuccessfulSairanCycle::HASH_NUMBER_OF_EGGS.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">受精個数</small>
            <%= f.select :un_sairan_number_of_fertilized_eggs, UnsuccessfulSairanCycle::HASH_NUMBER_OF_EGGS.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">移植可能胚数(新鮮胚含む)</small>
            <%= f.select :un_sairan_number_of_transferable_embryos, UnsuccessfulSairanCycle::HASH_NUMBER_OF_EGGS.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">そのうちの凍結胚数</small>
            <%= f.select :un_sairan_number_of_frozen_eggs, UnsuccessfulSairanCycle::HASH_NUMBER_OF_EGGS.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">メモ</small>
            <%= f.text_area :un_sairan_memo, class: "form-control p-2 border rounded-lg", style: "background: rgb(232, 254, 252); line-height: 1.5; font-size: 13px;", rows: 5, placeholder: "" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <small class="float-right pr-2 mt-1">
    <%= link_to_remove_association "削除", f, class: "text-secondary" %>
  </small>
</div>