<div class="nested-fields well well-compact">
  <div class="m-0">
  &nbsp;
  <div>
  <div class="box27 px-1 mb-0">
    <span class="box-title">移植1サイクル</span>
    <table class="table table-sm table-bordered table-hover mb-0">
      <tbody>
        <tr>
          <td>
            <small class="text-muted">何回目の移植？</small>
            <%= f.select :un_ishoku_number, UnsuccessfulIshokuCycle::HASH_NUMBER_OF_ISHOKU.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">↑  移植時の年齢</small>
            <%= f.select :un_ishoku_age, UnsuccessfulIshokuCycle::HASH_ISHOKU_AGE.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">移植胚</small>
            <%= f.select :un_ishoku_transplant_method, UnsuccessfulIshokuCycle::HASH_TRANSPLANT_METHOD.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">移植タイプ</small>
            <%= f.select :un_ishoku_type, UnsuccessfulIshokuCycle::HASH_UNSUCCESSFUL_ISHOKU_TYPE.invert, { prompt: "" }, { class: "form-control py-0" } %>
          </td>
        </tr>
        <tr>
          <td>
            <small class="text-muted">メモ</small>
            <%= f.text_area :un_ishoku_memo, class: "form-control p-2 border", style: "background: rgb(232, 254, 252); line-height: 1.5; font-size: 13px;", rows: 5, placeholder: "記入例)\n  ・移植オプション\n  ・胚の種類\n  ・グレード   など" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <small class="float-right pr-2 mt-1">
    <%= link_to_remove_association "削除", f, class: "text-secondary" %>
  </small>
</div>