<%= form_with(model: @report, local: true) do |f| %>

  <div class="row  justify-content-center">
    <div class="col-md-8">
    <h2>投稿内容の確認</h2><br>
      <p>以下の内容でよろしいですか？</p>
      <p>内容に誤りがなければ投稿してください。</p>
      <p>内容を修正したい場合には「戻る」ボタンで入力フォームにお戻りください。なお、投稿後も修正/編集は可能です。</p>

      <div class="current-status border rounded px-3 py-2 mt-5">
        <h3>現在(投稿時点)の状況を教えて下さい。</h3>
        <div class="form-group">
          <% f.label :current_state, '現在(投稿時点)の状況' %>
            <%= f.hidden_field :current_state %>
            <p class="answer"><%= @report.str_current_state %></p>
        </div>
      </div>
      
      <div class="clinic-overview border rounded px-3 py-2 mt-5">
        <h3>このレポートのクリニックについて</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :clinic_id, 'クリニックを選択' %>
              <%= f.hidden_field :clinic_id, :class => "form-control" %>
              <% unless @report.clinic.nil? %>
                <p class="answer"><%= @report.clinic.name %></p>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :number_of_clinics, 'このクリニックは何院目?' %>
              <%= f.hidden_field :number_of_clinics %>
              <p class="answer"><%= @report.str_number_of_clinics %></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :clinic_selection_criteria, 'このクリニックを選んだ理由' %>
              <%= f.hidden_field :clinic_selection_criteria %>
              <p class="answer"><%= @report.str_clinic_selection_criteria %></p>
            </div> 
            <div class="form-group">
              <%= f.label :reasons_for_choosing_this_clinic, 'このクリニックを選んだ理由について(自由記述)' %>
              <%= f.hidden_field :reasons_for_choosing_this_clinic %>
              <p class="answer"><%= @report.reasons_for_choosing_this_clinic %></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="main-content border border-primary rounded px-3 py-2 mt-5">
      <h3>治療レポート</h3>
        <div class="form-group">
          <%= f.label :title, 'あなたの治療レポートのタイトル' %>
          <%= f.hidden_field :title %>
          <p class="answer"><%= @report.title %></p>
          <small id="poster-tip" class="form-text text-muted">
          </small>
        </div>
        <div class="form-group">
          <%= f.label :content, '妊娠した/治療を断念したクリニックの詳しい治療内容を書き残してください。' %>
          <%= f.hidden_field :content %>
          <%= @report.content %>
        </div>
      </div>
    
      <div class="question border rounded px-3 py-2 mt-5">
      <h3>クリニックでの治療情報</h3>
        <div class="form-group">
          <%= f.label :year_of_treatment_end, 'このクリニックでの治療を終了した年' %>
          <%= f.hidden_field :year_of_treatment_end %>
          <p class="answer"><%= @report.year_of_treatment_end %>年</p>
        </div>
        <div class="form-group">
          <%= f.label :fertility_treatment_number, '何人目の不妊治療ですか?（何人目不妊ですか）' %>
          <%= f.hidden_field :fertility_treatment_number %>
          <p class="answer"><%= @report.str_fertility_treatment_number %></p>
        </div>
        <div class="form-group">
          <%= f.label :treatment_type, '治療の種類を選択してください' %>
          <%= f.hidden_field :treatment_type %>
          <p class="answer"><%= @report.str_treatment_type %></p>
        </div>
        <div class="form-group">
          <%= f.label :treatment_start_age, 'このクリニックで治療を開始したのは何歳の時ですか' %>
          <%= f.hidden_field :treatment_start_age %>
          <p class="answer"><%= @report.str_treatment_start_age %></p>
        </div>
        <div class="form-group">
          <%= f.label :first_age_to_start, '不妊治療自体(妊活含む)を始めたのは何歳の時ですか' %>
          <%= f.hidden_field :first_age_to_start %>
          <p class="answer"><%= @report.str_first_age_to_start %></p>
        </div>
        <div class="form-group">
          <%= f.label :treatment_end_age, 'このクリニックで治療を終了したのは何歳の時ですか' %>
          <%= f.hidden_field :treatment_end_age %>
          <p class="answer"><%= @report.str_treatment_end_age %></p>
        </div>
        <div class="form-group">
          <%= f.label :treatment_period, 'お休み期間をのぞくと正味このクリニックにはどれくらいの期間通院しましたか' %>
          <%= f.hidden_field :treatment_period %>
          <p class="answer"><%= @report.str_treatment_period %></p>
        </div>
        <div class="form-group">
          <%= f.label :number_of_aih, '体外・顕微受精にステップアップする前に人工授精は何回実施しましたか' %>
          <%= f.hidden_field :number_of_aih %>
          <p class="answer"><%= @report.str_number_of_aih %></p>
        </div>
        <div class="form-group">
          <%= f.label :inspection, '実施した検査' %><br>
          <%= f.hidden_field :inspection_ids, multiple: true, value: nil %>
          <% @report.inspections.each do |inspection| %>
            <%= f.hidden_field :inspection_ids, multiple: true, value: inspection.id %>
            <span class="answer"><%= inspection.str_inspection %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :inspection, "作成追加した検査" %><br>
            <%= hidden_field_tag :i_name, @i_name %>
            <span class="answer"><%= @i_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :amh, '治療中のAMH値はいくつでしたか' %>
          <%= f.hidden_field :amh %>
          <p class="answer"><%= @report.str_amh %></p>
        </div>
        <div class="form-group">
          <%= f.label :bmi, '治療中のBMI値はいくつでしたか' %>
          <%= f.hidden_field :bmi %>
          <p class="answer"><%= @report.str_bmi %></p>
        </div>
        <div class="form-group">
          <%= f.label :smoking, '治療中の喫煙の有無' %>
          <%= f.hidden_field :smoking %>
          <p class="answer"><%= @report.str_smoking %></p>
        </div>
        <div class="form-group">
          <%= f.label :f_infertility_factor, '選択した女性側の不妊原因' %><br>
          <%= f.hidden_field :f_infertility_factor_ids, multiple: true, value: nil %>
          <% @report.f_infertility_factors.each do |f_infertility_factor| %>
            <%= f.hidden_field :f_infertility_factor_ids, multiple: true, value: f_infertility_factor.id %>
            <span class="answer"><%= f_infertility_factor.str_f_infertility_factor %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :f_infertility_factor, "作成した女性側の不妊原因" %><br>
            <%= hidden_field_tag :fif_name, @fif_name %>
            <span class="answer"><%= @fif_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :m_infertility_factor, '男性側の不妊原因' %><br>
          <%= f.hidden_field :m_infertility_factor_ids, multiple: true, value: nil %>
          <% @report.m_infertility_factors.each do |m_infertility_factor| %>
            <%= f.hidden_field :m_infertility_factor_ids, multiple: true, value: m_infertility_factor.id %>
            <span class="answer"><%= m_infertility_factor.str_m_infertility_factor %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :m_infertility_factor, "作成した女性側の不妊原因" %><br>
            <%= hidden_field_tag :mif_name, @mif_name %>
            <span class="answer"><%= @mif_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :f_disease, '女性側の疾患' %><br>
          <%= f.hidden_field :f_disease_ids, multiple: true, value: nil %>
          <% @report.f_diseases.each do |f_disease| %>
            <%= f.hidden_field :f_disease_ids, multiple: true, value: f_disease.id %>
            <span class="answer"><%= f_disease.str_f_disease %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :f_disease, "作成した女性側の疾患名" %><br>
            <%= hidden_field_tag :fd_name, @fd_name %>
            <span class="answer"><%= @fd_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :m_disease, '男性側の疾患' %><br>
          <%= f.hidden_field :m_disease_ids, multiple: true, value: nil %>
          <% @report.m_diseases.each do |m_disease| %>
            <% f.hidden_field :m_disease_ids, multiple: true, value: m_disease.id %>
            <span class="answer"><%= m_disease.str_m_disease %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :m_disease, "作成した男性側の疾患名" %><br>
            <%= hidden_field_tag :md_name, @md_name %>
            <span class="answer"><%= @md_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :f_surgery, '女性側の手術歴' %><br>
          <%= f.hidden_field :f_surgery_ids, multiple: true, value: nil %>
          <% @report.f_surgeries.each do |f_surgery| %>
            <%= f.hidden_field :f_surgery_ids, multiple: true, value: f_surgery.id %>
            <span class="answer"><%= f_surgery.str_f_surgery %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :f_surgery, "作成した女性側の手術名" %><br>
            <%= hidden_field_tag :fs_name, @fs_name %>
            <span class="answer"><%= @fs_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :m_surgery, '男性側の手術歴' %><br>
          <%= f.hidden_field :m_surgery_ids, multiple: true, value: nil %>
          <% @report.m_surgeries.each do |m_surgery| %>
            <%= f.hidden_field :m_surgery_ids, multiple: true, value: m_surgery.id %>
            <span class="answer"><%= m_surgery.str_m_surgery %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :m_surgery, "作成した男性側の手術名" %><br>
            <%= hidden_field_tag :ms_name, @ms_name %>
            <span class="answer"><%= @ms_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :types_of_eggs_and_sperm, '用いた卵子と精子' %>
          <%= f.hidden_field :types_of_eggs_and_sperm %>
          <p class="answer"><%= @report.str_types_of_eggs_and_sperm %></p>
        </div>
        <div class="form-group">
          <%= f.label :type_of_ovarian_stimulation, '妊娠に至った周期の採卵誘発タイプ' %>
          <%= f.hidden_field :type_of_ovarian_stimulation %>
          <p class="answer"><%= @report.str_type_of_ovarian_stimulation %></p>
        </div>
        <div class="form-group">
          <%= f.label :type_of_sairan_cycle, '妊娠に至った周期の採卵誘発方法' %>
          <%= f.hidden_field :type_of_sairan_cycle %>
          <p class="answer"><%= @report.str_type_of_sairan_cycle %></p>
        </div>
        <div class="form-group">
          <%= f.label :notes_on_type_of_sairan_cycle, '妊娠に至った周期の採卵誘発方法の補足説明(があれば)' %>
          <%= f.hidden_field :notes_on_type_of_sairan_cycle %>
          <p class="answer"><%= @report.notes_on_type_of_sairan_cycle %></p>
        </div>
        <div class="form-group">
          <%= f.label :sairan_medicine, '採卵周期で使用した薬剤' %><br>
          <%= f.hidden_field :sairan_medicine_ids, multiple: true, value: nil %>
          <% @report.sairan_medicines.each do |sairan_medicine| %>
            <%= f.hidden_field :sairan_medicine_ids, multiple: true, value: sairan_medicine.id %>
            <span class="answer"><%= sairan_medicine.str_sairan_medicine %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :sairan_medicine, "作成した採卵周期に使用した薬剤" %><br>
            <%= hidden_field_tag :sm_name, @sm_name %>
            <span class="answer"><%= @sm_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :use_of_anesthesia, '採卵時の麻酔の有無とその種類' %>
          <%= f.hidden_field :use_of_anesthesia %>
          <p class="answer"><%= @report.str_use_of_anesthesia %></p>
        </div>

        <%= f.fields_for :sairan_hormones do |sairan_hormone| %>
          <%= sairan_hormone.text_field :day %>
          <%= sairan_hormone.text_field :e2 %>
          <%= sairan_hormone.text_field :fsh %>
          <%= sairan_hormone.text_field :lh %>
          <%= sairan_hormone.text_field :p4 %>
        <% end %>


        <div class="form-group">
          <%= f.label :total_number_of_sairan, 'このクリニックでの全採卵「回」数' %>
          <%= f.hidden_field :total_number_of_sairan %>
          <p class="answer"><%= @report.str_total_number_of_sairan %></p>
        </div>
        <div class="form-group">
          <%= f.label :all_number_of_sairan, 'このクリニック以外も含めた全採卵「回」数' %>
          <%= f.hidden_field :all_number_of_sairan %>
          <p class="answer"><%= @report.str_all_number_of_sairan %></p>
        </div>
        <div class="form-group">
          <%= f.label :number_of_eggs_collected, 'このクリニックでの全採卵「個」数' %>
          <%= f.hidden_field :number_of_eggs_collected %>
          <p class="answer"><%= @report.str_number_of_eggs_collected %></p>
        </div>
        <div class="form-group">
          <%= f.label :number_of_fertilized_eggs, '最新の採卵周期で受精まで至った個数' %>
          <%= f.hidden_field :number_of_fertilized_eggs %>
          <p class="answer"><%= @report.str_number_of_fertilized_eggs %></p>
        </div>
        <div class="form-group">
          <%= f.label :number_of_transferable_embryos, 'その最新周期で受精まで至った胚(受精卵)の内、移植可能となった個数(新鮮胚も含む)' %>
          <%= f.hidden_field :number_of_transferable_embryos %>
          <p class="answer"><%= @report.str_number_of_transferable_embryos %></p>
        </div>
        <div class="form-group">
          <%= f.label :number_of_frozen_eggs, 'その移植可能な胚の中の凍結胚数' %>
          <%= f.hidden_field :number_of_frozen_eggs %>
          <p class="answer"><%= @report.str_number_of_frozen_eggs %></p>
        </div>
        <div class="form-group">
          <%= f.label :egg_maturity, '妊娠に至った卵子の成熟度' %>
          <%= f.hidden_field :egg_maturity %>
          <p class="answer"><%= @report.str_egg_maturity %></p>
        </div>
        <div class="form-group">
          <%= f.label :ova_with_ivm, 'IVM実施の有無' %>
          <%= f.hidden_field :ova_with_ivm %>
          <p class="answer"><%= @report.str_ova_with_ivm %></p>
        </div>
        <div class="form-group">
          <%= f.label :types_of_fertilization_methods, '妊娠に至った卵子と精子の受精方法を教えてください' %>
          <%= f.hidden_field :types_of_fertilization_methods %>
          <p class="answer"><%= @report.str_types_of_fertilization_methods %></p>
        </div>
        <div class="form-group">
          <%= f.label :embryo_culture_days, '妊娠に至った胚の培養日数' %>
          <%= f.hidden_field :embryo_culture_days %>
          <p class="answer"><%= @report.str_embryo_culture_days %></p>
        </div>
        <div class="form-group">
          <%= f.label :embryo_stage, '妊娠に至った胚のステージ' %>
          <%= f.hidden_field :embryo_stage %>
          <p class="answer"><%= @report.str_embryo_stage %></p>
        </div>
        <div class="form-group">
          <%= f.label :early_embryo_grade, '初期胚のグレード' %>
          <%= f.hidden_field :early_embryo_grade %>
          <p class="answer"><%= @report.str_early_embryo_grade %></p>
        </div>

        <%= f.fields_for :shokihaiishoku_hormones do |shokihaiishoku_hormone| %>
          <%= shokihaiishoku_hormone.text_field :et %>
          <%= shokihaiishoku_hormone.text_field :e2 %>
          <%= shokihaiishoku_hormone.text_field :fsh %>
          <%= shokihaiishoku_hormone.text_field :lh %>
          <%= shokihaiishoku_hormone.text_field :p4 %>
          <%= shokihaiishoku_hormone.text_field :hcg %>
        <% end %>

        <div class="form-group">
          <%= f.label :blastocyst_grade1, '胚盤胞以上のグレード' %>
          <%= f.hidden_field :blastocyst_grade1 %>
          <p class="answer"><%= @report.str_blastocyst_grade1 %></p>
        </div>
        <div class="form-group">
          <%= f.label :blastocyst_grade2, '胚盤胞以上の評価' %>
          <%= f.hidden_field :blastocyst_grade2 %>
          <p class="answer"><%= @report.str_blastocyst_grade2 %></p>
        </div>

        <%= f.fields_for :haibanhoishoku_hormones do |haibanhoishoku_hormone| %>
          <%= haibanhoishoku_hormone.text_field :bt %>
          <%= haibanhoishoku_hormone.text_field :e2 %>
          <%= haibanhoishoku_hormone.text_field :fsh %>
          <%= haibanhoishoku_hormone.text_field :lh %>
          <%= haibanhoishoku_hormone.text_field :p4 %>
          <%= haibanhoishoku_hormone.text_field :hcg %>
        <% end %>

        <div class="form-group">
          <%= f.label :transfer_medicine, '移植周期で使用した薬剤' %><br>
          <%= f.hidden_field :transfer_medicine_ids, multiple: true, value: nil %>
          <% @report.transfer_medicines.each do |option| %>
            <%= f.hidden_field :transfer_medicine_ids, multiple: true, value: option.id %>
            <span class="answer"><%= option.str_transfer_medicine %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :transfer_medicine, "作成した移植周期で使用した薬剤" %><br>
            <%= hidden_field_tag :tm_name, @tm_name %>
            <span class="answer"><%= @tm_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :transfer_option, '移植オプション' %><br>
          <%= f.hidden_field :transfer_option_ids, multiple: true, value: nil %>
          <% @report.transfer_options.each do |option| %>
            <%= f.hidden_field :transfer_option_ids, multiple: true, value: option.id %>
            <span class="answer"><%= option.str_transfer_option %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :transfer_option, "作成した移植オプション" %><br>
            <%= hidden_field_tag :to_name, @to_name %>
            <span class="answer"><%= @to_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :total_number_of_transplants, 'このクリニックでの全移植「回」数' %>
          <%= f.hidden_field :total_number_of_transplants %>
          <p class="answer"><%= @report.str_total_number_of_transplants %></p>
        </div>
        <div class="form-group">
          <%= f.label :all_number_of_transplants, 'このクリニック以外も含めた全移植「回」数' %>
          <%= f.hidden_field :all_number_of_transplants %>
          <p class="answer"><%= @report.str_all_number_of_transplants %></p>
        </div>
        <div class="form-group">
          <%= f.label :number_of_eggs_stored, 'このクリニックにある凍結胚の数（貯卵数）' %>
          <%= f.hidden_field :number_of_eggs_stored %>
          <p class="answer"><%= @report.str_number_of_eggs_stored %></p>
        </div>
        <div class="form-group">
          <%= f.label :other_effort, 'クリニックでの治療以外に行ったこと' %><br>
          <%= f.hidden_field :other_effort_ids, multiple: true, value: nil %>
          <% @report.other_efforts.each do |effort| %>
            <%= f.hidden_field :other_effort_ids, multiple: true, value: effort.id %>
            <span class="answer"><%= effort.str_other_effort %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :other_effort, "作成したクリニックでの治療以外に行ったこと" %><br>
            <%= hidden_field_tag :oe_name, @oe_name %>
            <span class="answer"><%= @oe_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :supplement, '治療中サプリを使用しましたか' %><br>
          <%= f.hidden_field :supplement_ids, multiple: true, value: nil %>
          <% @report.supplements.each do |supplement| %>
            <%= f.hidden_field :supplement_ids, multiple: true, value: supplement.id %>
            <span class="answer"><%= supplement.str_supplement %></span>
          <% end %>
          <div class="form-group">
            <%= f.label :supplement, "作成したサプリ" %><br>
            <%= hidden_field_tag :supplement_name, @supplement_name %>
            <span class="answer"><%= @supplement_name %></span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cost, 'このクリニックで総額いくらかかりましたか' %>
          <%= f.hidden_field :cost %>
          <p class="answer"><%= @report.str_cost %></p>
        </div>
        <div class="form-group">
          <%= f.label :all_cost, 'このクリニック以外にかけた治療費用(他のクリニックでの治療/鍼灸漢方治療/サプリなど)も含めると費用の総額はどれくらいですか' %>
          <%= f.hidden_field :all_cost %>
          <p class="answer"><%= @report.str_all_cost %></p>
        </div>
        <div class="form-group">
          <%= f.label :credit_card_validity, 'クレジットカードは使えましたか？' %>
          <%= f.hidden_field :credit_card_validity %>
          <p class="answer"><%= @report.str_credit_card_validity %></p>
        </div>
        <div class="form-group">
          <%= f.label :average_waiting_time, 'クリニックでの平均待ち時間はどのくらいでしたか' %>
          <%= f.hidden_field :average_waiting_time %>
          <p class="answer"><%= @report.str_average_waiting_time %></p>
        </div>
        <div class="form-group">
          <%= f.label :reservation_method, '診察の予約方法について' %>
          <%= f.hidden_field :reservation_method %>
          <p class="answer"><%= @report.str_reservation_method %></p>
        </div>
        <div class="form-group">
          <%= f.label :period_of_time_spent_traveling, 'クリニックまでの通院時間' %>
          <%= f.hidden_field :period_of_time_spent_traveling %>
          <p class="answer"><%= @report.str_period_of_time_spent_traveling %></p>
        </div>
        <div class="form-group">
          <%= f.label :address_at_the_time_of_treatment, '治療当時の住まい' %>
          <%= f.hidden_field :prefecture_id %>
          <p class="answer"><%= @report.prefecture.name unless @report.prefecture.nil? %></p>
          <%= f.hidden_field :prefecture_at_the_time_status %>
            <p class="answer">
              <% if @report.prefecture_at_the_time_status == "hide" %>
                <%= "非公開" %>
              <% end %>
            </p>
          <%= f.hidden_field :city_id %>
          <p class="answer"><%= @report.city.name unless @report.city.nil? %></p>
          <%= f.hidden_field :city_at_the_time_status %>
            <p class="answer">
              <% if @report.city_at_the_time_status == "hide" %>
                <%= "非公開" %>
              <% end %>
            </p>
        </div>

      </div>

      <div class="work-style border rounded px-3 py-2 mt-5">
        <h3>このクリニックでの治療時の仕事との両立について</h3>
        <div class="work-style-inner row">
          <div class="work-style-item col-6">
            <div class="form-group">
              <%= f.label :work_style, '治療時の働き方' %>
              <%= f.hidden_field :work_style %>
              <p class="answer"><%= @report.str_work_style %></p>
            </div>
            <div class="form-group">
              <%= f.label :private_or_listed_company, '上場の有無' %>
              <%= f.hidden_field :private_or_listed_company %>
              <p class="answer"><%= @report.str_private_or_listed_company %></p>
            </div>
            <div class="form-group">
              <%= f.label :capital_size, '資本金規模' %>
              <%= f.hidden_field :capital_size %>
              <p class="answer"><%= @report.str_capital_size %></p>
            </div>
            <div class="form-group">
              <%= f.label :position, '役職' %>
              <%= f.hidden_field :position %>
              <p class="answer"><%= @report.str_position %></p>
            </div>
            <div class="form-group">
              <%= f.label :treatment_support_system, '支援制度の有無' %>
              <%= f.hidden_field :treatment_support_system %>
              <p class="answer"><%= @report.str_treatment_support_system %></p>
            </div>
            <div class="form-group">
              <%= f.label :annual_income, '治療当時のご自身の年収' %>
              <%= f.hidden_field :annual_income %>
              <p class="answer"><%= @report.str_annual_income %></p>
              <%= f.hidden_field :annual_income_status %>
                <p class="answer">
                  <% if @report.annual_income_status == "hide" %>
                    <%= "非公開" %>
                  <% end %>
                </p>
            </div>
          </div>
          
          <div class="work-style-item col-6">
            <div class="form-group">
              <%= f.label :industry_type, '業種' %>
              <%= f.hidden_field :industry_type %>
              <p class="answer"><%= @report.str_industry_type %></p>
            </div>
            <div class="form-group">
              <%= f.label :domestic_or_foreign_capital, '日系企業 or 外資企業' %>
              <%= f.hidden_field :domestic_or_foreign_capital %>
              <p class="answer"><%= @report.str_domestic_or_foreign_capital %></p>
            </div>
            <div class="form-group">
              <%= f.label :department, '部署' %>
              <%= f.hidden_field :department %>
              <p class="answer"><%= @report.str_department %></p>
            </div>
            <div class="form-group">
              <%= f.label :number_of_employees, '従業員数' %>
              <%= f.hidden_field :number_of_employees %>
              <p class="answer"><%= @report.str_number_of_employees %></p>
            </div>
            <div class="form-group">
              <%= f.label :suspended_or_retirement_job, '休職や退職の有無' %>
              <%= f.hidden_field :suspended_or_retirement_job %>
              <p class="answer"><%= @report.str_suspended_or_retirement_job %></p>
            </div>
            <div class="form-group">
              <%= f.label :household_net_income, '治療当時の前年の「夫婦合算所得」' %>
              <%= f.hidden_field :household_net_income %>
              <p class="answer"><%= @report.str_household_net_income %></p>
              <%= f.hidden_field :household_net_income_status %>
                <p class="answer">
                  <% if @report.household_net_income_status == "hide" %>
                    <%= "非公開" %>
                  <% end %>
                </p>
            </div>
          </div>
        </div><br>
        <div class="form-group">
          <%= f.label :scope_of_disclosure, '治療のことをどこまでオープンにしましたか' %>
          <%= f.hidden_field :scope_of_disclosure_ids, multiple: true, value: nil %>
          <% @report.scope_of_disclosures.each do |disclosure| %>
            <%= f.hidden_field :scope_of_disclosure_ids, multiple: true, value: disclosure.id %><br>
            <span class="answer"><%= disclosure.str_scope_of_disclosure %></span>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :scope_of_disclosure, "作成した開示範囲" %><br>
          <%= hidden_field_tag :sod_scope, @sod_scope %>
          <span class="answer"><%= @sod_scope %></span>
        </div>
      </div>

      

      <div class="form-group border rounded px-3 py-3">
        <div>
          <h3>タグ</h3>
        </div>
        <div>
          <div class="form-group">
          <%= f.label :tag, '選択したタグ' %><br>
          <%= f.hidden_field :tag_ids, multiple: true, value: nil %>
          <% @report.tags.each do |tag| %>
            <%= f.hidden_field :tag_ids, multiple: true, value: tag.id %>
            <span class="answer"><%= tag.str_tag %></span>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :tag, "作成したタグ" %><br>
          <%= hidden_field_tag :tag_name, @tag_name %>
          <span class="answer"><%= @tag_name %></span>
        </div>
      </div><br><br>
      <div>
        <div class="draft-published-btn">
          <%= f.label :status, '公開状況' %><br>
          <%= f.hidden_field :status %>
          <p class="answer">
            <% if @report.status == "released" %>
              <%= "公開" %>
            <% else %>
              <%= "保存" %>
            <% end %>
          </p>
        </div>
        <%= f.submit 'この内容で投稿', class: 'btn btn-raised btn-warning w-50 mx-auto d-block' %>
          <small id="submit-tip" class="form-text text-muted w-50 mx-auto d-block">
            投稿する前に投稿内容を見直してください!
          </small>
      </div>
      <br><br>

      <%= link_to '戻る', "javascript:history.back();", class:"btn btn-outline-info button" %>
      <%= link_to 'ホーム', reports_path, class:"btn btn-outline-info button" %>
  </div>
<% end %>