<div class="d-flex align-items-center">
  <h2>レポート一覧</h2>
  <div class="ml-auto reports_button">
    <%= link_to "レポートを作成", new_report_path, class:"btn btn-outline-info button" %>
  </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm eports_table">
  <thead class="thead-dark">
    <tr>
      <th>何人目不妊</th>
      <th>住まい</th>
      <th>クリニック</th>
      <th>年齢</th>
      <th>AMH値</th>
      <th>採卵回数</th>
      <th>移植回数</th>
      <th>作成日</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.report.fertility_treatment_number %>目不妊</td>
        <td><%= report.fertility_treatment_number %></td>
        <td><%= report.fertility_treatment_number %></td>
        <td><%= report.fertility_treatment_number %>歳</td>
        <td><%= report.fertility_treatment_number %></td>
        <td><%= report.fertility_treatment_number %></td>
        <td><%= link_to '詳細', report, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', report, class: 'btn btn-outline-dark', method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>