<div class="d-flex align-items-center mt-5">

  <div class="ml-auto reports_button">
    <%= form_tag reports_path, method: :get, class: 'reports__searchForm' do %>
      <%= select_tag :tag_id,
                    options_from_collection_for_select(@toptags, :id, :tag_name, params[:tag_id]),
                    {
                      prompt: '主要タグで絞る',
                      class: 'form-control reports__select',
                      onchange: 'submit(this.form);'
                    }
      %>
    <% end %>
    <% if current_user %>
      <%= link_to "レポートを作成", new_report_path, class:"btn btn-raised btn-info" %>
    <% end %>
  </div>
</div>

<h3 class="d-none d-md-block col-md-8 offset-md-2 mt-4 mb-4">カテゴリから探す</h3>
<h3 class="d-sm d-md-none mt-4 text-center mb-4">カテゴリから探す</h3>
<div class="form-group  mt-4 text-center mb-4 pl-4 pr-4">
  <div class="form-group d-sm d-md-none mt-4 text-center mb-4">
    <select id="select1a" class="form-control" onChange="top.location.href=value">
      <option value="#">選択してください</option>
      <option value="category/amh">AMH</option>
      <option value="category/tags">タグ</option>
      <option value="category/age">年齢</option>
      <option value="category/clinics">クリニック</option>
      <option value="category/factors">不妊原因</option>
      <option value="category/area">エリア</option>
    </select>
  </div>
</div>

<div class="row category">
  <div class="col-md-8 offset-md-2">
    <div class="row category-inner mb-5">
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_amh_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              <%= fa_icon "chart-bar", class: 'mx-2', size: '3x', color: "#2c2c54" %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                AMH
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_tags_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              <%= fa_icon "tags", class: 'mx-2', size: '3x', color: "#2c2c54" %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                タグ
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_age_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              <%= fa_icon " clock", class: 'mx-2', size: '3x', color: "#2c2c54" %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                年齢
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_clinics_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              <%= fa_icon "hospital", class: 'mx-2', size: '3x', color: "#2c2c54" %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                クリニック
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_factors_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              <%= fa_icon "book", class: 'mx-2', size: '3x', color: "#2c2c54" %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                不妊原因
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-lg-4 d-none d-md-block">
        <%= link_to category_area_path do %>
          <div class="row category-list">
            <div class="col-xs-6 col-sm-6 col-md-6 text-center">
              <%= fa_icon "map", class: 'mx-2', size: '3x', color: "#2c2c54" %>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
                エリア
            </div>
          </div>
        <% end %>
      </div>

      <% if false %>
        <div class="col-12 d-none d-md-block">
          <small class="float-right">全てのカテゴリを見る></small>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render 'center' %>

<%= paginate @reports %>