<%= render 'category_header' %>
<% if false%>
<div class="row mt-5 mb-5 pr-3 d-none d-md-block">
  <div class="col-lg-10 offset-lg-1 mr-1 pr-4">
    <% if current_user %>
      <btton class="btn btn-raised btn-outline-primary float-right", data-toggle="modal" data-target="#reportPost">レポコを作成</button>
    <% else %>
      <%= link_to "レポコを作成", new_report_path, class:"btn btn-raised btn-outline-primary float-right" %>
    <% end %>
  </div>
</div>
<% end %>

  <div class="container-fluid main-index">
    <div class="row px-0">
      <div class="col-12 text-center">
        <h2 class="mt-5 mb-3 py-2 lead"><i data-feather="hash" class="feather-icon-style2"></i>最新レポコ</h2>
      </div>
      <div class="col-lg-7 offset-lg-1 main-column text-color">
        <%= render 'center' %>
      </div>
      <div class="col-lg-3 d-none d-lg-block">
        <%= render 'right' %>
      </div>
    </div>
  </div>
  <%= paginate @reports %>