<div class="container mt-3">
  <div class="d-md-none slide_bar btn-toolbar">
    <div class="btn-group my-0">
      <%= link_to category_clinics_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>クリニック<% end %>
      <%= link_to category_age_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>年齢<% end %>
      <%= link_to category_tags_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>タグ<% end %>
      <%= link_to category_amh_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>AMH<% end %>
      <%= link_to category_area_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-75" do %>エリア<% end %>
    </div>
  </div>
  <div class="d-none d-md-block p-0 text-center">
    <button type="button" class="btn text-muted">＼ <i data-feather="arrow-down" class="px-1 mb-1"></i>カテゴリからレポコを検索 <i data-feather="arrow-down" class="px-1 mb-1"></i>／</button><br>
    <div class="slide_bar">
      <div class="btn-group my-0">
        <%= link_to category_clinics_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>クリニック<% end %>
        <%= link_to category_age_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>年齢<% end %>
        <%= link_to category_tags_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>タグ<% end %>
        <%= link_to category_amh_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>AMH<% end %>
        <%= link_to category_area_path, class: "btn btn-outline-secondary rounded-pill mb-0 mx-1 h-100" do %>エリア<% end %>
      </div>
    </div>
  </div>
</div>

<% if false%>
<div class="row mt-5 mb-5 pr-3 d-none d-md-block">
  <div class="col-lg-10 offset-lg-1 mr-1 pr-4">
    <% if current_user %>
      <btton class="btn btn-raised btn-outline-primary float-right", data-toggle="modal" data-target="#reportPost">レポコを作成</button>
    <% else %>
      <%= link_to "レポコを作成", new_report_path, class:"btn btn-raised btn-outline-primary float-right" %>
    <% end %>
  </div>
</div>
<% end %>

  <div class="container-fluid main-index">
    <div class="row px-0">
      <div class="col-12 text-center">
        <h2 class="mt-5 mb-3 py-2 lead"><i data-feather="hash" class="feather-icon-style2"></i>最新レポコ</h2>
      </div>
      <div class="col-lg-7 offset-lg-1 col-md-9 offset-md-0 col-sm-12 col-xs-12 main-column text-color">
        <%= render 'center' %>
      </div>
      <div class="col-lg-3 col-md-3 d-none d-md-block">
        <%= render 'right' %>
      </div>
    </div>
  </div>
  <%= paginate @reports %>