<div class="d-flex align-items-center mt-5">
  <div class="ml-auto reports_button">
    <%= form_tag reports_path, method: :get, class: 'reports__searchForm' do %>
      <%= select_tag :tag_id,
                    options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
                    {
                      prompt: '主要タグで絞る',
                      class: 'form-control reports__select',
                      onchange: 'submit(this.form);'
                    }
      %>
    <% end %>
    <% if current_user %>
      <%= link_to "レポートを作成", new_report_path, class:"btn btn-raised btn-primary" %>
    <% end %>
  </div>
</div>

<% if false %>
<div class="row category">
  <div class="col-12 d-none d-md-block mb-4">
    <h2>カテゴリ一覧</h2>
  </div>
  <div class="col-md-6 col-lg-4 d-none d-md-block">
    <div class="row category-list">
      <div class="col-xs-6 col-sm-6 col-md-6 text-center">
          <img src="" class="category-img">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
          カテゴリ名
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 d-none d-md-block">
    <div class="row category-list">
      <div class="col-xs-6 col-sm-6 col-md-6 text-center">
          <img src="" class="category-img">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
          カテゴリ名
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 d-none d-md-block">
    <div class="row category-list">
      <div class="col-xs-6 col-sm-6 col-md-6 text-center">
          <img src="" class="category-img">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
          カテゴリ名
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 d-none d-md-block">
    <div class="row category-list">
      <div class="col-xs-6 col-sm-6 col-md-6 text-center">
          <img src="" class="category-img">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
          カテゴリ名
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 d-none d-md-block">
    <div class="row category-list">
      <div class="col-xs-6 col-sm-6 col-md-6 text-center">
          <img src="" class="category-img">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
          カテゴリ名
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 d-none d-md-block">
    <div class="row category-list">
      <div class="col-xs-6 col-sm-6 col-md-6 text-center">
          <img src="" class="category-img">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-center category-title">
          カテゴリ名
      </div>
    </div>
  </div>
  <div class="col-12 d-none d-md-block">
    <small class="float-right">全てのカテゴリを見る></small>
  </div>
</div>
<% end %>

<%= render 'center' %>

<%= paginate @reports %>