<div class="d-flex align-items-center">
  <h2>レポート一覧</h2>
  <div class="ml-auto reports_button">
    <%= link_to "レポートを作成", new_user_report_path(:user_id), class:"btn btn-outline-info button" %>
  </div>
</div>

<% @reports.each do |report| %>

<div class="card">
  <h5 class="card-header"><%= report.treatment_end_age %>歳&nbsp;&nbsp;<%= report.fertility_treatment_number %>人目不妊&nbsp;&nbsp;<%= report.user.name %>さん(<%= report.work_style %>)のレポート</h5>
  <div class="card-body">
    <h5 class="card-title"><%= report.address_at_that_time %>&nbsp;&nbsp;クリニック名(<%= report.type_of_sairan_cycle %>)</h5>
    <p class="card-text"><%= report.treatment_start_age %>歳から通院開始。総採卵回数<%= report.total_number_of_sairan %>回、総採卵個数<%= report.number_of_eggs_collected %>個、総移植回数<%= report.total_number_of_transplants %>回で<%= report.current_state %>。</p>
    <%= link_to "詳細", report, class:"btn btn-primary" %>
  </div>
</div>

<% end %>