<p id="notice"><%= notice %></p>
<% if @report.title.empty? %>
  <% set_meta_tags og: {image: "https://res.cloudinary.com/dt8ullid9/image/upload/l_text:Helvetica_55_bold:#{@report.user.name}さんのレポコ,co_rgb:333,w_550,c_fit/v1578120752/ogp_pink_yidrcq.png"} %>
<% else %>
  <% set_meta_tags og: {image: "https://res.cloudinary.com/dt8ullid9/image/upload/l_text:Helvetica_55_bold:#{@report.title},co_rgb:333,w_550,c_fit/v1578120752/ogp_pink_yidrcq.png"} %>
<% end %>

<div class="d-flex align-items-center  mt-5">
  <h2 class="inline-block_report-heading"><%= @report.user.name %>さんの<%= @report.fertility_treatment_number %>人目の治療レポート</h2>&nbsp;&nbsp;
  <div class="inline-block_report-heading">
    <small class="form-text text-muted">
      投稿:<%= @report.created_at.to_s(:datetime_jp) %>
    </small>
    <small class="form-text text-muted">
      更新:<%= @report.updated_at.to_s(:datetime_jp) %>
    </small>
  </div>
  <div class="ml-auto reports_button">
    <%= form_tag reports_path, method: :get, class: 'reports__searchForm' do %>
      <%= select_tag :tag_id,
                    options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
                    {
                      prompt: 'タグで絞り込み',
                      class: 'form-control reports__select',
                      onchange: 'submit(this.form);'
                    }
      %>
    <% end %>
    <%= link_to "一覧", reports_path, class:"btn btn-outline-info button" %>
    <%= link_to '編集', edit_report_path(@report), class:"btn btn-outline-info button" %>
  </div>
</div><br>

<% @report.tags.each do |tag| %>
  <div class="tag-box">
    <span class="badge badge-info"><%= tag.tag_name %></span>
  </div>
<% end %>

<div class="">

<div class="report-head">
</div>
<div class="report-body row">
  <div class="report-main col-md-9">
    <div class="report-info">
      <div class="table">
        <tr>
          <th scope="row">クリニック</th>
          <td><%= @report.clinic.name %></td>
        </tr>
        <tr>
          <th scope="row">現在の状況</th>
          <td><%= @report.str_current_state %></td>
        </tr>
        <tr>
          
        </tr>
          <li><%= @report.str_fertility_treatment_number %></li>
          <li><%= @report.str_treatment_type %></li>
        </tr>      
      </div>
    </div>
    <div class="report-maincontent">
    </div>
    <div class="report-data">
    </div>
  </div>
  <div class="report-sidebar col-md-3">
  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">項目</th>
      <th scope="col">結果</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">現在の状況</th>
      <td><%= @report.str_current_state %></td>
    </tr>
    <tr>
      <th scope="row">クリニック</th>
      <td><%= @report.clinic.name %></td>
    </tr>
    <tr>
      <th scope="row">転院数</th>
      <td><%= @report.str_number_of_clinics %></td>
    </tr>
    <tr>
      <th scope="row">クリニック選定理由</th>
      <td><%= @report.str_clinic_selection_criteria %></td>
    </tr>
    <tr>
      <th scope="row">クリニック選定理由(さらに詳しく)</th>
      <td><%= @report.reasons_for_choosing_this_clinic %></td>
    </tr>
    <tr>
      <th scope="row">タイトル</th>
      <td><%= @report.title %></td>
    </tr>
    <tr>
      <th scope="row">感想</th>
      <td><%= @report.content %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの治療終了年</th>
      <td><%= @report.year_of_treatment_end %></td>
    </tr>
    <tr>
      <th scope="row">何人目不妊</th>
      <td><%= @report.str_fertility_treatment_number %></td>
    </tr>
    <tr>
      <th scope="row">治療の種類</th>
      <td><%= @report.str_treatment_type %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの治療開始時の年齢</th>
      <td><%= @report.str_treatment_start_age %></td>
    </tr>
    <tr>
      <th scope="row">不妊治療自体(妊活含む)を始めた年齢</th>
      <td><%= @report.str_first_age_to_start %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの治療終了時の年齢</th>
      <td><%= @report.str_treatment_end_age %></td>
    </tr>
    <tr>
      <th scope="row">実際の治療期間</th>
      <td><%= @report.str_treatment_period %></td>
    </tr>
    <tr>
      <th scope="row">人工授精の回数</th>
      <td><%= @report.str_number_of_aih %></td>
    </tr>
    <tr>
      <th scope="row">受けた検査</th>
      <td>
        <% @inspections.each do |inspection| %>
          <%= inspection.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">治療中の最新のAMH値</th>
      <td><%= @report.str_amh %></td>
    </tr>
    <tr>
      <th scope="row">治療中の最新のBMI</th>
      <td><%= @report.str_bmi %></td>
    </tr>
    <tr>
      <th scope="row">治療中の喫煙有無</th>
      <td><%= @report.str_smoking %></td>
    </tr>
    <tr>
      <th scope="row">女性側の不妊原因</th>
      <td>
        <% @f_infertility_factors.each do |f_infertility_factor| %>
          <%= f_infertility_factor.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">男性側の不妊原因</th>
      <td>
        <% @m_infertility_factors.each do |m_infertility_factor| %>
          <%= m_infertility_factor.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">女性側の疾患</th>
      <td>
        <% @f_diseases.each do |f_disease| %>
          <%= f_disease.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">男性側の疾患</th>
      <td>
        <% @m_diseases.each do |m_disease| %>
          <%= m_disease.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">女性側の手術歴</th>
      <td>
        <% @f_surgeries.each do |f_surgery| %>
          <%= f_surgery.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">男性側の手術歴</th>
      <td>
        <% @m_surgeries.each do |m_surgery| %>
          <%= m_surgery.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">卵子または精子の提供の有無</th>
      <td><%= @report.str_types_of_eggs_and_sperm %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った周期の採卵誘発方法</th>
      <td><%= @report.str_type_of_sairan_cycle %></td>
    </tr>
    <tr>
      <th scope="row">採卵周期で使用した薬剤</th>
      <td>
      <% @sairan_medicines.each do |sairan_medicine| %>
        <%= sairan_medicine.name %>&nbsp;&nbsp;
      <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの全採卵「回」数</th>
      <td><%= @report.str_total_number_of_sairan %></td>
    </tr>
    <tr>
      <th scope="row">このクリニック以外も含めた全採卵「回」数</th>
      <td><%= @report.str_all_number_of_sairan %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの全採卵「個」数</th>
      <td><%= @report.str_number_of_eggs_collected %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った卵子(受精前)の成熟度</th>
      <td><%= @report.str_egg_maturity %></td>
    </tr>
    <tr>
      <th scope="row">IVM実施の有無</th>
      <td><%= @report.str_ova_with_ivm %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った卵子と精子の受精方法</th>
      <td><%= @report.str_types_of_fertilization_methods %></td>
    </tr>
    <tr>
      <th scope="row">最新の周期での受精個数</th>
      <td><%= @report.str_number_of_fertilized_eggs %></td>
    </tr>
    <tr>
      <th scope="row">最新周期での凍結胚数</th>
      <td><%= @report.str_number_of_frozen_eggs %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った胚の培養日数</th>
      <td><%= @report.str_embryo_culture_days %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った胚のステージ</th>
      <td><%= @report.str_embryo_stage %></td>
    </tr>
    <tr>
      <th scope="row">初期胚のグレード</th>
      <td><%= @report.str_early_embryo_grade %></td>
    </tr>
    <tr>
      <th scope="row">胚盤胞以上のグレード</th>
      <td><%= @report.str_blastocyst_grade1 %></td>
    </tr>
    <tr>
      <th scope="row">胚盤胞以上の評価</th>
      <td><%= @report.str_blastocyst_grade2 %></td>
    </tr>
    <tr>
      <th scope="row">移植周期に使用した薬剤</th>
      <td>
      <% @transfer_medicines.each do |transfer_medicine| %>
        <%= transfer_medicine.name %>&nbsp;&nbsp;
      <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">移植オプション</th>
      <td>
      <% @transfer_options.each do |transfer_option| %>
        <%= transfer_option.name %>&nbsp;&nbsp;
      <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの全移植「回」数</th>
      <td><%= @report.str_total_number_of_transplants %></td>
    </tr>
    <tr>
      <th scope="row">このクリニック以外も含めた全移植「回」数</th>
      <td><%= @report.str_all_number_of_transplants %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックにある凍結胚の数（貯卵数）</th>
      <td><%= @report.str_number_of_eggs_stored %></td>
    </tr>
    <tr>
      <th scope="row">クリニックの治療中以外に行ったこと</th>
      <td>
        <% @other_efforts.each do |other_effort| %>
          <%= other_effort.name %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">治療中に使用していたサプリ</th>
      <td>
      <% @supplements.each do |supplement| %>
        <%= supplement.name %>&nbsp;&nbsp;
      <% end %>
      </td>
    </tr>
    
    <tr>
      <th scope="row">このクリニックでかかった費用総額</th>
      <td><%= @report.str_cost %></td>
    </tr>
    <tr>
      <th scope="row">このクリニック以外にかけた治療費用(他のクリニックでの治療/鍼灸漢方治療/サプリなど)も含めた費用の総額</th>
      <td><%= @report.str_all_cost %></td>
    </tr>
    <tr>
      <th scope="row">クレジットカード使用可否</th>
      <td><%= @report.str_credit_card_validity %></td>
    </tr>
    <tr>
      <th scope="row">クリニックでの平均待ち時間</th>
      <td><%= @report.str_average_waiting_time %></td>
    </tr>
    <tr>
      <th scope="row">診察の予約方法について</th>
      <td><%= @report.str_reservation_method %></td>
    </tr>
    <tr>
      <th scope="row">治療中の住まい</th>
      <% if @report.prefecture_at_the_time_status == "hide"%>
        <td><%= "非公開" %></td>
      <% else %>
        <td><%= @report.prefecture.name %></td>
      <% end %>
      <% if @report.city_at_the_time_status == "hide"%>
        <td><%= "非公開" %></td>
      <% else %>
        <td><%= @report.city.name %></td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">クリニックの通院にかかる平均所要時間</th>
      <td><%= @report.str_period_of_time_spent_traveling %></td>
    </tr>
    <tr>
      <th scope="row">治療中の働き方</th>
        <td><%= @report.str_work_style %></td>
    </tr>
    <tr>
      <th scope="row">業種</th>
      <td><%= @report.str_industry_type %></td>
    </tr>
    <tr>
      <th scope="row">上場の有無</th>
      <td><%= @report.str_private_or_listed_company %></td>
    </tr>
    <tr>
      <th scope="row">日系企業 or 外資企業</th>
      <td><%= @report.str_domestic_or_foreign_capital %></td>
    </tr>
    <tr>
      <th scope="row">資本金規模</th>
      <td><%= @report.str_capital_size %></td>
    </tr>
    <tr>
      <th scope="row">部署</th>
      <td><%= @report.str_department %></td>
    </tr>
    <tr>
      <th scope="row">役職</th>
      <td><%= @report.str_position %></td>
    </tr>
    <tr>
      <th scope="row">従業員数</th>
      <td><%= @report.str_number_of_employees %></td>
    </tr>
    <tr>
      <th scope="row">支援制度の有無</th>
      <td><%= @report.str_treatment_support_system %></td>
    </tr>
    <tr>
      <th scope="row">治療に際しての働き方の変化</th>
      <td><%= @report.str_suspended_or_retirement_job %></td>
    </tr>
    <tr>
      <th scope="row">治療当時のご自身の年収</th>
      <% if @report.annual_income_status == "hide"%>
        <td><%= "非公開" %></td>
      <% else %>
        <td><%= @report.str_annual_income %></td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">治療当時の前年の夫婦合算所得(所得＝収入 - 経費)</th>
      <% if @report.household_net_income_status == "hide" %>
        <td><%= "非公開" %></td>
      <% else %>
        <td><%= @report.str_household_net_income %></td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">治療の開示範囲</th>
      <td>
        <% @scope_of_disclosures.each do |scope_of_disclosure| %>
          <%= scope_of_disclosure.scope %>
        <% end %>
      </td>
    </tr>
    </tbody>
</table>

<%= link_to '編集', edit_report_path(@report), class:"btn btn-outline-info button" %>
<%= link_to '削除', report_path(@report), method: :delete, class:"btn btn-outline-info button" %>
<%= link_to 'ホーム', reports_path, class:"btn btn-outline-info button" %>


<div class="p-comment__list">
  <div class="p-comment__listTitle">コメント</div>
  <%= render @report.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>