<p id="notice"><%= notice %></p>

<p>
  <strong>Fertility treatment number:</strong>
  <%= @report.fertility_treatment_number %>
</p>

<p>
  <strong>Treatment type:</strong>
  <%= @report.treatment_type %>
</p>

<p>
  <strong>Current state:</strong>
  <%= @report.current_state %>
</p>

<p>
  <strong>Work style:</strong>
  <%= @report.work_style %>
</p>

<p>
  <strong>Number of clinics:</strong>
  <%= @report.number_of_clinics %>
</p>

<p>
  <strong>Address at that time:</strong>
  <%= @report.address_at_that_time %>
</p>

<p>
  <strong>Number of aih:</strong>
  <%= @report.number_of_aih %>
</p>

<p>
  <strong>Treatment start age:</strong>
  <%= @report.treatment_start_age %>
</p>

<p>
  <strong>Treatment end age:</strong>
  <%= @report.treatment_end_age %>
</p>

<p>
  <strong>Treatment period:</strong>
  <%= @report.treatment_period %>
</p>

<p>
  <strong>Amh:</strong>
  <%= @report.amh %>
</p>

<p>
  <strong>Bmi:</strong>
  <%= @report.bmi %>
</p>

<p>
  <strong>Types of eggs and sperm:</strong>
  <%= @report.types_of_eggs_and_sperm %>
</p>

<p>
  <strong>Total number of sairan:</strong>
  <%= @report.total_number_of_sairan %>
</p>

<p>
  <strong>Number of eggs collected:</strong>
  <%= @report.number_of_eggs_collected %>
</p>

<p>
  <strong>Total number of transplants:</strong>
  <%= @report.total_number_of_transplants %>
</p>

<p>
  <strong>Number of eggs stored:</strong>
  <%= @report.number_of_eggs_stored %>
</p>

<p>
  <strong>Type of sairan cycle:</strong>
  <%= @report.type_of_sairan_cycle %>
</p>

<p>
  <strong>Types of fertilization methods:</strong>
  <%= @report.types_of_fertilization_methods %>
</p>

<p>
  <strong>Number of fertilized eggs:</strong>
  <%= @report.number_of_fertilized_eggs %>
</p>

<p>
  <strong>Number of frozen eggs:</strong>
  <%= @report.number_of_frozen_eggs %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @report.cost %>
</p>

<p>
  <strong>Credit card validity:</strong>
  <%= @report.credit_card_validity %>
</p>

<p>
  <strong>Clinic selection criteria:</strong>
  <%= @report.clinic_selection_criteria %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<p>
  <strong>Successful egg maturity:</strong>
  <%= @report.successful_egg_maturity %>
</p>

<p>
  <strong>Successful embryo culture days:</strong>
  <%= @report.successful_embryo_culture_days %>
</p>

<p>
  <strong>Successful embryo grade:</strong>
  <%= @report.successful_embryo_grade %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
