<div class="contaner px-2 px-md-0">
  <div class="row">
    <div class="d-none d-md-block col-md-1 sns-side-button">
    </div>
    <div class="col-md-1 mr-2 d-none d-md-block position-fixed mt-5 pt-4">
      <div class="py-2"><%= link_to image_tag("icon/twitter_side_brandcolor_icon.png", alt: "twitter_side_brandcolor_icon", width: "55px", class: "img-fluid", loading: "lazy"), "https://twitter.com/share?url=#{request.url}&text=タイトル", class: 'twitter', title: 'Twitter', target: '_blank' %></div>
      <div class="py-2"><%= link_to image_tag("icon/facebook_side_brandcolor_icon.png", alt: "facebook_side_brandcolor_icon", width: "55px", class: "img-fluid", loading: "lazy"), "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", class: 'facebook', title: 'Facebook', target: '_blank' %></div>
      <div class="py-2"><%= link_to image_tag("icon/line_side_brandcolor_icon.png", alt: "line_side_brandcolor_icon", width: "55px", class: "img-fluid", loading: "lazy"), "http://line.me/R/msg/text/?#{request.url}&text=タイトル", class: 'line', title: 'LINE', target: '_blank' %></div>
      <div class="py-2"><%= link_to image_tag("icon/slack_side_brandcolor_icon.png", alt: "slack_side_brandcolor_icon", width: "55px", class: "img-fluid", loading: "lazy"), "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}&text=タイトル", class: 'slack', title: 'Slack', target: '_blank' %></div>
      <div class="py-2"><%= link_to image_tag("icon/hatena_side_brandcolor_icon.png", alt: "hatena_side_brandcolor_icon", width: "55px", class: "img-fluid", loading: "lazy"), "http://b.hatena.ne.jp/add?mode=confirm&url=#{request.url}&text=タイトル", class: 'hatena', title: 'Hatena', target: '_blank' %></div>
      <div class="py-2"><%= link_to image_tag("icon/pocket_side_brandcolor_icon.png", alt: "pocket_side_brandcolor_icon", width: "55px", class: "img-fluid", loading: "lazy"), "http://getpocket.com/edit?url=#{request.url}&text=タイトル", class: 'pocket', title: 'Pocket', target: '_blank' %></div>
    </div>
    <div class="col-md-8 main-column">
      <% if @report.title.empty? %>
        <% set_meta_tags og: {image: "https://res.cloudinary.com/dt8ullid9/image/upload/l_text:Helvetica_55_bold:#{@report.user.name}さんのレポコ,co_rgb:333,w_550,c_fit/v1579444928/ogp_800_420_brandcolor_uc1cw8.png"} %>
      <% else %>
        <% set_meta_tags og: {image: "https://res.cloudinary.com/dt8ullid9/image/upload/l_text:Helvetica_55_bold:#{@report.title},co_rgb:333,w_550,c_fit/v1579444928/ogp_800_420_brandcolor_uc1cw8.png"} %>
      <% end %>

      <% if current_user %>
        <div class="py-3">
        <%= link_to '削除', report_path(@report), method: :delete, data: { confirm: '本当に削除してもよろしいですか？'}, class:"btn btn-warning float-right" %>
        <%= link_to '編集', edit_report_path(@report), class:"btn btn-secondary float-right mx-1" %>
        <% if @report.released? %>
          <%= link_to '非公開にする', nonrelease_report_path(@report), method: :patch, data: { confirm: '非公開にして良いですか？'}, class:"btn btn-secondary float-right" %>
        <% else %>
          <%= link_to '公開する', release_report_path(@report), method: :patch, data: { confirm: '公開して良いですか？'}, class:"btn btn-secondary btn-info float-right" %>
        <% end %>
        </div>
      <% end %>

      <div class="d-flex align-items-center mt-5">
        <div class="title mb-5">
          <% if @report.title.empty? %>
            <h1><%= @report.user.name %>さんの&nbsp;&nbsp;<%= @report.clinic.name %>(<%= @report.clinic.city.prefecture.name %>)での治療レポート</h1>
          <% else %>
            <h1><%= @report.title %></h1>
          <% end %>
        </div>
      </div>

      <div class="mb-3">
        <% unless @report.treatment_end_age.nil? %>
          <span class="badge badge-light"><%= link_to @report.treatment_end_age, "/category/age/#{@report.treatment_end_age}", class: "text-dark" %>歳</span>
        <% end %>
        <% unless @report.city.prefecture.nil? %>
          <span class="badge badge-pill badge-primary"><%= link_to @report.city.prefecture.name, "/category/area/prefecture/#{@report.city.prefecture.id}", class: "text-light" %></span>
        <% end %>
        <% unless @report.city.nil? %>
          <span class="badge badge-pill badge-primary"><%= link_to @report.city.name, "/category/area/city/#{@report.city.id}",  class: "text-light" %></span>
        <% end %>
        <% @report.tags.each do |tag| %>
          <span class="badge badge-info"><%= link_to tag.tag_name, "/category/tags/#{tag.tag_name}", class: "text-light" %></span>
        <% end %>
      </div>
      <div class="report-main-content">
        <div class="row user-info">
          <div class="col-md-9 pt-3 pb-2"><%= link_to @report.user.name, user_path(@report.user_id) %>さんの<% unless @report.year_of_treatment_end.blank? %><%= @report.year_of_treatment_end.year %>年&nbsp;<% end %><%= link_to @report.clinic.name, "/category/clinics/#{@report.clinic.id}" %>&nbsp;<small>(</small><span class="badge badge-light"><%= link_to @report.clinic.city.prefecture.name, "/category/clinics/prefecture/#{@report.clinic.city.prefecture.name}", class: "text-dark" %></span><span class="badge badge-light"><%= link_to @report.clinic.city.name, "/category/clinics/city/#{@report.clinic.city.name}", class: "text-dark" %></span><small>)</small>での<% unless @report.fertility_treatment_number.nil? %><%= @report.fertility_treatment_number %>人目<% end %>治療レポート
          </div>
          <div class="col-md-3">
            <small class="form-text text-muted">
              投稿:<%= @report.created_at.to_s(:datetime_jp) %>
            </small>
            <small class="form-text text-muted">
              更新:<%= @report.updated_at.to_s(:datetime_jp) %>
            </small>
          </div>
        </div>
        <div class="d-none d-md-block col-md-12 mt-4 mb-4">
          <div class='row mb-3 sns-bar'>
            <div class="col-md-2 twitter-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/twitter_bar_brandcolor_icon.png", alt: "twitter_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "https://twitter.com/share?url=#{request.url}&text=タイトル", class: 'twitter', title: 'Twitter', target: '_blank' %></div>
            <div class="col-md-2 facebook-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/facebook_bar_brandcolor_icon.png", alt: "facebook_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", class: 'facebook', title: 'Facebook', target: '_blank' %></div>
            <div class="col-md-2 line-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/line_bar_brandcolor_icon.png", alt: "line_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://line.me/R/msg/text/?#{request.url}&text=タイトル", class: 'line', title: 'LINE', target: '_blank' %></div>
            <div class="col-md-2 slack-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/slack_bar_brandcolor_icon.png", alt: "slack_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}&text=タイトル", class: 'slack', title: 'Slack', target: '_blank' %></div>
            <div class="col-md-2 hatena-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/hatena_bar_brandcolor_icon.png", alt: "hatena_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://b.hatena.ne.jp/add?mode=confirm&url=#{request.url}&text=タイトル", class: 'hatena', title: 'Hatena', target: '_blank' %></div>
            <div class="col-md-2 pocket-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/pocket_bar_brandcolor_icon.png", alt: "pocket_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://getpocket.com/edit?url=#{request.url}&text=タイトル", class: 'pocket', title: 'Pocket', target: '_blank' %></div>
          </div>
        </div>

        <div class="container">
          <h2>Chart.js — Line Chart Demo</h2>
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>

        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
              datasets: [{
                label: 'apples',
                data: [12, 19, 3, 17, 6, 3, 7],
                backgroundColor: "rgba(153,255,51,0.6)"
              }, {
                label: 'oranges',
                data: [2, 29, 5, 5, 2, 3, 10],
                backgroundColor: "rgba(255,153,0,0.6)"
              }]
            }
          });
        </script>

        <div class="report-info">
          <div class="cp_box">
            <input id="cp01" type="checkbox">
            <label for="cp01"></label>
            <div class="cp_container">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center" style="width:40%" colspan="2">概要</th>
                  </tr>
                  <tr>
                    <td class="text-center" style="width:40%">項目</td>
                    <td class="text-center" style="width:60%">結果</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">現在の状況</td>
                    <% unless @report.current_state.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_current_state %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">何人目不妊</td>
                    <% unless @report.fertility_treatment_number.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_fertility_treatment_number %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療当時の住まい</td>
                    <td class="pl-4 result-column font-weight-bold">
                      <% if @report.prefecture_at_the_time_status == "hide" %>
                        <%= "非公開" %>
                      <% else %>
                        <%= @report.prefecture.name %>
                      <% end %>
                      <% if @report.city_at_the_time_status == "hide" %>
                        <%= "非公開" %>
                      <% else %>
                        <%= @report.city.name %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">クリニック</td>
                    <td class="pl-4 result-column font-weight-bold"><%= @report.clinic.name %></td>
                  </tr>
                  <tr>
                    <td scope="row">転院数</td>
                    <% unless @report.number_of_clinics.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_clinics %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">クリニック選定理由</td>
                    <% unless @report.clinic_selection_criteria.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_clinic_selection_criteria %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">クリニック選定理由(さらに詳しく)</td>
                    <% unless @report.reasons_for_choosing_this_clinic.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.reasons_for_choosing_this_clinic %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニックでの治療終了年</td>
                    <% unless @report.year_of_treatment_end.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.year_of_treatment_end.year %>年</td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療の種類</td>
                    <% unless @report.treatment_type.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_treatment_type %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニックでの治療開始時の年齢</td>
                    <% unless @report.treatment_start_age.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_treatment_start_age %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">不妊治療自体(妊活含む)を始めた年齢</td>
                    <% unless @report.first_age_to_start.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_first_age_to_start %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニックでの治療終了時の年齢</td>
                    <% unless @report.treatment_end_age.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_treatment_end_age %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">実際の治療期間</td>
                    <% unless @report.treatment_period.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_treatment_period %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">人工授精の回数</td>
                    <% unless @report.number_of_aih.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_aih %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless  @report.inspections.blank? %>
                      <td scope="row">受けた検査</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.inspections.each do |inspection| %>
                          <%= inspection.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.special_inspection_supplementary_explanation.blank? %>
                      <td scope="row">検査の詳細</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.special_inspection_supplementary_explanation %></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療中の最新のAMH値</td>
                    <% unless @report.amh.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_amh %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療中の最新のBMI</td>
                    <% unless @report.bmi.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_bmi %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療中の喫煙有無</td>
                    <% unless @report.smoking.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_smoking %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.f_infertility_factors.blank? %>
                      <td scope="row">女性側の不妊原因</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.f_infertility_factors.each do |f_infertility_factor| %>
                          <%= f_infertility_factor.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.m_infertility_factors.blank? %>
                      <td scope="row">男性側の不妊原因</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.m_infertility_factors.each do |m_infertility_factor| %>
                          <%= m_infertility_factor.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.f_diseases.blank? %>
                      <td scope="row">女性側の疾患</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.f_diseases.each do |f_disease| %>
                          <%= f_disease.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.m_diseases.blank? %>
                      <td scope="row">男性側の疾患</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.m_diseases.each do |m_disease| %>
                          <%= m_disease.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.f_surgeries.blank? %>
                      <td scope="row">女性側の手術歴</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.f_surgeries.each do |f_surgery| %>
                          <%= f_surgery.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.m_surgeries.blank? %>
                      <td scope="row">男性側の手術歴</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.m_surgeries.each do |m_surgery| %>
                          <%= m_surgery.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">卵子または精子の提供の有無</td>
                    <% unless @report.types_of_eggs_and_sperm.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_types_of_eggs_and_sperm %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">妊娠に至った周期の採卵誘発タイプ</td>
                    <% unless @report.type_of_ovarian_stimulation.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_type_of_ovarian_stimulation %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">妊娠に至った周期の採卵誘発方法</td>
                    <% unless @report.type_of_sairan_cycle.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_type_of_sairan_cycle %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">妊娠に至った周期の採卵誘発方法の補足説明</td>
                    <% unless @report.notes_on_type_of_sairan_cycle.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.notes_on_type_of_sairan_cycle %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.sairan_medicines %>
                      <td scope="row">卵巣刺激(〜採卵周期)で使用した薬剤</td>
                      <td class="pl-4 result-column font-weight-bold">
                      <% @report.sairan_medicines.each do |sairan_medicine| %>
                        <%= sairan_medicine.name %>&nbsp;&nbsp;
                      <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">採卵時の麻酔の有無とその種類</td>
                    <% unless @report.use_of_anesthesia.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_use_of_anesthesia %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">麻酔の有無や種類の選択</td>
                    <% unless @report.selection_of_anesthesia_type.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_selection_of_anesthesia_type %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニックでの全採卵「回」数</td>
                    <% unless @report.total_number_of_sairan.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_total_number_of_sairan %></script>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニック以外も含めた全採卵「回」数</td>
                    <% unless @report.all_number_of_sairan.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_all_number_of_sairan %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニックでの全採卵「個」数</td>
                    <% unless @report.number_of_eggs_collected.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_eggs_collected %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">最新の周期での受精個数</td>
                    <% unless @report.number_of_fertilized_eggs.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_fertilized_eggs %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">その内移植可能な個数(新鮮胚含む)</td>
                    <% unless @report.number_of_transferable_embryos.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_transferable_embryos %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">移植可能胚の中の凍結胚数</td>
                    <% unless @report.number_of_frozen_eggs.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_frozen_eggs %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">妊娠に至った卵子(受精前)の成熟度</td>
                    <% unless @report.egg_maturity.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_egg_maturity %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">IVM実施の有無</td>
                    <% unless @report.ova_with_ivm.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_ova_with_ivm %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">妊娠に至った卵子と精子の受精方法</td>
                    <% unless @report.types_of_fertilization_methods.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_types_of_fertilization_methods %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">妊娠に至った胚の培養日数</td>
                    <% unless @report.embryo_culture_days.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_embryo_culture_days %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">妊娠に至った胚のステージ</td>
                    <% unless @report.embryo_stage.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_embryo_stage %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <% if @report.embryo_stage == 1 %>
                    <tr>
                      <td scope="row">初期胚のグレード</td>
                      <% unless @report.early_embryo_grade.blank? %>
                        <td class="pl-4 result-column font-weight-bold"><%= @report.str_early_embryo_grade %></td>
                      <% else %>
                        <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td scope="row">初期胚のグレードの詳しい内容</td>
                      <% unless @report.early_embryo_grade_supplementary_explanation.blank? %>
                        <td class="pl-4 result-column font-weight-bold"><%= @report.early_embryo_grade_supplementary_explanation %></td>
                      <% else %>
                        <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <% if @report.embryo_stage == 2 %>
                    <tr>
                      <td scope="row">胚盤胞以上のグレード</td>
                      <% unless @report.blastocyst_grade1.blank? %>
                        <td class="pl-4 result-column font-weight-bold"><%= @report.str_blastocyst_grade1 %></td>
                      <% else %>
                        <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td scope="row">胚盤胞以上のグレードの詳しい内容</td>
                      <% unless @report.blastocyst_grade1_supplementary_explanation.blank? %>
                        <td class="pl-4 result-column font-weight-bold"><%= @report.blastocyst_grade1_supplementary_explanation %></td>
                      <% else %>
                        <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td scope="row">胚盤胞以上の評価</td>
                      <% unless @report.blastocyst_grade2.blank? %>
                        <td class="pl-4 result-column font-weight-bold"><%= @report.str_blastocyst_grade2 %></td>
                      <% else %>
                        <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                      <% end %>
                    </tr>
                    <tr>
                      <td scope="row">胚盤胞以上の評価の詳しい内容</td>
                      <% unless @report.blastocyst_grade2_supplementary_explanation.blank? %>
                        <td class="pl-4 result-column font-weight-bold"><%= @report.blastocyst_grade2_supplementary_explanation %></td>
                      <% else %>
                        <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <tr>
                    <% unless @report.transfer_medicines.blank? %>
                      <td scope="row">移植周期に使用した薬剤</td>
                      <td class="pl-4 result-column font-weight-bold">
                      <% @report.transfer_medicines.each do |transfer_medicine| %>
                        <%= transfer_medicine.name %>&nbsp;&nbsp;
                      <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <% unless @report.transfer_options.blank? %>
                      <td scope="row">移植オプション</td>
                      <td class="pl-4 result-column font-weight-bold">
                      <% @report.transfer_options.each do |transfer_option| %>
                        <%= transfer_option.name %>&nbsp;&nbsp;
                      <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニックでの全移植「回」数</td>
                    <% unless @report.total_number_of_transplants.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_total_number_of_transplants %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                    </tr>
                  </tr>
                  <tr>
                    <td scope="row">このクリニック以外も含めた全移植「回」数</td>
                    <% unless @report.all_number_of_transplants.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_all_number_of_transplants %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニックにある凍結胚の数（貯卵数）</td>
                    <% unless @report.number_of_eggs_stored.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_eggs_stored %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">凍結胚1個あたりの年間保存費用</td>
                    <% unless @report.frozen_embryo_storage_cost.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.frozen_embryo_storage_cost %>円/個</td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">凍結胚1個あたりの年間保存費用の詳しい内容</td>
                    <% unless @report.explanation_of_frozen_embryo_storage_cost.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.explanation_of_frozen_embryo_storage_cost %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <% unless @report.number_of_miscarriages.blank? %>
                    <tr>
                      <td scope="row">流産経験</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_miscarriages %></td>
                    </tr>
                  <% end %>
                  <% unless @report.number_of_stillbirths.blank? %>
                    <tr>
                      <td scope="row">死産経験</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_stillbirths %></td>
                    </tr>
                  <% end %>
                  <% unless @report.fuiku.blank? %>
                    <tr>
                      <td scope="row">不育症の有無</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_fuiku %></td>
                    </tr>
                  <% end %>
                  <% unless @report.fuiku_supplementary_explanation.blank? %>
                    <tr>
                      <td scope="row">不育症について</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.fuiku_supplementary_explanation %></td>
                    </tr>
                  <% end %>
                  <% unless @report.adoption.blank? %>
                    <tr>
                      <td scope="row">養子縁組の検討について</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_adoption %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <% unless @report.other_efforts.blank? %>
                      <td scope="row">クリニックの治療中以外に行ったこと</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.other_efforts.each do |other_effort| %>
                          <%= other_effort.name %>&nbsp;&nbsp;
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                  <% unless @report.supplements.blank? %>
                    <tr>
                      <td scope="row">治療中に使用していたサプリ</td>
                      <td class="pl-4 result-column font-weight-bold">
                      <% @report.supplements.each do |supplement| %>
                        <%= supplement.name %>&nbsp;&nbsp;
                      <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <% unless @report.supplement_cost.blank? %>
                    <tr>
                      <td scope="row">サプリの月平均購入額</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.supplement_cost %></td>
                    </tr>
                  <% end %>
                  <% unless @report.supplement_supplementary_explanation.blank? %>
                    <tr>
                      <td scope="row">サプリについての詳しい内容</td>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.supplement_supplementary_explanation %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td scope="row">このクリニックでかかった費用総額</td>
                    <% unless @report.cost.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_cost %>円</td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">このクリニック以外も含んだ費用総額</td>
                    <% unless @report.all_cost.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_all_cost %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">クレジットカード使用可否</td>
                    <% unless @report.credit_card_validity.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_credit_card_validity %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <% if @report.str_credit_card_validity == 3 %>
                    <tr>
                      <td scope="row">クレジットカードが使用可能な金額</td>
                      <% unless @report.creditcards_can_be_used_from_more_than.blank? %>
                        <td class="pl-4 result-column font-weight-bold"><%= @report.creditcards_can_be_used_from_more_than %></td>
                      <% else %>
                        <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <tr>
                    <td scope="row">クリニックでの平均待ち時間</td>
                    <% unless @report.average_waiting_time.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_average_waiting_time %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">診察の予約方法について</td>
                    <% unless @report.reservation_method.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_reservation_method %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  </tr>
                  <tr>
                    <td scope="row">通院にかかる平均所要時間</td>
                    <% unless @report.period_of_time_spent_traveling.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_period_of_time_spent_traveling %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療中の働き方</td>
                    <% unless @report.work_style.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_work_style %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">業種</td>
                    <% unless @report.industry_type.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_industry_type %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">上場の有無</td>
                    <% unless @report.private_or_listed_company.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_private_or_listed_company %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">日系企業 or 外資企業</td>
                    <% unless @report.domestic_or_foreign_capital.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_domestic_or_foreign_capital %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">資本金規模</td>
                    <% unless @report.capital_size.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_capital_size %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">部署</td>
                    <% unless @report.department.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_department %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">役職</td>
                    <% unless @report.position.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_position %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">従業員数</td>
                    <% unless @report.number_of_employees.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_number_of_employees %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">支援制度の有無</td>
                    <% unless @report.treatment_support_system.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_treatment_support_system %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療に際しての働き方の変化</td>
                    <% unless @report.suspended_or_retirement_job.blank? %>
                      <td class="pl-4 result-column font-weight-bold"><%= @report.str_suspended_or_retirement_job %></td>
                    <% else %>
                      <td class="pl-4 result-column"><small class="text-muted">未回答</small></td>
                    <% end %>
                  </tr>
                  <tr>
                    <td scope="row">治療当時のご自身の年収</td>
                    <td class="pl-4 result-column font-weight-bold">
                      <% if @report.annual_income_status == "hide" %>
                        <%= "非公開" %>
                      <% elsif @report.annual_income.blank? %>
                        <small class="text-muted">未回答</small>
                      <% else %>
                        <%= @report.str_annual_income %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">治療当時の前年の夫婦合算所得(所得＝収入 - 経費)</td>
                    <td class="pl-4 result-column font-weight-bold">
                      <% if @report.household_net_income_status == "hide" %>
                        <%= "非公開" %>
                      <% elsif @report.str_household_net_income.blank? %>
                        <small class="text-muted">未回答</small>
                      <% else %>
                        <%= @report.str_household_net_income %>
                      <% end %>
                    </td>
                  </tr>
                  <% unless @report.scope_of_disclosures.blank? %>
                    <tr>
                      <td scope="row">治療の開示範囲</td>
                      <td class="pl-4 result-column font-weight-bold">
                        <% @report.scope_of_disclosures.each do |scope_of_disclosure| %>
                          <%= scope_of_disclosure.scope %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="d-none d-md-block col-md-12 mt-4 mb-4 sns-button">
          <div class='row mb-3 sns-bar'>
            <div class="col-md-2 twitter-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/twitter_bar_brandcolor_icon.png", alt: "twitter_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "https://twitter.com/share?url=#{request.url}&text=タイトル", class: 'twitter', title: 'Twitter', target: '_blank' %></div>
            <div class="col-md-2 facebook-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/facebook_bar_brandcolor_icon.png", alt: "facebook_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", class: 'facebook', title: 'Facebook', target: '_blank' %></div>
            <div class="col-md-2 line-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/line_bar_brandcolor_icon.png", alt: "line_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://line.me/R/msg/text/?#{request.url}&text=タイトル", class: 'line', title: 'LINE', target: '_blank' %></div>
            <div class="col-md-2 slack-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/slack_bar_brandcolor_icon.png", alt: "slack_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}&text=タイトル", class: 'slack', title: 'Slack', target: '_blank' %></div>
            <div class="col-md-2 hatena-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/hatena_bar_brandcolor_icon.png", alt: "hatena_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://b.hatena.ne.jp/add?mode=confirm&url=#{request.url}&text=タイトル", class: 'hatena', title: 'Hatena', target: '_blank' %></div>
            <div class="col-md-2 pocket-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/pocket_bar_brandcolor_icon.png", alt: "pocket_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://getpocket.com/edit?url=#{request.url}&text=タイトル", class: 'pocket', title: 'Pocket', target: '_blank' %></div>
          </div>
        </div>
        <div class="content">
          <%= @report.content %>
        </div>
        <div class="d-none d-md-block col-md-12 mt-4 mb-4 sns-button">
          <div class='row mb-3 sns-bar'>
            <div class="col-md-2 twitter-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/twitter_bar_brandcolor_icon.png", alt: "twitter_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "https://twitter.com/share?url=#{request.url}&text=タイトル", class: 'twitter', title: 'Twitter', target: '_blank' %></div>
            <div class="col-md-2 facebook-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/facebook_bar_brandcolor_icon.png", alt: "facebook_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=タイトル", class: 'facebook', title: 'Facebook', target: '_blank' %></div>
            <div class="col-md-2 line-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/line_bar_brandcolor_icon.png", alt: "line_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://line.me/R/msg/text/?#{request.url}&text=タイトル", class: 'line', title: 'LINE', target: '_blank' %></div>
            <div class="col-md-2 slack-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/slack_bar_brandcolor_icon.png", alt: "slack_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://slackbutton.herokuapp.com/post/new/?url=#{request.url}&text=タイトル", class: 'slack', title: 'Slack', target: '_blank' %></div>
            <div class="col-md-2 hatena-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/hatena_bar_brandcolor_icon.png", alt: "hatena_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://b.hatena.ne.jp/add?mode=confirm&url=#{request.url}&text=タイトル", class: 'hatena', title: 'Hatena', target: '_blank' %></div>
            <div class="col-md-2 pocket-button d-flex align-items-center justify-content-center p-0"><%= link_to image_tag("icon/pocket_bar_brandcolor_icon.png", alt: "pocket_bar_brandcolor_icon", width: "400px", class: "img-fluid", loading: "lazy"), "http://getpocket.com/edit?url=#{request.url}&text=タイトル", class: 'pocket', title: 'Pocket', target: '_blank' %></div>
          </div>
        </div>
        <% if current_user %>
          <%= link_to 'ホーム', reports_path, class:"btn btn-info btn-sm float-right mx-1" %>
          <%= link_to 'レポの削除', report_path(@report), method: :delete, data: { confirm: '削除してもよろしいですか？'}, class:"btn btn-warning btn-sm float-right mx-1" %>
          <%= link_to 'レポの編集', edit_report_path(@report), class:"btn btn-secondary btn-sm button float-right mx-1" %>
        <% else %>
          <%= link_to 'ホーム', reports_path, class:"btn btn-info btn-sm button float-right mx-1" %>
        <% end %>
        <div class="comment-area mt-5">
          <div class="p-comment__list">
            <h4 class="p-comment__listTitle"><i class="far fa-comments", color="#4BAAF3"></i>&nbsp;&nbsp;コメント</h4>
            <%= render @report.comments %>
          </div>
          <% if current_user %>
          <%= render partial: 'comments/form', locals: { comment: @comment } %>
          <% else %>
          <div class="card text-center mb-5">
            <div class="card-body">
              <h5 class="card-title"><i class="fas fa-pencil-alt", color="#4BAAF3"></i>&nbsp;&nbsp;ログインしてコメントしてみよう！</h5>
              <p class="card-text">アカウントをお持ちでない方は「新規登録」をしてください。</p>
              <%=link_to 'ログイン', new_user_session_path, class: "btn btn-raised btn-info mr-2" %>
              <%=link_to '新規登録',  new_user_registration_path, class: "btn btn-info border ml-2" %>
            </div>
          </div>
          <% end %>
        </div>

      </div>
        <%= link_to 'ホーム', reports_path, class:"btn btn-info btn-sm float-right mx-1" %>
    </div>
    <div class="col-md-3 side-column d-none d-md-block">
    </div>
  </div>
</div>



