<p id="notice"><%= notice %></p>

<div class="d-flex align-items-center">
  <h2 class="inline-block_report-heading"><%= @report.user.name %>さんの<%= @report.fertility_treatment_number %>人目の治療レポート</h2>&nbsp;&nbsp;
  <div class="inline-block_report-heading">
    <small class="form-text text-muted">
      投稿:<%= @report.created_at.to_s(:datetime_jp) %>
    </small>
    <small class="form-text text-muted">
      更新:<%= @report.updated_at.to_s(:datetime_jp) %>
    </small>
  </div>
  <div class="ml-auto reports_button">
    <%= link_to "一覧", reports_path, class:"btn btn-outline-info button" %>
    <%= link_to '編集', edit_report_path(@report), class:"btn btn-outline-info button" %>
  </div>
</div><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">項目</th>
      <th scope="col">結果</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">治療の種類</th>
      <td><%= @report.treatment_type %></td>
    </tr>
    <tr>
      <th scope="row">現在の状況</th>
      <td><%= @report.current_state %></td>
    </tr>
    <tr>
      <th scope="row">治療中の働き方</th>
      <td><%= @report.work_style %></td>
    </tr>
    <tr>
      <th scope="row">転院数</th>
      <td><%= @report.number_of_clinics %>院目</td>
    </tr>
    <tr>
      <th scope="row">治療中の住まい</th>
      <td><%= @report.address_at_that_time %></td>
    </tr>
    <tr>
      <th scope="row">人工授精の回数</th>
      <td><%= @report.number_of_aih %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの治療開始時の年齢</th>
      <td><%= @report.treatment_start_age %>歳</td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの治療終了時の年齢</th>
      <td><%= @report.treatment_end_age %>歳</td>
    </tr>
    <tr>
      <th scope="row">実際の治療期間</th>
      <td><%= @report.treatment_period %>ヵ月</td>
    </tr>
    <tr>
      <th scope="row">治療中の最新のAMH値</th>
      <td><%= @report.amh %></td>
    </tr>
    <tr>
      <th scope="row">治療中の最新のBMI</th>
      <td><%= @report.bmi %></td>
    </tr>
    <tr>
      <th scope="row">卵子または精子の提供の有無</th>
      <td><%= @report.types_of_eggs_and_sperm %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの全採卵回数</th>
      <td><%= @report.total_number_of_sairan %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの全採卵個数</th>
      <td><%= @report.number_of_eggs_collected %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックでの全移植回数</th>
      <td><%= @report.total_number_of_transplants %></td>
    </tr>
    <tr>
      <th scope="row">このクリニックにある凍結胚の数（貯卵数）</th>
      <td><%= @report.number_of_eggs_stored %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った周期の採卵誘発方法</th>
      <td><%= @report.type_of_sairan_cycle %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った卵子と精子の受精方法</th>
      <td><%= @report.types_of_fertilization_methods %></td>
    </tr>
    <tr>
      <th scope="row">最新の周期での受精個数</th>
      <td><%= @report.number_of_fertilized_eggs %></td>
    </tr>
    <tr>
      <th scope="row">最新周期での凍結胚数</th>
      <td><%= @report.number_of_frozen_eggs %></td>
    </tr>
    <tr>
      <th scope="row">感想</th>
      <td><%= @report.content %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った未受精卵の成熟度</th>
      <td><%= @report.successful_egg_maturity %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った胚の培養日数</th>
      <td><%= @report.successful_embryo_culture_days %></td>
    </tr>
    <tr>
      <th scope="row">妊娠に至った胚のグレード</th>
      <td><%= @report.successful_embryo_grade %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_report_path(@report), class:"btn btn-outline-info button" %>
<%= link_to 'ホーム', reports_path, class:"btn btn-outline-info button" %>