<% if false %> 一旦スマホのunder_navbarはカテゴリが充実するまで非アクティブに

<% path = request.path %>
<% form_edit_link_alert_message = "【注意！】ページを離れますか？投稿/更新/保存のいずれかを行わずにページを離れると選択したデータや入力したデータは保存されず消えてしまいます。ご注意ください。" %>
<div class="under-nav-area">
  <% if current_user %>
    <div class="d-flex justify-content-around pt-2">
      <div>
        <% unless path.include?("new") || path.include?("edit") %>
          <%= link_to root_path do %>
            <i data-feather="home" class="text-muted"></i>
          <% end %>
        <% else %>
          <%= link_to root_path, data: {confirm: "#{form_edit_link_alert_message}"} do %>
            <i data-feather="home" class="text-muted"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <% unless path.include?("reports") || path.include?("my_page") || path.include?("sign_in") || path.include?("sign_up") || path.include?("my_page") || path.include?("edit") || path.include?("notifications") %>
          <%= link_to search_path do %>
            <i data-feather="search" class="text-muted"></i>
          <% end %>
        <% else %>
          <%= link_to new_report_path, data: {confirm: "#{form_edit_link_alert_message}"} do %><i data-feather="edit" class="text-muted" type="image"></i><% end %>
        <% end %>
      </div>
      <div>
        <% unless path.include?("new") || path.include?("edit") %>
          <%= link_to notifications_path do %>
            <% if unchecked_notifications.any? %>
              <span class="fa-stack">
              <i data-feather="bell" class="text-muted"></i>
              <i class="fas fa-circle n-circle-mobile n-circle-pc fa-stack-1x"></i>
              </span>
            <% else %>
              <i data-feather="bell" class="text-muted"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to notifications_path, data: {confirm: "#{form_edit_link_alert_message}"} do %>
            <i data-feather="bell" class="text-muted"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <% unless path.include?("new") || path.include?("edit") %>
          <%= link_to my_page_path do %>
            <i data-feather="smile" class="text-muted"></i>
            <% if current_user.registration_status1 || current_user.registration_status2 == true %>
              <div class="tab-popup m-0 p-0">
                <i class="fas fa-circle tab-popup-circle fa-stack-1x"></i>
              </div>
            <% end %> 
          <% end %> 
        <% else %>
          <%= link_to my_page_path, data: {confirm: "#{form_edit_link_alert_message}"} do %>
            <i data-feather="smile" class="text-muted"></i>
          <% end %> 
        <% end %> 
      </div>
    </div>
  <% else %>
    <div class="d-flex justify-content-around pt-2">
      <div>
        <%= link_to root_path do %>
          <i data-feather="home" class="text-muted"></i>
        <% end %>
      </div>
      <div>
        <%= link_to new_report_path do %>
          <i data-feather="edit" class="text-muted"></i>
        <% end %>
      </div>
      <div>
        <%= link_to search_path do %>
          <i data-feather="search" class="text-muted"></i>
        <% end %> 
      </div>
      <div>
        <%= link_to user_session_path do %>
          <i data-feather="log-in" class="text-muted"></i>
        <% end %> 
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade fullscreen" id="reportPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i data-feather="x" class="text-dark p-0 m-0"></i></span>
        </button>
      </div>
      <div class="modal-body text-center mt-5 pt-5">
        <div>
          <%= link_to "新規に作成", new_report_path, class: "btn btn-outline-dark" %>
        </div>
        <div class="py-4">
          <p class="m-0">または</p>
        </div>
        <div>
          <%= link_to "更新 ･ 下書き", my_page_path, class: "btn btn-outline-dark" %>
        </div>
    </div>
  </div>
</div>

<% end %>