<div class="under-nav-area">
  <% if current_user %>
    <div class="d-flex justify-content-around pt-2">
      <div>
        <%= link_to root_path do %>
          <i data-feather="home" class="text-muted"></i>
        <% end %>
      </div>
      <div>
        <i data-feather="edit" class="text-muted" type="image" data-toggle="modal" data-target="#reportPost"></i>
      </div>
      <div>
        <%= link_to notifications_path do %>
          <% if unchecked_notifications.any? %>
            <span class="fa-stack">
              <i data-feather="bell" class="text-muted"></i>
              <i class="fas fa-circle n-circle fa-stack-1x"></i>
            </span>
          <% else %> 
            <i data-feather="bell" class="text-muted"></i>
          <% end %> 
        <% end %>
      </div>
      <div>
        <%= link_to my_page_path do %>
          <i data-feather="smile" class="text-muted"></i>
        <% end %> 
      </div>
    </div>
  <% else %>
    <div class="d-flex justify-content-around pt-2">
      <div>
        <%= link_to root_path do %>
          <i data-feather="home" class="text-muted"></i>
        <% end %>
      </div>
      <div>
        <%= link_to new_report_path do %>
          <i data-feather="edit" class="text-muted"></i>
        <% end %>
      </div>
      <div>
        <%= link_to category_search_path do %>
          <i data-feather="search" class="text-muted"></i>
        <% end %> 
      </div>
      <div>
        <%= link_to user_session_path do %>
          <i data-feather="log-in" class="text-muted"></i>
        <% end %> 
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade fullscreen" id="reportPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center mt-5 pt-5">
        <div>
          <%= link_to "新規に作成", new_report_path, class: "btn btn-outline-dark" %>
        </div>
        <div class="py-4">
          <p class="m-0">または</p>
        </div>
        <div>
          <%= link_to "更新 ･ 下書き", my_page_path, class: "btn btn-outline-dark" %>
        </div>
    </div>
  </div>
</div>